Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Swap to using the AND operator for ask-cfpb (#6124)
  cfgov/ask_cfpb/models/search.py
Due: backend

Deployed 24df39a with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Expose undergraduate programs in the paying-for-college API
  cfgov/paying_for_college/models/disclosures.py
  cfgov/paying_for_college/tests/test_models.py
Due: backend

Expose undergraduate programs in the paying-for-college API (#6120)
  cfgov/paying_for_college/models/disclosures.py
  cfgov/paying_for_college/tests/test_models.py
Due: backend

Deployed d6a946e with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add code comment
  cfgov/paying_for_college/static/paying_for_college/feedback/js/feedback.js
Due: frontend

Migrate feedback script off jquery
  cfgov/paying_for_college/static/paying_for_college/feedback/js/feedback.js
Due: frontend

Paying for College: Migrate feedback script off jquery (#6126)
  cfgov/paying_for_college/static/paying_for_college/feedback/js/feedback.js
Due: frontend

Deployed 28a2308 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Paying for College - Form bugs (#6118)
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/09-make-a-plan.html
  cfgov/unprocessed/apps/paying-for-college/js/util/url-parameter-utils.js
Due: frontend

Deployed febca66 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Prepaid search: change underscores in bulk_download_path to space characters if product does not contain an underscore
  cfgov/prepaid_agreements/scripts/import_prepaid_agreements_data.py
Due: backend

Fix lint error E251 unexpected spaces around keyword
  cfgov/prepaid_agreements/tests/test_scripts_write_prepaid_agreements.py
Due: backend

IA Migration: Apache redirects and site footer
  cfgov/apache/conf.d/redirects.conf
  cfgov/cfgov/urls.py
  cfgov/jinja2/v1/_includes/organisms/footer.html
Due: backend

Deployed 23b0110 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Prepaid search: construct bulk_download_path using product.name if that contains an underscore
  cfgov/prepaid_agreements/scripts/import_prepaid_agreements_data.py
Due: backend

Fix lint error E501 line too long (91 > 79 characters)
  cfgov/prepaid_agreements/scripts/import_prepaid_agreements_data.py
Due: backend

Script to update outdated Wagtail redirects
  cfgov/scripts/update_existing_redirects.py
Due: backend

Update prepaid CSV write test to add S3_PATH and compressed_files_url
  cfgov/prepaid_agreements/tests/test_scripts_write_prepaid_agreements.py
Due: backend

Update: babel, postcss, snyk
  npm-packages-offline-cache/@babel-core-7.12.7.tgz
  npm-packages-offline-cache/elfy-1.0.0.tgz
  npm-packages-offline-cache/endian-reader-0.3.0.tgz
  npm-packages-offline-cache/postcss-8.1.10.tgz
  npm-packages-offline-cache/postcss-8.1.9.tgz
  npm-packages-offline-cache/snyk-1.430.2.tgz
  npm-packages-offline-cache/snyk-1.431.1.tgz
  npm-packages-offline-cache/snyk-docker-plugin-4.12.0.tgz
  npm-packages-offline-cache/snyk-docker-plugin-4.9.0.tgz
  package.json
  yarn.lock
Due: none

Fix incorrect webpack exclude regex
  cfgov/unprocessed/apps/analytics-gtm/webpack-config.js
  cfgov/unprocessed/apps/ccdb-landing-map/webpack-config.js
  cfgov/unprocessed/apps/find-a-housing-counselor/webpack-config.js
  cfgov/unprocessed/apps/form-explainer/webpack-config.js
  cfgov/unprocessed/apps/owning-a-home/webpack-config.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/webpack-config.js
  cfgov/unprocessed/apps/teachers-digital-platform/webpack-config.js
  cfgov/unprocessed/apps/youth-employment-success/webpack-config.js
  config/webpack-config.js
Due: frontend

Update code comment
  cfgov/unprocessed/apps/analytics-gtm/webpack-config.js
  cfgov/unprocessed/apps/ccdb-landing-map/webpack-config.js
  cfgov/unprocessed/apps/find-a-housing-counselor/webpack-config.js
  cfgov/unprocessed/apps/form-explainer/webpack-config.js
  cfgov/unprocessed/apps/owning-a-home/webpack-config.js
  cfgov/unprocessed/apps/paying-for-college/webpack-config.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/webpack-config.js
  cfgov/unprocessed/apps/teachers-digital-platform/webpack-config.js
  cfgov/unprocessed/apps/youth-employment-success/webpack-config.js
  config/webpack-config.js
Due: frontend

Correction to comment
  cfgov/scripts/update_existing_redirects.py
Due: backend

Simplify regex slightly
  cfgov/unprocessed/apps/analytics-gtm/webpack-config.js
  cfgov/unprocessed/apps/ccdb-landing-map/webpack-config.js
  cfgov/unprocessed/apps/find-a-housing-counselor/webpack-config.js
  cfgov/unprocessed/apps/form-explainer/webpack-config.js
  cfgov/unprocessed/apps/owning-a-home/webpack-config.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/webpack-config.js
  cfgov/unprocessed/apps/teachers-digital-platform/webpack-config.js
  cfgov/unprocessed/apps/youth-employment-success/webpack-config.js
  config/webpack-config.js
Due: frontend

Fix missing carriage return
  cfgov/unprocessed/apps/analytics-gtm/webpack-config.js
  cfgov/unprocessed/apps/ccdb-landing-map/webpack-config.js
  cfgov/unprocessed/apps/find-a-housing-counselor/webpack-config.js
  cfgov/unprocessed/apps/form-explainer/webpack-config.js
  cfgov/unprocessed/apps/owning-a-home/webpack-config.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/webpack-config.js
  cfgov/unprocessed/apps/teachers-digital-platform/webpack-config.js
  cfgov/unprocessed/apps/youth-employment-success/webpack-config.js
Due: frontend

Fix linting
  cfgov/scripts/update_existing_redirects.py
Due: backend

Deployed 99fc1aa with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix incorrect webpack exclude regex (#6128)
  cfgov/unprocessed/apps/analytics-gtm/webpack-config.js
  cfgov/unprocessed/apps/ccdb-landing-map/webpack-config.js
  cfgov/unprocessed/apps/find-a-housing-counselor/webpack-config.js
  cfgov/unprocessed/apps/form-explainer/webpack-config.js
  cfgov/unprocessed/apps/owning-a-home/webpack-config.js
  cfgov/unprocessed/apps/paying-for-college/webpack-config.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/webpack-config.js
  cfgov/unprocessed/apps/teachers-digital-platform/webpack-config.js
  cfgov/unprocessed/apps/youth-employment-success/webpack-config.js
  config/webpack-config.js
Due: frontend

Deployed 637f618 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Update test_scripts_write_prepaid_agreements.py
  cfgov/prepaid_agreements/tests/test_scripts_write_prepaid_agreements.py
Due: backend

Add test for prepaid import script
  cfgov/prepaid_agreements/tests/test_scripts_import_prepaid_agreements.py
Due: backend

Update test_scripts_import_prepaid_agreements.py
  cfgov/prepaid_agreements/tests/test_scripts_import_prepaid_agreements.py
Due: backend

Fix lint errors E501 line too long (80 > 79 characters)
  cfgov/prepaid_agreements/tests/test_scripts_import_prepaid_agreements.py
Due: backend

Update: autoprefixer, babel-loader, core-js, webpack, snyk
  npm-packages-offline-cache/autoprefixer-10.0.2.tgz
  npm-packages-offline-cache/autoprefixer-10.0.3.tgz
  npm-packages-offline-cache/babel-loader-8.2.1.tgz
  npm-packages-offline-cache/babel-loader-8.2.2.tgz
  npm-packages-offline-cache/core-js-3.8.0.tgz
  npm-packages-offline-cache/find-cache-dir-3.3.1.tgz
  npm-packages-offline-cache/snyk-1.431.1.tgz
  npm-packages-offline-cache/snyk-1.431.2.tgz
  npm-packages-offline-cache/webpack-5.6.0.tgz
  npm-packages-offline-cache/webpack-5.8.0.tgz
  package.json
  yarn.lock
Due: none

Remove unused method references (#6102)
  cfgov/unprocessed/apps/form-explainer/js/FormExplainer.js
  cfgov/unprocessed/apps/paying-for-college/js/views/app-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/expenses-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/navigation-view.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/index.js
Due: frontend

Deployed 9ed911a with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Removed unused dom-traverse utilities (#6103)
  cfgov/unprocessed/js/modules/util/dom-traverse.js
  test/unit_tests/js/modules/util/dom-traverse-spec.js
Due: frontend

Deployed 2ee3f30 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none
