Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Carousel: Set focus styles on thumbnails
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

Add correct selected/unseleced states to thumbnails
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

Set hover state
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

Remove output of schools that have no data and add to logging.
  cfgov/paying_for_college/disclosures/scripts/update_colleges.py
Due: backend

simplify base_query sequence
  cfgov/paying_for_college/disclosures/scripts/update_colleges.py
Due: backend

fix precision for median_monthly_debt
  cfgov/paying_for_college/migrations/0005_fix_monthly_debt_precision.py
  cfgov/paying_for_college/models/disclosures.py
Due: backend

remove unnecessary cohort code from models
  cfgov/paying_for_college/models/disclosures.py
  cfgov/paying_for_college/tests/test_models.py
Due: backend

remove dead imports
  cfgov/paying_for_college/disclosures/scripts/update_colleges.py
  cfgov/paying_for_college/tests/test_models.py
Due: backend

build and test ranking method to avoid using numpy
  cfgov/paying_for_college/disclosures/scripts/process_cohorts.py
  cfgov/paying_for_college/fixtures/test_fixture.json
  cfgov/paying_for_college/tests/test_models.py
  cfgov/paying_for_college/tests/test_scripts.py
Due: backend

simplify template assignment
  cfgov/paying_for_college/models/pages.py
  cfgov/paying_for_college/tests/test_models.py
Due: backend

PFC - adjust School model to provide cohort comparisons
  cfgov/paying_for_college/disclosures/scripts/api_utils.py
  cfgov/paying_for_college/disclosures/scripts/process_cohorts.py
  cfgov/paying_for_college/disclosures/scripts/update_colleges.py
  cfgov/paying_for_college/fixtures/sample_4yr_api_result.json
  cfgov/paying_for_college/fixtures/test_fixture.json
  cfgov/paying_for_college/management/commands/update_via_api.py
  cfgov/paying_for_college/migrations/0004_add_api_fields.py
  cfgov/paying_for_college/models/__init__.py
  cfgov/paying_for_college/models/disclosures.py
  cfgov/paying_for_college/tests/test_commands.py
  cfgov/paying_for_college/tests/test_models.py
  cfgov/paying_for_college/tests/test_scripts.py
Due: backend

Add logging for schools that have closed.
  cfgov/paying_for_college/disclosures/scripts/update_colleges.py
Due: backend

add docstring for orphan method
  cfgov/paying_for_college/disclosures/scripts/api_utils.py
  cfgov/paying_for_college/disclosures/scripts/update_colleges.py
Due: backend

PFC - adjust School model to serve cohort comparisons (#5357)
  cfgov/paying_for_college/disclosures/scripts/api_utils.py
  cfgov/paying_for_college/disclosures/scripts/process_cohorts.py
  cfgov/paying_for_college/disclosures/scripts/update_colleges.py
  cfgov/paying_for_college/fixtures/sample_4yr_api_result.json
  cfgov/paying_for_college/fixtures/test_fixture.json
  cfgov/paying_for_college/management/commands/update_via_api.py
  cfgov/paying_for_college/migrations/0004_add_api_fields.py
  cfgov/paying_for_college/migrations/0005_fix_monthly_debt_precision.py
  cfgov/paying_for_college/models/__init__.py
  cfgov/paying_for_college/models/disclosures.py
  cfgov/paying_for_college/models/pages.py
  cfgov/paying_for_college/tests/test_commands.py
  cfgov/paying_for_college/tests/test_models.py
  cfgov/paying_for_college/tests/test_scripts.py
Due: backend

Paying for College - Costs tool fixes
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs.less
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/navigation-view.js
Due: frontend

Paying for College - Add styles for costs tool
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs.less
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/views/navigation-view.js
Due: frontend

Paying for College - Costs tool updates
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs.less
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/navigation-view.js
Due: frontend

Paying for college - Costs tool content added
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs.less
  cfgov/unprocessed/apps/paying-for-college/img/ph-feeling-gauge-end.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-graduation-rate_full.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-repayment-rate_full.png
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
Due: frontend

Paying for College - Costs tool front-end updates
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs.less
  cfgov/unprocessed/apps/paying-for-college/img/ph-gauge.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-hero.png
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-state.js
  cfgov/unprocessed/apps/paying-for-college/js/models/state-model.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/fixed-sticky-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/navigation-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/search-view.js
  cfgov/unprocessed/apps/paying-for-college/package.json
  cfgov/unprocessed/apps/paying-for-college/yarn.lock
Due: frontend

Paying for College - Front-end models, views, and dispatchers; plus content
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs.less
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-model-values.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-state.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/repay.js
  cfgov/unprocessed/apps/paying-for-college/js/util/number-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/search-view.js
Due: frontend

Paying for College - Costs tool CSS and JS fixes, content updates
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs.less
  cfgov/unprocessed/apps/paying-for-college/img/ph-cost-of-borrowing.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-debt-rule.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-grad-rate-national.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-grad-rate-state.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-loan-explainer.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-monthly-budget.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-repayment-rate-national.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-uncovered-costs.png
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-model-values.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-state.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/state-model.js
  cfgov/unprocessed/apps/paying-for-college/js/util/number-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/navigation-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/search-view.js
Due: frontend

Paying for College - Costs tool "offer" button
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs.less
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
Due: frontend

Paying for College - API Hook-ins
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs.less
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-model-values.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/recalculate.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-state.js
  cfgov/unprocessed/apps/paying-for-college/js/models/constants-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/school-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/state-model.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/fixed-sticky-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
Due: frontend

Paying for College - Costs calculations work
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs.less
  cfgov/unprocessed/apps/paying-for-college/img/ph-cost-of-borrowing.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-debt-rule.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-grad-rate-national.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-grad-rate-state.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-loan-explainer.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-repayment-rate-national.png
  cfgov/unprocessed/apps/paying-for-college/img/ph-uncovered-costs.png
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-state.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-view.js
  cfgov/unprocessed/apps/paying-for-college/js/models/constants-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/debt-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/school-model.js
  cfgov/unprocessed/apps/paying-for-college/js/util/calculate-debt.js
  cfgov/unprocessed/apps/paying-for-college/js/util/number-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/fixed-sticky-view.js
  cfgov/unprocessed/js/routes/on-demand/home-page.js
Due: frontend

Add placeholder content for home page cards
  cfgov/jinja2/v1/_includes/molecules/card.html
  cfgov/jinja2/v1/_includes/organisms/card-group.html
  cfgov/jinja2/v1/home-page/index_new.html
  cfgov/v1/models/home_page.py
Due: backend

Fix class for card molecule
  cfgov/jinja2/v1/_includes/molecules/card.html
  cfgov/jinja2/v1/home-page/index_new.html
Due: none

Add breakpoints
  cfgov/jinja2/v1/_includes/organisms/carousel.html
  cfgov/unprocessed/css/organisms/carousel.less
  cfgov/unprocessed/js/organisms/Carousel.js
Due: frontend

Add mobile styles
  cfgov/unprocessed/css/molecules/card.less
  cfgov/unprocessed/css/organisms/card-group.less
Due: none

Add ending newline
  cfgov/unprocessed/css/organisms/card-group.less
Due: none

Add card and card group styles
  cfgov/jinja2/v1/_includes/molecules/card.html
  cfgov/jinja2/v1/_includes/organisms/card-group.html
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/molecules/card.less
  cfgov/unprocessed/css/organisms/card-group.less
  cfgov/v1/models/home_page.py
Due: backend

Add mobile style for carousel
  cfgov/jinja2/v1/_includes/organisms/carousel.html
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

Add separate mobile carousel thumbnails
  cfgov/jinja2/v1/_includes/organisms/carousel.html
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

Update cfgov/jinja2/v1/_includes/organisms/carousel.html
  cfgov/jinja2/v1/_includes/organisms/carousel.html
Due: none

Update home page info unit images
  cfgov/v1/models/home_page.py
Due: backend

Update carousel image placeholder and logic
  cfgov/jinja2/v1/_includes/organisms/carousel.html
  cfgov/v1/models/home_page.py
Due: backend

Ask CFPB - Remove "Next Steps" well
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
Due: none

Fix thumbnail image
  cfgov/jinja2/v1/_includes/organisms/carousel.html
Due: none

Update govdelivery package to v1.3
  requirements/libraries.txt
Due: none

Carousel: Fix no-js state
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

Update hardcoded content
  cfgov/v1/models/home_page.py
Due: backend

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
