Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

fix: upgrade webpack from 4.41.5 to 4.43.0
  package.json
Due: none

fix: upgrade webpack from 4.41.5 to 4.43.0
  yarn.lock
Due: none

Drop the use of unicodecsv
  cfgov/ask_cfpb/scripts/export_ask_data.py
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/data_research/blocks.py
  cfgov/data_research/mortgage_utilities/fips_meta.py
  cfgov/data_research/mortgage_utilities/s3_utils.py
  cfgov/data_research/scripts/export_public_csvs.py
  cfgov/data_research/scripts/process_mortgage_data.py
  cfgov/data_research/tests/test_blocks.py
  cfgov/data_research/tests/test_scripts.py
  cfgov/data_research/urls.py
  cfgov/scripts/export_enforcement_actions.py
  cfgov/scripts/tests/test_export_enforcement_actions.py
  requirements/libraries.txt
Due: backend

Drop the use of unicodecsv (#5750)
  cfgov/ask_cfpb/scripts/export_ask_data.py
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/data_research/blocks.py
  cfgov/data_research/mortgage_utilities/fips_meta.py
  cfgov/data_research/mortgage_utilities/s3_utils.py
  cfgov/data_research/scripts/export_public_csvs.py
  cfgov/data_research/scripts/process_mortgage_data.py
  cfgov/data_research/tests/test_blocks.py
  cfgov/data_research/tests/test_scripts.py
  cfgov/data_research/urls.py
  cfgov/scripts/export_enforcement_actions.py
  cfgov/scripts/tests/test_export_enforcement_actions.py
  requirements/libraries.txt
Due: backend

Deployed b4beec3 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Updates based on review feedback.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/01-school-search.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/02-costs.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/03-grants-and-scholarships.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/04-work-study.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/05-federal-loans.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/06-school-loans.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/07-other-resources.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/09-make-a-plan.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/10-max-debt-guideline.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/11-cost-of-borrowing.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/12-affording-your-loan.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/13-school-results.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/14-summary.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/15-action-plan.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/16-save-and-finish.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/charts.less
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/college-costs.less
Due: none

Fix featured link area spacing
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

Remove unnecessary spans.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/13-school-results.html
Due: none

Teachers Digital Platform template
  cfgov/teachers_digital_platform/templates/search/indexes/teachers_digital_platform/activitypage_text.txt
Due: none

number ToC
  cfgov/jinja2/v1/_includes/organisms/sidenav-toc.html
  cfgov/unprocessed/css/organisms/report-sidenav.less
Due: none

appendix toc behavior
  cfgov/jinja2/v1/_includes/organisms/sidenav-toc.html
  cfgov/v1/migrations/0218_reportsection_is_appendix.py
  cfgov/v1/models/report_sections_sidenav.py
Due: backend

Title subheading and author names
  cfgov/jinja2/v1/report/section.html
  cfgov/v1/migrations/0219_auto_20200528_2229.py
  cfgov/v1/migrations/0220_authornames_bio_link.py
  cfgov/v1/models/report_sections_sidenav.py
Due: backend

Add __str__ method to Banner model
  cfgov/v1/models/banners.py
Due: backend

Add install of git and wheel to Dockerfile
  Dockerfile
Due: none

Add unit test for Banner.__str__
  cfgov/v1/tests/models/test_banners.py
Due: backend

render unlinked authors & fix whitespace
  cfgov/jinja2/v1/report/section.html
Due: none

Add __str__ method to Banner model (#5752)
  cfgov/v1/models/banners.py
  cfgov/v1/tests/models/test_banners.py
Due: backend

Deployed 3d5201c with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix call_command in feedback export
  cfgov/v1/admin_forms.py
  cfgov/v1/admin_views.py
  cfgov/v1/tests/test_admin_views.py
Due: backend

Handle bad POSTs when StreamField has no form
  cfgov/v1/models/base.py
  cfgov/v1/tests/models/test_base.py
Due: backend

Deployed 33827cc with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Elaborate in docstring
  cfgov/v1/models/base.py
Due: backend

Handle bad POSTs when StreamField has no form (#5754)
  cfgov/v1/models/base.py
  cfgov/v1/tests/models/test_base.py
Due: backend

Deployed b8d592f with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Deployed 73f6d39 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Docs: Add docker-compose .env workaround to installation page
  docs/installation.md
Due: none

fix highlighting behavior w/ appendices
  cfgov/unprocessed/js/routes/on-demand/report-sidenav.js
Due: frontend

hide TOC y-overflow behind footer
  cfgov/unprocessed/css/organisms/report-sidenav.less
  cfgov/unprocessed/js/routes/on-demand/report-sidenav.js
Due: frontend

add title eyebrow/report type
  cfgov/jinja2/v1/report/section.html
  cfgov/v1/models/report_sections_sidenav.py
Due: backend

eyebrow migration
  cfgov/v1/migrations/0221_reportsectionssidenav_report_type.py
Due: backend

Move Director's Notebook category from Newsroom to Blog
  cfgov/v1/migrations/0219_move_directors_notebook.py
  cfgov/v1/tests/models/test_browse_filterable_page.py
  cfgov/v1/tests/test_filterable_list_form.py
  cfgov/v1/util/ref.py
  test/unit_tests/js/organisms/FilterableListControls-spec.js
Due: backend

Move Director's Notebook category from Newsroom to Blog (#5756)
  cfgov/v1/migrations/0219_move_directors_notebook.py
  cfgov/v1/tests/models/test_browse_filterable_page.py
  cfgov/v1/tests/test_filterable_list_form.py
  cfgov/v1/util/ref.py
  test/unit_tests/js/organisms/FilterableListControls-spec.js
Due: backend

Deployed 87138af with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Reduce pipx install instructions to a link to the existing guide
  docs/installation.md
Due: none

Address some warnings mkdocs was throwing on the Running Docker page
  docs/running-docker.md
Due: none

Deployed 5dab25d with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add pip install of wheel to Dockerfile
  Dockerfile
Due: none

feat: Add a Wagtail flag for CCDB5 Trends
  cfgov/cfgov/settings/base.py
Due: backend
