Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Add APR disclaimers to card details
  cfgov/tccp/jinja2/tccp/card.html
  cfgov/tccp/jinja2/tccp/includes/apr_disclaimer.html
  cfgov/tccp/jinja2/tccp/includes/data_published.html
  cfgov/unprocessed/apps/tccp/css/main.less
  cfgov/v1/jinja2/v1/includes/macros/time.html
Due: none

Fix $0 annual fee in card details
  cfgov/tccp/jinja2/tccp/card.html
Due: none

Add rewards did-you-know to card details
  cfgov/tccp/jinja2/tccp/card.html
Due: none

Fix rewards did-you-know link
  cfgov/tccp/situations.py
Due: backend

use the same fastdom package in apps that import it
  cfgov/unprocessed/apps/form-explainer/npm-packages-offline-cache/fastdom-1.0.10.tgz
  cfgov/unprocessed/apps/form-explainer/npm-packages-offline-cache/fastdom-1.0.12.tgz
  cfgov/unprocessed/apps/form-explainer/package.json
  cfgov/unprocessed/apps/form-explainer/yarn.lock
  cfgov/unprocessed/apps/rural-or-underserved-tool/npm-packages-offline-cache/fastdom-1.0.11.tgz
  cfgov/unprocessed/apps/rural-or-underserved-tool/npm-packages-offline-cache/fastdom-1.0.12.tgz
  cfgov/unprocessed/apps/rural-or-underserved-tool/package.json
  cfgov/unprocessed/apps/rural-or-underserved-tool/yarn.lock
  package.json
Due: none

Deployed 6732b38 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

TCCP: Add tooltip with purchase APR context
  cfgov/tccp/jinja2/tccp/includes/card_list.html
  cfgov/tccp/jinja2/tccp/includes/tooltip.html
  cfgov/tccp/models.py
  cfgov/tccp/tests/test_models.py
  cfgov/unprocessed/apps/tccp/css/main.less
Due: backend

Add tooltips to TCCP card pattern
  cfgov/tccp/jinja2/tccp/includes/card_list.html
  cfgov/tccp/jinja2/tccp/includes/tooltip.html
  cfgov/unprocessed/apps/tccp/css/main.less
  cfgov/unprocessed/apps/tccp/css/tooltip.less
  cfgov/unprocessed/apps/tccp/js/index.js
  cfgov/unprocessed/apps/tccp/npm-packages-offline-cache/@popperjs-core-2.11.8.tgz
  cfgov/unprocessed/apps/tccp/npm-packages-offline-cache/tippy.js-6.3.7.tgz
  cfgov/unprocessed/apps/tccp/package.json
  cfgov/unprocessed/apps/tccp/yarn.lock
Due: frontend

TCCP: Tooltip color updates
  cfgov/unprocessed/apps/tccp/css/main.less
Due: none

Improve handling of tooltip events to support touch devices
  cfgov/tccp/jinja2/tccp/includes/card_list.html
  cfgov/unprocessed/apps/tccp/css/main.less
  cfgov/unprocessed/apps/tccp/js/index.js
  test/cypress/integration/consumer-tools/credit-cards/explore-cards.cy.js
Due: frontend

Improve TCCP small screen spacing for help tooltip
  cfgov/unprocessed/apps/tccp/css/main.less
Due: none

Enforce attractive TCCP disclaimer line wrapping
  cfgov/tccp/jinja2/tccp/includes/card_list.html
  cfgov/unprocessed/apps/tccp/js/index.js
Due: frontend

Deployed e4ba4de with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed ea278fc with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Improve TCCP tooltip handling and visuals
  cfgov/tccp/jinja2/tccp/includes/card_list.html
  cfgov/unprocessed/apps/tccp/js/index.js
  test/cypress/integration/consumer-tools/credit-cards/explore-cards.cy.js
Due: frontend

Deployed 584812f with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 0daad89 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Linter autofixes
  cfgov/unprocessed/css/organisms/footer.less
  docs/python-unit-tests.md
  docs/sso.md
  test/cypress/integration/consumer-tools/before-you-claim/before-you-claim.cy.js
Due: none

TCCP linting updates
  cfgov/unprocessed/apps/tccp/css/main.less
  cfgov/unprocessed/apps/tccp/css/tooltip.less
Due: none

Deployed d61429c with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 2d3486c with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Update Jinja to 3.1.4 | remove tornado
  npm-packages-offline-cache/braces-3.0.2.tgz
  npm-packages-offline-cache/fill-range-7.0.1.tgz
  requirements/docs.txt
  requirements/libraries.txt
  yarn.lock
Due: none

Deployed cf55ffa with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Fix new ruff warnings
  cfgov/paying_for_college/views.py
  cfgov/regulations3k/models/pages.py
Due: backend

Add an "Icon" button to Draftail for SVG icons
  cfgov/cfgov/settings/base.py
  cfgov/draftail_icons/__init__.py
  cfgov/draftail_icons/apps.py
  cfgov/draftail_icons/rich_text.py
  cfgov/draftail_icons/static/draftail_icons/css/draftail_icons.css
  cfgov/draftail_icons/static/draftail_icons/js/draftail_icons.js
  cfgov/draftail_icons/tests/__init__.py
  cfgov/draftail_icons/tests/test_rich_text.py
  cfgov/draftail_icons/tests/test_wagtail_hooks.py
  cfgov/draftail_icons/wagtail_hooks.py
Due: backend, frontend

Deployed f5146a8 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 68486ba with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Make RichText to UnescapedRichText migrations noops
  cfgov/filing_instruction_guide/migrations/0008_rtf_to_urtf.py
  cfgov/form_explainer/migrations/0008_rtf_to_urtf.py
  cfgov/paying_for_college/migrations/0009_rtf_to_urtf.py
  cfgov/regulations3k/migrations/0009_rtf_to_urtf.py
  cfgov/teachers_digital_platform/migrations/0003_rtf_to_urtf.py
  cfgov/v1/migrations/0025_rtf_to_urtf.py
Due: backend

Replace UnescapedRichTextBlock with RichTextBlock in migrations
  cfgov/_tests_report_89285.txt
  cfgov/filing_instruction_guide/migrations/0009_remove_resource_list.py
  cfgov/filing_instruction_guide/migrations/0010_add_reusable_notification.py
  cfgov/filing_instruction_guide/migrations/0011_remove_is_larger_heading.py
  cfgov/filing_instruction_guide/migrations/0012_fig_notification.py
  cfgov/form_explainer/migrations/0009_add_reusable_notification.py
  cfgov/paying_for_college/migrations/0010_add_reusable_notification.py
  cfgov/paying_for_college/migrations/0011_remove_is_larger_heading.py
  cfgov/regulations3k/migrations/0010_add_reusable_notification.py
  cfgov/v1/migrations/0026_remove_resource_list.py
  cfgov/v1/migrations/0027_add_reusable_notification.py
  cfgov/v1/migrations/0028_remove_is_larger_heading.py
  cfgov/v1/migrations/0029_move_tip_to_ask.py
  cfgov/v1/migrations/0032_alter_browsepage_content.py
Due: backend

Remove `@cf-icon-path`
  cfgov/unprocessed/css/main.less
Due: none

Remove UnescapedRichTextBlock
  cfgov/_tests_report_89285.txt
  cfgov/v1/atomic_elements/molecules.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/blocks.py
  cfgov/v1/tests/test_blocks.py
Due: backend

Deployed 9d8c32f with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 08e990c with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Bump Wagtail from 6.0.2 to 6.0.5
  requirements/wagtail.txt
Due: none

Bump requests from 2.31.0 to 2.32.0
  requirements/scripts.txt
Due: none

Use `window.React` in Draftail icons
  cfgov/draftail_icons/static/draftail_icons/js/draftail_icons.js
Due: frontend

Deployed 80d1d21 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
