Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Remove unnecessary hero padding
  cfgov/jinja2/v1/_includes/molecules/hero.html
  cfgov/unprocessed/css/enhancements/layout.less
Due: none

Add jumbo hero migration
  cfgov/v1/migrations/0273_add_50_50_hero_toggle.py
Due: backend

Addresses pre-launch updates listed in super-regular#344
  cfgov/unprocessed/css/organisms/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/common-styles.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/datetime-styles.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
Due: frontend

more simple chart updates
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/common-styles.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
Due: frontend

Simple chart tilemap style updates from super-regular#346
  cfgov/unprocessed/css/organisms/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/datetime-styles.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-styles.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/us-layout.js
Due: frontend

Proof of concept: send email with attachment from form
  cfgov/apache/conf.d/headers.conf
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/foia/__init__.py
  cfgov/foia/forms.py
  cfgov/foia/jinja2/foia/_sidebar.html
  cfgov/foia/jinja2/foia/foia-request-form.html
  cfgov/foia/jinja2/foia/form-submitted.html
  cfgov/foia/tests/__init__.py
  cfgov/foia/tests/test_views.py
  cfgov/foia/urls.py
  cfgov/foia/views.py
Due: backend

More simple-chart updates
  cfgov/unprocessed/css/organisms/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-styles.js
Due: frontend

Update functional testing docs
  docs/functional-testing.md
Due: none

continue simple-chart updates
  cfgov/unprocessed/css/organisms/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-styles.js
Due: frontend

Remove references to foia for testing
  cfgov/apache/conf.d/headers.conf
  cfgov/cfgov/urls.py
  cfgov/foia/forms.py
  cfgov/foia/jinja2/foia/foia-request-form.html
  cfgov/foia/jinja2/foia/form-submitted.html
  cfgov/foia/tests/test_views.py
  cfgov/foia/urls.py
Due: backend

Grab the node rpm package directly, prevently mirror mismatch trouble
  docker/deployable-zipfile/Dockerfile
Due: none

Deployed 9951c85 with MkDocs version: 1.0.4
  functional-testing/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

rebrand from ccpi to cci
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
Due: frontend

undo temp rpm fix
  docker/deployable-zipfile/Dockerfile
Due: none

Grab the node rpm package directly, prevently mirror mismatch trouble (#6747)
  docker/deployable-zipfile/Dockerfile
Due: none

Deployed 7aec0c9 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add fields, templates, routes, etc. for privacy act forms
  cfgov/cfgov/urls.py
  cfgov/foia/forms.py
  cfgov/foia/jinja2/foia/disclosure-consent-form.html
  cfgov/foia/jinja2/foia/foia-request-form.html
  cfgov/foia/jinja2/foia/privacy.html
  cfgov/foia/jinja2/foia/records-access-form.html
  cfgov/foia/tests/test_views.py
  cfgov/foia/urls.py
  cfgov/foia/views.py
Due: backend

Removed code moved to design-system
  cfgov/unprocessed/css/molecules/inset.less
  cfgov/unprocessed/css/organisms/email-signup.less
Due: none

improvements to email and from stakeholder feedback
  cfgov/foia/forms.py
  cfgov/foia/jinja2/foia/disclosure-consent-form.html
  cfgov/foia/jinja2/foia/records-access-form.html
  cfgov/foia/views.py
Due: backend

Remove unused `form-resources` section
  cfgov/unprocessed/apps/owning-a-home/css/feedback-form.less
  cfgov/unprocessed/apps/owning-a-home/css/form-resources.less
  cfgov/unprocessed/apps/owning-a-home/css/main.less
  cfgov/unprocessed/apps/owning-a-home/img/form-resources_mortgage-closing-hero-large.png
  cfgov/unprocessed/apps/owning-a-home/img/form-resources_mortgage-closing-hero-medium.png
  cfgov/unprocessed/apps/owning-a-home/img/form-resources_mortgage-closing-hero-small.png
  cfgov/unprocessed/apps/owning-a-home/img/form-resources_mortgage-estimate-hero-large.png
  cfgov/unprocessed/apps/owning-a-home/img/form-resources_mortgage-estimate-hero-medium.png
  cfgov/unprocessed/apps/owning-a-home/img/form-resources_mortgage-estimate-hero-small.png
Due: none

Improve email formatting
  cfgov/foia/forms.py
  cfgov/foia/jinja2/foia/records-access-form.html
Due: backend

Improve uploads and error messaging
  cfgov/foia/forms.py
  cfgov/foia/jinja2/foia/disclosure-consent-form.html
Due: backend

Add New Relic Browser FedRAMP endpoint to CSP
  cfgov/cfgov/settings/base.py
Due: backend

Rename foia to privacy
  cfgov/apache/conf.d/headers.conf
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/privacy/__init__.py
  cfgov/privacy/forms.py
  cfgov/privacy/jinja2/privacy/_sidebar.html
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/form-submitted.html
  cfgov/privacy/jinja2/privacy/privacy.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
  cfgov/privacy/tests/__init__.py
  cfgov/privacy/tests/test_views.py
  cfgov/privacy/urls.py
  cfgov/privacy/views.py
Due: backend

Rename foia to privacy
  cfgov/apache/conf.d/headers.conf
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/form-submitted.html
  cfgov/privacy/jinja2/privacy/privacy.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
  cfgov/privacy/urls.py
  cfgov/privacy/views.py
Due: backend

Update cfgov/unprocessed/apps/owning-a-home/css/feedback-form.less
  cfgov/unprocessed/apps/owning-a-home/css/feedback-form.less
Due: none

Buying a House: Remove unused `form-resources` section (#6750)
  cfgov/unprocessed/apps/owning-a-home/css/feedback-form.less
  cfgov/unprocessed/apps/owning-a-home/css/form-resources.less
  cfgov/unprocessed/apps/owning-a-home/css/main.less
  cfgov/unprocessed/apps/owning-a-home/img/form-resources_mortgage-closing-hero-large.png
  cfgov/unprocessed/apps/owning-a-home/img/form-resources_mortgage-closing-hero-medium.png
  cfgov/unprocessed/apps/owning-a-home/img/form-resources_mortgage-closing-hero-small.png
  cfgov/unprocessed/apps/owning-a-home/img/form-resources_mortgage-estimate-hero-large.png
  cfgov/unprocessed/apps/owning-a-home/img/form-resources_mortgage-estimate-hero-medium.png
  cfgov/unprocessed/apps/owning-a-home/img/form-resources_mortgage-estimate-hero-small.png
Due: none

Deployed 09f583d with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update ccdb5-api version to 1.6.3 to sync env vars
  requirements/libraries.txt
Due: none

Update ccdb5-api version to 1.6.3 to sync env vars (#6753)
  requirements/libraries.txt
Due: none

Deployed 9f83a7b with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Simplify Elasticsearch environment variables
  .env_SAMPLE
  docker-compose.yml
  docker-stack.yml
Due: none

Standardize on ES_HOST instead
  .env_SAMPLE
  cfgov/cfgov/settings/base.py
  cfgov/search/elasticsearch_helpers.py
  docker-compose.yml
  docker-stack.yml
Due: backend

Require address if mailing
  cfgov/privacy/forms.py
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
Due: backend

Simplify Elasticsearch environment variables (#6748)
  .env_SAMPLE
  cfgov/cfgov/settings/base.py
  cfgov/search/elasticsearch_helpers.py
  docker-compose.yml
  docker-stack.yml
Due: backend

Deployed 1f5988d with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Improve formatting
  cfgov/privacy/forms.py
  cfgov/privacy/views.py
Due: backend

Add HTTP Expires header to EventPages if needed
  cfgov/v1/models/learn_page.py
  cfgov/v1/tests/models/test_event_page.py
Due: backend

WIP tests
  cfgov/privacy/tests/test_views.py
Due: backend
