Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Deployed a795668 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Deployed 3ac16b3 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Render enforcement product display name (instead of the sometimes buggy looking value which is output from ENForce)
  cfgov/v1/models/enforcement_action_page.py
Due: backend

Render enforcement product display name (#6360)
  cfgov/v1/models/enforcement_action_page.py
Due: backend

Deployed 3d605b6 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Remove outdated comment about django-localflavor
  requirements/libraries.txt
Due: none

Remove outdated comment about django-localflavor (#6361)
  requirements/libraries.txt
Due: none

Deployed 699faa0 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Update filter height on resize of window
  cfgov/unprocessed/js/organisms/FilterableListControls.js
Due: frontend

Update to use cypress centos7-12.4.0 docker image
  Jenkinsfile
  docker-compose.e2e.yml
  docker/cypress/Dockerfile
Due: none

Move try / catch block into script block
  Jenkinsfile
Due: none

Additional CCPI driven simple chart designs
  cfgov/jinja2/v1/_includes/organisms/simple-chart.html
  cfgov/unprocessed/css/organisms/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/common-styles.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/datetime-styles.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
Due: frontend

Enable Apache server status endpoint
  cfgov/apache/conf.d/status.conf
  cfgov/apache/conf.modules.d/00-base.conf
  cfgov/apache/conf/httpd.conf
  docker-compose.prod.yml
Due: none

Apply suggestions from code review
  docs/filterable-lists.md
Due: none

Fix typo in CategoryFilterableMixin class name
  docs/filterable-lists.md
Due: none

Rename status endpoint to "apache-status"
  cfgov/apache/conf.d/status.conf
Due: none

Fix indentation in college costs less.
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/college-costs.less
Due: none

Deployed 13460c0 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Replace email link with copy link functionality.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/16-save-and-finish.html
  cfgov/unprocessed/apps/paying-for-college/js/views/app-view.js
Due: frontend

Add additional activity and handout file upload fields to support spanish file versions
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_page.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_search_result.html
  cfgov/teachers_digital_platform/migrations/0026_add_activity_and_handout_document.py
  cfgov/teachers_digital_platform/models/activity_index_page.py
  cfgov/teachers_digital_platform/models/pages.py
  cfgov/teachers_digital_platform/templates/search/indexes/teachers_digital_platform/activitypage_text.txt
Due: backend

Update lxml to 2.6.3
  requirements/libraries.txt
Due: none

Update Django Rest Framework to 3.11.2
  requirements/libraries.txt
Due: none

Update Django to 2.2.18
  requirements/django.txt
Due: none

Update Jinja2 to 2.11.13
  requirements/docs.txt
  requirements/libraries.txt
Due: none

Update to Django 2.2.20
  requirements/django.txt
Due: none

Update PyYAML in docs to 5.4.1
  requirements/docs.txt
Due: none

Deployed fbcdc60 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add middleware to explicitly allow CSRF on paths
  cfgov/cfgov/settings/base.py
  cfgov/core/middleware.py
  cfgov/core/tests/test_middleware.py
Due: backend

Remove old CSRF token provider endpoint
  cfgov/cfgov/urls.py
  cfgov/legacy/tests/views/test_views.py
  cfgov/legacy/views/__init__.py
Due: backend

Remove csrf_exempt decorators and tokens
  cfgov/core/views.py
  cfgov/jinja2/v1/_includes/blocks/feedback.html
  cfgov/wellbeing/jinja2/wellbeing/home.html
Due: backend

Remove additional CSRF tokens in templates
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/voluntary-assessment-form.html
  cfgov/paying_for_college/jinja2/paying-for-college/disclosure_feedback.html
  cfgov/paying_for_college/templates/paying_for_college/disclosure.html
Due: none

Deployed c226721 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Remove unused templates
  cfgov/legacy/templates/common/auth_base.html
  cfgov/legacy/templates/common/csrf.html
  cfgov/legacy/templates/common/forgot_password.html
  cfgov/legacy/templates/common/forgot_password_confirm.html
  cfgov/legacy/templates/common/login.html
  cfgov/legacy/templates/common/password_change_confirm.html
  cfgov/legacy/templates/common/password_change_form.html
  cfgov/legacy/templates/common/reset_password.html
  cfgov/legacy/templates/common/reset_password_confirm.html
  cfgov/legacy/templates/common/reset_password_email.html
Due: none

Migrate remaining disclosure tools to jinja from django templates
  cfgov/paying_for_college/disclosures/urls.py
  cfgov/paying_for_college/jinja2/paying-for-college/disclosure.html
  cfgov/paying_for_college/jinja2/paying-for-college/disclosure_technote.html
  cfgov/paying_for_college/views.py
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/dispatchers/get-expenses-values.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/dispatchers/get-financial-values.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/dispatchers/get-school-values.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/dispatchers/get-url-values.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/dispatchers/get-view-values.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/dispatchers/post-verify.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/dispatchers/publish-update.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/index.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/libs/google-cloud-print.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/libs/sticky-kit.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/models/expenses-model.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/models/school-model.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/Analytics.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/construct-scorecard-search.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/format-url.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/handle-string-input.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/nemo-shim.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/nemo.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/print-page.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/query-handler.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/views/expenses-view.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/views/links-view.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/views/metric-view.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/views/question-view.js
  cfgov/unprocessed/apps/paying-for-college/npm-packages-offline-cache/extend-3.0.2.tgz
  cfgov/unprocessed/apps/paying-for-college/npm-packages-offline-cache/student-debt-calc-2.6.5.tgz
  cfgov/unprocessed/apps/paying-for-college/package.json
  cfgov/unprocessed/apps/paying-for-college/yarn.lock
Due: backend, frontend

Deployed ff7dd79 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Fix nit
  docs/filterable-lists.md
Due: none

Add black color for text to fix contrast issue
  cfgov/unprocessed/apps/ccdb-landing-map/css/tilemap-overrides.less
Due: none

Migrate legacy ccdb complaint landing page to jinja (#6357)
  cfgov/jinja2/v1/complaint/complaint-landing.html
  cfgov/legacy/templates/complaint/complaint-landing.html
  cfgov/unprocessed/apps/ccdb-landing-map/css/landing-page.less
  cfgov/unprocessed/apps/ccdb-landing-map/css/legacy-capital-framework.less
  cfgov/unprocessed/apps/ccdb-landing-map/css/main.less
  cfgov/unprocessed/apps/ccdb-landing-map/css/notifications.less
  cfgov/unprocessed/apps/ccdb-landing-map/css/tilemap-overrides.less
  test/cypress/pages/data-research/consumer-complaints.js
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
