Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Thank you for your service, mighty cluster-testing code
  cfgov/ask_cfpb/models/answer_page.py
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/core/feature_flags.py
  cfgov/core/split_testing_clusters.py
  cfgov/core/tests/test_feature_flags.py
  docs/split-testing.md
Due: backend

remove unneeded classes and css
  cfgov/jinja2/v1/complaint/complaint-landing.html
  cfgov/unprocessed/apps/ccdb-landing-map/css/landing-page.less
Due: none

Added new focus border design for clarity
  cfgov/unprocessed/css/organisms/video-player.less
Due: none

remove space after class
  cfgov/jinja2/v1/complaint/complaint-landing.html
Due: none

have test look for different class
  cfgov/legacy/tests/views/test_complaint.py
Due: backend

Remove Elasticsearch2 from Docker configs (#6686)
  docker-compose.yml
  docker-stack.yml
  docker/elasticsearch/7/Dockerfile
  docker/elasticsearch/Dockerfile
  docker/elasticsearch/docker-entrypoint-es-plugins.sh
Due: none

Deployed 412e17a with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update data.json
  cfgov/unprocessed/root/data.json
Due: none

Remove code for retired feature flags (#6685)
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
Due: backend

Deployed 3dc9d83 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Remove ASK_CFPB_H1 cluster-testing flag (#6680)
  cfgov/ask_cfpb/models/answer_page.py
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/cfgov/settings/base.py
  cfgov/core/feature_flags.py
  cfgov/core/split_testing_clusters.py
  cfgov/core/tests/test_feature_flags.py
  docs/split-testing.md
Due: backend

Deployed e48a61b with MkDocs version: 1.0.4
  404.html
  ask-cfpb/index.html
  atomic-structure/index.html
  branching-merging/index.html
  caching/index.html
  consumer-complaint-database/index.html
  contributing-docs/index.html
  debugging-monitoring/index.html
  debugging-templates/index.html
  deployment/index.html
  development-tips/index.html
  editing-components/index.html
  feature-flags/index.html
  filterable-lists/index.html
  forms-in-wagtail/index.html
  functional-testing/index.html
  github-actions/index.html
  housing-counselor-tool/index.html
  index.html
  installation/index.html
  javascript-unit-tests/index.html
  migrations/index.html
  other-front-end-testing/index.html
  profiling-django/index.html
  python-unit-tests/index.html
  related-projects/index.html
  running-docker/index.html
  running-virtualenv/index.html
  search.html
  search/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  split-testing/index.html
  translation/index.html
  wagtail-pages/index.html
  website-feedback/index.html
Due: none

Simplify the CCDB landing page view and template (#6684)
  cfgov/jinja2/v1/complaint/complaint-landing.html
  cfgov/legacy/tests/views/test_complaint.py
  cfgov/legacy/views/complaint.py
  cfgov/unprocessed/apps/ccdb-landing-map/css/landing-page.less
Due: backend

Deployed 4a8b346 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Remove the ASK_UPDATED_DATE_LABEL feature flag and template code
  cfgov/cfgov/settings/base.py
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
Due: backend

rerun translations to fix notes
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
  cfgov/retirement_api/locale/es/LC_MESSAGES/django.mo
  cfgov/retirement_api/locale/es/LC_MESSAGES/django.po
Due: none

[TDP survey] Add test for SurveyWizard.done
  cfgov/teachers_digital_platform/tests/test_views.py
Due: backend

retain elasticsearch7 for ccdb5-api transition
  cfgov/ask_cfpb/models/search.py
  cfgov/ask_cfpb/tests/test_search.py
  cfgov/cfgov/settings/test.py
  requirements/libraries.txt
Due: backend

Realign Elasticsearch dependencies
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/test.py
  cfgov/search/backends.py
  requirements/libraries.txt
Due: backend

restore released ccdb repos
  cfgov/cfgov/settings/base.py
Due: backend

WIP
  cfgov/jinja2/v1/_includes/organisms/video-player.html
Due: none

remove sheer script and tests
  cfgov/cfgov/settings/base.py
  cfgov/scripts/update_es_settings.py
  cfgov/search/tests/test_backends.py
  cfgov/search/tests/test_fields.py
Due: backend

Realign Elasticsearch dependencies (#6687)
  cfgov/ask_cfpb/models/search.py
  cfgov/ask_cfpb/tests/test_search.py
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/test.py
  cfgov/scripts/update_es_settings.py
  cfgov/search/backends.py
  cfgov/search/tests/test_backends.py
  cfgov/search/tests/test_fields.py
  requirements/libraries.txt
Due: backend

Deployed 64083fd with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Make the settings comments for feature flags more accurate
  cfgov/cfgov/settings/base.py
Due: backend

Document steps for fully deleting feature flags
  docs/feature-flags.md
Due: none

[TDP] Track switch grades click event in GA
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-9-12.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

Deployed 6ddab06 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 0a59bfd with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

fix comment typo
  cfgov/cfgov/settings/base.py
Due: backend

remove django-haystack import
  requirements/libraries.txt
Due: none

remove last references to haystack
  .isort.cfg
  cfgov/cfgov/settings/base.py
  cfgov/search/fields.py
Due: backend

remove sheer references and reorganize ES7 settings
  cfgov/cfgov/settings/base.py
Due: backend

remove sheer references from .env_SAMPLE
  .env_SAMPLE
Due: none

Remove haystack import (#6695)
  .env_SAMPLE
  .isort.cfg
  cfgov/cfgov/settings/base.py
  cfgov/search/fields.py
  requirements/libraries.txt
Due: backend

Deployed f10b358 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
