Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

retry section-by-section parsing
  cfgov/regulations3k/scripts/ecfr_importer.py
Due: backend

regs3k: Parse interpretations and insert interp references.
  cfgov/regulations3k/scripts/ecfr_importer.py
  cfgov/regulations3k/tests/test_ecfr_importer.py
Due: backend

regs3k: add 'ALL' option to ecfr_importer
  cfgov/regulations3k/scripts/ecfr_importer.py
  cfgov/regulations3k/tests/test_ecfr_importer.py
Due: backend

Agreements processor: Fix skipped PDFs.
  cfgov/agreements/fixtures/agreement_data.json
  cfgov/agreements/management/commands/import_agreements.py
  cfgov/agreements/management/commands/util.py
  cfgov/agreements/templates/agreements/index.html
  cfgov/agreements/tests/test_management.py
Due: backend

Credit card agreements: Quarterly update
  cfgov/agreements/templates/agreements/index.html
Due: none

un-exclude test zip files
  .gitignore
  cfgov/agreements/tests/UTF_agreements.zip
  cfgov/agreements/tests/empty-folder-agreements.zip
Due: none

Credit card agreements: Quarterly update (#4272)
  cfgov/agreements/templates/agreements/index.html
Due: none

Bump the CCDB5-API version
  requirements/optional-public.txt
Due: none

Bump TDP release to 0.5.23
  requirements/optional-public.txt
Due: none

Bump the CCDB5-API version (#4273)
  requirements/optional-public.txt
Due: none

Bump TDP release to 0.5.23 (#4274)
  requirements/optional-public.txt
Due: none

Clarify token patterns in docstring
  cfgov/regulations3k/scripts/patterns.py
Due: backend

use subpart.BODY for clarity
  cfgov/regulations3k/scripts/ecfr_importer.py
  cfgov/regulations3k/tests/test_ecfr_importer.py
Due: backend

flake8
  cfgov/regulations3k/scripts/ecfr_importer.py
Due: backend

Regs3k interpretation references (#4270)
  cfgov/regulations3k/fixtures/graftest.xml
  cfgov/regulations3k/fixtures/interptest.xml
  cfgov/regulations3k/fixtures/parsed_test_grafs.md
  cfgov/regulations3k/scripts/ecfr_importer.py
  cfgov/regulations3k/scripts/patterns.py
  cfgov/regulations3k/tests/test_ecfr_importer.py
Due: backend

Agreements processor: Fix skipped PDFs. (#4271)
  .gitignore
  cfgov/agreements/fixtures/agreement_data.json
  cfgov/agreements/management/commands/import_agreements.py
  cfgov/agreements/management/commands/util.py
  cfgov/agreements/tests/UTF_agreements.zip
  cfgov/agreements/tests/empty-folder-agreements.zip
  cfgov/agreements/tests/test_management.py
Due: backend

Consolidate scroll to top code
  cfgov/unprocessed/js/organisms/MegaMenuMobile.js
Due: frontend

Eliminate splitting of section labels in app code
  cfgov/cfgov/settings/base.py
  cfgov/regulations3k/fixtures/regdata.json
  cfgov/regulations3k/models/django.py
  cfgov/regulations3k/models/pages.py
  cfgov/regulations3k/tests/test_models.py
Due: backend

Revert unnecessary test subpart label changes
  cfgov/regulations3k/tests/test_models.py
Due: backend

Revert label verbose_name change
  cfgov/regulations3k/models/django.py
Due: backend

Linting fixes
  cfgov/regulations3k/models/django.py
  cfgov/regulations3k/models/pages.py
Due: backend

Eliminate {part}-{section} labeling in the eCFR Importer
  cfgov/regulations3k/scripts/ecfr_importer.py
Due: backend

Allow breadcrumbs that do not have links
  cfgov/jinja2/v1/_includes/molecules/breadcrumbs.html
  cfgov/unprocessed/css/breadcrumbs.less
Due: none

Add Regulations breadcrumbs
  cfgov/regulations3k/models/pages.py
  cfgov/regulations3k/tests/test_models.py
Due: backend

Add is animating class to extend style options
  cfgov/unprocessed/css/organisms/mega-menu.less
  cfgov/unprocessed/js/modules/transition/BaseTransition.js
Due: frontend

Update travis and frontend.sh to use local gulp
  frontend.sh
  travis_install.sh
  travis_run.sh
Due: none

remove -- from npm script and use it explicitly from travis
  package.json
  travis_run.sh
Due: none

Add gulp npm script
  package.json
Due: none

Deploy cfpb/cfgov-refresh to github.com/cfpb/cfgov-refresh.git:gh-pages
  ask-cfpb/index.html
  atomic-structure/index.html
  branching-merging/index.html
  caching/index.html
  consumer-complaint-database/index.html
  css/main.css
  css/normalize.css
  css/syntax.css
  development-tips/index.html
  django-to-wagtail/index.html
  feature-flags/index.html
  forms-in-wagtail/index.html
  hmda/index.html
  img/flag_conditions.gif
  img/flags_list.png
  img/image00.png
  img/image02.png
  img/release-cadence.png
  img/settings_flags.gif
  img/wagtail-language.png
  index.html
  installation/index.html
  js/respond.min.js
  mkdocs/js/lunr.min.js
  mkdocs/js/mustache.min.js
  mkdocs/js/require.js
  mkdocs/js/search-results-template.mustache
  mkdocs/js/search.js
  mkdocs/js/text.js
  mkdocs/search_index.json
  new-projects/index.html
  sitemap.xml
  testing-be/index.html
  testing-fe/index.html
  translation/index.html
  usage/index.html
  wagtail-migrations/index.html
Due: none

Add docs for commands using local gulp
  installation/index.html
  usage/index.html
Due: none

Update code.json to 2.0.0 schema (#4269)
  code.json
Due: none

Update footer link in vars-mega-menu.
  cfgov/jinja2/v1/_includes/organisms/_vars-mega-menu.html
Due: none

Bump retirement to 0.6.2
  requirements/optional-public.txt
Due: none

Update form-field-with-button.less spacing
  cfgov/unprocessed/css/molecules/form-field-with-button.less
Due: none

Updates to email signup styles.
  cfgov/jinja2/v1/_includes/molecules/form-field-with-button.html
  cfgov/unprocessed/css/molecules/form-field-with-button.less
  cfgov/unprocessed/css/molecules/inset.less
  cfgov/unprocessed/css/organisms/email-signup.less
Due: none

Remove mysql.txt requirements file and all references to it
  requirements/deployment.txt
  requirements/local.txt
  requirements/mysql.txt
  tox.ini
Due: none

remove support for legacy mysql env variables
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/local.py
Due: backend

Update django-college-costs-comparison to 1.6.1
  requirements/optional-public.txt
Due: none

fix docs reference to gulp --tasks
  docs/usage.md
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
