Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix expandable button type
  cfgov/jinja2/v1/_includes/organisms/expandable.html
Due: none

explicitly override on OSX, add .env comments
  .env_SAMPLE
Due: none

Only set mock GovDelivery API if GOVDELIVERY_BASE_URL is not set
  .env_SAMPLE
  cfgov/cfgov/settings/local.py
Due: backend

Add the http endpoint for CCT charts
  cfgov/cfgov/settings/base.py
Due: backend

Update comment for specific OBE criteria
  cfgov/cfgov/settings/base.py
Due: backend

Add the http endpoint for CCT charts (#4452)
  cfgov/cfgov/settings/base.py
Due: backend

Add Regs3K toc:click analytics event
  cfgov/unprocessed/apps/regulations3k/js/analytics.js
  cfgov/unprocessed/apps/regulations3k/js/index.js
  test/unit_tests/apps/regulations3k/js/analytics-spec.js
Due: frontend

Add Regs3K expandables analytics event
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
  cfgov/unprocessed/apps/regulations3k/js/analytics.js
  cfgov/unprocessed/apps/regulations3k/js/index.js
  test/unit_tests/apps/regulations3k/js/analytics-spec.js
Due: frontend

Improve Regs3K TOC icon alignment, remove Regs3K turbolinks directives
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
  cfgov/regulations3k/jinja2/regulations3k/landing-page.html
  cfgov/regulations3k/jinja2/regulations3k/search-regulations.html
  cfgov/unprocessed/apps/regulations3k/css/reg-navigation.less
Due: none

Migrate Regs3K regs listing block to list instead of table
  cfgov/regulations3k/jinja2/regulations3k/regulations-listing.html
  cfgov/unprocessed/apps/regulations3k/css/main.less
  cfgov/unprocessed/apps/regulations3k/css/reg-listing.less
Due: none

Only show 3 recent notices on Regs3K landing page
  cfgov/regulations3k/models/pages.py
Due: backend

adding extra test
  cfgov/data_research/tests/test_forms.py
Due: backend

consolidating form logic for registration form
  cfgov/data_research/forms.py
  cfgov/data_research/handlers.py
  cfgov/data_research/research_conference.py
  cfgov/data_research/tests/test_blocks.py
  cfgov/data_research/tests/test_forms.py
  cfgov/data_research/tests/test_handlers.py
Due: backend

Modify conference registration form for FinEx conf
  cfgov/data_research/forms.py
  cfgov/data_research/handlers.py
  cfgov/data_research/jinja2/data_research/conference-registration-form.html
  cfgov/data_research/research_conference.py
  cfgov/data_research/widgets.py
  cfgov/unprocessed/css/organisms/form.less
Due: backend

Fix conference registration related tests
  cfgov/data_research/tests/management/commands/test_conference_export.py
  cfgov/data_research/tests/management/commands/test_conference_notify.py
  cfgov/data_research/tests/test_blocks.py
  cfgov/data_research/tests/test_forms.py
  cfgov/data_research/tests/test_handlers.py
Due: backend

Bump TDP release 1.0.12
  requirements/optional-public.txt
Due: none

Add missing export
  .env_SAMPLE
Due: none

Updates the suggested data file to use market subfolders
  cfgov/v1/atomic_elements/organisms.py
Due: backend

Add migration
  cfgov/v1/migrations/0121_auto_20180822_1012.py
Due: backend

Updates the suggested Chart data file to use CCT market subfolders (#4453)
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0121_auto_20180822_1012.py
Due: backend

Rename the RegulationPage related field on Part
  cfgov/regulations3k/migrations/0015_rename_regpage_part_related_field.py
  cfgov/regulations3k/models/pages.py
Due: backend

Add a "Preview" button to Sections
  cfgov/regulations3k/tests/test_hooks.py
  cfgov/regulations3k/wagtail_hooks.py
Due: backend

form widget style tweaks from @Scotchester
  cfgov/unprocessed/css/organisms/form.less
Due: none

remove Django 1.11-incompatible form widget code
  cfgov/data_research/forms.py
  cfgov/data_research/widgets.py
  cfgov/unprocessed/css/organisms/form.less
Due: backend

Remove dom-delegate
  package.json
Due: none

Missing Migrations script now handles Django 1.11
  cfgov/core/scripts/missing_migrations.py
  cfgov/core/tests/test_missing_migrations.py
Due: backend

use boto3 instead of boto for Django 1.11 compat
  cfgov/cfgov/settings/base.py
  cfgov/v1/s3utils.py
  cfgov/v1/tests/test_meta_image.py
  cfgov/v1/tests/test_s3utils.py
  requirements/libraries.txt
  requirements/scripts.txt
Due: backend

remove lingering boto references
  cfgov/data_research/mortgage_utilities/s3_utils.py
  cfgov/data_research/tests/test_s3_utils.py
  tox.ini
Due: backend

First pass at adding app-specific browser tests
  test/browser_tests/conf.js
  test/browser_tests/cucumber/features/suites/apps/regulations/regulations-search.feature
  test/browser_tests/cucumber/step_definitions/apps/regulations/regulations-search.js
  test/browser_tests/cucumber/step_definitions/pagination.js
  test/browser_tests/cucumber/step_definitions/url.js
Due: none

Add browser sleep test for browser tests
  test/browser_tests/cucumber/step_definitions/browser.js
Due: none

Add regs3k search filter browser test
  cfgov/unprocessed/apps/regulations3k/js/search-utils.js
  test/browser_tests/cucumber/features/suites/apps/regulations/regulations-search.feature
  test/browser_tests/cucumber/step_definitions/apps/regulations/regulations-search.js
Due: frontend

WIP transitioning browser tests to run against existing server
  cfgov/v1/tests/models/test_snippets.py
  test/browser_tests/cucumber/features/suites/default/filterable-list-controls.feature
  test/browser_tests/cucumber/features/suites/default/filterable-page.feature
  test/browser_tests/cucumber/features/suites/default/header.feature
  test/browser_tests/cucumber/features/suites/default/multi-select.feature
  test/browser_tests/cucumber/features/suites/default/pagination.feature
  test/browser_tests/cucumber/features/suites/default/reusable-text-snippets.feature
  test/browser_tests/cucumber/step_definitions/filterable-page.js
  test/browser_tests/cucumber/step_definitions/multi-select.js
  test/browser_tests/cucumber/step_definitions/reusable-text-snippets.js
  test/browser_tests/default-suites.js
Due: backend

Finish fixing filterable-page tests
  test/browser_tests/cucumber/features/suites/default/filterable-page.feature
  test/browser_tests/cucumber/step_definitions/filterable-page.js
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
