Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Provide translation of skip link
  cfgov/jinja2/v1/_layouts/base.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Fixed migration
  cfgov/v1/migrations/0268_prep_for_deprecated_model_swapout.py
Due: backend

Implement start over and JS cleanup
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/ChoiceField.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/config.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/grade-level-page.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/result-page.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/survey-page.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-surveys.js
Due: frontend

Remove accidental reversions
  cfgov/teachers_digital_platform/surveys.py
Due: backend

Add more missing aria_label to templates (#6542)
  cfgov/jinja2/v1/_includes/molecules/info-unit-2.html
  cfgov/jinja2/v1/_includes/molecules/info-unit.html
  cfgov/jinja2/v1/_includes/molecules/related-content.html
  cfgov/jinja2/v1/_includes/molecules/text-introduction.html
Due: none

Deployed 0f99da8 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update to Cypress@8.1.0
  docker/cypress/Dockerfile
  npm-packages-offline-cache/cypress-8.0.0.tgz
  npm-packages-offline-cache/cypress-8.1.0.tgz
  package.json
  yarn.lock
Due: none

Cleanup and remove legacy tag logic
  cfgov/jinja2/v1/_includes/article.html
  cfgov/jinja2/v1/_includes/organisms/post-preview.html
  cfgov/jinja2/v1/_includes/tags.html
  cfgov/jinja2/v1/events/_event-detail.html
  cfgov/unprocessed/css/meta.less
Due: none

Rename enforcement action related metadata template
  cfgov/jinja2/v1/_includes/molecules/related-metadata-enforcement-action.html
  cfgov/jinja2/v1/enforcement-action/index.html
Due: none

Provide translation of skip link (#6549)
  cfgov/jinja2/v1/_layouts/base.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Deployed 2c54eaa with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Rename template variable name
  cfgov/jinja2/v1/enforcement-action/index.html
Due: none

Rename enforcement action related metadata template (#6554)
  cfgov/jinja2/v1/_includes/molecules/related-metadata-enforcement-action.html
  cfgov/jinja2/v1/enforcement-action/index.html
Due: none

Deployed f7fc441 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix full-width text table block rendering
  cfgov/jinja2/v1/_includes/organisms/full-width-text.html
Due: none

Better handle inputs with no maxlength
  cfgov/unprocessed/js/molecules/Autocomplete.js
Due: frontend

Prototype Ask search character limit
  cfgov/jinja2/v1/_includes/organisms/ask-search.html
  cfgov/unprocessed/js/molecules/Autocomplete.js
Due: frontend

Update error message
  cfgov/jinja2/v1/_includes/organisms/ask-search.html
Due: none

Refactor more
  cfgov/unprocessed/js/molecules/Autocomplete.js
  cfgov/unprocessed/js/routes/on-demand/ask-autocomplete.js
Due: frontend

Refactor blur
  cfgov/unprocessed/js/molecules/Autocomplete.js
Due: frontend

Refactor
  cfgov/jinja2/v1/_includes/organisms/ask-search.html
  cfgov/unprocessed/js/molecules/Autocomplete.js
  cfgov/unprocessed/js/routes/on-demand/ask-autocomplete.js
Due: frontend

Disable submit button for too-long queries
  cfgov/jinja2/v1/_includes/organisms/ask-search.html
  cfgov/unprocessed/js/molecules/Autocomplete.js
Due: frontend

Add TODOs
  cfgov/unprocessed/js/molecules/Autocomplete.js
Due: frontend

More refactoring per PR review
  cfgov/unprocessed/js/molecules/Autocomplete.js
Due: frontend

Fix lint errors
  cfgov/unprocessed/js/molecules/Autocomplete.js
Due: frontend

Take out debugging stuff
  cfgov/unprocessed/js/molecules/Autocomplete.js
Due: frontend

Add English functional tests
  test/cypress/integration/pages/consumer-tools/ask-cfpb.js
  test/cypress/pages/consumer-tools/ask-cfpb/search.js
Due: none

Refactor based on PR review comments
  cfgov/jinja2/v1/_includes/organisms/ask-search.html
  cfgov/unprocessed/js/molecules/Autocomplete.js
  cfgov/unprocessed/js/routes/on-demand/ask-autocomplete.js
Due: frontend

Add Spanish functional tests
  test/cypress/integration/pages/consumer-tools/ask-cfpb.js
  test/cypress/integration/pages/consumer-tools/obtener-respuestas.js
  test/cypress/pages/consumer-tools/ask-cfpb/search.js
  test/cypress/pages/consumer-tools/obtener-respuestas.js
Due: none

Fix JSDoc
  cfgov/unprocessed/js/molecules/Autocomplete.js
Due: frontend

Update with new program data.
  cfgov/unprocessed/erap/js/main.js
Due: frontend

RAF tool: update data (#6544)
  cfgov/unprocessed/erap/js/main.js
Due: frontend

Deployed 504a37a with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Don't let vertical LI text flow under radio buttons
  cfgov/unprocessed/apps/teachers-digital-platform/css/main.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey-page.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
Due: none

Fix start over logic
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/survey-page.js
Due: frontend

Declare node version for nvm
  .nvmrc
Due: none

Relative links and use trailing slash to avoid redirects
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-9-12.html
Due: none

Add basic progress bar
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/ProgressBar.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/survey-page.js
Due: frontend

LInting fixes and docs
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/clipboardCopy.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/index.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/modals.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/ChoiceField.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/grade-level-page.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/initials.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/result-page.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/survey-page.js
Due: frontend
