Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Remove optional endblock blockname
  cfgov/jinja2/v1/owning-a-home/closing-disclosure/index.html
  cfgov/jinja2/v1/owning-a-home/explore-rates/index.html
  cfgov/jinja2/v1/owning-a-home/loan-estimate/index.html
  cfgov/jinja2/v1/rural-or-underserved/index.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/bb-tool.html
Due: none

Remove unsupported block collapsing from django templates
  cfgov/jinja2/v1/owning-a-home/closing-disclosure/index.html
  cfgov/legacy/templates/complaint/complaint-landing.html
  cfgov/legacy/templates/fair-lending/index.html
  cfgov/paying_for_college/templates/paying_for_college/disclosure.html
  cfgov/paying_for_college/templates/paying_for_college/disclosure_feedback.html
  cfgov/paying_for_college/templates/paying_for_college/disclosure_feedback_thanks.html
  cfgov/paying_for_college/templates/paying_for_college/disclosure_technote.html
Due: none

Re-generate migration
  cfgov/v1/migrations/0253_add_reusable_text_to_legacy_newsroom.py
Due: backend

Standardize page title in templates to include bureau name (#6339)
  cfgov/agreements/jinja2/agreements/index.html
  cfgov/agreements/jinja2/agreements/search.html
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/form-submitted.html
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/privacy.html
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/voluntary-assessment-form.html
  cfgov/jinja2/v1/_layouts/404.html
  cfgov/jinja2/v1/_layouts/500.html
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
  cfgov/jinja2/v1/know-before-you-owe/compare/index.html
  cfgov/jinja2/v1/know-before-you-owe/index.html
  cfgov/jinja2/v1/know-before-you-owe/timeline/index.html
  cfgov/jinja2/v1/owning-a-home/closing-disclosure/index.html
  cfgov/jinja2/v1/owning-a-home/explore-rates/index.html
  cfgov/jinja2/v1/owning-a-home/loan-estimate/index.html
  cfgov/jinja2/v1/rural-or-underserved/index.html
  cfgov/jinja2/v1/search/results.html
  cfgov/jinja2/v1/your-story/index.html
  cfgov/legacy/templates/complaint/complaint-landing.html
  cfgov/legacy/templates/fair-lending/index.html
  cfgov/paying_for_college/jinja2/paying-for-college/choose_a_loan.html
  cfgov/paying_for_college/jinja2/paying-for-college/manage_your_money.html
  cfgov/paying_for_college/jinja2/paying-for-college/repay_student_debt.html
  cfgov/paying_for_college/templates/paying_for_college/disclosure.html
  cfgov/paying_for_college/templates/paying_for_college/disclosure_feedback.html
  cfgov/paying_for_college/templates/paying_for_college/disclosure_feedback_thanks.html
  cfgov/paying_for_college/templates/paying_for_college/disclosure_technote.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/bb-tool.html
  cfgov/wellbeing/jinja2/wellbeing/about.html
  cfgov/wellbeing/jinja2/wellbeing/error.html
  cfgov/wellbeing/jinja2/wellbeing/home.html
  cfgov/wellbeing/jinja2/wellbeing/results.html
Due: none

Deployed cd46098 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Migrate PfC feedback form to jinja
  cfgov/paying_for_college/jinja2/paying-for-college/disclosure_feedback.html
  cfgov/paying_for_college/jinja2/paying-for-college/disclosure_feedback_thanks.html
  cfgov/paying_for_college/templates/paying_for_college/disclosure_feedback.html
  cfgov/paying_for_college/templates/paying_for_college/disclosure_feedback_thanks.html
  cfgov/paying_for_college/views.py
Due: backend

Fix titles
  cfgov/paying_for_college/jinja2/paying-for-college/disclosure_feedback.html
  cfgov/paying_for_college/jinja2/paying-for-college/disclosure_feedback_thanks.html
Due: none

Add reusable text to legacy blog and newsroom pages (#6340)
  cfgov/v1/migrations/0253_add_reusable_text_to_legacy_newsroom.py
  cfgov/v1/models/blog_page.py
Due: backend

Deployed 611bd5d with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Update robots.txt
  cfgov/unprocessed/root/robots.txt
Due: none

Remove the POST from external site interstitial view
  cfgov/cfgov/settings/base.py
  cfgov/core/tests/test_views.py
  cfgov/core/views.py
  cfgov/jinja2/v1/external-site/index.html
Due: backend

Update ExternalSite js to be link-based rather than button based
  cfgov/unprocessed/js/modules/ExternalSite.js
Due: frontend

Simplify raising a 404 on bad external site GET
  cfgov/core/views.py
Due: backend

Deployed a831f25 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Allow limiting of request body sizes
  cfgov/apache/conf.d/headers.conf
  cfgov/apache/conf/httpd.conf
Due: none

Clarify and shorten the comment
  cfgov/apache/conf.d/headers.conf
Due: none

Adjust spacing to match
  cfgov/apache/conf.d/headers.conf
Due: none

Deployed 4d26fc8 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Update TableEditor in admin.js
  test/cypress/pages/admin/admin.js
Due: none

Update Jenkinsfile with cypress exit code
  Jenkinsfile
Due: none

remove duplicate key
  cfgov/unprocessed/js/routes/on-demand/simple-chart/datetime-styles.js
Due: frontend

Simple-chart fixed selects (#6345)
  cfgov/unprocessed/js/routes/on-demand/simple-chart/datetime-styles.js
Due: frontend

Deployed dd8247f with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add the LIMIT_REQUEST_BODY variable for Docker
  Dockerfile
Due: none

Temp stop
  docs/filterable-lists.md
Due: none

Use proper boosting for multi-match
  cfgov/v1/documents.py
Due: backend

Update Consumer Response report links
  cfgov/legacy/templates/complaint/complaint-landing.html
Due: none

Update Consumer Response report links (#6353)
  cfgov/legacy/templates/complaint/complaint-landing.html
Due: none

Deployed 47ab1cf with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Convert expandables to tables on grad path tool review page.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/14-summary.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/financial-item-text.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/college-costs.less
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/financial-item.less
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/state-based.less
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/models/expenses-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/school-model.js
Due: frontend

Add the old /askcfpb/search URL to robots.txt
  cfgov/unprocessed/root/robots.txt
Due: none

Add the old /askcfpb/search URL to robots.txt (#6354)
  cfgov/unprocessed/root/robots.txt
Due: none

Deployed 786b826 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Remove cypress exit code from Jenkinsfile
  Jenkinsfile
Due: none

Add test to closeTableEditor and use aliases in admin.js
  test/cypress/integration/pages/admin.js
  test/cypress/pages/admin/admin.js
Due: none

Add parallel stages to Run Functional Tests in Jenkinsfile
  Jenkinsfile
Due: none

Use table-block-modal to find DraftEditor content
  test/cypress/integration/pages/admin.js
  test/cypress/pages/admin/admin.js
Due: none

Add timeout to each parallel stage in Jenkinsfile
  Jenkinsfile
Due: none

Deprecate Apache config using /testing/ on beta
  cfgov/apache/conf.d/user-testing.conf
  cfgov/apache/conf/httpd.conf
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
