Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

disable:
  - search

Update compressed file link text.
  cfgov/agreements/jinja2/agreements/detail.html
  cfgov/agreements/jinja2/agreements/search_result_item.html
Due: none

Add basic responsive updates.
  cfgov/agreements/views.py
  cfgov/unprocessed/apps/agreements/css/main.less
Due: backend

Hook up detail page to the specific product
  cfgov/agreements/jinja2/agreements/search_result_item.html
  cfgov/agreements/urls.py
  cfgov/agreements/views.py
Due: backend

Update url from prepaid to prepaid-agreements.
  cfgov/cfgov/urls.py
  cfgov/unprocessed/js/routes/prepaid-agreements/single.js
Due: backend, frontend

Hook up status and program_type filters
  cfgov/agreements/jinja2/agreements/prepaid.html
  cfgov/agreements/views.py
Due: backend

Hook up general search
  cfgov/agreements/views.py
Due: backend

Remove reference to non-existent js file
  cfgov/agreements/jinja2/agreements/prepaid.html
Due: none

Filter update 2
  cfgov/agreements/views.py
Due: backend

Add search field dropdown and update styles/layout.
  cfgov/agreements/jinja2/agreements/detail.html
  cfgov/agreements/jinja2/agreements/prepaid.html
  cfgov/agreements/jinja2/agreements/search_result_item.html
  cfgov/agreements/views.py
  cfgov/unprocessed/apps/agreements/css/main.less
  cfgov/unprocessed/apps/agreements/css/search.less
Due: backend

Handle empty string for program type
  cfgov/agreements/views.py
Due: backend

Hook up prepaid data to pipeline format
  cfgov/agreements/fixtures/issuers.json
  cfgov/agreements/fixtures/prepaid.json
  cfgov/agreements/jinja2/agreements/detail.html
  cfgov/agreements/jinja2/agreements/prepaid.html
  cfgov/agreements/jinja2/agreements/search_result_item.html
  cfgov/agreements/migrations/0006_add_prepaid_models.py
  cfgov/agreements/migrations/0006_entity_prepaid.py
  cfgov/agreements/models.py
  cfgov/agreements/scripts/__init__.py
  cfgov/agreements/scripts/agreements.json
  cfgov/agreements/scripts/import_from_pipeline.py
  cfgov/agreements/scripts/products.json
  cfgov/agreements/views.py
Due: backend

Add OR queries and support for restricting filters based on search term
  cfgov/agreements/views.py
Due: backend

Move issuer select out of expandable.
  cfgov/agreements/jinja2/agreements/prepaid.html
  cfgov/unprocessed/apps/agreements/css/main.less
  cfgov/unprocessed/js/routes/prepaid/single.js
Due: frontend

Add prepaid detail template
  cfgov/agreements/jinja2/agreements/detail.html
  cfgov/agreements/jinja2/agreements/search_result_item.html
  cfgov/agreements/urls.py
  cfgov/agreements/views.py
  cfgov/unprocessed/apps/agreements/css/main.less
  cfgov/unprocessed/js/organisms/FilterableListControls.js
Due: backend, frontend

Use active filter values if available
  cfgov/agreements/jinja2/agreements/prepaid.html
  cfgov/agreements/views.py
Due: backend

Add disclaimer copy.
  cfgov/agreements/jinja2/agreements/detail.html
  cfgov/agreements/jinja2/agreements/prepaid.html
  cfgov/agreements/views.py
  cfgov/unprocessed/js/routes/prepaid-agreements/single.js
Due: backend, frontend

Update jinja tag
  cfgov/prepaid_agreements/jinja2tags.py
  cfgov/prepaid_agreements/tests/__init__.py
  cfgov/prepaid_agreements/tests/test_jinja2tags.py
Due: backend

Update labels on detail page.
  cfgov/agreements/jinja2/agreements/detail.html
Due: none

- Write full s3 URL to database and no longer pass s3_path to templates - Accommodate additional fields pipeline is sending and don't re-run if data hasn't been updated recently
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_result_item.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_results.html
  cfgov/prepaid_agreements/migrations/0001_add_prepaid_models.py
  cfgov/prepaid_agreements/models.py
  cfgov/prepaid_agreements/scripts/import_prepaid_agreements_data.py
  cfgov/prepaid_agreements/urls.py
  cfgov/prepaid_agreements/views.py
Due: backend

Fix spacing around disclaimer on search page.
  cfgov/agreements/jinja2/agreements/prepaid.html
Due: none

Rename import script and handle 'None' string
  cfgov/agreements/scripts/import_prepaid_agreements_data.py
Due: backend

Submit hidden filters
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/index.html
Due: none

Test fix for multiselect persistence.
  cfgov/agreements/jinja2/agreements/prepaid.html
  cfgov/unprocessed/js/molecules/Multiselect.js
Due: frontend

Front end updates
  cfgov/cfgov/settings/base.py
  cfgov/jinja2/v1/_includes/atoms/tag.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/index.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_result_item.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_results.html
  cfgov/prepaid_agreements/jinja2tags.py
  cfgov/prepaid_agreements/views.py
  cfgov/unprocessed/apps/prepaid-agreements/css/main.less
  cfgov/unprocessed/apps/prepaid-agreements/css/search-bar.less
  cfgov/unprocessed/apps/prepaid-agreements/css/search.less
  cfgov/unprocessed/css/atoms/tag.less
  cfgov/unprocessed/css/search.less
  cfgov/unprocessed/js/molecules/Multiselect.js
  gulp/tasks/copy.js
Due: backend, frontend

Add prepaid flag and remove formatting for issuer names.
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_result_item.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_results.html
  cfgov/unprocessed/apps/prepaid-agreements/css/search-bar.less
Due: backend

Case-insensitive matching
  cfgov/agreements/views.py
Due: backend

Determine latest agreement based on agreement ID
  cfgov/agreements/jinja2/agreements/detail.html
  cfgov/agreements/jinja2/agreements/search_result_item.html
  cfgov/agreements/models.py
Due: backend

Update import.
  cfgov/prepaid_agreements/jinja2tags.py
Due: backend

Clean up search
  cfgov/agreements/views.py
Due: backend

Replace new lines with semicolons when displaying other relevant parties - adding back overwritten changes
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_result_item.html
Due: none

Style and layout updates.
  cfgov/agreements/jinja2/agreements/detail.html
  cfgov/agreements/jinja2/agreements/prepaid.html
  cfgov/agreements/jinja2/agreements/search_result_item.html
  cfgov/unprocessed/apps/agreements/css/main.less
Due: none

Update dropdown options.
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/index.html
Due: none

Move prepaid agreements code into its own app
  cfgov/agreements/models.py
  cfgov/agreements/urls.py
  cfgov/agreements/views.py
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/prepaid_agreements/__init__.py
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/index.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_result_item.html
  cfgov/prepaid_agreements/migrations/0001_add_prepaid_models.py
  cfgov/prepaid_agreements/migrations/__init__.py
  cfgov/prepaid_agreements/models.py
  cfgov/prepaid_agreements/scripts/__init__.py
  cfgov/prepaid_agreements/scripts/import_prepaid_agreements_data.py
  cfgov/prepaid_agreements/urls.py
  cfgov/prepaid_agreements/views.py
  cfgov/unprocessed/apps/prepaid-agreements/css/main.less
  cfgov/unprocessed/apps/prepaid-agreements/css/search.less
Due: backend

Pass S3 path to templates
  cfgov/agreements/jinja2/agreements/detail.html
  cfgov/agreements/jinja2/agreements/prepaid.html
  cfgov/agreements/jinja2/agreements/search_result_item.html
Due: none

Remove unneeded files
  cfgov/agreements/scripts/agreements.json
  cfgov/agreements/scripts/products.json
Due: none

Apply expandable code on detail page.
  cfgov/unprocessed/js/molecules/Multiselect.js
  cfgov/unprocessed/js/organisms/FilterableListControls.js
  cfgov/unprocessed/js/routes/prepaid-agreements/single.js
Due: frontend

Fix linting errors.
  cfgov/unprocessed/js/routes/prepaid-agreements/single.js
  gulp/tasks/copy.js
Due: frontend

Capture filename in addition to full s3 URL
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_result_item.html
  cfgov/prepaid_agreements/migrations/0001_add_prepaid_models.py
  cfgov/prepaid_agreements/models.py
  cfgov/prepaid_agreements/scripts/import_prepaid_agreements_data.py
Due: backend

Remove unused import.
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/prepaid_agreements/jinja2tags.py
Due: backend

Replace new lines with semicolons when displaying other relevant parties
  cfgov/agreements/jinja2/agreements/detail.html
  cfgov/agreements/jinja2/agreements/search_result_item.html
Due: none
