Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Fix variable typo and alphabetize languages in list
  cfgov/v1/migrations/0261_fix_lang_typo_and_alphetize_list.py
  cfgov/v1/models/base.py
  cfgov/v1/util/ref.py
Due: backend

Don't needlessly cache assessment instances
  cfgov/teachers_digital_platform/assessments.py
  cfgov/teachers_digital_platform/forms.py
  cfgov/teachers_digital_platform/urlEncode.py
  cfgov/teachers_digital_platform/urls.py
  cfgov/teachers_digital_platform/views.py
Due: backend

geo updates
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-styles.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/us-layout.js
Due: frontend

fix-null-json-error
  cfgov/v1/atomic_elements/organisms.py
Due: backend

Load json, allow templates before questions
  cfgov/teachers_digital_platform/TemplateField.py
  cfgov/teachers_digital_platform/assessment-data/elem.json
  cfgov/teachers_digital_platform/assessments.py
  cfgov/teachers_digital_platform/forms.py
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey-page.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/elem/q0.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/elem/q3.html
Due: backend

Support the option to perform a delete purge of Akamai cache
  cfgov/v1/management/commands/delete_all_pages_cache.py
  cfgov/v1/management/commands/delete_page_cache.py
  cfgov/v1/models/caching.py
  cfgov/v1/tests/management/commands/test_delete_all_pages.py
Due: backend

Remove management command that deletes entire site cache
  cfgov/v1/management/commands/delete_all_pages_cache.py
  cfgov/v1/models/caching.py
  cfgov/v1/tests/management/commands/test_delete_all_pages.py
Due: backend

Apply suggestions from code review
  cfgov/v1/management/commands/delete_page_cache.py
  cfgov/v1/models/caching.py
  cfgov/v1/tests/models/test_caching.py
  requirements/test.txt
Due: backend

Move "delete" purge support to another backend
  cfgov/v1/management/commands/delete_page_cache.py
  cfgov/v1/models/caching.py
  cfgov/v1/tests/management/commands/test_delete_page_cache.py
  cfgov/v1/tests/models/test_caching.py
  requirements/test.txt
Due: backend

Deployed 10b9fb9 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix variable typo and alphabetize languages in list (#6480)
  cfgov/v1/migrations/0261_fix_lang_typo_and_alphetize_list.py
  cfgov/v1/models/base.py
  cfgov/v1/util/ref.py
Due: backend

Deployed 2907b16 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add coverage tox env to docs
  docs/python-unit-tests.md
Due: none

Add a tox env for backend test coverage
  requirements/ci.txt
  requirements/test.txt
  tox.ini
Due: none

Deployed 5a41165 with MkDocs version: 1.0.4
  index.html
  python-unit-tests/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Update TDP Financial literacy activities finder results count to standard 25 results
  cfgov/teachers_digital_platform/models/activity_index_page.py
Due: backend

Clean up TemplateField
  cfgov/teachers_digital_platform/TemplateField.py
Due: backend

Routing for all assessments, fn view for results reading cookie
  cfgov/teachers_digital_platform/assessments.py
  cfgov/teachers_digital_platform/forms.py
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey-results.html
  cfgov/teachers_digital_platform/urlEncode.py
  cfgov/teachers_digital_platform/urls.py
  cfgov/teachers_digital_platform/views.py
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-assessments.js
Due: backend, frontend

Ask CFPB: Update portal search results count to 25
  cfgov/ask_cfpb/models/pages.py
Due: backend

Prepaid credit card agreements: Update result count to 25 per page
  cfgov/prepaid_agreements/views.py
Due: backend

Update ask answer page result count to 25
  cfgov/ask_cfpb/models/pages.py
Due: backend

Ask: update search by tag result to 25
  cfgov/ask_cfpb/models/pages.py
Due: backend

Subtotals now based on part, not page
  cfgov/teachers_digital_platform/assessment-data/elem.json
  cfgov/teachers_digital_platform/assessments.py
  cfgov/teachers_digital_platform/views.py
Due: backend

Update unit test to check for 25 instead of 5
  cfgov/teachers_digital_platform/tests/models/test_pages_utility_definitions.py
Due: backend

Flake8 fixes
  cfgov/teachers_digital_platform/TemplateField.py
  cfgov/teachers_digital_platform/assessments.py
  cfgov/teachers_digital_platform/base36.py
  cfgov/teachers_digital_platform/urls.py
  cfgov/teachers_digital_platform/views.py
Due: backend

Number questions, allow HTML in escaped labels
  cfgov/teachers_digital_platform/assessments.py
  cfgov/teachers_digital_platform/forms.py
Due: backend

update enforcement export script
  cfgov/scripts/export_enforcement_actions.py
  cfgov/scripts/tests/test_export_enforcement_actions.py
Due: backend

Share URL working!
  cfgov/teachers_digital_platform/assessment-data/elem.json
  cfgov/teachers_digital_platform/assessments.py
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey-results.html
  cfgov/teachers_digital_platform/urlEncode.py
  cfgov/teachers_digital_platform/urls.py
  cfgov/teachers_digital_platform/views.py
  cfgov/unprocessed/apps/teachers-digital-platform/css/main.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/assessment-results.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-assessments.js
Due: backend, frontend

Update Django, urllib3, and pip
  requirements/django.txt
  requirements/libraries.txt
  requirements/test.txt
Due: none

Update wagtail-treemodeladmin
  requirements/libraries.txt
Due: none

Remove deprecated tox-pip-extensions
  requirements/local.txt
  tox.ini
Due: none

Update govdelivery
  requirements/libraries.txt
Due: none

Share URLs can store initials
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess-page.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess-results.html
  cfgov/teachers_digital_platform/views.py
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/assessment-results.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-assessments.js
Due: backend, frontend

Deployed 41a7ad0 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Remove horizontal scroll from breadcrumb component (#6478)
  cfgov/unprocessed/css/breadcrumbs.less
Due: none

Deployed 7815f44 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Store answers in sessionStorage, intro pages
  cfgov/teachers_digital_platform/assessments.py
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/intro-elem.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/results.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/single-page.html
  cfgov/teachers_digital_platform/urls.py
  cfgov/teachers_digital_platform/views.py
  cfgov/unprocessed/apps/teachers-digital-platform/js/assess/ChoiceField.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/encode-name.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-assessments.js
  test/unit_tests/apps/teachers-digital-platform/js/encode-name-spec.js
Due: backend, frontend

Deployed f9c9b84 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none
