Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Remove copied slugify
  cfgov/youth_employment/jinja2/youth_employment/yes-checklist-items.html
Due: none

Add devtools open on launch config to Cypress plugins
  cypress/plugins/index.js
  test/cypress/plugins/index.js
Due: none

Cypress plugin formatting adjustments
  test/cypress/plugins/index.js
Due: none

Deployed 5cb8eea with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Place plugin in correct spot
  cypress.config.cjs
  test/cypress/plugins/index.js
Due: none

Deployed c5e43d1 with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Comment out console.log of browser settings
  cypress.config.cjs
Due: none

Simplify template and tweak sidebar styles to match simplified layout
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_search_facets_and_results.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/activity-search.less
Due: none

Refactor plugin
  cypress.config.cjs
Due: none

Return `config` from `setupNodeEvents`
  cypress.config.cjs
Due: none

Change order of plugin
  cypress.config.cjs
Due: none

Remove launch options default value
  cypress.config.cjs
Due: none

Deployed fc2e536 with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Template updates
  cfgov/v1/jinja2/v1/activity-log/index.html
  cfgov/v1/jinja2/v1/browse-filterable/index.html
  cfgov/v1/jinja2/v1/includes/organisms/filterable-list-controls.html
  cfgov/v1/jinja2/v1/includes/organisms/filterable-list-results.html
  cfgov/v1/jinja2/v1/includes/organisms/filterable-list.html
  cfgov/v1/jinja2/v1/includes/organisms/post-preview.html
  cfgov/v1/jinja2/v1/newsroom/index.html
  cfgov/v1/jinja2/v1/sublanding-page/filterable.html
Due: none

Cleanup FilterableList StreamField block
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0249_rename_filterable.py
  cfgov/v1/migrations/0250_cleanup_filterable.py
Due: backend

Move some FilterableList fields to page classes
  cfgov/v1/migrations/0001_squashed_0235_add_use_json_field_to_streamfields.py
  cfgov/v1/migrations/0247_filterable_list_mixin.py
  cfgov/v1/migrations/0248_populate_filterable.py
  cfgov/v1/models/browse_filterable_page.py
  cfgov/v1/models/filterable_list_mixins.py
  cfgov/v1/models/sublanding_filterable_page.py
Due: backend

Test fixes
  cfgov/scripts/_atomic_helpers.py
  cfgov/v1/feeds.py
  cfgov/v1/models/filterable_list_mixins.py
  cfgov/v1/models/sublanding_filterable_page.py
  cfgov/v1/tests/jinja2tags/test_fragment_cache.py
  cfgov/v1/tests/models/test_browse_filterable_page.py
  cfgov/v1/tests/models/test_filterable_list_mixins.py
  cfgov/v1/tests/models/test_sublanding_page.py
  cfgov/v1/tests/wagtail_pages/helpers.py
  cfgov/v1/tests/wagtail_pages/test_page_creation.py
  test.sql.gz
Due: backend

Update test.sql.gz database
  test.sql.gz
Due: none

Swap condition order to comply with ESLint
  cfgov/v1/jinja2/v1/includes/organisms/filterable-list-results.html
Due: none

Ensure there are no errors or warnings in the dev console
  test/cypress/support/e2e.js
Due: none

Renumber migrations after rebase
  cfgov/v1/migrations/0247_filterable_list_mixin.py
  cfgov/v1/migrations/0248_filterable_list_mixin.py
  cfgov/v1/migrations/0249_populate_filterable.py
  cfgov/v1/migrations/0250_cleanup_filterable.py
  cfgov/v1/migrations/0250_rename_filterable.py
  cfgov/v1/migrations/0251_cleanup_filterable.py
Due: backend

Deprecate CategoryFilterableMixin
  cfgov/v1/forms.py
  cfgov/v1/models/browse_filterable_page.py
  cfgov/v1/models/filterable_list_mixins.py
  cfgov/v1/models/sublanding_filterable_page.py
  cfgov/v1/signals.py
  cfgov/v1/tests/test_filterable_list_form.py
  docs/filterable-lists.md
Due: backend

FilterableListMixin -> AbstractFilterablePage
  cfgov/v1/feeds.py
  cfgov/v1/jinja2/v1/includes/organisms/filterable-list-results.html
  cfgov/v1/models/browse_filterable_page.py
  cfgov/v1/models/filterable_page.py
  cfgov/v1/models/sublanding_filterable_page.py
  cfgov/v1/signals.py
  cfgov/v1/tests/models/test_filterable_page.py
  docs/filterable-lists.md
Due: backend

Update test database with filterable changes
  test.sql.gz
Due: none

Disable extensions when running Cypress in Chrome
  cypress.config.cjs
Due: none

Only run one GHA workflow at a time
  .github/workflows/functional-tests.yml
Due: none

Remove all GitHub workflows except functional
  .github/workflows/backend.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/filter-backend.yml
  .github/workflows/frontend.yml
  .github/workflows/helm_lint.yml
  .github/workflows/publish_cfgov.yml
Due: none

Fail Cypress tests fast
  cypress.config.cjs
  npm-packages-offline-cache/cypress-fail-fast-7.0.1.tgz
  package.json
  test/cypress/support/e2e.js
  yarn.lock
Due: none

Deployed 2f71680 with MkDocs version: 1.4.3
  filterable-lists/index.html
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Sunset TDP journey code
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/bb-tool.html
  cfgov/teachers_digital_platform/urls.py
  cfgov/unprocessed/apps/teachers-digital-platform/css/main.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/organisms/tour.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/index.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/scroll.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/sticky.js
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/aos-3.0.0-beta.6.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/classlist-polyfill-1.2.0.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/lodash.debounce-4.0.8.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/lodash.throttle-4.1.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/stickyfilljs-2.1.0.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/package.json
  cfgov/unprocessed/apps/teachers-digital-platform/yarn.lock
Due: backend, frontend

remove stray test
  cfgov/unprocessed/apps/teachers-digital-platform/js/index.js
  test/unit_tests/apps/teachers-digital-platform/js/scroll-spec.js
Due: frontend

remove vendor css
  cfgov/unprocessed/apps/teachers-digital-platform/css/main.less
Due: none

Deployed 2d4ad14 with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Fix width of costs group with no `financial-item_note` inside
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/financial-item.less
Due: none

Remove deprecated plugins
  cypress/plugins/index.js
  test/cypress/plugins/index.js
Due: none

Deployed e27ffb9 with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Remove accessible-languages macro
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/v1/jinja2/v1/includes/macros/accessible-languages.html
  cfgov/v1/jinja2/v1/includes/templates/render_block.html
  cfgov/v1/jinja2/v1/layouts/layout-2-1-rtl.html
  cfgov/v1/jinja2/v1/layouts/layout-2-1.html
  cfgov/v1/jinja2/v1/layouts/layout-full.html
Due: none

Try logging console messages
  test/cypress/support/e2e.js
Due: none

Deprecate AtomicTableBlock option on FIG pages
  cfgov/filing_instruction_guide/blocks.py
  cfgov/filing_instruction_guide/migrations/0013_fig_no_tables.py
Due: backend

Prevent FIG code blocks from breaking layout on small screens
  cfgov/unprocessed/apps/filing-instruction-guide/css/main.less
Due: none
