Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Deployed 79aaec7 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update es-base.less
  cfgov/legacy/static/nemo/_/c/less/es-base.less
Due: none

Deployed 50c67eb with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Update financial text item style options.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/02-costs.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/14-summary.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/financial-item-text.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/financial-item.less
Due: none

Fix typo.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/09-make-a-plan.html
Due: none

Fix spacing in expandable headers.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/14-summary.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/financial-item.less
Due: none

Nav style fixes.
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/nav.less
Due: none

Create separate calculations for SNAP balance vs regular balance
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/categories.js
Due: frontend

remove debug logging from cash flow store
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
Due: frontend

Create Day model to get snapshot of each calendar day's financial totals
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/day.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
Due: frontend

Fix snap data entry screen error, keep running snapshot balances for each Day based on previous
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/categories.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/day.js
Due: frontend

Switch UI store over to using days map for balance display
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
Due: frontend

Correctly calculating SNAP balances per day
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/day.js
Due: frontend

SNAP cannot go negative - decuct groceries from non-snap balance if it would
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/day.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/details.js
Due: frontend

added hero image
  npm-packages-offline-cache/@babel-code-frame-7.10.1.tgz
  npm-packages-offline-cache/@babel-core-7.10.2.tgz
  npm-packages-offline-cache/@babel-core-7.9.6.tgz
  npm-packages-offline-cache/@babel-generator-7.10.2.tgz
  npm-packages-offline-cache/@babel-generator-7.9.6.tgz
  npm-packages-offline-cache/@babel-helper-function-name-7.10.1.tgz
  npm-packages-offline-cache/@babel-helper-get-function-arity-7.10.1.tgz
  npm-packages-offline-cache/@babel-helper-member-expression-to-functions-7.10.1.tgz
  npm-packages-offline-cache/@babel-helper-module-imports-7.10.1.tgz
  npm-packages-offline-cache/@babel-helper-module-transforms-7.10.1.tgz
  npm-packages-offline-cache/@babel-helper-optimise-call-expression-7.10.1.tgz
  npm-packages-offline-cache/@babel-helper-replace-supers-7.10.1.tgz
  npm-packages-offline-cache/@babel-helper-simple-access-7.10.1.tgz
  npm-packages-offline-cache/@babel-helper-split-export-declaration-7.10.1.tgz
  npm-packages-offline-cache/@babel-helper-validator-identifier-7.10.1.tgz
  npm-packages-offline-cache/@babel-helpers-7.10.1.tgz
  npm-packages-offline-cache/@babel-helpers-7.9.6.tgz
  npm-packages-offline-cache/@babel-highlight-7.10.1.tgz
  npm-packages-offline-cache/@babel-parser-7.10.2.tgz
  npm-packages-offline-cache/@babel-template-7.10.1.tgz
  npm-packages-offline-cache/@babel-traverse-7.10.1.tgz
  npm-packages-offline-cache/@babel-traverse-7.9.6.tgz
  npm-packages-offline-cache/@babel-types-7.10.2.tgz
  npm-packages-offline-cache/cliui-5.0.0.tgz
Due: none

changed to new hero image
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/Hero_2.png
  npm-packages-offline-cache/@types-yargs-13.0.8.tgz
  npm-packages-offline-cache/acorn-7.1.1.tgz
  npm-packages-offline-cache/es-abstract-1.17.5.tgz
  npm-packages-offline-cache/string.prototype.trimend-1.0.1.tgz
  npm-packages-offline-cache/string.prototype.trimleft-2.1.2.tgz
  npm-packages-offline-cache/string.prototype.trimright-2.1.2.tgz
  npm-packages-offline-cache/string.prototype.trimstart-1.0.1.tgz
  npm-packages-offline-cache/util.promisify-1.0.1.tgz
  npm-packages-offline-cache/yargs-13.3.2.tgz
  npm-packages-offline-cache/yargs-parser-13.1.2.tgz
Due: none

took out install.pure-lockfile and ran yarn
  .yarnrc
  cfgov/unprocessed/apps/ccdb-landing-map/yarn.lock
  yarn.lock
Due: none

edited yarnrc
  .yarnrc
Due: none

took out all lines in .yarnrc
  .yarnrc
Due: none

returned .yarnrc to original
  .yarnrc
Due: none

Update print CSS for car buying guide block
  cfgov/jinja2/v1/youth_employment_success/route/notifications.html
  cfgov/unprocessed/css/blocks/car-buying-guide.less
  cfgov/youth_employment/jinja2/youth_employment/yes-checklist.html
Due: none

- Add functionality for user emailing link
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
Due: frontend

Paying for College - Costs app functionality
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
Due: frontend

- Fix summary page values - Fix z-index of search results
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
Due: frontend

- Fix Action Plan button handling - Fix zeroing of unavailable/irrelevant loans
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/15-action-plan.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/state-based.less
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/school-model.js
  cfgov/unprocessed/apps/paying-for-college/js/views/app-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
Due: frontend

Deployed a52426d with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update location of on-demand car buying guide less.
  cfgov/unprocessed/css/on-demand/blocks/car-buying-guide.less
  cfgov/youth_employment/jinja2/youth_employment/yes-checklist.html
  gulp/tasks/styles.js
Due: none

Linter fixes
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
  test/unit_tests/js/organisms/MegaMenu-spec.js
Due: frontend

test-change
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/hero.js
Due: frontend

Updates to review your plan fields.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/01-school-search.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/12-affording-your-loan.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/14-summary.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/financial-item-expandable.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/financial-item-text.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/financial-item.less
Due: none

Report in subapp (#5767)
  cfgov/jinja2/v1/_includes/organisms/sidenav-toc.html
  cfgov/jinja2/v1/_layouts/layout-side-nav.html
  cfgov/research_reports/jinja2/index.html
  cfgov/research_reports/jinja2/pdf-download.html
  cfgov/research_reports/migrations/0001_create_research_report_models.py
  cfgov/research_reports/migrations/0002_report_plain_text_fields.py
  cfgov/research_reports/migrations/__init__.py
  cfgov/research_reports/models.py
  cfgov/unprocessed/apps/research-reports/css/main.less
  cfgov/unprocessed/apps/research-reports/js/index.js
Due: backend, frontend

Fix research-reports frontend build
  cfgov/unprocessed/apps/research-reports/.yarnrc
  cfgov/unprocessed/apps/research-reports/package.json
Due: none

Tighten up styling for title, title subheading, and author names (#5779)
  cfgov/research_reports/jinja2/index.html
  cfgov/unprocessed/apps/research-reports/css/main.less
Due: none

Create new sub-app for research reports (#5766)
  cfgov/cfgov/settings/base.py
  cfgov/research_reports/__init__.py
  cfgov/research_reports/models.py
Due: backend

- Reduce loan amount dispersed by fee
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/financial-item-text.html
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/views/app-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
Due: frontend

Fix other funding field
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/07-other-resources.html
Due: none

- Fix totaling problem with Other Sources page
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
Due: frontend
