Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Deployed 0cd47cb with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Upgrade CCDB to v2.9.1
  cfgov/unprocessed/apps/ccdb-search/npm-packages-offline-cache/@cfpb-ccdb5-ui-2.8.4.tgz
  cfgov/unprocessed/apps/ccdb-search/npm-packages-offline-cache/@cfpb-ccdb5-ui-2.9.1.tgz
  cfgov/unprocessed/apps/ccdb-search/package.json
  cfgov/unprocessed/apps/ccdb-search/yarn.lock
Due: none

First pass at messing around with Wagtail's REST API
  cfgov/cfgov/api.py
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/v1/models/landing_page.py
  cfgov/v1/models/sublanding_page.py
Due: backend

Deployed 667e351 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Update to design-system 0.33.0
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.31.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.33.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.31.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.33.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.31.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.33.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.31.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.33.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.31.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.33.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.31.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.33.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.31.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.33.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.31.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.33.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.31.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.33.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.31.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.33.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.31.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.33.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.31.2.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.33.0.tgz
  package.json
  yarn.lock
Due: none

Move disclosures to fetch-logic
  .github/workflows/functional-tests.yml
  cfgov/paying_for_college/jinja2/paying-for-college/disclosure.html
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/index.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/dollar-sign.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/promise-request.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/views/financial-view.js
Due: frontend

Move labels to x axis
  cfgov/unprocessed/apps/owning-a-home/css/explore-rates.less
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/RateCheckerChart.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/highcharts-theme.js
Due: frontend

rotate x-axis labels and keep precision
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/highcharts-theme.js
Due: frontend

Upgrade CCDB to v2.9.2
  cfgov/unprocessed/apps/ccdb-search/npm-packages-offline-cache/@cfpb-ccdb5-ui-2.9.1.tgz
  cfgov/unprocessed/apps/ccdb-search/npm-packages-offline-cache/@cfpb-ccdb5-ui-2.9.2.tgz
  cfgov/unprocessed/apps/ccdb-search/package.json
  cfgov/unprocessed/apps/ccdb-search/yarn.lock
Due: none

Refactor breadcrumb and secondary nav
  cfgov/unprocessed/css/breadcrumbs.less
  cfgov/unprocessed/css/enhancements/layout-1-3.less
  cfgov/unprocessed/css/organisms/secondary-nav.less
  cfgov/v1/jinja2/v1/includes/molecules/breadcrumbs.html
  cfgov/v1/jinja2/v1/includes/organisms/secondary-nav.html
Due: none

Add translations for Navigate this Section
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/secondary-nav.html
  cfgov/unprocessed/css/organisms/secondary-nav.less
  cfgov/v1/locale/ar/LC_MESSAGES/django.mo
  cfgov/v1/locale/ar/LC_MESSAGES/django.po
  cfgov/v1/locale/es/LC_MESSAGES/django.mo
  cfgov/v1/locale/es/LC_MESSAGES/django.po
  cfgov/v1/locale/ht/LC_MESSAGES/django.mo
  cfgov/v1/locale/ht/LC_MESSAGES/django.po
  cfgov/v1/locale/ko/LC_MESSAGES/django.mo
  cfgov/v1/locale/ko/LC_MESSAGES/django.po
  cfgov/v1/locale/ru/LC_MESSAGES/django.mo
  cfgov/v1/locale/ru/LC_MESSAGES/django.po
  cfgov/v1/locale/tl/LC_MESSAGES/django.mo
  cfgov/v1/locale/tl/LC_MESSAGES/django.po
  cfgov/v1/locale/vi/LC_MESSAGES/django.mo
  cfgov/v1/locale/vi/LC_MESSAGES/django.po
  cfgov/v1/locale/zh_Hant/LC_MESSAGES/django.mo
  cfgov/v1/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

Adjust opacity
  cfgov/unprocessed/css/organisms/secondary-nav.less
Due: none

set school_primary_alias once
  cfgov/paying_for_college/jinja2/paying-for-college/disclosure.html
Due: none

Remove frontend coverage action
  .github/workflows/frontend.yml
Due: none

Remove conditionals around slash
  cfgov/v1/jinja2/v1/includes/molecules/breadcrumbs.html
Due: none

Remove second divider
  cfgov/v1/jinja2/v1/includes/molecules/breadcrumbs.html
Due: none

Deployed b5d1920 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Change secondary nav icons
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/secondary-nav.html
  cfgov/unprocessed/css/organisms/secondary-nav.less
  cfgov/v1/jinja2/v1/includes/organisms/secondary-nav-fig.html
  test/unit_tests/apps/filing-instruction-guide/fixtures/sample-fig-page.js
Due: none

Restyle regs
  cfgov/regulations3k/jinja2/regulations3k/regulations3k-secondary-nav.html
  cfgov/unprocessed/apps/regulations3k/css/reg-navigation.less
Due: none

Change load event to fire from the window instead of created script element
  cfgov/v1/jinja2/v1/layouts/base.html
Due: none

Configure CSRF settings in beta
  cfgov/cfgov/settings/base.py
Due: backend

Move disclosures to fetch-logic (#8008)
  .github/workflows/functional-tests.yml
  cfgov/paying_for_college/jinja2/paying-for-college/disclosure.html
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/index.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/dollar-sign.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/promise-request.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/views/financial-view.js
Due: frontend

Deployed 225e2ad with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

-Fix .siblings()
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/dollar-sign.js
Due: frontend

Deployed 60ed5c3 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Fix: Prepaid agreement result link (again)
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_result_item.html
Due: none

Remove width
  cfgov/unprocessed/css/breadcrumbs.less
Due: none

TDP: convert category to event
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

Deployed 92b66dc with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Deployed 3a3f4e8 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Bump treemodeladmin
  requirements/libraries.txt
Due: none

Deployed 553aa2d with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Stat edits for homepage
  cfgov/v1/jinja2/v1/home_page/home_page.html
Due: none

Deployed e8364f2 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Fix table Cypress tests against Wagtail 4.2
  test/cypress/integration/admin/admin-helpers.cy.js
Due: none

Fix unused variable warning
  test/cypress/integration/admin/admin-helpers.cy.js
Due: none

Update VSCode Python formatter setting
  .vscode/settings.json
  docs/installation.md
Due: none

Deployed 43a5a64 with MkDocs version: 1.5.2
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Delete unused modeladmin template
  cfgov/templates/modeladmin/create.html
Due: none

Deployed c875cad with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none
