Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Highlight cards: make body optional
  cfgov/jinja2/v1/_includes/molecules/card.html
  cfgov/jinja2/v1/_includes/organisms/card-group.html
  cfgov/v1/migrations/0278_card_optional_body.py
  cfgov/v1/models/home_page.py
Due: backend

Home page: move D&I link to footer
  cfgov/jinja2/v1/_includes/organisms/footer.html
  cfgov/unprocessed/apps/homepage/img/diversity-inclusion.jpg
  cfgov/v1/jinja2/v1/home_page/_hardcoded_en.html
  cfgov/v1/jinja2/v1/home_page/_hardcoded_es.html
  cfgov/v1/jinja2/v1/home_page/home_page_2021.html
Due: none

Highlight cards: make body optional (#6860)
  cfgov/jinja2/v1/_includes/molecules/card.html
  cfgov/jinja2/v1/_includes/organisms/card-group.html
  cfgov/v1/migrations/0278_card_optional_body.py
  cfgov/v1/models/home_page.py
Due: backend

Removes unneeded external site gulp task (#6851)
  cfgov/jinja2/v1/external-site/index.html
  cfgov/unprocessed/js/routes/external-site.js
  cfgov/unprocessed/js/routes/external-site/index.js
  config/webpack-config.js
  gulp/tasks/scripts.js
  test/unit_tests/js/modules/ExternalSite-spec.js
Due: frontend

Deployed b9e65a5 with MkDocs version: 1.2.3
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Move D&I link to the second column
  cfgov/jinja2/v1/_includes/organisms/footer.html
Due: none

Added Health Check Endpoint with DB health check
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  requirements/libraries.txt
Due: backend

Switch liveness and readiness probe to health check endpoint
  helm/cfgov/templates/deployment.yaml
Due: none

Use health check endpoint for HEALTHCHECK
  Dockerfile
Due: none

Home page: move Diversity and Inclusion link to footer (#6861)
  cfgov/jinja2/v1/_includes/organisms/footer.html
  cfgov/unprocessed/apps/homepage/img/diversity-inclusion.jpg
  cfgov/v1/jinja2/v1/home_page/_hardcoded_en.html
  cfgov/v1/jinja2/v1/home_page/_hardcoded_es.html
  cfgov/v1/jinja2/v1/home_page/home_page_2021.html
Due: none

Link "all money topics" to /consumer-tools/
  cfgov/v1/jinja2/v1/home_page/_hardcoded_en.html
Due: none

Add hardcoded home page 2022 content
  cfgov/cfgov/settings/base.py
  cfgov/unprocessed/apps/homepage/img/hero.jpg
  cfgov/v1/jinja2/v1/home_page/_hardcoded_en.html
  cfgov/v1/jinja2/v1/home_page/home_page_2021.html
  cfgov/v1/models/home_page.py
Due: backend

Add temporary "putting green" inkwell for testing
  cfgov/v1/jinja2/v1/home_page/home_page_2021.html
Due: none

Bump the ES_JAVA_OPTS config to 512m
  docker-compose.yml
Due: none

Bump the ES_JAVA_OPTS config to 512m (#6864)
  docker-compose.yml
Due: none

Deployed 13af68a with MkDocs version: 1.2.3
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

WIP
  cfgov/unprocessed/js/molecules/GlobalSearch.js
  cfgov/unprocessed/js/organisms/Header.js
Due: frontend

Show eyebrow tagline on mobile & hide the mobile megamenu tagline (#6857)
  cfgov/unprocessed/css/molecules/global-eyebrow.less
  cfgov/unprocessed/css/organisms/header.less
Due: none

Deployed 63f037e with MkDocs version: 1.2.3
  index.html
  sitemap.xml.gz
Due: none

Direct CCDB landing page to Wagtail
  cfgov/cfgov/urls.py
  test/cypress/integration/data-research/consumer-complaints/consumer-complaints-helpers.js
  test/cypress/integration/data-research/consumer-complaints/consumer-complaints.js
Due: backend

Remove outdated unit tests
  cfgov/legacy/tests/views/test_complaint.py
Due: backend

Fix lint errors
  cfgov/legacy/tests/views/test_complaint.py
Due: backend

added code to automate page creation
  cfgov/v1/tests/wagtail_pages/create_test_data.py
  cfgov/v1/tests/wagtail_pages/helpers.py
  cfgov/v1/tests/wagtail_pages/test_page_creation.py
Due: backend

Update inkwell heading weight
  cfgov/v1/jinja2/v1/home_page/home_page_2021.html
Due: none

Rearrange highlight cards
  cfgov/v1/jinja2/v1/home_page/_hardcoded_en.html
Due: none

Enable our jumbo 50/50 layout for hardcoded hero
  cfgov/v1/jinja2/v1/home_page/_hardcoded_en.html
Due: none

Comment out functional tests for now
  test/cypress/integration/data-research/consumer-complaints/consumer-complaints.js
Due: none

adding consummer tools tests back to the auto tests, including adding an api key to the git actions.
  .github/workflows/functional-tests.yml
  cfgov/ask_cfpb/models/pages.py
  cfgov/jinja2/v1/ask-cfpb/answer-search-results.html
  test.sql.gz
  test/cypress/integration/consumer-tools/ask-cfpb/answer-helpers.js
Due: backend

Direct CCDB landing page to Wagtail (#6865)
  cfgov/cfgov/urls.py
  cfgov/legacy/tests/views/test_complaint.py
  test/cypress/integration/data-research/consumer-complaints/consumer-complaints-helpers.js
  test/cypress/integration/data-research/consumer-complaints/consumer-complaints.js
Due: backend

Deployed 8d81279 with MkDocs version: 1.2.3
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

needed to close off the env var in the script.
  .github/workflows/functional-tests.yml
Due: none

Swap breakout card, add a11y-friendly link colors
  cfgov/unprocessed/apps/homepage/img/housing-counselor.png
  cfgov/v1/jinja2/v1/home_page/_hardcoded_en.html
  cfgov/v1/jinja2/v1/home_page/home_page_2021.html
Due: none

Switch to Python 3.8 until we are 3.9 ready
  Dockerfile
Due: none

Update for alpine image
  docs/running-docker.md
Due: none

Add SECRET_KEY for better compatibility
  docker-compose.yml
Due: none

teesting if we are grabbing the right variable
  .github/workflows/functional-tests.yml
Due: none

testing if we are grabbing the right variable
  .github/workflows/functional-tests.yml
Due: none

Update functional-tests.yml
  .github/workflows/functional-tests.yml
Due: none

Testing 3.10 for funzies
  Dockerfile
Due: none
