Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Add labels to mega menu link groups
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
Due: none

Render the logo before the search bar and call-to-action
  cfgov/jinja2/v1/_includes/organisms/header.html
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
Due: none

Rename getBreakpoint to getBreakpointState
  cfgov/unprocessed/js/modules/BreakpointHandler.js
  cfgov/unprocessed/js/modules/util/breakpoint-state.js
  docs/javascript-unit-tests.md
  test/unit_tests/js/modules/util/breakpoint-state-spec.js
Due: frontend

Mock window resizing
  test/unit_tests/js/modules/util/breakpoint-state-spec.js
Due: none

Mega menu: cleanup of obsolete code
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
  cfgov/mega_menu/blocks.py
  cfgov/mega_menu/frontend_conversion.py
  cfgov/mega_menu/migrations/0002_remove_featured_content.py
  cfgov/mega_menu/tests/test_frontend_conversion.py
Due: backend

Add aria labels to MM list groups even if no title is provided
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
Due: none

remove unused Jinja templates from MMC app
  cfgov/jinja2/v1/mmt-my-money-calendar/Landing.png
  cfgov/jinja2/v1/mmt-my-money-calendar/alert-icon.html
  cfgov/jinja2/v1/mmt-my-money-calendar/alert.html
  cfgov/jinja2/v1/mmt-my-money-calendar/breadcrumbs.html
  cfgov/jinja2/v1/mmt-my-money-calendar/budget-form.html
  cfgov/jinja2/v1/mmt-my-money-calendar/expense-input-form.html
  cfgov/jinja2/v1/mmt-my-money-calendar/featured-content.html
  cfgov/jinja2/v1/mmt-my-money-calendar/goals.html
  cfgov/jinja2/v1/mmt-my-money-calendar/goals/goal.html
  cfgov/jinja2/v1/mmt-my-money-calendar/hero.html
  cfgov/jinja2/v1/mmt-my-money-calendar/heroOLD.html
  cfgov/jinja2/v1/mmt-my-money-calendar/img/Landing.png
  cfgov/jinja2/v1/mmt-my-money-calendar/income-input-form.html
  cfgov/jinja2/v1/mmt-my-money-calendar/index.htmOLDl
  cfgov/jinja2/v1/mmt-my-money-calendar/index.html
  cfgov/jinja2/v1/mmt-my-money-calendar/indexOLD2.html
  cfgov/jinja2/v1/mmt-my-money-calendar/info-unit-group-1.html
  cfgov/jinja2/v1/mmt-my-money-calendar/info-unit-group-2.html
  cfgov/jinja2/v1/mmt-my-money-calendar/info-unit-group-3.html
  cfgov/jinja2/v1/mmt-my-money-calendar/line-item.html
  cfgov/jinja2/v1/mmt-my-money-calendar/no-js.html
  cfgov/jinja2/v1/mmt-my-money-calendar/plus-icon.html
  cfgov/jinja2/v1/mmt-my-money-calendar/side-nav.html
  cfgov/jinja2/v1/mmt-my-money-calendar/starting-balance-form.html
Due: none

Remove pinned django-modelcluster requirement
  requirements/libraries.txt
  tox.ini
Due: none

Remove API URL from settings files
  cfgov/cfgov/settings/local.py
  cfgov/cfgov/settings/production.py
Due: backend

Call Django view directly instead of over network
  cfgov/legacy/views/complaint.py
Due: backend

removal of Wagtail 1.13 from tox.ini
  tox.ini
Due: none

Mega menu: Don't show broken overview links
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
Due: none

Cleanup and extra eception handling
  cfgov/legacy/views/complaint.py
Due: backend

Unit tests for new view calling
  cfgov/legacy/tests/views/test_complaint.py
Due: backend

fix db clear callback
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/index.js
Due: frontend

Remove dev mode DB seed buttons. Console commands still available.
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/index.js
Due: frontend

Add simple stub style rule for the currently selected week row in calendar
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/calendar.less
Due: none

Remove all wagtail.VERSION checks
  cfgov/ask_cfpb/migrations/0038_recreated2.py
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/local.py
  cfgov/cfgov/settings/test.py
  cfgov/cfgov/test.py
  cfgov/cfgov/urls.py
  cfgov/form_explainer/migrations/0001_initial.py
  cfgov/jobmanager/migrations/0017_recreated.py
  cfgov/jobmanager/migrations/0018_recreated_2.py
  cfgov/mega_menu/migrations/0001_initial.py
  cfgov/mega_menu/migrations/0002_remove_featured_content.py
  cfgov/paying_for_college/migrations/0008_recreated2.py
  cfgov/paying_for_college/migrations/0009_expandable_group_help_text.py
  cfgov/regulations3k/migrations/0030_recreated2.py
  cfgov/regulations3k/tests/test_blocks.py
  cfgov/regulations3k/tests/test_models.py
  cfgov/scripts/tests/test_create_careers_pages.py
  cfgov/scripts/tests/test_export_enforcement_actions.py
  cfgov/v1/migrations/0198_recreated.py
  cfgov/v1/migrations/0200_expandable_group_help_text.py
  cfgov/v1/migrations/0206_add_enforcement_action_page.py
  cfgov/v1/tests/test_admin_views.py
  cfgov/v1/tests/test_wagtail_hooks.py
  cfgov/v1/util/wrap_password_reset.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Removal of Wagtail 1.13 from tox.ini (#5569)
  tox.ini
Due: none

Update menu hover colors
  cfgov/jinja2/v1/_includes/molecules/nav-link.html
  cfgov/unprocessed/css/molecules/nav-link.less
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

Re-order some styles
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

Fix link code
  cfgov/jinja2/v1/_includes/molecules/nav-link.html
Due: none

Update formating of hallo-wagtaillink.js line
  cfgov/v1/wagtail_hooks.py
Due: backend

Update browser testing checklist
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add blurb to docs about docker-stack.yml
  docs/running-docker.md
Due: none

Add Jenkinsfile notes; Remove unneeded timeout
  Jenkinsfile
Due: none

Add comments to Dockerfile and docker-stack.yml
  Dockerfile
  docker-stack.yml
Due: none

Lint fixes
  cfgov/legacy/tests/views/test_complaint.py
  cfgov/legacy/views/complaint.py
Due: backend

make tile clickable
  cfgov/unprocessed/apps/ccdb-landing-map/js/TileMap.js
Due: frontend

fix test
  test/unit_tests/apps/ccdb-landing-map/js/TileMap-spec.js
Due: none

Remove __future__ statements unneeded in Python 3
  cfgov/paying_for_college/models/pages.py
Due: backend

Always scan docker image
  Jenkinsfile
Due: none

Clean up and addressing PR feedback
  cfgov/legacy/views/complaint.py
Due: backend

Updating unit tests for complaints.py
  cfgov/legacy/tests/views/test_complaint.py
Due: backend

Never hide MM link group headings from screenreaders
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
Due: none
