Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Break homepage carousel to mobile design at 900px
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

refactor: Simplify the legend drawing; Let Highcharts map the colors
  cfgov/unprocessed/apps/ccdb-landing-map/css/tilemap-overrides.less
  cfgov/unprocessed/apps/ccdb-landing-map/js/TileMap.js
  cfgov/unprocessed/apps/ccdb-landing-map/js/landing-map.js
Due: frontend

bump
  requirements/libraries.txt
Due: none

remove null=True for enforcement metadata
  cfgov/v1/migrations/0201_enforcementactionpage.py
  cfgov/v1/models/learn_page.py
Due: backend

lowercase second words in metadata template
  cfgov/jinja2/v1/_includes/molecules/enforcement-action-metadata.html
Due: none

Restore 100% test coverage
  cfgov/mega_menu/management/commands/migrate_menu_content.py
  cfgov/mega_menu/tests/test_frontend_conversion.py
Due: backend

Add mobile-only sublinks to new mega menu backend
  cfgov/jinja2/v1/_includes/organisms/mega-menu-var-1.html
  cfgov/mega_menu/blocks.py
  cfgov/mega_menu/frontend_conversion.py
  cfgov/mega_menu/management/commands/migrate_menu_content.py
  cfgov/mega_menu/migrations/0002_child_links_on_mobile.py
  cfgov/mega_menu/tests/test_frontend_conversion.py
  cfgov/mega_menu/tests/test_model_admin.py
Due: backend

bump api
  requirements/libraries.txt
Due: none

refactor: Updates for Sprint Review; Remove cfpb-chart-builder styles
  cfgov/legacy/templates/complaint/complaint-landing.html
  cfgov/unprocessed/apps/ccdb-landing-map/css/main.less
  cfgov/unprocessed/apps/ccdb-landing-map/css/tilemap-overrides.less
  cfgov/unprocessed/apps/ccdb-landing-map/js/TileMap.js
Due: frontend

wip: Add the controls and placeholder text
  cfgov/legacy/templates/complaint/complaint-landing.html
  cfgov/unprocessed/apps/ccdb-landing-map/css/landing-page.less
  cfgov/unprocessed/apps/ccdb-landing-map/css/main.less
Due: none

add status definitions link and styling
  cfgov/jinja2/v1/_includes/molecules/enforcement-action-metadata.html
  cfgov/unprocessed/css/molecules/related-metadata.less
Due: none

initial transfer
  cfgov/scripts/eam.py
  cfgov/scripts/update_enforcement_metadata.py
Due: backend

inprog
  cfgov/scripts/eam.py
Due: backend

don't use kwargs
  cfgov/scripts/eam.py
Due: backend

kwargs new page
  cfgov/scripts/eam.py
Due: backend

content and variable functionality
  cfgov/scripts/eam.py
Due: backend

including missing datetime import
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/index.js
Due: frontend

Fix week row builder to avoid blank months due to the end week being less than the start week (in the case of the last week of december)
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
Due: frontend

Use more stringent check for days in current month, using ordinal instead of month day
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/day.js
Due: frontend

Fix hasSame ordinal usage
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/day.js
Due: frontend

fix selected date logic
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/day.js
Due: frontend

additional keys
  cfgov/scripts/eam.py
Due: backend

remove status definitions link top margin
  cfgov/unprocessed/css/molecules/related-metadata.less
Due: none

ccdb5-ui version bump for testing
  requirements/libraries.txt
Due: none

eslint nags
  cfgov/unprocessed/apps/ccdb-landing-map/js/landing-map.js
Due: frontend

Add recurrence rule helper functions to calendar helpers module
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
Due: frontend

update yarn version in tool-versions file
  .tool-versions
Due: none

Add delete confirmation handler to event detail rows
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/hooks.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/details.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/index.js
Due: frontend

Remove unused import and an annoying alert call
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/index.js
Due: frontend

Add bottom nav component markup
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/bottom-nav.js
Due: frontend

Add recurrence rule selection fields to event form and wire them up to state
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/forms.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/array-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/index.js
Due: frontend

use text symbol for calendar markers
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/day.js
Due: frontend

Remove duplicate Sunday in day label row, style spacing and alignment of calendar
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/calendar.less
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/index.js
Due: frontend

remove erroneous import
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
Due: frontend

Fix day label row order, style tweaks to calendar cells
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/calendar.less
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/day.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/index.js
Due: frontend

Add recurrence rule creation to new event form, make destroy method of cash flow event delete future recurrences by default
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/index.js
Due: frontend

deleting recurrences and notifying the event store to refresh state
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
Due: frontend

refactor cursor based event query methods
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/index.js
Due: frontend
