Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

add a few 16 -> 18 updates
  .nvmrc
  cfgov/unprocessed/apps/teachers-digital-platform/package.json
  docs/installation.md
Due: none

Remove bleeding option on content image
  cfgov/filing_instruction_guide/migrations/0012_remove_content_image_bleed_option.py
  cfgov/form_explainer/migrations/0007_remove_content_image_bleed_option.py
  cfgov/paying_for_college/migrations/0019_remove_content_image_bleed_option.py
  cfgov/regulations3k/migrations/0037_remove_content_image_bleed_option.py
  cfgov/v1/atomic_elements/molecules.py
  cfgov/v1/jinja2/v1/includes/molecules/content-image.html
  cfgov/v1/migrations/0237_remove_content_image_bleed_option.py
Due: backend

Remove unreferenced value rule variables | rename `has_rule` to `has_bottom_rule_line`
  cfgov/form_explainer/migrations/0007_rename_has_rule.py
  cfgov/paying_for_college/migrations/0019_rename_has_rule.py
  cfgov/regulations3k/migrations/0037_rename_has_rule.py
  cfgov/teachers_digital_platform/migrations/0006_rename_has_rule.py
  cfgov/v1/atomic_elements/molecules.py
  cfgov/v1/jinja2/v1/includes/molecules/text-introduction.html
  cfgov/v1/jinja2/v1/includes/templates/render_block.html
  cfgov/v1/migrations/0236_rename_has_rule.py
Due: backend

Squash migrations
  cfgov/ask_cfpb/migrations/0001_squashed_0047_add_use_json_field_to_streamfields.py
  cfgov/data_research/migrations/0001_squashed_0003_delete_conferenceregistration.py
  cfgov/filing_instruction_guide/migrations/0001_squashed_0011_add_use_json_field_to_streamfields.py
  cfgov/form_explainer/migrations/0001_squashed_0006_add_use_json_field_to_streamfields.py
  cfgov/jobmanager/migrations/0001_squashed_0020_hourly_salary.py
  cfgov/login/migrations/0001_add_login_models.py
  cfgov/login/migrations/0001_squashed_0003_simplify_password_logic.py
  cfgov/login/migrations/0002_populate_login_models.py
  cfgov/mega_menu/migrations/0001_squashed_0006_add_use_json_field_to_streamfields.py
  cfgov/paying_for_college/migrations/0001_squashed_0018_add_use_json_field_to_streamfields.py
  cfgov/regulations3k/migrations/0001_squashed_0036_add_use_json_field_to_streamfields.py
  cfgov/teachers_digital_platform/migrations/0001_squashed_0005_add_use_json_field_to_streamfields.py
  cfgov/v1/migrations/0001_squashed_0235_add_use_json_field_to_streamfields.py
  cfgov/v1/migrations/0200_related_posts_tag_filtering.py
Due: backend

Remove unused `has_top_border` and `has_bottom_border`
  cfgov/v1/jinja2/v1/includes/templates/render_block.html
Due: none

Check for hidden attribute instead of class in regs3k
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
Due: frontend

Deployed b1d10c5 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed f1e3bdb with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Fix expandable group code comment
  cfgov/v1/jinja2/v1/includes/organisms/expandable-group.html
Due: none

Deployed f175c4e with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed 05f8fa3 with MkDocs version: 1.3.0
  atomic-structure/index.html
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Deployed 88f64fa with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

-Miscellaneous fixes
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/financial-item-flyout.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/financial-item.less
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/CostsGroup.js
Due: frontend

-Remove redundant js-hook references
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/financial-item-flyout.html
Due: none

Collapse CaseDocketTable events by default
  cfgov/v1/atomic_elements/tables.py
  cfgov/v1/migrations/0238_collapse_oaa_table.py
Due: backend

Fix paths filtering
  .github/workflows/backend.yml
  .github/workflows/filter-backend.yml
  .github/workflows/filter-frontend.yml
  .github/workflows/frontend.yml
Due: none

Deployed f165068 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 13e588b with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Remove `u-centered-on-mobile` from code comment
  cfgov/unprocessed/css/organisms/sidebar-breakout.less
Due: none

Deployed 20a967d with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Upload built frontend artifact
  .github/workflows/frontend.yml
Due: none

tag artifact with sha
  .github/workflows/frontend.yml
Due: none

name artifact correctly
  .github/workflows/frontend.yml
Due: none

prefix sha
  .github/workflows/frontend.yml
Due: none

Update wagtail-sharing to 2.9
  requirements/libraries.txt
Due: none

temporarily disable filter
  .github/workflows/frontend.yml
Due: none

Deployed 25b5dac with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 1bc554a with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Only clean up artifacts in the wee hours of the weekend
  .github/workflows/artifact_cleanup.yml
Due: none

Create dedicated SecondaryNav component
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/layout-fig.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/secondary-nav.html
  cfgov/regulations3k/jinja2/regulations3k/regulations3k-secondary-nav.html
  cfgov/regulations3k/jinja2/regulations3k/regulations3k-side-nav.html
  cfgov/unprocessed/apps/filing-instruction-guide/css/main.less
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-sidenav-utils.js
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-sidenav.js
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/nav.less
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/views/navigation-view.js
  cfgov/unprocessed/apps/regulations3k/css/reg-navigation.less
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/molecules/nav-link.less
  cfgov/unprocessed/css/organisms/secondary-nav.less
  cfgov/unprocessed/css/organisms/secondary-navigation.less
  cfgov/unprocessed/js/organisms/SecondaryNav.js
  cfgov/unprocessed/js/routes/on-demand/secondary-nav.js
  cfgov/unprocessed/js/routes/on-demand/secondary-navigation.js
  cfgov/v1/jinja2/v1/includes/molecules/nav-link.html
  cfgov/v1/jinja2/v1/includes/organisms/secondary-nav-fig.html
  cfgov/v1/jinja2/v1/includes/organisms/secondary-nav.html
  cfgov/v1/jinja2/v1/includes/organisms/secondary-navigation.html
  cfgov/v1/jinja2/v1/layouts/layout-side-nav.html
  cfgov/v1/locale/ar/LC_MESSAGES/django.po
  cfgov/v1/locale/es/LC_MESSAGES/django.po
  cfgov/v1/locale/ht/LC_MESSAGES/django.po
  cfgov/v1/locale/ko/LC_MESSAGES/django.po
  cfgov/v1/locale/ru/LC_MESSAGES/django.po
  cfgov/v1/locale/tl/LC_MESSAGES/django.po
  cfgov/v1/locale/vi/LC_MESSAGES/django.po
  cfgov/v1/locale/zh_Hant/LC_MESSAGES/django.po
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide-helpers.cy.js
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide.cy.js
  test/unit_tests/apps/filing-instruction-guide/fixtures/sample-fig-page.js
  test/unit_tests/apps/filing-instruction-guide/js/fig-sidenav-utils-spec.js
Due: frontend

Deprecate unused fields from AbstractFilterPage
  cfgov/v1/migrations/0239_field_cleanup.py
  cfgov/v1/models/base.py
  cfgov/v1/models/enforcement_action_page.py
  cfgov/v1/models/learn_page.py
Due: backend

Remove artifact_cleanup, set retention limit to 14 days
  .github/workflows/artifact_cleanup.yml
Due: none

Deployed 379f9dd with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 369b86c with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Add aria text to offical gov't tagline
  cfgov/v1/jinja2/v1/includes/atoms/tagline.html
Due: none

Remove Ask-specific redirects, modify Ask fields
  cfgov/ask_cfpb/documents.py
  cfgov/ask_cfpb/migrations/0002_remove_answerpage_redirect_to_page.py
  cfgov/ask_cfpb/models/answer_page.py
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/ask_cfpb/tests/test_views.py
  cfgov/ask_cfpb/views.py
  cfgov/v1/migrations/0240_alter_cfgovcontentowner_slug.py
  cfgov/v1/templates/v1/ask_report.html
  cfgov/v1/views/reports.py
Due: backend

Fixes based on @chosak feedback
  cfgov/ask_cfpb/documents.py
  cfgov/ask_cfpb/models/answer_page.py
Due: backend

Delete 0240_alter_cfgovcontentowner_slug.py
  cfgov/v1/migrations/0240_alter_cfgovcontentowner_slug.py
Due: backend

Properly remove share and print
  cfgov/ask_cfpb/jinja2/ask-cfpb/answer-page.html
  cfgov/ask_cfpb/migrations/0003_remove_answerpage_share_and_print.py
  cfgov/ask_cfpb/models/answer_page.py
Due: backend
