Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Fix relative_url call
  cfgov/archival/wagtail_hooks.py
Due: backend

Remove migration gating
  cfgov/archival/tests/test_utils.py
  cfgov/archival/utils.py
Due: backend

Provide the user with an error if import fails
  cfgov/archival/tests/test_views.py
  cfgov/archival/views.py
Due: backend

Add Apache configuration to serve archive path
  cfgov/apache/conf.d/deleted.conf.sample
Due: none

Make EmailSignUp disclaimer_page null on deletion
  cfgov/v1/migrations/0037_emailsignup_disclaimer_page_set_null.py
  cfgov/v1/models/snippets.py
Due: backend

Use `page.relative_url`
  cfgov/archival/wagtail_hooks.py
Due: backend

Rename archival to wagtail_deletion_archival
  .env_SAMPLE
  cfgov/apache/conf.d/wagtail_deletion.conf.sample
  cfgov/archival/apps.py
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/test.py
  cfgov/wagtail_deletion_archival/__init__.py
  cfgov/wagtail_deletion_archival/apps.py
  cfgov/wagtail_deletion_archival/forms.py
  cfgov/wagtail_deletion_archival/templates/wagtail_deletion_archival/import_page.html
  cfgov/wagtail_deletion_archival/tests/__init__.py
  cfgov/wagtail_deletion_archival/tests/test_utils.py
  cfgov/wagtail_deletion_archival/tests/test_views.py
  cfgov/wagtail_deletion_archival/tests/test_wagtail_hooks.py
  cfgov/wagtail_deletion_archival/utils.py
  cfgov/wagtail_deletion_archival/views.py
  cfgov/wagtail_deletion_archival/wagtail_hooks.py
Due: backend

Renumber v1 migration
  cfgov/v1/migrations/0038_emailsignup_disclaimer_page_set_null.py
Due: backend

Use Django storage for Wagtail deletion archive
  cfgov/apache/conf.d/wagtail_deletion.conf.sample
  cfgov/cfgov/settings/base.py
  cfgov/wagtail_deletion_archival/apps.py
  cfgov/wagtail_deletion_archival/templates/wagtail_deletion_archival/import_page.html
  cfgov/wagtail_deletion_archival/utils.py
  cfgov/wagtail_deletion_archival/views.py
  cfgov/wagtail_deletion_archival/wagtail_hooks.py
  requirements/libraries.txt
Due: backend

Fix production staticfiles storage
  cfgov/cfgov/settings/production.py
Due: backend

Add tests, and a few minor fixups
  .env_SAMPLE
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/test.py
  cfgov/wagtail_deletion_archival/templates/wagtail_deletion_archival/import_page.html
  cfgov/wagtail_deletion_archival/tests/temp_storage.py
  cfgov/wagtail_deletion_archival/tests/test_utils.py
  cfgov/wagtail_deletion_archival/tests/test_views.py
  cfgov/wagtail_deletion_archival/tests/test_wagtail_hooks.py
  cfgov/wagtail_deletion_archival/utils.py
  cfgov/wagtail_deletion_archival/views.py
  cfgov/wagtail_deletion_archival/wagtail_hooks.py
Due: backend

Suggested removals
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/test.py
Due: backend

Deployed 0f901d6 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Remove references to the Trash
  cfgov/teachers_digital_platform/models/pages.py
  cfgov/teachers_digital_platform/tests/models/test_activity_index_page.py
  cfgov/v1/models/filterable_page.py
Due: backend

Deployed 86b3c3e with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Remove tox envdir configuration broken in tox 4
  tox.ini
Due: none

Deployed 121fa59 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed ec9f3d4 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Add wagtail hook to create menu items for each other translation of the given page
  cfgov/v1/wagtail_hooks.py
Due: backend

Ignore key errors when page isn't in context
  cfgov/v1/wagtail_hooks.py
Due: backend

Updating migration
  cfgov/v1/migrations/0039_remove_post_event_image.py
Due: backend

Deployed 596ba96 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Remove population note and add ability to override dataClasses for tilemap
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-chart.js
Due: frontend

Deployed ebdd13e with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Rename `o-table-wrapper--scrolling` to `o-table--scrolling`
  cfgov/jinja2/rural-or-underserved/index.html
  cfgov/regulations3k/parser/regtable.py
  cfgov/unprocessed/apps/rural-or-underserved-tool/css/main.scss
Due: backend

Replace jQuery in Retirement app - Add dollar-sign.js - Change some event handlers in retirement
  cfgov/unprocessed/apps/analytics-gtm/js/retirement-before-you-claim-listeners.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/index.js
  cfgov/unprocessed/apps/retirement/js/utils/is-element-in-view.js
  cfgov/unprocessed/apps/retirement/js/views/graph-view.js
  cfgov/unprocessed/apps/retirement/js/views/next-steps-view.js
  cfgov/unprocessed/apps/retirement/js/views/questions-view.js
  cfgov/unprocessed/apps/retirement/js/views/tooltips-view.js
  cfgov/unprocessed/js/modules/util/dollar-sign.js
Due: frontend

Update to DS@3.2.3
  npm-packages-offline-cache/@cfpb-cfpb-design-system-3.2.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-design-system-3.2.3.tgz
  package.json
  yarn.lock
Due: none

Rewrite retirement visibility checks
  cfgov/unprocessed/apps/retirement/js/views/graph-view.js
  cfgov/unprocessed/apps/retirement/js/views/tooltips-view.js
Due: frontend

Remove `yarn scripts`, `yarn styles`, `yarn copy` tasks
  docs/running-virtualenv.md
  esbuild/build.js
  package.json
Due: none

Deployed 2efe7ad with MkDocs version: 1.5.3
  index.html
  running-virtualenv/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

- Fix incorrect selector
  cfgov/unprocessed/apps/retirement/js/views/graph-view.js
Due: frontend

Add language links to three dots menu in header
  cfgov/v1/wagtail_hooks.py
Due: backend

Update wagtail-footnotes to 0.13.0
  requirements/libraries.txt
Due: none

Fix SIM115 by using a context manager
  cfgov/v1/tests/management/commands/test_publish_pages.py
Due: backend

Deployed 9bf0093 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none
