Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

trying to get the mortgage map and chart data to be feed as json fixtures instead of api calls.
  test/cypress/fixtures/chart_data.json
  test/cypress/fixtures/map-data.json
  test/cypress/integration/data-research/mortgage-performance-trends/mortgage-performance-trends-helpers.js
Due: none

Add documents report (#6900)
  cfgov/v1/templates/v1/documents_report.html
  cfgov/v1/tests/views/test_metadata_report_view.py
  cfgov/v1/tests/views/test_reports_view.py
  cfgov/v1/views/reports.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Deployed 7f67123 with MkDocs version: 1.2.3
  index.html
  sitemap.xml.gz
Due: none

adding Dockerfile and related conf files to the list of triggeers for both backend and front end tests.
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Add "content owner" field and export capability
  cfgov/v1/migrations/0280_content_owners.py
  cfgov/v1/models/base.py
  cfgov/v1/models/learn_page.py
  cfgov/v1/templates/v1/_list_page_metadata.html
  cfgov/v1/views/reports.py
Due: backend

add ccdb-ui built resources
  cfgov/unprocessed/apps/ccdb-search/npm-packages-offline-cache/615f1071b14b09b1e4e2dee2251c5d2cc4daaa74
  cfgov/unprocessed/apps/ccdb-search/npm-packages-offline-cache/@cfpb-ccdb5-ui-2.4.8.tgz
  cfgov/unprocessed/apps/ccdb-search/package.json
  cfgov/unprocessed/apps/ccdb-search/yarn.lock
Due: none

New favicon set for 2022
  cfgov/jinja2/v1/_layouts/base.html
  cfgov/unprocessed/root/android-chrome-192x192.png
  cfgov/unprocessed/root/android-chrome-512x512.png
  cfgov/unprocessed/root/apple-touch-icon.png
  cfgov/unprocessed/root/favicon.ico
  cfgov/unprocessed/root/icon.svg
  cfgov/unprocessed/root/site.webmanifest
Due: none

Added site name
  cfgov/unprocessed/root/site.webmanifest
Due: none

Add validation to live streaming fields
  cfgov/v1/models/learn_page.py
  cfgov/v1/tests/models/test_event_page.py
Due: backend

More accurate error message
  cfgov/v1/models/learn_page.py
  cfgov/v1/tests/models/test_event_page.py
Due: backend

Fix lint errors
  cfgov/v1/models/base.py
  cfgov/v1/models/learn_page.py
  cfgov/v1/views/reports.py
Due: backend

Migration file modifications
  cfgov/v1/migrations/0280_content_owners.py
Due: backend

Update the header state for the overlay
  cfgov/unprocessed/js/molecules/GlobalSearch.js
  cfgov/unprocessed/js/organisms/Header.js
Due: frontend

Fix linter error
  cfgov/unprocessed/js/organisms/Header.js
Due: frontend

Dockerfile test.
  docker/deployable-zipfile/Dockerfile
Due: none

need *s in path to dockerfile.
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

dockerfile test.
  docker/deployable-zipfile/Dockerfile
Due: none

reverting the change, next is conf file.
  docker/deployable-zipfile/Dockerfile
Due: none

conf file test
  cfgov/apache/conf.d/wsgi.conf
Due: none

bad conf file test.
  cfgov/apache/conf.d/wsgi.conf
Due: none

bad conf file test 2.
  cfgov/apache/conf.d/wsgi.conf
Due: none

bad Dockeer file test 1.
  Dockerfile
Due: none

break all the docker files.
  docker/deployable-zipfile/Dockerfile
  docker/docs/Dockerfile
  docker/elasticsearch/Dockerfile
Due: none

New favicon set for 2022 (#6904)
  cfgov/jinja2/v1/_layouts/base.html
  cfgov/unprocessed/root/android-chrome-192x192.png
  cfgov/unprocessed/root/android-chrome-512x512.png
  cfgov/unprocessed/root/apple-touch-icon.png
  cfgov/unprocessed/root/favicon.ico
  cfgov/unprocessed/root/icon.svg
  cfgov/unprocessed/root/site.webmanifest
Due: none

Deployed dffc07a with MkDocs version: 1.2.3
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Remove live video id requirement, video start date defaults to event start
  cfgov/v1/models/learn_page.py
  cfgov/v1/tests/models/test_event_page.py
Due: backend

Update the header state for handling overlay show/hide logic (#6907)
  cfgov/unprocessed/js/organisms/Header.js
Due: frontend

Make apache /f/ rewriting more accurate
  cfgov/apache/conf.d/uploads.conf
Due: none

Add validation to live streaming fields (#6905)
  cfgov/v1/models/learn_page.py
  cfgov/v1/tests/models/test_event_page.py
Due: backend

Deployed ddf439a with MkDocs version: 1.2.3
  index.html
  sitemap.xml.gz
Due: none

Make apache /f/ rewriting more accurate (#6908)
  cfgov/apache/conf.d/uploads.conf
Due: none

Deployed a562242 with MkDocs version: 1.2.3
  index.html
  sitemap.xml.gz
Due: none

Build Docker image in GitHub Actions
  .github/workflows/backend.yml
Due: none

fix indentation
  .github/workflows/backend.yml
Due: none

fix typo
  .github/workflows/backend.yml
Due: none

Tickle Dockerfile
  Dockerfile
Due: none

saving the dockerfile filter for when we have a github build test.
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  cfgov/apache/conf.d/wsgi.conf
  docker/deployable-zipfile/Dockerfile
  docker/docs/Dockerfile
  docker/elasticsearch/Dockerfile
Due: none

shell file test.
  frontend.sh
Due: none

trying fileters on shell files
  .github/workflows/frontend.yml
Due: none
