Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update OMWI outage banner (#5495)
  cfgov/jinja2/v1/_includes/organisms/omwi-salesforce-outage-banner.html
Due: none

Use wagtail.contrib.frontend_cache module path to be compatible with Wagtail 2.3
  cfgov/core/testutils/mock_cache_backend.py
  cfgov/regulations3k/models/django.py
  cfgov/v1/admin_views.py
  cfgov/v1/management/commands/invalidate_page.py
  cfgov/v1/models/caching.py
Due: backend

Update comparisontool to 1.13.1
  requirements/libraries.txt
Due: none

Update comparisontool to 1.13.1 (#5496)
  requirements/libraries.txt
Due: none

Fix ImportError: cannot import name DbWhitelister
  cfgov/v1/atomic_elements/organisms.py
Due: backend

Add support for Wagtail 2.3 to regulations3k blocks
  cfgov/regulations3k/blocks.py
Due: backend

Add support for Wagtail 2.3 to test_data.py
  cfgov/scripts/test_data.py
Due: backend

Use wagtail.contrib.styleguide module path to be compatible with Wagtail 2.3
  cfgov/cfgov/settings/local.py
Due: backend

Update module paths in INSTALLED_APPS and MIDDLEWARE_CLASSES to be compatible with Wagtail 2.3
  cfgov/cfgov/settings/base.py
Due: backend

Update module paths in WAGTAILADMIN_RICH_TEXT_EDITORS to be compatible with Wagtail 2.3
  cfgov/cfgov/settings/test.py
Due: backend

Update module paths in migration_methods to be compatible with Wagtail 2.3
  cfgov/cfgov/test.py
Due: backend

Update wagtail comment in v1/models/images.py
  cfgov/v1/models/images.py
Due: backend

Fix spacing, line too long and indentation errors
  cfgov/cfgov/test.py
  cfgov/core/testutils/mock_cache_backend.py
  cfgov/paying_for_college/blocks.py
  cfgov/v1/admin_views.py
  cfgov/v1/models/portal_topics.py
  cfgov/youth_employment/blocks.py
Due: backend

enforcement action page
  cfgov/jinja2/v1/_includes/molecules/enforcement-action-metadata.html
  cfgov/jinja2/v1/enforcement-action/index.html
  cfgov/v1/migrations/0201_enforcementactionpage.py
  cfgov/v1/models/learn_page.py
Due: backend

Add scroll to top component and hook function, implement in home view to restore scroll on navigation
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/scroll-to-top.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/home/index.js
Due: frontend

Add mobx-utils for memoized computed functions, add getBalanceForDate method to cash flow store
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/calendar-header.png
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/currency-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/seed-data.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: frontend

add currency helpers module with string formatter
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/currency-helpers.js
Due: frontend

Add actions to load cash flow events from db into mobx store, as well as one to destroy them
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
Due: frontend

Fix random date generation on seed data script
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/seed-data.js
Due: frontend

Add setter for cash flow event recurrence rules
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
Due: frontend

Move seed data and window globals into a conditional checking for development env setting
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/seed-data.js
Due: frontend

Add calendar view and supporting code
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/calendar.less
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/main.less
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/routes.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/day.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/week-row.js
Due: frontend

Add simple responsive breakpoint to calendar day boxes, fix balance calculations for each day
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/calendar.less
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/day.js
Due: frontend

add styles for pos/neg balances and month nav buttons
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/calendar.less
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index.js
Due: frontend

Add buttons to calendar for seeding and clearing the database
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/array-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/hooks.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/day.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/details.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/home/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: frontend

add today button to jump back to current date
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index.js
Due: frontend

add handlers and styles for selecting a date on the calendar
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/calendar.less
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/day.js
Due: frontend

Replace balances on calendar squares with symbols for transactions
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/calendar.less
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/day.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/details.js
Due: frontend

Add lodash modularization plugin, make everything use same version of lodash, output stats JSON when analysis is requested on the bundle
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/webpack-config.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: frontend

Add a bunch of additional indices on events IDB store, increment DB version
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/calendar.less
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/database.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/routes.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/seed-data.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/root-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/day.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/details.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/week-row.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/wizard/steps/starting-balance.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: frontend

Add Formik and create text field component
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/forms.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/currency-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/routes.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/day.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/details.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/home/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/webpack-config.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: frontend

Add categories for cash flow events
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/day.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/index.js
Due: frontend

Remove unused event handler from cash flow store
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
Due: frontend

Wire up the submit, casting, and validation functionality of the event data entry form
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/forms.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/index.js
Due: frontend

Create button link component, add New Event button to calendar view
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/button.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/day.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/index.js
Due: frontend

Add Wagtail 2.3 support to migrations
  cfgov/ask_cfpb/migrations/0038_recreated2.py
  cfgov/jobmanager/migrations/0017_recreated.py
  cfgov/jobmanager/migrations/0018_recreated_2.py
  cfgov/mega_menu/migrations/0001_initial.py
  cfgov/regulations3k/migrations/0030_recreated2.py
  cfgov/v1/migrations/0198_recreated.py
  cfgov/v1/migrations/0200_expandable_group_help_text.py
Due: backend

Add Wagtail 2.3 support to paying_for_college migrations
  cfgov/paying_for_college/migrations/0008_recreated2.py
  cfgov/paying_for_college/migrations/0009_expandable_group_help_text.py
Due: backend

Disable Codecov comments
  codecov.yml
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
