Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

move category_slug position
  cfgov/ask_cfpb/models/pages.py
  cfgov/jinja2/v1/ask-cfpb/see-all.html
Due: backend

Increase timeout for Deploy Stack stage to 30 minutes
  Jenkinsfile
Due: none

test files for mmt ServiceWorkerView
  cfgov/mmt_my_money_calendar/tests/__init__.py
  cfgov/mmt_my_money_calendar/tests/test_views.py
Due: backend

fix lint formating
  cfgov/mmt_my_money_calendar/tests/test_views.py
Due: backend

Replace hard-coded category slug with variable
  cfgov/jinja2/v1/ask-cfpb/see-all.html
Due: none

fix client url
  cfgov/mmt_my_money_calendar/tests/test_views.py
Due: backend

Update Wagtail screenshots
  docs/feature-flags.md
  docs/img/export-feedback.png
  docs/img/flag_conditions.gif
  docs/img/flag_details.png
  docs/img/flags_list.png
  docs/img/image00.png
  docs/img/image02.png
  docs/img/mega-menu/block-draft-state.png
  docs/img/mega-menu/column-title.png
  docs/img/mega-menu/draft-footer-block.png
  docs/img/mega-menu/featured-image-item-admin.png
  docs/img/mega-menu/featured-image-item.png
  docs/img/mega-menu/general-information.png
  docs/img/mega-menu/link-draft-state.png
  docs/img/mega-menu/mega-menu-access.png
  docs/img/mega-menu/mega-menu-columns.png
  docs/img/mega-menu/mega-menu.png
  docs/img/mega-menu/menu-items-group.png
  docs/img/mega-menu/nav-footer.png
  docs/img/mega-menu/secondary-nav.png
  docs/img/mega-menu/two-footer-blocks.png
  docs/img/related-content-module.png
  docs/img/settings_flags.gif
  docs/img/wagtail-language.png
Due: none

Remove unused fieldGroups
  cfgov/unprocessed/js/modules/util/FormModel.js
  test/unit_tests/js/modules/util/FormModel-spec.js
Due: frontend

add content type check
  cfgov/mmt_my_money_calendar/tests/test_views.py
Due: backend

Add cypress tests for table functionality
  cfgov/unprocessed/js/admin/table-block.js
  test/cypress/integration/pages/admin.js
  test/cypress/pages/admin/admin.js
Due: frontend

fixes based on pr
  .eslintrc
  cfgov/templates/wagtailadmin/css/table-block.css
  cfgov/unprocessed/js/admin/table-block.js
  gulp/tasks/scripts.js
Due: frontend

Add missing `key-terms` slug to DefinedTerm URL tag (#6000)
  cfgov/ask_cfpb/models/pages.py
  cfgov/jinja2/v1/ask-cfpb/see-all.html
Due: backend

Deployed d797a19 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

formatting changes
  cfgov/unprocessed/js/admin/table-block.js
Due: frontend

comment
  cfgov/unprocessed/js/admin/table-block.js
Due: frontend

replaced double-quotes with single
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/routes.js
Due: frontend

updated mmt flag
  cfgov/mmt_my_money_calendar/tests/test_views.py
Due: backend

updated status code
  cfgov/mmt_my_money_calendar/tests/test_views.py
Due: backend

remove failed test
  cfgov/mmt_my_money_calendar/tests/test_views.py
Due: backend

took out more quotes
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/routes.js
Due: frontend

updates based on pr comments
  cfgov/v1/wagtail_hooks.py
Due: backend

found one more quote
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/routes.js
Due: frontend

removed trailing comma
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/seed-data.js
Due: frontend

Update Wagtail screenshots (#6003)
  docs/feature-flags.md
  docs/img/export-feedback.png
  docs/img/flag_conditions.gif
  docs/img/flag_details.png
  docs/img/flags_list.png
  docs/img/image00.png
  docs/img/image02.png
  docs/img/mega-menu/block-draft-state.png
  docs/img/mega-menu/column-title.png
  docs/img/mega-menu/draft-footer-block.png
  docs/img/mega-menu/featured-image-item-admin.png
  docs/img/mega-menu/featured-image-item.png
  docs/img/mega-menu/general-information.png
  docs/img/mega-menu/link-draft-state.png
  docs/img/mega-menu/mega-menu-access.png
  docs/img/mega-menu/mega-menu-columns.png
  docs/img/mega-menu/mega-menu.png
  docs/img/mega-menu/menu-items-group.png
  docs/img/mega-menu/nav-footer.png
  docs/img/mega-menu/secondary-nav.png
  docs/img/mega-menu/two-footer-blocks.png
  docs/img/related-content-module.png
  docs/img/settings_flags.gif
  docs/img/wagtail-language.png
Due: none

Deployed 41faf58 with MkDocs version: 1.0.4
  feature-flags/index.html
  img/export-feedback.png
  img/flag_conditions.gif
  img/flag_details.png
  img/flags_list.png
  img/image00.png
  img/image02.png
  img/mega-menu/block-draft-state.png
  img/mega-menu/column-title.png
  img/mega-menu/draft-footer-block.png
  img/mega-menu/featured-image-item-admin.png
  img/mega-menu/featured-image-item.png
  img/mega-menu/general-information.png
  img/mega-menu/link-draft-state.png
  img/mega-menu/mega-menu-access.png
  img/mega-menu/mega-menu-columns.png
  img/mega-menu/mega-menu.png
  img/mega-menu/menu-items-group.png
  img/mega-menu/nav-footer.png
  img/mega-menu/secondary-nav.png
  img/mega-menu/two-footer-blocks.png
  img/related-content-module.png
  img/settings_flags.gif
  img/wagtail-language.png
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

removed one more comma
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/seed-data.js
Due: frontend

removed more trailing commas
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/seed-data.js
Due: frontend

remove unused import
  cfgov/v1/wagtail_hooks.py
Due: backend

fixed commas, apostrophes, single-variable parentheses
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/bottom-nav.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/button.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/card.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/forms.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/modal-dialog.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/narrative-notification.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/notification.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/slide-list.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/array-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/currency-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/hooks.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/narrative-copy.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/number-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/object-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/seed-data.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/sw.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/category-browser.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/form.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/day.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/details.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/home/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/money-on-hand/balance-form.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/money-on-hand/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/money-on-hand/sources.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/money-on-hand/start.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/money-on-hand/summary.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/more/export.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/more/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/strategies/fix-it/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/strategies/index.js
Due: frontend

Shave 2px from mega-menu content-1-links and adjust carats accordingly. This is to accommodate slightly longer titles in the m-m reorg
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

linting
  cfgov/v1/wagtail_hooks.py
Due: backend

Add about us and events to footer; remove newsroom
  cfgov/jinja2/v1/_includes/organisms/footer.html
Due: none

bottom-nav and sw
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/bottom-nav.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/sw.js
Due: frontend

bottom-nav.js again
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/bottom-nav.js
Due: frontend

forms, hero, narrative-notification
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/forms.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/hero.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/narrative-notification.js
Due: frontend

narrative-notification, slide-list array-helpers, calendar-helpers
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/narrative-notification.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/slide-list.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/array-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
Due: frontend

slide-list, index, calendar-helpers, database, seed-data
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/slide-list.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/database.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/seed-data.js
Due: frontend

hooks, logger, object-helpers, balance-form, sources, summary
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/hooks.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/logger.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/object-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/money-on-hand/balance-form.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/money-on-hand/sources.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/money-on-hand/summary.js
Due: frontend

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
