Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Deployed 7fded72 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Scoring update for ES
  cfgov/teachers_digital_platform/survey-data/3-5.csv
Due: none

Error notification at top
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/initials.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/survey-page.js
Due: frontend

Move content, change lanes
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey-results.less
Due: none

Make question pagination and headings match wireframes
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/3-5/before-page-1.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/3-5/before-page-2.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/3-5/before-page-3.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/3-5/before-page-4.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/3-5/before-page-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/6-8/before-page-2.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/6-8/before-page-3.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/6-8/before-page-4.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/6-8/before-page-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-2.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-3.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-4.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-6.html
  cfgov/teachers_digital_platform/survey-data/3-5-meta.json
  cfgov/teachers_digital_platform/survey-data/3-5.csv
  cfgov/teachers_digital_platform/survey-data/6-8.csv
  cfgov/teachers_digital_platform/survey-data/9-12.csv
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/3-5-before-19.html
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/ProgressBar.js
Due: frontend

Space between options
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
Due: none

Lint fixes
  cfgov/teachers_digital_platform/tests/test_UrlEncoder.py
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/ChoiceField.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/ProgressBar.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/survey-page.js
Due: backend, frontend

More lint fixes
  cfgov/teachers_digital_platform/UrlEncoder.py
  cfgov/teachers_digital_platform/views.py
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/ChoiceField.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/survey-page.js
Due: backend, frontend

More lint fixes
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/survey-page.js
Due: frontend

Update TYS relief stats
  cfgov/jinja2/v1/your-story/index.html
Due: none

More lint fixes
  cfgov/teachers_digital_platform/UrlEncoder.py
  cfgov/teachers_digital_platform/views.py
Due: backend

Replace start over inline confirm with modal
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/modals/restart.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/organisms/modals.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey-results.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/modals.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/survey-page.js
Due: frontend

Add mobile styles for survey quesitons
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
Due: none

Deployed f5f923b with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Overhaul UX in the share/print modals
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/modals/print.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/modals/share-url.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey-results.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/result-page.js
Due: frontend

refactor css to svg for printing
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey-results.less
Due: none

Can start over from the Results page
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
Due: none

Fix linting: callback-return
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/result-page.js
Due: frontend

Lint fix from lint fix
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/result-page.js
Due: frontend

Finally please the linter
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/result-page.js
Due: frontend

Added initials match final design
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
Due: none

Add ES results content
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
Due: none

Clear session on entry to the grade-level page
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/grade-level-page.js
Due: frontend

Mega Menu: add tabindex and aria behavior for tabbing/voiceover of off-screen content on mobile (#6568)
  cfgov/unprocessed/js/modules/behavior/FlyoutMenu.js
  cfgov/unprocessed/js/organisms/MegaMenuMobile.js
  test/cypress/components/mega-menu.js
  test/cypress/integration/components/mega-menu.js
  test/unit_tests/js/modules/behavior/FlyoutMenu-spec.js
Due: frontend

Deployed 621aeb1 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

ES results: overall summary in single paragraph
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
Due: none

ES results: remove download attribute
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
Due: none

MS and HS results page content
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
Due: none

sidebar mobile behavior
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
Due: none

Add new RAF struct block with optional county threshold field.
  cfgov/jinja2/v1/_includes/blocks/raf_tool.html
  cfgov/unprocessed/erap/js/main.js
  cfgov/v1/blocks.py
  cfgov/v1/migrations/0271_add_raf_tool_struct_block.py
  cfgov/v1/models/browse_page.py
Due: backend, frontend

Add data-language parameter to container element in raf tool template.
  cfgov/jinja2/v1/_includes/blocks/raf_tool.html
  cfgov/unprocessed/erap/js/main.js
Due: frontend

Fix HS results FAFSA link
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
Due: none

Fix linting error.
  cfgov/v1/blocks.py
Due: backend

-Finish yarn setup for erap app
  cfgov/unprocessed/apps/erap/.yarnrc
  cfgov/unprocessed/apps/erap/npm-packages-offline-cache/@cfpb-rental-assistance-finder-0.2.0.tgz
  cfgov/unprocessed/apps/erap/webpack-config.js
  cfgov/unprocessed/apps/erap/yarn.lock
Due: frontend

Update raft test
  cfgov/v1/tests/test_blocks.py
Due: backend

Mark survey page types by data- attributes
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-9-12.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/survey-page.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-surveys.js
Due: frontend

-Fix django test
  cfgov/v1/tests/test_blocks.py
Due: backend

fix text in results graphic
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
Due: none

WIP: RAF tool i18n and configurable county threshold (#6580)
  cfgov/jinja2/v1/_includes/blocks/raf_tool.html
  cfgov/unprocessed/apps/erap/.yarnrc
  cfgov/unprocessed/apps/erap/npm-packages-offline-cache/@cfpb-rental-assistance-finder-0.2.0.tgz
  cfgov/unprocessed/apps/erap/package.json
  cfgov/unprocessed/apps/erap/webpack-config.js
  cfgov/unprocessed/apps/erap/yarn.lock
  cfgov/unprocessed/erap/js/main.js
  cfgov/v1/blocks.py
  cfgov/v1/migrations/0271_add_raf_tool_struct_block.py
  cfgov/v1/models/browse_page.py
  cfgov/v1/tests/test_blocks.py
  gulp/tasks/copy.js
Due: backend, frontend

Deployed dae0712 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none
