Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

updating page to use metadata date
  cfgov/legacy/templates/complaint/complaint-landing.html
  cfgov/unprocessed/apps/ccdb-landing-map/js/TileMap.js
  test/unit_tests/apps/ccdb-landing-map/js/TileMap-spec.js
Due: frontend

fixing a test
  test/unit_tests/apps/ccdb-landing-map/js/TileMap-spec.js
Due: none

Clean up Wagtail < 2.9 support
  cfgov/cfgov/settings/base.py
  cfgov/teachers_digital_platform/tests/models/test_activity_index_page.py
  cfgov/v1/admin.py
  cfgov/v1/tests/test_meta_image.py
  cfgov/v1/util/util.py
Due: backend

adjust secondary ToC padding
  cfgov/unprocessed/apps/research-reports/css/main.less
Due: none

Fix F841 local variable 'my_request' is assigned to but never used
  cfgov/teachers_digital_platform/tests/models/test_activity_index_page.py
Due: backend

Style current selection as black & fix ToC alignment (#5905)
  cfgov/jinja2/v1/_includes/organisms/sidenav-toc.html
  cfgov/unprocessed/apps/research-reports/css/main.less
  cfgov/unprocessed/apps/research-reports/js/index.js
Due: frontend

Paying for College - Financial Path to Graduation bug fixes (#5909)
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/state-model.js
  cfgov/unprocessed/apps/paying-for-college/js/util/debt-calculator.js
Due: frontend

Deployed 4e9dc00 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Corrections - respond to PR feedback
  .isort.cfg
  cfgov/research_reports/management/commands/parse_research_report.py
  cfgov/research_reports/models.py
  requirements/libraries.txt
Due: backend

Update GitHub actions node to 12.x (#5789)
  .github/workflows/frontend.yml
  Dockerfile
  README.md
  cfgov/unprocessed/apps/analytics-gtm/package.json
  cfgov/unprocessed/apps/ccdb-landing-map/package.json
  cfgov/unprocessed/apps/find-a-housing-counselor/package.json
  cfgov/unprocessed/apps/form-explainer/package.json
  cfgov/unprocessed/apps/owning-a-home/package.json
  cfgov/unprocessed/apps/regulations3k/package.json
  cfgov/unprocessed/apps/rural-or-underserved-tool/package.json
  docs/index.md
  package.json
Due: none

Deployed 441c34b with MkDocs version: 1.0.4
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Turn on Wagtail 2.5's Postgres full-text search
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/tests/test-media/images/test.original.png
  cfgov/search/tests/test_views.py
Due: backend

Use the model's actual Django ContentType for baked instances in tests
  cfgov/cfgov/settings/test.py
  cfgov/core/tests/testutils/test_baker.py
  cfgov/core/testutils/baker.py
Due: backend

Make the Postgres search backend optional
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/tests/test-media/images/test.original.png
  cfgov/search/tests/test_views.py
Due: backend

Add an indexed page revision proxy model
  cfgov/v1/migrations/0227_indexedpagerevision.py
  cfgov/v1/models/__init__.py
  cfgov/v1/models/indexed_page_revision.py
Due: backend

Add a management command to search page revisions
  cfgov/v1/management/commands/search_pagerevisions.py
  cfgov/v1/tests/management/commands/test_search_pagerevisions.py
Due: backend

Deployed 2464621 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Move to generic docker label to expand jenkins agent options
  Jenkinsfile
Due: none

Move to generic docker label to expand jenkins agent options (#5914)
  Jenkinsfile
Due: none

Deployed 42aa6c8 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Clean up Wagtail < 2.9 support in cfgov-refresh #3832 (#5913)
  cfgov/cfgov/settings/base.py
  cfgov/teachers_digital_platform/tests/models/test_activity_index_page.py
  cfgov/v1/admin.py
  cfgov/v1/tests/test_meta_image.py
  cfgov/v1/util/util.py
Due: backend

Deployed 4bb1ee3 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Restore tox venv update plugin
  tox.ini
Due: none

Deployed 97525d3 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Reorder model code for better organization
  cfgov/research_reports/models.py
Due: backend

Reports as Webpages won't have sidefoot content
  cfgov/research_reports/models.py
Due: backend

Lets try breaking up the build before running it
  Dockerfile
Due: none

More concise `super` call
  cfgov/research_reports/models.py
Due: backend

Deployed fb0754f with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

default value for settings.DEPLOY_ENVIRONMENT when running locally
  cfgov/cfgov/settings/local.py
  cfgov/research_reports/models.py
Due: backend

Update help text for process_report field
  cfgov/research_reports/migrations/0003_update_process_report_help_text.py
  cfgov/research_reports/models.py
Due: backend

Refactor Build Process
  Dockerfile
Due: none

Remove comments for debugging
  Dockerfile
Due: none

Add line break
  Dockerfile
Due: none

Cleanup copy command
  Dockerfile
Due: none

Copy docker entrypoint script
  Dockerfile
Due: none

Include static.in
  Dockerfile
Due: none

Create Docker Build Stage for Front End Assets (#5919)
  Dockerfile
Due: none

Deployed 3766f1e with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Restore API Program null values
  cfgov/paying_for_college/models/disclosures.py
Due: backend
