Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Send events to both GA4 and legacy method
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
  cfgov/v1/jinja2/v1/layouts/base.html
  npm-packages-offline-cache/@cfpb-cfpb-analytics-0.2.1.tgz
  npm-packages-offline-cache/@cfpb-cfpb-analytics-0.3.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.21.9.tgz
  npm-packages-offline-cache/ftdomdelegate-3.1.0.tgz
  package.json
  yarn.lock
Due: frontend

Update tdp-analytics.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

Remove `:0` from GA4 search event
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

Update tags
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/activity-search.less
  cfgov/unprocessed/css/atoms/tag.less
Due: none

Re-add UA events | fix clear all button
  cfgov/unprocessed/apps/teachers-digital-platform/js/search.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

Update cfgov/v1/jinja2/v1/includes/molecules/translation-links.html
  cfgov/v1/jinja2/v1/includes/molecules/translation-links.html
Due: none

Change None to none
  cfgov/v1/jinja2/v1/includes/molecules/translation-links.html
Due: none

Refactor translation_links macro signature
  cfgov/ask_cfpb/jinja2/ask-cfpb/landing-page.html
  cfgov/retirement_api/jinja2/retirement_api/claiming.html
  cfgov/v1/jinja2/v1/includes/molecules/text-introduction.html
  cfgov/v1/jinja2/v1/includes/molecules/translation-links.html
  cfgov/v1/jinja2/v1/includes/organisms/item-introduction.html
  cfgov/wellbeing/jinja2/wellbeing/about.html
  cfgov/wellbeing/jinja2/wellbeing/error.html
  cfgov/wellbeing/jinja2/wellbeing/home.html
Due: none

Regenerate npm cache
  .yarnrc
  npm-packages-offline-cache/@sentry-core-7.98.0.tgz
  npm-packages-offline-cache/@sentry-core-7.99.0.tgz
  npm-packages-offline-cache/@sentry-internal-tracing-7.98.0.tgz
  npm-packages-offline-cache/@sentry-internal-tracing-7.99.0.tgz
  npm-packages-offline-cache/@sentry-node-7.98.0.tgz
  npm-packages-offline-cache/@sentry-node-7.99.0.tgz
  npm-packages-offline-cache/@sentry-types-7.98.0.tgz
  npm-packages-offline-cache/@sentry-types-7.99.0.tgz
  npm-packages-offline-cache/@sentry-utils-7.98.0.tgz
  npm-packages-offline-cache/@sentry-utils-7.99.0.tgz
  npm-packages-offline-cache/@types-node-20.11.14.tgz
  npm-packages-offline-cache/@types-node-20.11.7.tgz
  npm-packages-offline-cache/browserslist-4.22.2.tgz
  npm-packages-offline-cache/browserslist-4.22.3.tgz
  npm-packages-offline-cache/caniuse-lite-1.0.30001580.tgz
  npm-packages-offline-cache/caniuse-lite-1.0.30001581.tgz
  npm-packages-offline-cache/electron-to-chromium-1.4.647.tgz
  npm-packages-offline-cache/electron-to-chromium-1.4.652.tgz
  package.json
  yarn.lock
Due: none

Update tests
  .yarnrc
  test/unit_tests/apps/teachers-digital-platform/js/search-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/tdp-analytics-spec.js
Due: none

Only build centos image in cfpb/cfgov
  .github/workflows/builder.yml
Due: none

Remove unused `content_main_modifiers` blocks
  cfgov/ask_cfpb/jinja2/ask-cfpb/answer-page.html
  cfgov/hmda/jinja2/hmda/hmda-explorer.html
  cfgov/jobmanager/jinja2/jobmanager/job_listing_page.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/v1/jinja2/v1/document-detail/index.html
  cfgov/v1/jinja2/v1/enforcement-action/index.html
  cfgov/v1/jinja2/v1/landing-page/index.html
  cfgov/v1/jinja2/v1/learn-page/index.html
Due: none

Remove `{% block content_sidebar_modifiers -%}`
  cfgov/ask_cfpb/jinja2/ask-cfpb/answer-page.html
  cfgov/ask_cfpb/jinja2/ask-cfpb/answer-search-results.html
  cfgov/ask_cfpb/jinja2/ask-cfpb/landing-page.html
  cfgov/hmda/jinja2/hmda/hmda-explorer.html
  cfgov/jobmanager/jinja2/jobmanager/job_listing_page.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/regulations3k/jinja2/regulations3k/landing-page.html
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/molecules/related-posts.less
  cfgov/unprocessed/css/organisms/sidebar-content.less
  cfgov/v1/jinja2/v1/document-detail/index.html
  cfgov/v1/jinja2/v1/enforcement-action/index.html
  cfgov/v1/jinja2/v1/landing-page/index.html
  cfgov/v1/jinja2/v1/learn-page/index.html
  cfgov/v1/jinja2/v1/sublanding-page/index.html
Due: none

Deployed fecaa07 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Fix indentation
  cfgov/v1/jinja2/v1/includes/organisms/tables/base.html
Due: none

Move homepage styles to homepage app
  cfgov/unprocessed/apps/homepage/css/main.less
  cfgov/unprocessed/css/enhancements/layout.less
  cfgov/v1/jinja2/v1/home_page/home_page.html
  esbuild/styles.js
Due: none

Deployed 2a0712e with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Deployed 54cde7d with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Deployed 517820d with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Allow simple chart transform methods to take arguments
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/v1/atomic_elements/organisms.py
Due: backend, frontend

Add migrations
  cfgov/filing_instruction_guide/migrations/0006_auto_20240201_1607.py
  cfgov/v1/migrations/0022_auto_20240201_1607.py
Due: backend

Refactor analytics hooks
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_search_facets_and_results.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/activity-search.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

Add bail out
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

Fix tests
  cfgov/unprocessed/css/atoms/tag.less
  test/unit_tests/apps/teachers-digital-platform/js/tdp-analytics-spec.js
Due: none

Deployed 08fd0ec with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Pin 3p resources to sha
  .github/workflows/build-artifact.yml
Due: none

Build Centos artifact with builder image and push it to bucket
  .github/workflows/build-artifact.yml
  .github/workflows/frontend.yml
Due: none

Build artifact on pr
  .github/workflows/build-artifact.yml
Due: none

Only build artifact from cfpb/cfgov
  .github/workflows/build-artifact.yml
Due: none

Use appropriate sha based on PR vs push
  .github/workflows/build-artifact.yml
Due: none

Deployed 5231326 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Build the artifact as part of the merge queue instead of on push to main
  .github/workflows/build-artifact.yml
Due: none

Deployed 8d50aae with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Upgrade to node 20
  .github/workflows/build-artifact.yml
  .github/workflows/frontend.yml
  .github/workflows/functional-tests.yml
  .nvmrc
  Dockerfile
  docker/deployable-zipfile/Dockerfile
  docs/installation.md
  package.json
Due: none

Deployed c49e118 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Deployed 2da536e with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Restricting subpage types on landing pages
  cfgov/ask_cfpb/models/pages.py
  cfgov/v1/models/browse_filterable_page.py
  cfgov/v1/models/sublanding_filterable_page.py
Due: backend

Creating Feature cards block for Ask
  cfgov/ask_cfpb/jinja2/ask-cfpb/landing-page.html
  cfgov/ask_cfpb/models/pages.py
  cfgov/v1/atomic_elements/molecules.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/jinja2/v1/includes/molecules/feature-card.html
  cfgov/v1/jinja2/v1/includes/organisms/feature-cards.html
  cfgov/v1/migrations/0023_landing_page_featured_cards.py
  cfgov/v1/models/landing_page.py
Due: backend

Deployed c6632af with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Upgrade setup-node and checkout
  .github/workflows/backend.yml
  .github/workflows/build-artifact.yml
  .github/workflows/builder.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/frontend.yml
  .github/workflows/functional-tests.yml
Due: none
