Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

smoke test python script runs but can not connect on a cronjob but can not find the script files in a test job.
  helm/cfgov/templates/tests/post-install-job.yaml
  helm/cfgov/values.yaml
  helm/overrides/local.yaml
Due: none

Set r-o-u-t mapbox token via standard backend process (#7155)
  cfgov/cfgov/urls.py
  cfgov/jinja2/v1/rural-or-underserved/index.html
  cfgov/unprocessed/apps/filing-instruction-guide/css/main.less
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/show-map.js
Due: backend, frontend

Deployed b8ad899 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deprecate paying_for_college.Feedback model
  cfgov/paying_for_college/admin.py
  cfgov/paying_for_college/migrations/0015_delete_feedback.py
  cfgov/paying_for_college/models/__init__.py
  cfgov/paying_for_college/models/disclosures.py
  cfgov/paying_for_college/tests/test_models.py
Due: backend

Deprecate v1.Feedback model and all related code
  cfgov/v1/admin_forms.py
  cfgov/v1/admin_views.py
  cfgov/v1/management/commands/export_feedback.py
  cfgov/v1/migrations/0215_delete_feedback.py
  cfgov/v1/models/__init__.py
  cfgov/v1/models/feedback.py
  cfgov/v1/tests/management/commands/test_export_feedback.py
  cfgov/v1/tests/test_admin_views.py
  cfgov/v1/wagtail_hooks.py
  docs/website-feedback.md
  mkdocs.yml
  requirements/libraries.txt
Due: backend

Fixup translations
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Deprecate website feedback data storage (#7159)
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
  cfgov/paying_for_college/admin.py
  cfgov/paying_for_college/migrations/0015_delete_feedback.py
  cfgov/paying_for_college/models/__init__.py
  cfgov/paying_for_college/models/disclosures.py
  cfgov/paying_for_college/tests/test_models.py
  cfgov/v1/admin_forms.py
  cfgov/v1/admin_views.py
  cfgov/v1/management/commands/export_feedback.py
  cfgov/v1/migrations/0215_delete_feedback.py
  cfgov/v1/models/__init__.py
  cfgov/v1/models/feedback.py
  cfgov/v1/tests/management/commands/test_export_feedback.py
  cfgov/v1/tests/test_admin_views.py
  cfgov/v1/wagtail_hooks.py
  docs/website-feedback.md
  mkdocs.yml
  requirements/libraries.txt
Due: backend

Deployed cd11a54 with MkDocs version: 1.3.0
  404.html
  ask-cfpb/index.html
  atomic-structure/index.html
  branching-merging/index.html
  caching/index.html
  consumer-complaint-database/index.html
  contributing-docs/index.html
  debugging-monitoring/index.html
  debugging-templates/index.html
  deployment/index.html
  development-tips/index.html
  editing-components/index.html
  feature-flags/index.html
  filterable-lists/index.html
  functional-testing/index.html
  github-actions/index.html
  housing-counselor-tool/index.html
  index.html
  installation/index.html
  javascript-unit-tests/index.html
  migrations/index.html
  other-front-end-testing/index.html
  page-search/index.html
  profiling-django/index.html
  python-unit-tests/index.html
  related-projects/index.html
  running-docker/index.html
  running-virtualenv/index.html
  search.html
  search/search_index.json
  site-search/index.html
  sitemap.xml
  sitemap.xml.gz
  translation/index.html
  wagtail-pages/index.html
  website-feedback/index.html
Due: none

Set font-smoothing to anti-aliased, syncing font appearance between MacOS and mobile/windows/linux
  cfgov/unprocessed/css/main.less
Due: none

Remove unused methods (#7137)
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
Due: frontend

Deployed d9bd23b with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Paying for College - Financial Path bug fixes (#7148)
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/01-school-search.html
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/state-model.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
  test/cypress/integration/paying-for-college/your-financial-path-to-graduation/financial-path.js
Due: frontend

Deployed 47e9532 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Set font-smoothing to anti-aliased, syncing font appearance between MacOS and mobile/windows/linux (#7161)
  cfgov/unprocessed/css/main.less
Due: none

Deployed ca48b69 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Set default from email
  cfgov/cfgov/settings/production.py
Due: backend

Fix PATH, rebased `cfgov-frontend-builder`, and updated docs (#7113)
  .github/workflows/publish_cfgov.yml
  Dockerfile
  docs/running-docker.md
  helm/cfgov/values.yaml
Due: none

Deployed 27a2db0 with MkDocs version: 1.3.0
  index.html
  running-docker/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Test for dfault_from_email
  cfgov/login/tests/test_email.py
Due: backend

Streamline test
  cfgov/login/tests/test_email.py
Due: backend

More mapping work
  helm/cfgov/templates/_helpers.tpl
  helm/cfgov/templates/mapping.yaml
  helm/cfgov/values.yaml
  helm/overrides/eks.yaml
  helm/overrides/ghcr.yaml
Due: none

Back to the original generated fqdn
  helm/cfgov/templates/_helpers.tpl
Due: none

Set default_from_email (#7162)
  cfgov/cfgov/settings/production.py
  cfgov/login/tests/test_email.py
Due: backend

Deployed 9bbfbb9 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add Ambassador Mapping Template to Helm Chart (#7063)
  helm/cfgov/templates/_helpers.tpl
  helm/cfgov/templates/mapping.yaml
  helm/cfgov/values.yaml
  helm/overrides/eks.yaml
  helm/overrides/ghcr.yaml
Due: none

Deployed 5c1fbe3 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed 1da073a with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

More updates
  .env_SAMPLE
  cfgov/cfgov/settings/base.py
  docker-entrypoint.sh
  dump-data.sh
  helm-install.sh
  helm/README.md
  helm/cfgov/Chart.lock
  helm/cfgov/Chart.yaml
  helm/cfgov/templates/_helpers.tpl
  helm/cfgov/templates/deployment.yaml
  helm/cfgov/values.yaml
  helm/overrides/cfgov-lb.yaml
  helm/overrides/load-balancer.yaml
  helm/overrides/local.yaml
  helm/overrides/services.yaml
  tox.ini
Due: backend

Update PostgreSQL in docker-compose and GHA
  .github/workflows/backend.yml
  .github/workflows/functional-tests.yml
  docker-compose.yml
Due: none

trying to grab the host and port from the pod values.
  helm/cfgov/templates/cronjob.yaml
  helm/cfgov/values.yaml
  helm/overrides/local.yaml
Due: none

Mapping in CFGOV_SCHEMA CFGOV_HOST and CFGOV_PORT
  cfgov/scripts/http_smoke_test.py
  helm/cfgov/templates/cronjob.yaml
  helm/cfgov/values.yaml
  helm/overrides/local.yaml
Due: backend

Smoke test restart never
  helm/cfgov/values.yaml
  helm/overrides/local.yaml
Due: none

More changes
  helm/cfgov/templates/cronjob.yaml
Due: none

Simplify duplicative jinja templates
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/form-submitted.html
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/privacy.html
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/voluntary-assessment-form.html
  cfgov/hmda/jinja2/hmda/hmda-explorer.html
  cfgov/jinja2/v1/_layouts/content-base-main-first.html
  cfgov/jinja2/v1/_layouts/content-base-main-only.html
  cfgov/jinja2/v1/_layouts/content-base-sidebar-first.html
  cfgov/jinja2/v1/_layouts/layout-1-3.html
  cfgov/jinja2/v1/_layouts/layout-2-1-bleedbar.html
  cfgov/jinja2/v1/_layouts/layout-2-1.html
  cfgov/jinja2/v1/_layouts/layout-full.html
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
  cfgov/jinja2/v1/ask-cfpb/answer-search-results.html
  cfgov/jinja2/v1/ask-cfpb/article-page.html
  cfgov/jinja2/v1/ask-cfpb/landing-page.html
  cfgov/jinja2/v1/blog/blog_page.html
  cfgov/jinja2/v1/document-detail/index.html
  cfgov/jinja2/v1/enforcement-action/index.html
  cfgov/jinja2/v1/events/event.html
  cfgov/jinja2/v1/landing-page/index.html
  cfgov/jinja2/v1/learn-page/index.html
  cfgov/jinja2/v1/sublanding-page/index.html
  cfgov/jinja2/v1/your-story/index.html
  cfgov/jobmanager/jinja2/jobmanager/job_listing_page.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/form-submitted.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
  cfgov/regulations3k/jinja2/regulations3k/landing-page.html
  cfgov/retirement_api/jinja2/retirement_api/about.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_page.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/base.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/unprocessed/css/post.less
  cfgov/wellbeing/jinja2/wellbeing/about.html
  cfgov/wellbeing/jinja2/wellbeing/error.html
  cfgov/wellbeing/jinja2/wellbeing/home.html
  cfgov/wellbeing/jinja2/wellbeing/results.html
  docs/wagtail-pages.md
Due: none

Deployed c48000e with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Bump CR-tool version, which formerly used layout-2-1-bleedbar.html
  requirements/libraries.txt
Due: none

Add local aws creds to main container, add cronjob volumes
  helm/cfgov/templates/cronjob.yaml
  helm/overrides/local.yaml
Due: none

Django url to pg env vars (#7123)
  .env_SAMPLE
  .github/workflows/functional-tests.yml
  cfgov/cfgov/settings/base.py
  docker-compose.yml
  docker-entrypoint.sh
  docker-stack.yml
  dump-data.sh
  helm-install.sh
  helm/README.md
  helm/cfgov/Chart.lock
  helm/cfgov/Chart.yaml
  helm/cfgov/templates/_helpers.tpl
  helm/cfgov/templates/cronjob.yaml
  helm/cfgov/templates/deployment.yaml
  helm/cfgov/values.yaml
  helm/overrides/cfgov-lb.yaml
  helm/overrides/load-balancer.yaml
  helm/overrides/local.yaml
  helm/overrides/services.yaml
  requirements/libraries.txt
  tox.ini
Due: backend

Deployed 4d0b24b with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
