Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

remove references to custom 'post' classes in article.html
  cfgov/v1/jinja2/v1/includes/article.html
Due: none

fix linting
  cfgov/unprocessed/css/on-demand/job_listing_list.less
Due: none

Remove table javascript (#7427)
  cfgov/unprocessed/apps/admin/js/rich-text-table.js
  cfgov/unprocessed/js/routes/on-demand/table.js
  cfgov/v1/atomic_elements/tables.py
  cfgov/v1/jinja2/v1/includes/organisms/table.html
  cfgov/wagtailadmin_overrides/templates/wagtailadmin/table_input.html
  test/unit_tests/js/admin/rich-text-table-spec.js
Due: backend, frontend

Deployed 3535f68 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Remove waits
  test/cypress/integration/consumer-tools/youth-financial-education/survey-errors.cy.js
Due: none

Ignore charts that have already been initialized (#7420)
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/apps/chart.js
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/apps/map.js
Due: frontend

Deployed b8ecb7c with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

remove stray comment
  stylelint.config.cjs
Due: none

Youth Financial Education: Fix flaky scroll into view tests (#7424)
  test/cypress/integration/consumer-tools/youth-financial-education/survey-errors.cy.js
  test/cypress/support/commands.js
Due: none

Deployed d7432f9 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Add stylelint-config-prettier
  .eslintrc.cjs
  .stylelintrc.cjs
  npm-packages-offline-cache/stylelint-config-prettier-9.0.4.tgz
  package.json
  yarn.lock
Due: none

Report SBL FIG search queries to Google Analytics
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-search.js
  cfgov/unprocessed/apps/filing-instruction-guide/npm-packages-offline-cache/ctrl-f-1.2.1.tgz
  cfgov/unprocessed/apps/filing-instruction-guide/npm-packages-offline-cache/ctrl-f-1.3.1.tgz
  cfgov/unprocessed/apps/filing-instruction-guide/package.json
  cfgov/unprocessed/apps/filing-instruction-guide/yarn.lock
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide-search.cy.js
Due: frontend

Deployed cbc36a2 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 3aae6a8 with MkDocs version: 1.3.0
  css/overrides.css
  index.html
  sitemap.xml.gz
Due: none

Remove unused data-qa-hook used in a couple places
  cfgov/jobmanager/jinja2/jobmanager/job_listing_list.html
  cfgov/jobmanager/jinja2/jobmanager/job_listing_page.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/financial-item-expandable.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
  cfgov/v1/jinja2/v1/activity-log/_activity-list.html
  cfgov/v1/jinja2/v1/activity-log/index.html
  cfgov/v1/jinja2/v1/includes/molecules/contact-address.html
  cfgov/v1/jinja2/v1/includes/molecules/contact-phone.html
  cfgov/v1/jinja2/v1/includes/organisms/data_snapshot.html
  cfgov/v1/jinja2/v1/includes/organisms/expandable.html
  cfgov/v1/jinja2/v1/includes/organisms/info-unit-group.html
  test/unit_tests/apps/filing-instruction-guide/fixtures/sample-fig-page.js
  test/unit_tests/apps/teachers-digital-platform/js/expandable-mobile-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/search-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/tdp-analytics-spec.js
Due: none

Remove unused data-qa-hook used in a couple places (#7439)
  cfgov/jobmanager/jinja2/jobmanager/job_listing_list.html
  cfgov/jobmanager/jinja2/jobmanager/job_listing_page.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/financial-item-expandable.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
  cfgov/v1/jinja2/v1/activity-log/_activity-list.html
  cfgov/v1/jinja2/v1/activity-log/index.html
  cfgov/v1/jinja2/v1/includes/molecules/contact-address.html
  cfgov/v1/jinja2/v1/includes/molecules/contact-phone.html
  cfgov/v1/jinja2/v1/includes/organisms/data_snapshot.html
  cfgov/v1/jinja2/v1/includes/organisms/expandable.html
  cfgov/v1/jinja2/v1/includes/organisms/info-unit-group.html
  test/unit_tests/apps/filing-instruction-guide/fixtures/sample-fig-page.js
  test/unit_tests/apps/teachers-digital-platform/js/expandable-mobile-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/search-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/tdp-analytics-spec.js
Due: none

Deployed fadf4de with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Remove careers.less from main.less (#7434)
  cfgov/jobmanager/blocks.py
  cfgov/jobmanager/jinja2/jobmanager/job_listing_page.html
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/on-demand/job_listing_list.less
  cfgov/unprocessed/css/on-demand/job_listing_page.less
  cfgov/unprocessed/css/pages/careers.less
Due: backend

Deployed 6bc1e7f with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Move error less to on-demand (#7433)
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/on-demand/error.less
  cfgov/v1/jinja2/v1/layouts/404.html
  cfgov/v1/jinja2/v1/layouts/500.html
Due: none

Deployed 43d808a with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

remove references to custom 'post' classes in article.html (#7435)
  cfgov/v1/jinja2/v1/includes/article.html
Due: none

Deployed 58cf792 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Note page-specific less usage
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/on-demand/event.less
Due: none

Remove non-functional page settings tests
  cfgov/v1/tests/models/test_page_settings.py
Due: backend

Update saucectl dependency and config file
  .sauce/config.yml
  npm-packages-offline-cache/convert-source-map-1.8.0.tgz
  npm-packages-offline-cache/convert-source-map-1.9.0.tgz
  npm-packages-offline-cache/safe-buffer-5.1.2.tgz
  npm-packages-offline-cache/saucectl-0.111.0.tgz
  npm-packages-offline-cache/saucectl-0.117.1.tgz
  package.json
  yarn.lock
Due: none

Replace sticky-kit with customized ESM fork
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/sticky-kit-esm.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/npm-packages-offline-cache/sticky-kit-1.1.3.tgz
  cfgov/unprocessed/apps/paying-for-college/package.json
  cfgov/unprocessed/apps/paying-for-college/yarn.lock
Due: frontend

Split out css for event page and ask (#7429)
  cfgov/ask_cfpb/jinja2/ask-cfpb/answer-page.html
  cfgov/ask_cfpb/jinja2/ask-cfpb/answer-search-results.html
  cfgov/ask_cfpb/jinja2/ask-cfpb/article-page.html
  cfgov/ask_cfpb/jinja2/ask-cfpb/landing-page.html
  cfgov/ask_cfpb/jinja2/ask-cfpb/see-all.html
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/misc.less
  cfgov/unprocessed/css/modification-date.less
  cfgov/unprocessed/css/on-demand/ask.less
  cfgov/unprocessed/css/on-demand/event.less
  cfgov/unprocessed/css/post.less
  cfgov/v1/jinja2/v1/events/event.html
Due: none

Deployed ff887d6 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add missing `var`
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/sticky-kit-esm.js
Due: frontend

Deployed 1332b74 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Remove non-functional page settings tests (#7440)
  cfgov/v1/tests/models/test_page_settings.py
Due: backend

Deployed c03b64c with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update Wagtail-TreeModelAdmin to 1.6.0
  requirements/libraries.txt
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
