Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

disable:
  - search

Updates cfpb-chart-builder
  package-lock.json
  package.json
Due: none

Update helper text to note y-axis customization
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0124_add_new_line_index_chart_to_chart_block.py
Due: backend

Fix height of Hero images on small screens
  cfgov/jinja2/v1/_includes/molecules/hero.html
Due: none

bump wagtail-inventory version from 0.5 to 0.5.1
  requirements/libraries.txt
Due: none

Update Django-Flags and Wagtail-Flags to latest
  requirements/libraries.txt
Due: none

add templatetags to Python test coverage
  cfgov/.coveragerc
Due: none

TDP: Bump TDP version to 1.0.16
  requirements/optional-public.txt
Due: none

Change default ES host to accommodate docker
  .env_SAMPLE
Due: none

Fix video player so that native GTM tracking works
  cfgov/jinja2/v1/_includes/macros/video-player.html
  cfgov/unprocessed/js/modules/VideoPlayer.js
  cfgov/unprocessed/js/modules/YoutubePlayer.js
Due: frontend

add Django 1.11 compatibility to CSRF view
  cfgov/cfgov/urls.py
  cfgov/legacy/tests/views/test_views.py
  cfgov/legacy/views/__init__.py
Due: backend

fixing linting errors
  cfgov/cfgov/urls.py
Due: backend

[TDP] Adding feature flags for TDP static and search pages
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
Due: backend

[TDP] Updated generic url.py method to be more clear
  cfgov/cfgov/urls.py
Due: backend

[TDP] Updated url.py method to be more generic
  cfgov/cfgov/urls.py
Due: backend

[TDP] Moved static flagged urls into a reused function
  cfgov/cfgov/urls.py
Due: backend

Remove unnecessary listener for multiselect options changing in FLC
  cfgov/unprocessed/js/organisms/FilterableListControls.js
Due: frontend

Restore FLC height adjustment when using the multiselect filters
  cfgov/unprocessed/js/molecules/Multiselect.js
  cfgov/unprocessed/js/organisms/FilterableListControls.js
Due: frontend

Revert FLC expand timer delay to 250ms
  cfgov/unprocessed/js/organisms/FilterableListControls.js
Due: frontend

Enable symlinking Capital Framework components again
  cfgov/unprocessed/apps/owning-a-home/webpack-config.js
  cfgov/unprocessed/apps/regulations3k/webpack-config.js
  config/webpack-config.js
Due: frontend

[TDP] Updated generic url.py method to be more generic
  cfgov/cfgov/urls.py
Due: backend

Add handling of search and interp URLs
  cfgov/cfgov/urls.py
  cfgov/regulations3k/tests/test_views.py
  cfgov/regulations3k/views.py
Due: backend

avoid lambda in flagged url
  cfgov/cfgov/urls.py
  cfgov/regulations3k/views.py
Due: backend

Regs3k: Redirect eregulations to regs3k
  cfgov/regulations3k/tests/test_views.py
  cfgov/regulations3k/views.py
Due: backend

add eregs_redirect to flagged URL
  cfgov/cfgov/urls.py
  cfgov/regulations3k/tests/test_views.py
Due: backend

Redirect eregulations to regs3k (#4487)
  cfgov/cfgov/urls.py
  cfgov/regulations3k/tests/test_views.py
  cfgov/regulations3k/views.py
Due: backend

Add forEach fix for older versions of IE
  cfgov/unprocessed/apps/regulations3k/js/search-utils.js
  cfgov/unprocessed/apps/regulations3k/js/search.js
Due: frontend

Use parentNode instead of parentElement
  cfgov/unprocessed/apps/regulations3k/js/search.js
  cfgov/unprocessed/js/modules/util/dom-traverse.js
  test/unit_tests/apps/regulations3k/js/search-spec.js
  test/unit_tests/js/modules/util/dom-traverse-spec.js
Due: frontend

Improve Regs3K search results HTML hierarchy
  cfgov/regulations3k/jinja2/regulations3k/search-regulations-results.html
Due: none

Use removeChild to support old IE
  cfgov/unprocessed/apps/regulations3k/js/search.js
Due: frontend

Remove unnecessary cr tool prototypes feature flag
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
Due: backend

TDP: don't check for wagtail URLs below curriculum-review page
  cfgov/cfgov/urls.py
Due: backend
