Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Update TDP for Wagtail 2.3-2.5
  requirements/libraries.txt
Due: none

Downgrade pinned localflavor to be Django 1.11 and 2.2 compatible
  requirements/libraries.txt
Due: none

Deployed b0c4baa with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

change semi-monthly label to twice a month
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
Due: frontend

Remove back button from sources step in wizard
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/money-on-hand/sources.js
Due: frontend

Restore missing rest_framework
  cfgov/cfgov/settings/base.py
Due: backend

Deployed 66451a7 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add regular expression support to handle_404_error
  cfgov/cfgov/urls.py
Due: backend

Added space to extraneous_char_re in handle_404_error
  cfgov/cfgov/urls.py
Due: backend

Separate bill and non-bill conditionals for fix-it strategy engine
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/strategies-store.js
Due: frontend

Deployed 824cb0e with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Make interpretation location a variable
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
Due: none

Deployed a423d5a with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

correct scrolling behavior for long TOC
  cfgov/unprocessed/css/organisms/report-sidenav.less
Due: none

Update engine field in package.json for subapps
  cfgov/unprocessed/apps/analytics-gtm/package.json
  cfgov/unprocessed/apps/find-a-housing-counselor/package.json
  cfgov/unprocessed/apps/form-explainer/package.json
  cfgov/unprocessed/apps/owning-a-home/package.json
  cfgov/unprocessed/apps/regulations3k/package.json
  cfgov/unprocessed/apps/rural-or-underserved-tool/package.json
Due: none

Create Day model to get snapshot of each calendar day's financial totals
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/day.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
Due: frontend

Add the Maintainer directive email in the Dockerfile
  Dockerfile
Due: none

Add LABEL Maintainer in the Dockerfile
  Dockerfile
Due: none

Added stripped_path in handle_404_error
  cfgov/cfgov/urls.py
Due: backend

Fix snap data entry screen error, keep running snapshot balances for each Day based on previous
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/categories.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/day.js
Due: frontend

Refactor handle_404_error
  cfgov/cfgov/urls.py
Due: backend

Apply suggestions from code review
  cfgov/cfgov/urls.py
Due: backend

Correctly calculating SNAP balances per day
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/day.js
Due: frontend

Switch UI store over to using days map for balance display
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
Due: frontend

SNAP cannot go negative - decuct groceries from non-snap balance if it would
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/day.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/details.js
Due: frontend

Remove attempts to resolve modified path
  cfgov/cfgov/urls.py
Due: backend

report subsections
  cfgov/jinja2/v1/report/section.html
  cfgov/v1/migrations/0218_auto_20200511_2042.py
  cfgov/v1/models/report_sections_sidenav.py
Due: backend

js fixes for subsection
  cfgov/jinja2/v1/report/section.html
  cfgov/unprocessed/js/routes/on-demand/report-sidenav.js
Due: frontend

section.html linting
  cfgov/jinja2/v1/report/section.html
Due: none

Update
  package.json
Due: none

Update
  static.in/.gitkeep
Due: none

Fix newly surfacing linting errors
  cfgov/alerts/newrelic_alerts.py
  cfgov/ask_cfpb/views.py
  cfgov/cfgov/urls.py
  cfgov/regulations3k/views.py
  cfgov/search/backends.py
Due: backend

chore: Add new URL to whitelist
  cfgov/cfgov/settings/base.py
Due: backend

Remove PyYAML from libraries and update it in docs
  requirements/docs.txt
  requirements/libraries.txt
Due: none

Deployed 46095bc with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update wagtail-autocomplete from 0.1.1 to 0.5
  requirements/libraries.txt
Due: none

Specify UTF-8 locale in Dockerfile
  Dockerfile
Due: none

Deployed 58c7dd5 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Bump node engine version (#5666)
  cfgov/unprocessed/apps/analytics-gtm/package.json
  cfgov/unprocessed/apps/find-a-housing-counselor/package.json
  cfgov/unprocessed/apps/form-explainer/package.json
  cfgov/unprocessed/apps/owning-a-home/package.json
  cfgov/unprocessed/apps/regulations3k/package.json
  cfgov/unprocessed/apps/rural-or-underserved-tool/package.json
  package.json
Due: none

Deployed da0e4e5 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none
