Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Restore missing migration check in CI
  tox.ini
Due: none

Add missing migrations
  cfgov/v1/migrations/0217_alter_taggit_fields.py
Due: backend

Add missing migrations (#5736)
  cfgov/v1/migrations/0217_alter_taggit_fields.py
Due: backend

Add last_edited field to Ask CFPB export
  cfgov/ask_cfpb/scripts/export_ask_data.py
Due: backend

Deployed 993bf9d with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add last_edited field to Ask CFPB export (#5733)
  cfgov/ask_cfpb/scripts/export_ask_data.py
Due: backend

Deployed 64c94a0 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Deployed 5522900 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add ability to force breadcrumbs for homepage children
  cfgov/v1/migrations/0217_add_force_breadcrumbs.py
  cfgov/v1/models/base.py
  cfgov/v1/tests/models/test_base.py
Due: backend

Regenerate migration after rebasing
  cfgov/v1/migrations/0217_add_force_breadcrumbs.py
  cfgov/v1/migrations/0218_add_force_breadcrumbs.py
Due: backend

Deployed 26619ad with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Correct is_descendant_of to is_child_of
  cfgov/v1/models/base.py
Due: backend

Deployed 08fa063 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Update README.md
  README.md
Due: none

Correct is_descendant_of to is_child_of (#5737)
  cfgov/v1/models/base.py
Due: backend

Deployed 0b7f934 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Remove Apache configuration preventing prepaid-cards from being cached
  cfgov/apache/conf.d/headers.conf
Due: none

Remove Apache configuration preventing prepaid-cards from being cached (#5740)
  cfgov/apache/conf.d/headers.conf
Due: none

Deployed 9cb025e with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
Due: frontend

First proof of concept: convert report from script
  cfgov/cfgov/settings/base.py
  cfgov/research_reports/scripts/__init__.py
  cfgov/research_reports/scripts/create_report.py
Due: backend

Change label_level to is_subsection
  cfgov/jinja2/v1/_includes/organisms/ask-search.html
  cfgov/jinja2/v1/ask-cfpb/landing-page.html
Due: none

Move search to the top of the Ask landing page
  cfgov/jinja2/v1/_includes/organisms/ask-search.html
  cfgov/jinja2/v1/ask-cfpb/landing-page.html
  cfgov/unprocessed/css/pages/ask.less
Due: none

Deployed ed93238 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Push the comparisontool version to 1.15.1
  requirements/libraries.txt
Due: none

Push the comparisontool version to 1.15.1 (#5741)
  requirements/libraries.txt
Due: none

Deployed f5e9c2d with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update Django urls import
  cfgov/teachers_digital_platform/tests/test_models.py
  cfgov/teachers_digital_platform/tests/tests_models.py
  cfgov/teachers_digital_platform/urls.py
Due: backend

Add Research Report Page, with document upload and parser hook
  cfgov/research_reports/__init__.py
  cfgov/research_reports/jinja2/research-report.html
  cfgov/research_reports/migrations/0001_add_research_report_page.py
  cfgov/research_reports/migrations/__init__.py
  cfgov/research_reports/models.py
  cfgov/research_reports/parser.py
  cfgov/research_reports/wagtail_hooks.py
Due: backend

Add costs not covered notification on funding pages for mobile and desktop in browsers where the sticky sidebar is not supported (IE11).
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/03-grants-and-scholarships.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/04-work-study.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/05-federal-loans.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/06-school-loans.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/07-other-resources.html
Due: none

fix: upgrade multiple dependencies with Snyk
  package.json
Due: none

fix: upgrade multiple dependencies with Snyk
  yarn.lock
Due: none

fix: upgrade webpack-stream from 5.0.0 to 5.2.1
  package.json
Due: none

fix: upgrade webpack-stream from 5.0.0 to 5.2.1
  yarn.lock
Due: none

fix: upgrade terser-webpack-plugin from 2.3.2 to 2.3.6
  package.json
Due: none

fix: upgrade terser-webpack-plugin from 2.3.2 to 2.3.6
  yarn.lock
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
