Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Document steps for fully deleting feature flags (#6693)
  docs/feature-flags.md
Due: none

Deployed 2b43e1f with MkDocs version: 1.0.4
  feature-flags/index.html
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Make the settings comments for feature flags more accurate (#6692)
  cfgov/cfgov/settings/base.py
Due: backend

Deployed f82339d with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Update data.json
  cfgov/unprocessed/root/data.json
Due: none

Fixed color identifier
  cfgov/unprocessed/css/organisms/video-player.less
Due: none

Removed unnecessary colon
  cfgov/unprocessed/css/organisms/video-player.less
Due: none

[TDP] Track click privacy statement click event in GA
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-9-12.html
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

[TDP] Track Let's do this click event in GA
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-9-12.html
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

[TDP] Track survey radio button clicks and send to GA
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

Update data.json (#6694)
  cfgov/unprocessed/root/data.json
Due: none

Deployed 5611a63 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Added :focus for IE compatibility
  cfgov/unprocessed/css/organisms/video-player.less
Due: none

[TDP survey] Refactor SectionLinks as anchors
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/SectionLink.js
  test/cypress/integration/consumer-tools/youth-financial-education/survey-progress.js
  test/unit_tests/apps/teachers-digital-platform/html/survey-page.js
  test/unit_tests/apps/teachers-digital-platform/js/survey/SectionLink-spec.js
Due: frontend

[TDP survey] Switch to new initials encoding scheme
  cfgov/unprocessed/apps/teachers-digital-platform/js/encode-name.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/obfuscation.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/initials.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/result-page.js
  test/cypress/integration/consumer-tools/youth-financial-education/results-helpers.js
  test/cypress/integration/consumer-tools/youth-financial-education/survey.js
  test/unit_tests/apps/teachers-digital-platform/js/encode-name-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/obfuscation-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/survey/results-page-spec.js
Due: frontend

Deployed 3370999 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

[TDP survey] Refactor SectionLinks as anchors (#6691)
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/SectionLink.js
  test/cypress/integration/consumer-tools/youth-financial-education/survey-progress.js
  test/unit_tests/apps/teachers-digital-platform/html/survey-page.js
  test/unit_tests/apps/teachers-digital-platform/js/survey/SectionLink-spec.js
Due: frontend

Deployed 071b7b4 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

[TDP] Track Error Notification clicks and send to GA
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

Update Cypress@8.4.1 (#6688)
  npm-packages-offline-cache/cypress-8.4.0.tgz
  npm-packages-offline-cache/cypress-8.4.1.tgz
  package.json
  yarn.lock
Due: none

Deployed ccc5b95 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Remove the ASK_UPDATED_DATE_LABEL feature flag and template code (#6690)
  cfgov/cfgov/settings/base.py
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
  cfgov/retirement_api/locale/es/LC_MESSAGES/django.mo
  cfgov/retirement_api/locale/es/LC_MESSAGES/django.po
Due: backend

Deployed 62d4241 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

[TDP] Add gtm_ignore to survery error notifications
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/survey-page.js
Due: frontend

[TDP survey] add rel to target blank links
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-save.html
Due: none

[TDP] Track click on Restart Survery and send to GA
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

Remove secondary nav cruft (#6666)
  cfgov/jinja2/v1/_includes/organisms/secondary-navigation.html
  cfgov/jinja2/v1/_layouts/layout-side-nav.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/nav.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/regulations3k/jinja2/regulations3k/regulations3k-secondary-navigation.html
  cfgov/regulations3k/jinja2/regulations3k/regulations3k-side-nav.html
Due: none

Deployed df77e28 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Track Survey expandable click and send to GA
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

[TDP] Track click of Section edit link and send to GA
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/SectionLink.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

[TDP] Track survey submissions and send to GA
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
Due: frontend

more wagtail table ease-of-use
  cfgov/templates/wagtailadmin/css/table-block.css
  cfgov/unprocessed/js/admin/rich-text-table.js
Due: frontend

Review fixes
  cfgov/jinja2/v1/_includes/organisms/ask-search.html
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
