Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Make get_toc_headers a model method
  cfgov/filing_instruction_guide/models.py
Due: backend

New models for Filing Instruction Guide content page (#7065)
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/index.html
  cfgov/filing_instruction_guide/migrations/0002_flatten_fig_data_model.py
  cfgov/filing_instruction_guide/models.py
  cfgov/jinja2/v1/_includes/organisms/fig-section.html
  cfgov/jinja2/v1/_includes/organisms/sidenav-toc.html
  cfgov/jinja2/v1/_layouts/layout-side-nav.html
  cfgov/v1/atomic_elements/organisms.py
Due: backend

Deployed 63bf6dd with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Convert the data point in the chart tooltip to the user's locale
  cfgov/unprocessed/js/routes/on-demand/simple-chart/utils.js
Due: frontend

Deployed 51908c3 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Bump wagtail-inventory version to 1.5
  requirements/libraries.txt
Due: none

Remove unneeded CSP entries
  cfgov/cfgov/settings/base.py
Due: backend

add i.ytimg.com to CSP_IMG (unrelated bug)
  cfgov/cfgov/settings/base.py
Due: backend

Remove unneeded CSP entries (#7071)
  cfgov/cfgov/settings/base.py
Due: backend

Deployed 85da545 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Route only service worker, preventing sourcemap errors (#7067)
  cfgov/cfgov/urls.py
Due: backend

Deployed 77b83c1 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix temp directory path in unittests
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Move chart and simple-chart css to own files
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/on-demand/chart.less
  cfgov/unprocessed/css/on-demand/simple-chart.less
  cfgov/v1/atomic_elements/organisms.py
  esbuild/styles.js
Due: backend

Updates pfc css to import only references to the design-system (via main.less) instead of inlining cfpb-layout
  cfgov/unprocessed/apps/paying-for-college/css/main.less
Due: none

Deployed 67efa38 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Bump wagtail-inventory version to 1.5 (#7070)
  requirements/libraries.txt
Due: none

Deployed 7571b9a with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

only import a reference to main.less, which is loaded on every pfc page (#7045)
  cfgov/unprocessed/apps/paying-for-college/css/brand-palette.less
  cfgov/unprocessed/apps/paying-for-college/css/main.less
Due: none

Deployed 9a462e3 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Fix "filter_children" feature of filterable lists
  cfgov/core/testutils/test_cases.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/documents.py
  cfgov/v1/models/__init__.py
  cfgov/v1/models/filterable_list_mixins.py
  cfgov/v1/tests/models/test_browse_filterable_page.py
  cfgov/v1/tests/models/test_filterable_list_mixins.py
  cfgov/v1/tests/test_documents.py
  cfgov/v1/tests/test_filterable_list_form.py
Due: backend

Fixed `opensearch document index`, swapped out kibana
  cfgov/ask_cfpb/documents.py
  cfgov/cfgov/settings/base.py
  cfgov/paying_for_college/documents.py
  cfgov/teachers_digital_platform/documents.py
  cfgov/v1/documents.py
  helm/cfgov/Chart.lock
  helm/cfgov/Chart.yaml
  helm/overrides/services.yaml
Due: backend

Document update vs index
  cfgov/search/elasticsearch_helpers.py
  refresh-data.sh
Due: backend

models -> indices
  cfgov/search/elasticsearch_helpers.py
  cfgov/v1/tests/jinja2tags/test_fragment_cache.py
  cfgov/v1/tests/management/commands/test_archive_pages.py
  cfgov/v1/tests/management/commands/test_restore_archive_pages.py
  cfgov/v1/tests/models/test_browse_filterable_page.py
  cfgov/v1/tests/models/test_filterable_list_mixins.py
  cfgov/v1/tests/models/test_sublanding_page.py
  cfgov/v1/tests/test_documents.py
  cfgov/v1/tests/test_filterable_list_form.py
Due: backend

Fixed some more tests
  cfgov/ask_cfpb/documents.py
  cfgov/ask_cfpb/tests/test_documents.py
  cfgov/search/elasticsearch_helpers.py
  cfgov/v1/documents.py
  cfgov/v1/tests/atomic_elements/test_molecules.py
  cfgov/v1/tests/test_documents.py
  refresh-data.sh
Due: backend

Swapout for OpenSearch
  .github/workflows/backend.yml
  .github/workflows/functional-tests.yml
Due: none

Removed debug prints
  cfgov/ask_cfpb/tests/test_documents.py
Due: backend

Testing hard coding port
  .github/workflows/backend.yml
Due: none

Testing hard coding host
  .github/workflows/backend.yml
Due: none

Testing matching functional-tests.yml
  .github/workflows/backend.yml
Due: none

Replace axios with fetch in rate-checker and rout (#7062)
  CONTRIBUTING.md
  cfgov/jinja2/v1/_layouts/base.html
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/data-loader.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/apps/owning-a-home/npm-packages-offline-cache/axios-0.21.4.tgz
  cfgov/unprocessed/apps/owning-a-home/npm-packages-offline-cache/follow-redirects-1.14.3.tgz
  cfgov/unprocessed/apps/owning-a-home/package.json
  cfgov/unprocessed/apps/owning-a-home/yarn.lock
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/common.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/npm-packages-offline-cache/axios-0.26.1.tgz
  cfgov/unprocessed/apps/rural-or-underserved-tool/npm-packages-offline-cache/follow-redirects-1.14.9.tgz
  cfgov/unprocessed/apps/rural-or-underserved-tool/npm-packages-offline-cache/normalize.css-8.0.1.tgz
  cfgov/unprocessed/apps/rural-or-underserved-tool/npm-packages-offline-cache/object-keys-1.1.1.tgz
  cfgov/unprocessed/apps/rural-or-underserved-tool/package.json
  cfgov/unprocessed/apps/rural-or-underserved-tool/yarn.lock
  test/unit_tests/apps/owning-a-home/js/explore-rates/data-loader-spec.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/rate-checker-spec.js
Due: frontend

Deployed 9767509 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Move chart and simple-chart css to own files (#7073)
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/on-demand/chart.less
  cfgov/unprocessed/css/on-demand/simple-chart.less
  cfgov/v1/atomic_elements/organisms.py
  esbuild/styles.js
Due: backend

Deployed 0934bcd with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Adding new redirect for /innovation/
  cfgov/apache/conf.d/redirects.conf
Due: none

Fix "filter_children" feature of filterable lists (#7075)
  cfgov/core/testutils/test_cases.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/documents.py
  cfgov/v1/models/__init__.py
  cfgov/v1/models/filterable_list_mixins.py
  cfgov/v1/tests/models/test_browse_filterable_page.py
  cfgov/v1/tests/models/test_filterable_list_mixins.py
  cfgov/v1/tests/test_documents.py
  cfgov/v1/tests/test_filterable_list_form.py
Due: backend

Deployed 72166ba with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Remove the pip pin
  requirements/test.txt
Due: none

Remove pip package resolution dependency
  cfgov/deployable_zipfile/create.py
  cfgov/deployable_zipfile/install_wheels.py
  cfgov/deployable_zipfile/tests/data/wheels/bar-1.0-py2-none-any.whl
  cfgov/deployable_zipfile/tests/test_create.py
Due: backend

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
