Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Add Django 2.2 settings for baseline compliance.
  cfgov/cfgov/settings/base.py
Due: backend

Fixed dangling -current
  .github/workflows/backend.yml
Due: none

Fixed dangling -current
  tox.ini
Due: none

Tox future removal #2 (#6541)
  .github/workflows/backend.yml
  tox.ini
Due: none

Deployed 8754911 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add more missing aria_label to templates
  cfgov/jinja2/v1/_includes/molecules/info-unit-2.html
  cfgov/jinja2/v1/_includes/molecules/info-unit.html
  cfgov/jinja2/v1/_includes/molecules/related-content.html
  cfgov/jinja2/v1/_includes/molecules/text-introduction.html
Due: none

Add aria label to View more link
  cfgov/jinja2/v1/_includes/molecules/related-posts.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Update RAF compiled JS containing bundled JSON with updated program URLs.
  cfgov/unprocessed/erap/js/main.js
Due: frontend

Add a bunch of docs and let Django know about formtools
  cfgov/cfgov/settings/base.py
  cfgov/teachers_digital_platform/ChoiceWidget.py
  cfgov/teachers_digital_platform/TemplateWidget.py
  cfgov/teachers_digital_platform/resultsContent.py
  cfgov/teachers_digital_platform/surveys.py
  cfgov/teachers_digital_platform/tests/test_UrlEncoder.py
  cfgov/teachers_digital_platform/urls.py
  cfgov/teachers_digital_platform/views.py
Due: backend

Use Elastic's Docker registry for ES
  docker-compose.yml
  docker/elasticsearch/7/Dockerfile
Due: none

Add aria label to View more link (#6543)
  cfgov/jinja2/v1/_includes/molecules/related-posts.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Deployed 5e0d152 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add ability to log ES queries to console
  cfgov/cfgov/settings/local.py
  docs/debugging-monitoring.md
Due: backend

Add filterable lists page to documentation sidebar
  mkdocs.yml
Due: none

add design elements
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/3-5/before-page-1.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/3-5/before-page-3.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/6-8/before-page-1.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/6-8/before-page-2.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/6-8/before-page-3.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-1.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-2.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-3.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-9-12.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/intro.html
  cfgov/teachers_digital_platform/survey-data/3-5-meta.json
  cfgov/teachers_digital_platform/survey-data/6-8-meta.json
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
  cfgov/unprocessed/apps/teachers-digital-platform/img/car.png
  cfgov/unprocessed/apps/teachers-digital-platform/img/dollar.svg
  cfgov/unprocessed/apps/teachers-digital-platform/img/grades3-5.png
  cfgov/unprocessed/apps/teachers-digital-platform/img/grades6-8.png
  cfgov/unprocessed/apps/teachers-digital-platform/img/grades9-12.png
  cfgov/unprocessed/apps/teachers-digital-platform/img/journey.png
  cfgov/unprocessed/apps/teachers-digital-platform/img/map.png
Due: none

Calculate filterable languages using aggregation
  cfgov/v1/documents.py
  cfgov/v1/forms.py
Due: backend

Add test for filterable list language choices
  cfgov/v1/tests/test_filterable_list_form.py
Due: backend

Add filterable lists page to documentation sidebar (#6546)
  mkdocs.yml
Due: none

Deployed 38affb2 with MkDocs version: 1.0.4
  404.html
  ask-cfpb/index.html
  atomic-structure/index.html
  branching-merging/index.html
  caching/index.html
  consumer-complaint-database/index.html
  contributing-docs/index.html
  debugging-monitoring/index.html
  debugging-templates/index.html
  deployment/index.html
  development-tips/index.html
  editing-components/index.html
  feature-flags/index.html
  filterable-lists/index.html
  forms-in-wagtail/index.html
  functional-testing/index.html
  github-actions/index.html
  housing-counselor-tool/index.html
  index.html
  installation/index.html
  javascript-unit-tests/index.html
  migrations/index.html
  other-front-end-testing/index.html
  profiling-django/index.html
  python-unit-tests/index.html
  related-projects/index.html
  running-docker/index.html
  running-virtualenv/index.html
  search.html
  search/index.html
  sitemap.xml
  sitemap.xml.gz
  split-testing/index.html
  translation/index.html
  wagtail-pages/index.html
  website-feedback/index.html
Due: none

adjustments to spacing and journey image
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-9-12.html
  cfgov/unprocessed/apps/teachers-digital-platform/img/journey.png
Due: none

fix typo
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-9-12.html
Due: none

align more with style
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
Due: none

update text
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/3-5/before-page-1.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/3-5/before-page-2.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/3-5/before-page-3.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/6-8/before-page-1.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/6-8/before-page-2.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/6-8/before-page-3.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-1.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-2.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-3.html
Due: none

Prefix letters to some answer choices
  cfgov/teachers_digital_platform/survey-data/answer-types.csv
Due: none

Filters: Set languages drop-down based on languages in the result set (#6532)
  cfgov/cfgov/settings/local.py
  cfgov/v1/documents.py
  cfgov/v1/forms.py
  cfgov/v1/tests/test_filterable_list_form.py
  docs/debugging-monitoring.md
Due: backend

Update 3-5 question page locations
  cfgov/teachers_digital_platform/survey-data/3-5.csv
Due: none

Deployed 0b99e61 with MkDocs version: 1.0.4
  debugging-monitoring/index.html
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Fix question type discrepencies
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
Due: none

Add options for different question styles
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
Due: none

add reset button on survey form
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
Due: none

Fix typo in "Profiling Django" docs
  docs/profiling-django.md
Due: none

Fix typo in "Profiling Django" docs (#6547)
  docs/profiling-django.md
Due: none

Deployed 0b2a394 with MkDocs version: 1.0.4
  index.html
  profiling-django/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Handle filterable list results without aggregation
  cfgov/v1/forms.py
Due: backend

Make it easier to enable Django caches locally
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/local.py
  cfgov/cfgov/settings/production.py
Due: backend

Handle filterable list results without aggregation (#6548)
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/local.py
  cfgov/cfgov/settings/production.py
  cfgov/v1/forms.py
Due: backend

Deployed e726968 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Deployed 63f63e3 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add Django 2.2 settings for baseline compliance. (#6540)
  cfgov/cfgov/settings/base.py
Due: backend

Deployed 4747d2b with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none
