Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Updates enforcement action to final data structure
  cfgov/jinja2/v1/_includes/molecules/enforcement-action-metadata.html
  cfgov/scripts/add_enforcement_data.py
  cfgov/scripts/add_final_enforcement_data.py
  cfgov/scripts/export_enforcement_actions.py
  cfgov/scripts/tests/test_export_enforcement_actions.py
  cfgov/v1/migrations/0242_enforcement_final_data_structure.py
  cfgov/v1/models/__init__.py
  cfgov/v1/models/browse_filterable_page.py
  cfgov/v1/models/enforcement_action_page.py
  cfgov/v1/models/learn_page.py
  cfgov/v1/util/ref.py
Due: backend

Update ES7 Docker image to 7.10.1
  Jenkinsfile
  docker-compose.yml
  docker/elasticsearch/7.7/Dockerfile
  docker/elasticsearch/7/Dockerfile
Due: none

Update ES7 Docker image to 7.10.1 (#6203)
  Jenkinsfile
  docker-compose.yml
  docker/elasticsearch/7.7/Dockerfile
  docker/elasticsearch/7/Dockerfile
Due: none

Deployed 505dc16 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add summary mobile component
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
  cfgov/jobmanager/jinja2/jobmanager/job_listing_page.html
  cfgov/jobmanager/models/pages.py
  cfgov/jobmanager/tests/models/test_pages.py
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/organisms/read-more.less
  cfgov/unprocessed/css/organisms/summary-mobile.less
  cfgov/unprocessed/js/modules/behavior/FlyoutMenu.js
  cfgov/unprocessed/js/modules/transition/MaxHeightTransition.js
  cfgov/unprocessed/js/organisms/SummaryMobile.js
  cfgov/unprocessed/js/routes/ask-cfpb/single.js
  cfgov/unprocessed/js/routes/es/single.js
  cfgov/unprocessed/js/routes/on-demand/read-more.js
  cfgov/unprocessed/js/routes/on-demand/summary-mobile.js
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.7.3.tgz
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.7.5.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.7.2.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.7.4.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.7.2.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.7.4.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.7.3.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.7.5.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.7.2.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.7.4.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.7.2.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.7.4.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.7.2.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.7.4.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.7.2.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.7.4.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.7.3.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.7.5.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.7.2.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.7.4.tgz
  package.json
  yarn.lock
Due: backend, frontend

Add test for Summary Mobile on Ask pages
  cfgov/unprocessed/css/organisms/summary-mobile.less
  test/cypress/integration/pages/ask-cfpb.js
  test/cypress/pages/ask-cfpb/article.js
Due: none

Add unit test
  test/unit_tests/js/modules/behavior/FlyoutMenu-spec.js
Due: none

Update translations
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

respond to PR comments
  cfgov/jinja2/v1/_includes/molecules/enforcement-action-metadata.html
  cfgov/scripts/add_final_enforcement_data.py
  cfgov/v1/forms.py
  cfgov/v1/models/enforcement_action_page.py
  cfgov/v1/util/ref.py
Due: backend

Remove unneeded text jinja filter
  cfgov/jinja2/v1/_includes/molecules/enforcement-action-metadata.html
Due: none

Add unit test
  cfgov/unprocessed/css/organisms/summary-mobile.less
  test/unit_tests/js/organisms/SummaryMobile-spec.js
Due: none

Increase coverage
  test/unit_tests/js/organisms/SummaryMobile-spec.js
Due: none

Add more tests and coverage
  cfgov/unprocessed/js/organisms/SummaryMobile.js
  test/unit_tests/js/modules/transitions/MaxHeightTransition-spec.js
  test/unit_tests/js/organisms/SummaryMobile-spec.js
Due: frontend

Rename variable
  cfgov/unprocessed/js/organisms/SummaryMobile.js
Due: frontend

update parse counts to use products.csv
  cfgov/scripts/parse_counts.py
Due: backend

Minor linter fix
  test/unit_tests/js/organisms/SummaryMobile-spec.js
Due: none

respond to pr comments
  cfgov/jinja2/v1/_includes/molecules/enforcement-action-metadata.html
  cfgov/v1/migrations/0242_final_enforcement_data.py
  cfgov/v1/models/enforcement_action_page.py
Due: backend

Add link for Q3 2020 to CCA index page (#6199)
  cfgov/agreements/jinja2/agreements/index.html
Due: none

Deployed 0b7b435 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

check validation before page.save()
  cfgov/scripts/add_final_enforcement_data.py
  cfgov/v1/models/enforcement_action_page.py
Due: backend

check all sub-models
  cfgov/scripts/add_final_enforcement_data.py
Due: backend

don't overload list
  cfgov/scripts/add_final_enforcement_data.py
Due: backend

fix linting
  cfgov/scripts/add_final_enforcement_data.py
Due: backend

Updates enforcement action to final data structure (#6205)
  cfgov/jinja2/v1/_includes/molecules/enforcement-action-metadata.html
  cfgov/scripts/add_enforcement_data.py
  cfgov/scripts/add_final_enforcement_data.py
  cfgov/scripts/export_enforcement_actions.py
  cfgov/scripts/parse_counts.py
  cfgov/scripts/tests/test_export_enforcement_actions.py
  cfgov/v1/forms.py
  cfgov/v1/migrations/0242_final_enforcement_data.py
  cfgov/v1/models/__init__.py
  cfgov/v1/models/browse_filterable_page.py
  cfgov/v1/models/enforcement_action_page.py
  cfgov/v1/models/learn_page.py
  cfgov/v1/util/ref.py
Due: backend

Deployed 904c49d with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Remove bindEvent and move private functions from export
  cfgov/unprocessed/apps/paying-for-college/js/models/state-model.js
  cfgov/unprocessed/apps/paying-for-college/js/views/app-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/chart-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/expenses-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/navigation-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
Due: frontend

Update PfC tests
  test/cypress/integration/pages/your-financial-path-to-graduation.js
  test/cypress/pages/paying-for-college/your-financial-path-to-graduation.js
Due: none

Only click button if it is attached to the DOM
  test/cypress/pages/paying-for-college/your-financial-path-to-graduation.js
Due: none

Add slight delay to wait for the search modal to appear
  test/cypress/pages/paying-for-college/your-financial-path-to-graduation.js
Due: none

Try with a Promise then block
  test/cypress/pages/paying-for-college/your-financial-path-to-graduation.js
Due: none

Update cypress and tweak test
  npm-packages-offline-cache/cypress-6.2.0.tgz
  npm-packages-offline-cache/cypress-6.2.1.tgz
  package.json
  test/cypress/pages/paying-for-college/your-financial-path-to-graduation.js
  yarn.lock
Due: none

Improve Info Unit image alt text logic
  cfgov/jinja2/v1/_includes/molecules/info-unit-2.html
Due: none

Temporarily suppress new enforcement fields
  cfgov/jinja2/v1/_includes/molecules/enforcement-action-metadata.html
Due: none

Improve Info Unit image alt text logic (#6202)
  cfgov/jinja2/v1/_includes/molecules/info-unit-2.html
Due: none

Deployed ea921dd with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Temporarily suppress new enforcement fields (#6212)
  cfgov/jinja2/v1/_includes/molecules/enforcement-action-metadata.html
Due: none

Deployed 1ee2f76 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add fixtures for school API calls
  test/cypress/fixtures/harvard-university.json
  test/cypress/fixtures/search-schools.json
  test/cypress/pages/paying-for-college/your-financial-path-to-graduation.js
Due: none

Linter fixes
  test/cypress/pages/paying-for-college/your-financial-path-to-graduation.js
Due: none

Ignore linter error for Cypress
  test/cypress/pages/paying-for-college/your-financial-path-to-graduation.js
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
