Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

[tdp] Query the new index fields
  cfgov/teachers_digital_platform/models/activity_index_page.py
Due: backend

Add GitSHA image tagging (#7210)
  .github/workflows/publish_cfgov.yml
  helm-install.sh
  helm/cfgov/templates/NOTES.txt
Due: none

Deployed dbaad86 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Prefetch portal categories and topics
  cfgov/v1/views/reports.py
Due: backend

install all of the design-system at once (and bump it)
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-design-system-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.17.9.tgz
  package.json
  yarn.lock
Due: none

bump ds to 0.17.9
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.17.9.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.17.9.tgz
  package.json
  yarn.lock
Due: none

Deployed 1216f7d with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Email signups don't always have a form. The current check failed when there was a email signup with no form accompanied with one WITH a form (#7206)
  cfgov/unprocessed/js/routes/on-demand/email-signup.js
Due: frontend

Deployed 69ec3ba with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

adding new cronjob for archiving wagtail eevents.
  helm/cfgov/values.yaml
  helm/overrides/local-dev.yaml
Due: none

add testing information to Helm readme
  helm/README.md
Due: none

swap --man with --help
  helm/README.md
Due: none

change how to on disabling charts with values.yaml
  helm/README.md
Due: none

Prefer double quotes in JSX
  .eslintrc
Due: none

Prefer double quotes in JSX (#7216)
  .eslintrc
Due: none

Deployed aae64a1 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Refactort and add tests
  cfgov/v1/tests/views/test_reports_view.py
  cfgov/v1/views/reports.py
Due: backend

Add more test coverage
  cfgov/v1/tests/views/test_reports_view.py
  cfgov/v1/views/reports.py
Due: backend

External DB support, support for any db username with db dumps
  helm/cfgov/templates/_helpers.tpl
  helm/cfgov/templates/postgres-secret.yaml
  helm/cfgov/values.yaml
  refresh-data.sh
Due: none

Set a defualt for `PGUSER`
  refresh-data.sh
Due: none

External DB support, support for any db username with db dumps (#7217)
  helm/cfgov/templates/_helpers.tpl
  helm/cfgov/templates/postgres-secret.yaml
  helm/cfgov/values.yaml
  refresh-data.sh
Due: none

Deployed 9c0514a with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

add comments to cron job for clarity
  helm/cfgov/values.yaml
Due: none

Refactor preprocessing methods and tests
  cfgov/v1/tests/views/test_reports_view.py
  cfgov/v1/views/reports.py
Due: backend

Add information related to tests in Helm to the Helm readme (#7215)
  helm/README.md
Due: none

Deployed 6757636 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Refactor even MORE (hooray for partials!)
  cfgov/v1/tests/views/test_reports_view.py
  cfgov/v1/views/reports.py
Due: backend

Reorganize reports view tests
  cfgov/v1/tests/views/test_reports_view.py
Due: backend

Deployed e7092d6 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add more tests
  cfgov/v1/tests/views/test_reports_view.py
Due: backend

Deployed 9243271 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Fix cronjob name when longer than 52 char
  helm/cfgov/templates/cronjob.yaml
Due: none

Add JobHistoryLimit option, default to 1
  helm/README.md
  helm/cfgov/templates/cronjob.yaml
  helm/cfgov/values.yaml
Due: none

Formatting
  helm/README.md
Due: none

Fix cronjob name when longer than 52 char (#7220)
  helm/cfgov/templates/cronjob.yaml
Due: none

Deployed 42130b5 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add Ask CFPB Wagtail report (#7212)
  cfgov/v1/templates/v1/ask_report.html
  cfgov/v1/tests/views/test_reports_view.py
  cfgov/v1/views/reports.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Deployed 84b2269 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
