Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

trying to take out the dj_databas_url and trying out using env vars.
  cfgov/cfgov/settings/base.py
  requirements/libraries.txt
Due: backend

Added bolded zero line to data/time charts
  cfgov/unprocessed/css/on-demand/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/datetime-styles.js
Due: frontend

adding PG env vars and using them to create the database urls to be used in the app.
  .github/workflows/functional-tests.yml
  cfgov/cfgov/settings/base.py
  docker-compose.yml
  docker-entrypoint.sh
  docker-stack.yml
  dump-data.sh
  helm/cfgov/templates/deployment.yaml
  tox.ini
Due: backend

don't forget the host env vars.
  docker-compose.yml
  docker-entrypoint.sh
  dump-data.sh
Due: none

Add FIG content blocks to FIG section template
  cfgov/jinja2/v1/_includes/organisms/fig-section.html
Due: none

Move FIG-section template into filing_instruction_guide app
  cfgov/filing_instruction_guide/blocks.py
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/section.html
Due: backend

Use custom streamfield for FIG content
  cfgov/filing_instruction_guide/blocks.py
  cfgov/filing_instruction_guide/migrations/0004_custom_content_block_options.py
Due: backend

Remove duplicated template code
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/section.html
Due: none

FIG: Custom content options, including info-unit-group (#7114)
  cfgov/filing_instruction_guide/blocks.py
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/section.html
  cfgov/filing_instruction_guide/migrations/0004_custom_content_block_options.py
  cfgov/jinja2/v1/_includes/organisms/fig-section.html
Due: backend

Deployed 750499e with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

adding PGPORT env var as well and adding it to the database connection scripts.
  .github/workflows/functional-tests.yml
  cfgov/cfgov/settings/base.py
  docker-compose.yml
  docker-entrypoint.sh
  docker-stack.yml
  dump-data.sh
  helm/cfgov/templates/cronjob.yaml
  helm/cfgov/templates/deployment.yaml
  tox.ini
Due: backend

cleaner branch for PG env var additions.
  .github/workflows/functional-tests.yml
  cfgov/cfgov/settings/base.py
  docker-compose.yml
  docker-entrypoint.sh
  docker-stack.yml
  dump-data.sh
  requirements/libraries.txt
  tox.ini
Due: backend

Additional test explainers.
  cfgov/form_explainer/blocks.py
  cfgov/form_explainer/jinja2/form-explainer/blocks/adverse-action-english.html
  cfgov/form_explainer/jinja2/form-explainer/blocks/adverse-action-spanish.html
  cfgov/form_explainer/migrations/0005_alter_formexplainerpage_content.py
  cfgov/form_explainer/models.py
Due: backend

changes
  cfgov/ask_cfpb/tests/test_search.py
  cfgov/unprocessed/apps/analytics-gtm/js/retirement-before-you-claim-listeners.js
  test/cypress/integration/consumer-tools/before-you-claim/before-you-claim.js
Due: backend, frontend

removed console.logs
  cfgov/unprocessed/apps/analytics-gtm/js/retirement-before-you-claim-listeners.js
Due: frontend

remove test_search.py changes
  cfgov/ask_cfpb/tests/test_search.py
Due: backend

Revert "removed console.logs"
  cfgov/ask_cfpb/tests/test_search.py
  cfgov/unprocessed/apps/analytics-gtm/js/retirement-before-you-claim-listeners.js
Due: backend, frontend

fix test_search.py
  cfgov/ask_cfpb/tests/test_search.py
Due: backend

remove console.logs
  cfgov/unprocessed/apps/analytics-gtm/js/retirement-before-you-claim-listeners.js
Due: frontend

fix styling
  cfgov/unprocessed/apps/analytics-gtm/js/retirement-before-you-claim-listeners.js
Due: frontend

remove space
  test/cypress/integration/consumer-tools/before-you-claim/before-you-claim.js
Due: none

Add report view for email signups
  cfgov/v1/templates/v1/_list_page_emailsignups.html
  cfgov/v1/templates/v1/page_emailsignups_report.html
  cfgov/v1/tests/views/test_reports_view.py
  cfgov/v1/views/reports.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Added bolded zero line to data/time charts (#7119)
  cfgov/unprocessed/css/on-demand/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/datetime-styles.js
Due: frontend

Deployed 251d03d with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Change to homepage featured link
  cfgov/v1/jinja2/v1/home_page/_hardcoded_en.html
Due: none

Fix the current job openings table timezone handling
  cfgov/jobmanager/models/pages.py
  cfgov/jobmanager/tests/models/test_pages.py
Due: backend

Update cfgov/v1/jinja2/v1/home_page/_hardcoded_en.html
  cfgov/v1/jinja2/v1/home_page/_hardcoded_en.html
Due: none

Change to homepage featured link (#7125)
  cfgov/v1/jinja2/v1/home_page/_hardcoded_en.html
Due: none

Deployed 4278571 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Mark page class abstraction test no-cover
  cfgov/v1/views/reports.py
Due: backend

now works in both docker compose and helm-install.sh
  docker-compose.yml
Due: none

lint fix.
  cfgov/cfgov/settings/base.py
Due: backend

save images with lazy loading attribute
  cfgov/regulations3k/scripts/ecfr_importer.py
Due: backend

Deployed c1ce925 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed cc303b4 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Improve FIG subsection admin
  cfgov/filing_instruction_guide/blocks.py
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/section.html
  cfgov/filing_instruction_guide/migrations/0005_improve_fig_block_names_and_help_text.py
  cfgov/filing_instruction_guide/models.py
Due: backend

Don't display the section ID for lvl3 subsections
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/section.html
Due: none

FIG: Improve block naming, conditionally show section IDs (#7122)
  cfgov/filing_instruction_guide/blocks.py
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/section.html
  cfgov/filing_instruction_guide/migrations/0005_improve_fig_block_names_and_help_text.py
  cfgov/filing_instruction_guide/models.py
Due: backend

Deployed a378367 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Second iteration of zero line without projected line bolded
  cfgov/unprocessed/css/on-demand/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/datetime-styles.js
Due: frontend
