Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

disable:
  - search

Remove unnecessary markup
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
Due: none

Update CSS property order
  cfgov/unprocessed/apps/find-a-housing-counselor/css/hud.less
Due: none

add conditional for Travis to run tests for pull requests only
  .travis.yml
Due: none

this krang should break the JS unit tests
  cfgov/unprocessed/js/organisms/MegaMenu.js
Due: frontend

un-krang the tests
  cfgov/unprocessed/js/organisms/MegaMenu.js
Due: frontend

update mkdocs with Travis info and how to edit nav
  docs/development-tips.md
Due: none

add documentation about what Travis does and how we make it do that
  docs/travis.md
  mkdocs.yml
Due: none

call Travis by its full name in nav
  mkdocs.yml
Due: none

add note about builds on other branches
  docs/travis.md
Due: none

Bump ccdb5-api version to 1.1.7
  requirements/optional-public.txt
Due: none

Remove v from ccdb5_api version
  requirements/optional-public.txt
Due: none

Bump retirement app to 0.7.6
  requirements/optional-public.txt
Due: none

trivial style edits + link travis doc from dev tips
  docs/development-tips.md
  docs/travis.md
Due: none

Remove v from ccdb5_api version (#4685)
  requirements/optional-public.txt
Due: none

additional style and readability edits
  docs/travis.md
Due: none

add note about satellite app wheels on travis page, plus list of satellite apps
  docs/satellite-repos.md
  docs/travis.md
Due: none

add satellite-repos doc to navigation
  mkdocs.yml
Due: none

Improve map loading experience
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
  cfgov/unprocessed/apps/find-a-housing-counselor/css/hud.less
  cfgov/unprocessed/apps/find-a-housing-counselor/js/common.js
Due: frontend

Set icon size and alignment to be geographically correct
  cfgov/unprocessed/apps/find-a-housing-counselor/js/common.js
Due: frontend

Update MkDocs and its requirements
  requirements/manual.txt
Due: none

Change pages to nav
  mkdocs.yml
Due: none

Remove deprecated github extension
  mkdocs.yml
Due: none

Switch to Django-Flags style Read The Docs theme
  docs/css/overrides.css
  mkdocs.yml
  requirements/manual.txt
Due: none

Rename requirements/manual.txt to docs.txt
  README.md
  requirements/docs.txt
  travis_install.sh
Due: none

Change color of non-clickable nav elements
  docs/css/overrides.css
Due: none

Fix indenting and results cleanup
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
Due: none

Fix exports
  cfgov/unprocessed/apps/financial-well-being/js/fwb-questions.js
  cfgov/unprocessed/js/routes/consumer-tools/financial-well-being/index.js
  cfgov/unprocessed/js/routes/consumer-tools/financial-well-being/results/index.js
Due: frontend

Remove unnecessary paragraphs and convert strong to bold
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
Due: none

add "Edit on GitHub" link to docs
  mkdocs.yml
Due: none

Remove old housing counselor code and feature flag
  cfgov/cfgov/settings/base.py
  cfgov/housing_counselor/static/hud/hud.css
  cfgov/housing_counselor/static/hud/hud.js
  cfgov/housing_counselor/static/hud/hud_print.css
  cfgov/housing_counselor/templates/housing_counselor/index.html
  cfgov/housing_counselor/views.py
  cfgov/legacy/static/nemo/_/img/hud_gmap/agc_01.png
  cfgov/legacy/static/nemo/_/img/hud_gmap/agc_02.png
  cfgov/legacy/static/nemo/_/img/hud_gmap/agc_03.png
  cfgov/legacy/static/nemo/_/img/hud_gmap/agc_04.png
  cfgov/legacy/static/nemo/_/img/hud_gmap/agc_05.png
  cfgov/legacy/static/nemo/_/img/hud_gmap/agc_06.png
  cfgov/legacy/static/nemo/_/img/hud_gmap/agc_07.png
  cfgov/legacy/static/nemo/_/img/hud_gmap/agc_08.png
  cfgov/legacy/static/nemo/_/img/hud_gmap/agc_09.png
  cfgov/legacy/static/nemo/_/img/hud_gmap/agc_10.png
Due: backend, frontend

More sensible names and paths for housing counselor files
  cfgov/housing_counselor/jinja2/housing_counselor/index.html
  cfgov/housing_counselor/tests/management/__init__.py
  cfgov/housing_counselor/tests/management/test_cleaner.py
  cfgov/housing_counselor/tests/management/test_fetcher.py
  cfgov/housing_counselor/tests/management/test_generator.py
  cfgov/housing_counselor/tests/management/test_geocoder.py
  cfgov/housing_counselor/tests/test_views.py
  cfgov/housing_counselor/tests/views/__init__.py
Due: backend

Make Housing Counselor tests compatible with new template
  cfgov/housing_counselor/tests/test_views.py
Due: backend

Rename index template
  cfgov/housing_counselor/jinja2/housing_counselor/index.html
Due: none

underline links in regular text and code snippets for improved readability in docs
  docs/css/overrides.css
Due: none

expand tech stack and dependencies lists, add info about versions
  docs/index.md
Due: none

add apache to list but i do not know enough details about it
  docs/index.md
Due: none

Consistent function name case
  cfgov/unprocessed/apps/find-a-housing-counselor/js/common.js
Due: frontend

Show the date values interpreted from user input
  cfgov/v1/forms.py
  cfgov/v1/tests/test_forms.py
Due: backend

Interpret ambiguous to_date filter as end of time period
  cfgov/v1/forms.py
  cfgov/v1/tests/util/test_date_filter.py
  cfgov/v1/util/date_filter.py
Due: backend

remove deprecated local requirements
  requirements/local.txt
Due: none
