Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Update “live” link page status template override
  cfgov/wagtailadmin_overrides/templates/wagtailadmin/shared/page_status_tag.html
Due: none

Define WAGTAILADMIN_BASE_URL setting (#7513)
  cfgov/cfgov/settings/base.py
  cfgov/login/email.py
  cfgov/login/tests/test_email.py
Due: backend

Explicitly clear top position on click on table block row
  cfgov/unprocessed/apps/admin/js/rich-text-table.js
  cfgov/wagtailadmin_overrides/static/css/table-block.css
Due: frontend

Downgrade admin from react 17 to react 16
  npm-packages-offline-cache/react-16.14.0.tgz
  npm-packages-offline-cache/react-dom-16.14.0.tgz
  npm-packages-offline-cache/scheduler-0.19.1.tgz
  package.json
  yarn.lock
Due: none

Pass in preventOverflow setting to constructor to prevent scroll to top behavior on click
  cfgov/unprocessed/apps/admin/js/rich-text-table.js
Due: frontend

Add height: auto so initial table doesn't spill out of bounds
  cfgov/wagtailadmin_overrides/static/css/table-block.css
Due: none

Update simulate-event.js (#7508)
  test/util/simulate-event.js
Due: none

Deployed 80d4b9e with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 6b66ff2 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Update simulate-event.js
  test/util/simulate-event.js
Due: none

Migrate deprecated keyCode to KeyboardEvent.key (#7504)
  cfgov/unprocessed/js/molecules/Autocomplete.js
  test/unit_tests/js/modules/ClearableInput-spec.js
  test/unit_tests/js/modules/util/behavior-spec.js
  test/util/simulate-event.js
Due: frontend

Deployed ed0bd7c with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

TDP: migrate keyCode to KeyboardEvent.key (#7505)
  test/cypress/integration/consumer-tools/youth-financial-education/modal.cy.js
  test/unit_tests/apps/teachers-digital-platform/js/ClearableInput-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/scroll-spec.js
Due: none

Deployed e6c35b0 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed 92ff898 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed 444d56e with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Wagtail table hax0r (#7519)
  cfgov/unprocessed/apps/admin/js/rich-text-table.js
  cfgov/wagtailadmin_overrides/static/css/table-block.css
  npm-packages-offline-cache/react-16.14.0.tgz
  npm-packages-offline-cache/react-dom-16.14.0.tgz
  npm-packages-offline-cache/scheduler-0.19.1.tgz
  package.json
  yarn.lock
Due: frontend

Buying a House: Migrate deprecated keyCode to KeyboardEvent.key (#7506)
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/util.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/util-spec.js
Due: frontend

Deployed adeb01a with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Add missing tagline argument code comment
  cfgov/v1/jinja2/v1/includes/atoms/tagline.html
Due: none

Add missing tagline argument code comment (#7521)
  cfgov/v1/jinja2/v1/includes/atoms/tagline.html
Due: none

Deployed 813c3bc with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Add an active users report
  cfgov/v1/templates/v1/active_users_report.html
  cfgov/v1/tests/views/test_reports_view.py
  cfgov/v1/views/reports.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Optionally include tagline in global-eyebrow template
  cfgov/mega_menu/jinja2/mega_menu/mega-menu.html
  cfgov/unprocessed/css/molecules/global-eyebrow.less
  cfgov/v1/jinja2/v1/includes/molecules/global-eyebrow.html
  test/cypress/integration/components/header/mega-menu-helpers.cy.js
  test/unit_tests/mocks/megaMenuSnippet.js
Due: none

Add last login date/time to the active user report
  cfgov/v1/templates/v1/active_users_report.html
  cfgov/v1/views/reports.py
Due: backend

Deployed a7f1a76 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Add nav label field
  cfgov/v1/migrations/0228_cfgovpage_navigation_label.py
  cfgov/v1/models/base.py
  cfgov/v1/util/util.py
Due: backend

Removed outdated PRA
  cfgov/housing_counselor/jinja2/housing_counselor/index.html
Due: none

Adjusted spacing
  cfgov/housing_counselor/jinja2/housing_counselor/index.html
Due: none

Find a housing counselor: Remove outdated PRA (#7525)
  cfgov/housing_counselor/jinja2/housing_counselor/index.html
Due: none

Deployed edb07dc with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none
