Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Regulations Wayfinder - fix scrolling bugs
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
  cfgov/unprocessed/apps/regulations3k/js/permalinks.js
  test/unit_tests/apps/regulations3k/js/permalinks-utils-spec.js
Due: frontend

Add regulations wayfinder
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
Due: frontend

Add next version to the section context and use it
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
  cfgov/regulations3k/models/pages.py
  cfgov/regulations3k/tests/test_models.py
Due: backend

Regs3k Wayfinder aria property
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
Due: none

Regs3k wayfinder comment text change
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
Due: frontend

Update regulations wayfinder design
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
  cfgov/unprocessed/apps/regulations3k/css/reg-wayfinder.less
Due: none

Add small-screen styles to regulations wayfinder
  cfgov/unprocessed/apps/regulations3k/css/reg-wayfinder.less
Due: none

Add end date to previous version wayfinder
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
Due: none

Add next version to the section context and use it
  cfgov/regulations3k/tests/test_models.py
Due: backend

Update wayfinder format for appendix commentary
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
Due: frontend

Refactor Regs3k wayfinder Javascript
  cfgov/unprocessed/apps/regulations3k/css/reg-text.less
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
Due: frontend

Migrate icon to SVG
  cfgov/legacy/templates/complaint/complaint-landing.html
Due: none

Update edit options on Ask content block.
  cfgov/ask_cfpb/migrations/0029_answer_schema_blocks.py
  cfgov/ask_cfpb/models/blocks.py
Due: backend

Migrate cf-icon to SVG
  cfgov/hmda/templates/hmda/orange-explorer.html
Due: none

Add schema blocks to answer page (#4999)
  cfgov/ask_cfpb/migrations/0029_answer_schema_blocks.py
  cfgov/ask_cfpb/models/blocks.py
  cfgov/ask_cfpb/tests/test_blocks.py
  cfgov/jinja2/v1/_includes/ask/content-block.html
  cfgov/jinja2/v1/_includes/ask/faq.html
  cfgov/jinja2/v1/_includes/ask/how-to.html
  cfgov/unprocessed/css/pages/ask.less
Due: backend

Refactor and add tests for Regulations Wayfinder
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
  test/unit_tests/apps/regulations3k/js/permalinks-utils-spec.js
Due: frontend

Bump paying for college
  requirements/optional-public.txt
Due: none

Add volume to postgres container to persist refreshed data
  docker-compose.yml
Due: none

Add a new snippet model for glossary terms - Add a script for creating the terms from existing key terms pages and answer pages - Adds another script for populating the Spanish fields
  cfgov/ask_cfpb/fixtures/glossary_terms.csv
  cfgov/ask_cfpb/scripts/migrate_glossary_terms.py
  cfgov/ask_cfpb/scripts/migrate_glossary_terms_spanish.py
  cfgov/v1/migrations/0157_create_glossary_term.py
  cfgov/v1/models/snippets.py
  cfgov/v1/tests/models/test_snippets.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Replace /practitioner-resources/students/ with a Wagtail page
  cfgov/cfgov/urls.py
  cfgov/legacy/templates/students/index.html
Due: backend

Add article page type.
  cfgov/ask_cfpb/migrations/0028_auto_20190515_0045.py
  cfgov/ask_cfpb/models/__init__.py
  cfgov/ask_cfpb/models/pages.py
  cfgov/jinja2/v1/_includes/molecules/equal-height-columns.less
  cfgov/jinja2/v1/_includes/molecules/related-content.html
  cfgov/jinja2/v1/ask-cfpb/article-page.html
  cfgov/locale/es/LC_MESSAGES/django.po
  cfgov/unprocessed/css/pages/ask.less
Due: backend

Cleanup
  cfgov/ask_cfpb/models/pages.py
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: backend

Update article page migration.
  cfgov/ask_cfpb/migrations/0030_add_article_page.py
Due: backend

Add content to Spanish home page.
  cfgov/jinja2/v1/index_es.html
Due: none

Fix header output on Spanish home page.
  cfgov/jinja2/v1/index_es.html
Due: none

Fix bug in portal search-page routable URL handling
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Update orange-explorer.html
  cfgov/hmda/templates/hmda/orange-explorer.html
Due: none

Fix bug in portal search-page routable URL handling (#5011)
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Add tests
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Hook up glossary terms to PortalSearchPages
  cfgov/ask_cfpb/models/pages.py
  cfgov/jinja2/v1/ask-cfpb/see-all.html
Due: backend

Update translations.
  cfgov/locale/es/LC_MESSAGES/django.mo
Due: none

Style updates.
  cfgov/jinja2/v1/ask-cfpb/see-all.html
  cfgov/unprocessed/css/pages/ask.less
Due: none

Update link to answer page
  cfgov/jinja2/v1/ask-cfpb/see-all.html
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Filter glossary terms list before passing it to template
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/jinja2/v1/ask-cfpb/see-all.html
Due: backend

Update hero text for Spanish home page.
  cfgov/jinja2/v1/index_es.html
Due: none

Add script to use generic complaint resource
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
  cfgov/v1/migrations/0158_add_language_fields_to_relatedresource.py
  cfgov/v1/tests/models/test_snippets.py
Due: backend

Add language fields to RelatedResource snippet.
  cfgov/ask_cfpb/scripts/use_generic_complaint_resource.py
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
  cfgov/v1/migrations/0157_add_language_fields_to_relatedresource.py
  cfgov/v1/models/snippets.py
  cfgov/v1/tests/models/test_snippets.py
Due: backend

Make sure trans_text never returns None
  cfgov/v1/models/snippets.py
Due: backend

Restore test
  test/browser_tests/cucumber/features/suites/default/pagination.feature
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
