Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Remove unused variables
  cfgov/unprocessed/apps/owning-a-home/js/form-explainer/form-explainer.js
  cfgov/unprocessed/apps/retirement/js/views/tooltips-view.js
Due: frontend

FIG data points: Add optional field "citation"
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/data_points.html
Due: none

FIG data points: Add optional field "citation" (#7309)
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/data_points.html
Due: none

Deployed 9c1bfbc with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add to cache
  npm-packages-offline-cache/@babel-helper-simple-access-7.19.4.tgz
  npm-packages-offline-cache/@babel-helpers-7.19.4.tgz
Due: none

Convert hasOwnProps to linter-friendly form (#7302)
  cfgov/unprocessed/apps/admin/js/rich-text-table.js
  cfgov/unprocessed/apps/find-a-housing-counselor/js/hud-util.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/js/modules/Analytics.js
  cfgov/unprocessed/js/modules/util/dom-manipulators.js
  test/unit_tests/js/modules/Analytics-spec.js
Due: frontend

Deployed 022c849 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Remove more unused variables
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/show-map.js
  cfgov/unprocessed/js/routes/on-demand/mortgage-performance-trends.js
Due: frontend

Remove unused `text` variable
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/views/chart-view.js
Due: frontend

Remove hard-coded form explainers.
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/jinja2/v1/owning-a-home/_templates/form-explainer.html
  cfgov/jinja2/v1/owning-a-home/closing-disclosure/closing-disclosure-1-data.html
  cfgov/jinja2/v1/owning-a-home/closing-disclosure/closing-disclosure-2-data.html
  cfgov/jinja2/v1/owning-a-home/closing-disclosure/closing-disclosure-3-data.html
  cfgov/jinja2/v1/owning-a-home/closing-disclosure/closing-disclosure-4-data.html
  cfgov/jinja2/v1/owning-a-home/closing-disclosure/closing-disclosure-5-data.html
  cfgov/jinja2/v1/owning-a-home/closing-disclosure/index.html
  cfgov/jinja2/v1/owning-a-home/loan-estimate/index.html
  cfgov/jinja2/v1/owning-a-home/loan-estimate/loan-estimate-1-data.html
  cfgov/jinja2/v1/owning-a-home/loan-estimate/loan-estimate-2-data.html
  cfgov/jinja2/v1/owning-a-home/loan-estimate/loan-estimate-3-data.html
  cfgov/unprocessed/apps/owning-a-home/css/form-explainer.less
  cfgov/unprocessed/apps/owning-a-home/css/main.less
  cfgov/unprocessed/apps/owning-a-home/img/closing-disclosure-H25B-1.png
  cfgov/unprocessed/apps/owning-a-home/img/closing-disclosure-H25B-2.png
  cfgov/unprocessed/apps/owning-a-home/img/closing-disclosure-H25B-3.png
  cfgov/unprocessed/apps/owning-a-home/img/closing-disclosure-H25B-4.png
  cfgov/unprocessed/apps/owning-a-home/img/closing-disclosure-H25B-5.png
  cfgov/unprocessed/apps/owning-a-home/img/ill-form-explainer-closing-disc.png
  cfgov/unprocessed/apps/owning-a-home/img/ill-form-explainer-loan-est.png
  cfgov/unprocessed/apps/owning-a-home/img/loan-estimate-H24B-1.png
  cfgov/unprocessed/apps/owning-a-home/img/loan-estimate-H24B-2.png
  cfgov/unprocessed/apps/owning-a-home/img/loan-estimate-H24B-3.png
  cfgov/unprocessed/apps/owning-a-home/js/form-explainer/form-explainer.js
  cfgov/unprocessed/apps/owning-a-home/js/form-explainer/index.js
Due: backend, frontend

Bump chart version
  helm/cfgov/Chart.yaml
Due: none

Remove/adjust unused variables (#7308)
  cfgov/unprocessed/apps/owning-a-home/js/form-explainer/form-explainer.js
  cfgov/unprocessed/apps/retirement/js/views/tooltips-view.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/show-map.js
  cfgov/unprocessed/js/routes/on-demand/mortgage-performance-trends.js
Due: frontend

Deployed eb1f822 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Add domain name helper (#7311)
  helm/cfgov/Chart.yaml
  helm/cfgov/templates/_helpers.tpl
Due: none

Deployed 87b8805 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Update how to schema options and add anchor tag field to other Ask blocks.
  cfgov/ask_cfpb/migrations/0044_update_how_to_schema.py
  cfgov/ask_cfpb/models/blocks.py
  cfgov/ask_cfpb/tests/test_blocks.py
  cfgov/jinja2/v1/_includes/blocks/schema/content-block.html
  cfgov/jinja2/v1/_includes/blocks/schema/faq.html
  cfgov/jinja2/v1/_includes/blocks/schema/how-to.html
  cfgov/unprocessed/css/schema.less
  cfgov/v1/atomic_elements/schema.py
  cfgov/v1/migrations/0221_update_how_to_schema.py
  cfgov/v1/models/blog_page.py
Due: backend

Linter fixes
  cfgov/unprocessed/apps/admin/js/rich-text-table.js
  cfgov/unprocessed/apps/analytics-gtm/js/accessibility-interactions-listeners.js
  cfgov/unprocessed/apps/analytics-gtm/js/bah-check-rates-listeners.js
  cfgov/unprocessed/apps/analytics-gtm/js/bah-closing-disclosure-listeners.js
  cfgov/unprocessed/apps/analytics-gtm/js/bah-loan-estimate-listeners.js
  cfgov/unprocessed/apps/analytics-gtm/js/enterprise-hash-url-listener.js
  cfgov/unprocessed/apps/analytics-gtm/js/retirement-before-you-claim-listeners.js
  cfgov/unprocessed/apps/analytics-gtm/js/tab-navigation-tracking.js
  cfgov/unprocessed/apps/analytics-gtm/js/util/analytics-util.js
  cfgov/unprocessed/apps/find-a-housing-counselor/js/common.js
  cfgov/unprocessed/apps/form-explainer/js/FormExplainer.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/Slider.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/views/chart-view.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/common.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/dom-tools.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/text-inputs.js
  cfgov/unprocessed/js/modules/util/FormModel.js
  cfgov/unprocessed/js/modules/util/email-popup-helpers.js
  cfgov/unprocessed/js/modules/util/validators.js
  cfgov/unprocessed/js/molecules/GlobalSearch.js
  cfgov/unprocessed/js/organisms/FilterableListControls.js
  test/cypress/integration/components/filterable-lists/filterable-helpers.cy.js
  test/unit_tests/js/modules/util/assign-spec.js
Due: frontend

Move `copy-to-clipboard` dependency
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/copy-to-clipboard-3.3.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/package.json
  cfgov/unprocessed/apps/teachers-digital-platform/yarn.lock
  npm-packages-offline-cache/copy-to-clipboard-3.3.2.tgz
  npm-packages-offline-cache/toggle-selection-1.0.6.tgz
  package.json
  yarn.lock
Due: none

Delete index-spec.js
  test/unit_tests/apps/regulations3k/js/index-spec.js
Due: none

Use modern query params
  cfgov/unprocessed/apps/analytics-gtm/js/util/analytics-util.js
Due: frontend

Delete index-spec.js (#7315)
  test/unit_tests/apps/regulations3k/js/index-spec.js
Due: none

Deployed dbc37df with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Autofix issues
  cfgov/unprocessed/apps/admin/js/rich-text-table.js
  cfgov/unprocessed/apps/analytics-gtm/js/util/analytics-util.js
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-search.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/Slider.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/get-model-values.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/constants-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/expenses-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/school-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/state-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/util/debt-calculator.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/util/other-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/index.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/models/expenses-model.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/models/school-model.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/Analytics.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/query-handler.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/views/links-view.js
  cfgov/unprocessed/apps/retirement/js/views/graph-view.js
  cfgov/unprocessed/apps/retirement/js/views/tooltips-view.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/common.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
  cfgov/unprocessed/js/modules/util/FormModel.js
  cfgov/unprocessed/js/organisms/FilterableListControls.js
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide-search.cy.js
  test/unit_tests/js/modules/util/assign-spec.js
Due: frontend

Remove unused hostsAreEqual analytics utils
  cfgov/unprocessed/apps/analytics-gtm/js/util/analytics-util.js
  test/unit_tests/apps/analytics-gtm/js/util/analytics-util-spec.js
Due: frontend

Remove unused `text` variable (#7312)
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/views/chart-view.js
Due: frontend

Deployed 9a1ab76 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed 0481e46 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Remove unused hostsAreEqual analytics utils (#7317)
  cfgov/unprocessed/apps/analytics-gtm/js/util/analytics-util.js
  test/unit_tests/apps/analytics-gtm/js/util/analytics-util-spec.js
Due: frontend

Deployed 561257e with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Update obfuscation-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/obfuscation-spec.js
Due: none

Use modern query params (#7316)
  cfgov/unprocessed/apps/analytics-gtm/js/util/analytics-util.js
Due: frontend

Deployed a6eec00 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

TDP: Update obfuscation-spec.js to import methods individually (#7319)
  test/unit_tests/apps/teachers-digital-platform/js/obfuscation-spec.js
Due: none

Deployed d8728e4 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update how to schema options and add anchor tag field to other Ask blocks. (#7320)
  cfgov/ask_cfpb/migrations/0044_update_how_to_schema.py
  cfgov/ask_cfpb/models/blocks.py
  cfgov/ask_cfpb/tests/test_blocks.py
  cfgov/jinja2/v1/_includes/blocks/schema/content-block.html
  cfgov/jinja2/v1/_includes/blocks/schema/faq.html
  cfgov/jinja2/v1/_includes/blocks/schema/how-to.html
  cfgov/unprocessed/css/schema.less
  cfgov/v1/atomic_elements/schema.py
  cfgov/v1/migrations/0221_update_how_to_schema.py
  cfgov/v1/models/blog_page.py
Due: backend

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
