Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Update Spanish X handle
  cfgov/v1/jinja2/v1/blog/blog_page.html
Due: none

Fix video thumbnails
  cfgov/v1/jinja2/v1/includes/organisms/video-player.html
Due: none

Change link name from handle to "(formerly Twitter)"
  cfgov/v1/jinja2/v1/blog/blog_page.html
  cfgov/v1/locale/es/LC_MESSAGES/django.mo
  cfgov/v1/locale/es/LC_MESSAGES/django.po
Due: none

Deployed 2e72e39 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Remove unused `media-query-no-invalid` stylelint config and autofix linter issues
  .stylelintrc.cjs
  cfgov/unprocessed/apps/tccp/css/main.less
Due: none

PfC: Remove unused border
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/financial-item.less
Due: none

Deployed ea1f549 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Add `m-btn-group` for group of buttons | turn button class into button ID.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/0-intro.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/views/navigation-view.js
  test/cypress/integration/paying-for-college/your-financial-path-to-graduation/financial-path-helpers.cy.js
Due: frontend

Remove `cf-theme-overrides.less`
  cfgov/unprocessed/apps/paying-for-college/css/cf-enhancements.less
  cfgov/unprocessed/apps/paying-for-college/css/cf-theme-overrides.less
  cfgov/unprocessed/apps/paying-for-college/css/main.less
Due: none

Deployed 0f68ee0 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 05731c6 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Update browserslist to use @cfpb/browserslist-config stats
  npm-packages-offline-cache/@cfpb-browserslist-config-0.0.2.tgz
  package.json
  yarn.lock
Due: none

Make Contact snippets previewable
  cfgov/v1/jinja2/v1/includes/organisms/contact-preview.html
  cfgov/v1/models/snippets.py
  cfgov/v1/tests/models/test_snippets.py
Due: backend

Deployed fa56008 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Fix contrast in event-meta
  cfgov/unprocessed/css/on-demand/event.less
Due: none

Deployed 22beab4 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 090b3b4 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Linter fixes
  cfgov/unprocessed/apps/owning-a-home/css/explore-rates.less
  cfgov/unprocessed/apps/prepaid-agreements/css/search.less
  cfgov/unprocessed/apps/regulations3k/css/reg-search.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/activity-search.less
  cfgov/unprocessed/css/on-demand/event.less
  cfgov/unprocessed/css/on-demand/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/analytics.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/data-filters.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-chart.js
  cfgov/v1/jinja2/v1/includes/organisms/simple-chart.html
Due: frontend

Autofix linter issues
  cfgov/unprocessed/apps/owning-a-home/css/explore-rates.less
  cfgov/unprocessed/apps/regulations3k/css/reg-search.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/activity-search.less
Due: none

Remove unused _filter_selectable macro
  cfgov/v1/jinja2/v1/includes/organisms/filterable-list-controls.html
  cfgov/v1/jinja2tags/__init__.py
Due: backend

Deployed 0840226 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Update cfgov/v1/jinja2tags/__init__.py
  cfgov/v1/jinja2tags/__init__.py
Due: backend

Remove/update m-formfield modifiers
  cfgov/hmda/jinja2/hmda/hmda-explorer-controls.html
  cfgov/jinja2/rural-or-underserved/index.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/12-affording-your-loan.html
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/privacy-styles.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
  cfgov/retirement_api/jinja2/retirement_api/claiming.html
  cfgov/tccp/jinja2/tccp/includes/filter_form.html
  cfgov/tccp/jinja2/tccp/landing_page.html
  cfgov/unprocessed/css/molecules/file-input.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/data-filters.js
  cfgov/v1/jinja2/v1/includes/organisms/filterable-list-controls.html
  cfgov/v1/jinja2/v1/includes/organisms/mortgage-chart.html
  cfgov/v1/jinja2/v1/includes/organisms/mortgage-map.html
Due: frontend

Remove prefixed filter test
  cfgov/v1/tests/jinja2tags/test_jinja2tags.py
Due: backend

Remove unused `icon-link` class | update jump link class
  cfgov/housing_counselor/templates/housing_counselor/pdf_selfcontained.html
  cfgov/jinja2/know-before-you-owe/compare/index.html
  cfgov/jinja2/know-before-you-owe/timeline/index.html
  cfgov/v1/jinja2/v1/includes/organisms/chart.html
  cfgov/v1/jinja2/v1/includes/organisms/mortgage-chart.html
  cfgov/v1/jinja2/v1/includes/organisms/mortgage-map.html
  cfgov/v1/jinja2/v1/includes/organisms/simple-chart.html
Due: none

Pin Wagtail to 6.x
  requirements/libraries.txt
  requirements/wagtail.txt
Due: none

StreamFields no long require use_json_field=True
  cfgov/ask_cfpb/models/answer_page.py
  cfgov/filing_instruction_guide/models.py
  cfgov/form_explainer/models.py
  cfgov/mega_menu/models.py
  cfgov/paying_for_college/models/pages.py
  cfgov/regulations3k/models/pages.py
  cfgov/teachers_digital_platform/models/activity_index_page.py
  cfgov/v1/models/banners.py
  cfgov/v1/models/base.py
  cfgov/v1/models/blog_page.py
  cfgov/v1/models/browse_filterable_page.py
  cfgov/v1/models/browse_page.py
  cfgov/v1/models/enforcement_action_page.py
  cfgov/v1/models/landing_page.py
  cfgov/v1/models/learn_page.py
  cfgov/v1/models/snippets.py
  cfgov/v1/models/story_page.py
  cfgov/v1/models/sublanding_filterable_page.py
  cfgov/v1/models/sublanding_page.py
Due: backend

Convert DB unique index to unique constraint
  cfgov/v1/migrations/0033_wagtailsearch_querydailyhits_index_fix.py
Due: backend

Update treemodeladmin
  requirements/libraries.txt
Due: none

Adjust admin tests to universal listing
  test/cypress/integration/admin/admin-helpers.cy.js
Due: none

Include chart styling on mpt pages and remove chart import from mpt styles
  cfgov/unprocessed/css/on-demand/mortgage-performance-trends.less
  cfgov/v1/atomic_elements/organisms.py
Due: backend

Deployed 61d34e2 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 2e721b5 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Remove `stringEscape` and `stringMatch`
  cfgov/unprocessed/js/modules/util/strings.js
  test/unit_tests/js/modules/util/strings-spec.js
Due: frontend

Deployed e67f57c with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

TCCP: Improve landing page form hierarchy
  cfgov/tccp/jinja2/tccp/landing_page.html
  cfgov/tccp/jinja2/tccp/situations/select/make-a-big-purchase.html
  cfgov/tccp/templates/tccp/widgets/situation_checkbox_option.html
  cfgov/unprocessed/apps/tccp/css/main.less
Due: none

TCCP: Add htmx extension to handle ARIA busy state
  cfgov/tccp/jinja2/tccp/cards.html
  cfgov/tccp/jinja2/tccp/landing_page.html
  cfgov/unprocessed/apps/tccp/js/htmx.js
  test/cypress/integration/consumer-tools/credit-cards/explore-cards.cy.js
Due: frontend

TCCP: Update speed bump component
  cfgov/tccp/jinja2/tccp/includes/speed_bump.html
Due: none

TCCP: Update htmx target to use aria-controls attribute
  cfgov/tccp/jinja2/tccp/cards.html
  cfgov/tccp/jinja2/tccp/includes/filter_form.html
  cfgov/unprocessed/apps/tccp/css/main.less
  test/cypress/integration/consumer-tools/credit-cards/explore-cards.cy.js
Due: none
