Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Deployed 8b0b8f3 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update linters
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
  cfgov/unprocessed/apps/regulations3k/npm-packages-offline-cache/define-properties-1.1.4.tgz
  cfgov/unprocessed/apps/regulations3k/npm-packages-offline-cache/has-property-descriptors-1.0.0.tgz
  cfgov/unprocessed/apps/regulations3k/npm-packages-offline-cache/has-symbols-1.0.3.tgz
  cfgov/unprocessed/apps/regulations3k/npm-packages-offline-cache/json-schema-0.4.0.tgz
  cfgov/unprocessed/apps/regulations3k/npm-packages-offline-cache/json5-2.2.1.tgz
  cfgov/unprocessed/css/organisms/mega-menu.less
  npm-packages-offline-cache/@csstools-selector-specificity-2.0.1.tgz
  npm-packages-offline-cache/@csstools-selector-specificity-2.0.2.tgz
  npm-packages-offline-cache/@humanwhocodes-config-array-0.10.4.tgz
  npm-packages-offline-cache/@humanwhocodes-config-array-0.9.5.tgz
  npm-packages-offline-cache/@humanwhocodes-gitignore-to-minimatch-1.0.2.tgz
  npm-packages-offline-cache/acorn-8.8.0.tgz
  npm-packages-offline-cache/eslint-8.19.0.tgz
  npm-packages-offline-cache/eslint-8.21.0.tgz
  npm-packages-offline-cache/espree-9.3.3.tgz
  npm-packages-offline-cache/fastest-levenshtein-1.0.16.tgz
  npm-packages-offline-cache/find-up-5.0.0.tgz
  npm-packages-offline-cache/grapheme-splitter-1.0.4.tgz
  npm-packages-offline-cache/locate-path-6.0.0.tgz
  npm-packages-offline-cache/p-limit-3.1.0.tgz
  npm-packages-offline-cache/p-locate-5.0.0.tgz
  npm-packages-offline-cache/postcss-8.4.14.tgz
  npm-packages-offline-cache/postcss-8.4.16.tgz
  npm-packages-offline-cache/stylelint-14.10.0.tgz
  npm-packages-offline-cache/stylelint-14.9.1.tgz
  npm-packages-offline-cache/yocto-queue-0.1.0.tgz
  package.json
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide.js
  test/cypress/integration/components/filterable-lists/filter-helpers.js
  test/cypress/support/index.js
  yarn.lock
Due: frontend

Simplify duplicative jinja templates (#7164)
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/form-submitted.html
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/privacy.html
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/voluntary-assessment-form.html
  cfgov/hmda/jinja2/hmda/hmda-explorer.html
  cfgov/jinja2/v1/_layouts/content-base-main-first.html
  cfgov/jinja2/v1/_layouts/content-base-main-only.html
  cfgov/jinja2/v1/_layouts/content-base-sidebar-first.html
  cfgov/jinja2/v1/_layouts/layout-1-3.html
  cfgov/jinja2/v1/_layouts/layout-2-1-bleedbar.html
  cfgov/jinja2/v1/_layouts/layout-2-1.html
  cfgov/jinja2/v1/_layouts/layout-full.html
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
  cfgov/jinja2/v1/ask-cfpb/answer-search-results.html
  cfgov/jinja2/v1/ask-cfpb/article-page.html
  cfgov/jinja2/v1/ask-cfpb/landing-page.html
  cfgov/jinja2/v1/blog/blog_page.html
  cfgov/jinja2/v1/document-detail/index.html
  cfgov/jinja2/v1/enforcement-action/index.html
  cfgov/jinja2/v1/events/event.html
  cfgov/jinja2/v1/landing-page/index.html
  cfgov/jinja2/v1/learn-page/index.html
  cfgov/jinja2/v1/sublanding-page/index.html
  cfgov/jinja2/v1/your-story/index.html
  cfgov/jobmanager/jinja2/jobmanager/job_listing_page.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/form-submitted.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
  cfgov/regulations3k/jinja2/regulations3k/landing-page.html
  cfgov/retirement_api/jinja2/retirement_api/about.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_page.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/base.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/unprocessed/css/post.less
  cfgov/wellbeing/jinja2/wellbeing/about.html
  cfgov/wellbeing/jinja2/wellbeing/error.html
  cfgov/wellbeing/jinja2/wellbeing/home.html
  cfgov/wellbeing/jinja2/wellbeing/results.html
  docs/wagtail-pages.md
  requirements/libraries.txt
Due: none

Deployed 3cf905c with MkDocs version: 1.3.0
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  wagtail-pages/index.html
Due: none

Generate agreements index page programmatically
  cfgov/agreements/jinja2/agreements/index.html
  cfgov/agreements/views.py
Due: backend

Fixing 404s in Your Financial Path to Graduation
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/10-max-debt-guideline.html
Due: none

Deployed ffa29dd with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Fixing 404s in Your Financial Path to Graduation (#7189)
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/10-max-debt-guideline.html
Due: none

Deployed 49d75a6 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Add latest version of DS
  package.json
  yarn.lock
Due: none

Improve FIG template documentation
  cfgov/jinja2/v1/_includes/organisms/secondary-navigation-fig.html
Due: none

Increase FIG expandable heading width so text doesn't break to next line
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/layout-fig.html
  cfgov/jinja2/v1/_includes/organisms/secondary-navigation-fig.html
  cfgov/unprocessed/apps/filing-instruction-guide/css/main.less
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.17.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.17.0.tgz
Due: none

Add FIG version status and effective dates
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/index.html
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/layout-fig.html
  cfgov/jinja2/v1/_includes/organisms/secondary-navigation-fig.html
  cfgov/jinja2/v1/_layouts/layout-side-nav.html
  cfgov/unprocessed/apps/filing-instruction-guide/css/main.less
  cfgov/unprocessed/css/atoms/tag.less
Due: none

Update cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/layout-fig.html
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/layout-fig.html
Due: none

Deployed 1589db4 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Update eslint and stylelint
  npm-packages-offline-cache/@csstools-selector-specificity-2.0.1.tgz
  npm-packages-offline-cache/@csstools-selector-specificity-2.0.2.tgz
  npm-packages-offline-cache/@humanwhocodes-config-array-0.10.4.tgz
  npm-packages-offline-cache/@humanwhocodes-config-array-0.9.5.tgz
  npm-packages-offline-cache/@humanwhocodes-gitignore-to-minimatch-1.0.2.tgz
  npm-packages-offline-cache/acorn-8.8.0.tgz
  npm-packages-offline-cache/eslint-8.19.0.tgz
  npm-packages-offline-cache/eslint-8.22.0.tgz
  npm-packages-offline-cache/espree-9.3.3.tgz
  npm-packages-offline-cache/fastest-levenshtein-1.0.16.tgz
  npm-packages-offline-cache/find-up-5.0.0.tgz
  npm-packages-offline-cache/grapheme-splitter-1.0.4.tgz
  npm-packages-offline-cache/locate-path-6.0.0.tgz
  npm-packages-offline-cache/p-limit-3.1.0.tgz
  npm-packages-offline-cache/p-locate-5.0.0.tgz
  npm-packages-offline-cache/postcss-8.4.14.tgz
  npm-packages-offline-cache/postcss-8.4.16.tgz
  npm-packages-offline-cache/stylelint-14.10.0.tgz
  npm-packages-offline-cache/stylelint-14.9.1.tgz
  npm-packages-offline-cache/yocto-queue-0.1.0.tgz
  package.json
  yarn.lock
Due: none

Autofix linter issues
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
  cfgov/unprocessed/css/organisms/mega-menu.less
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide.cy.js
  test/cypress/integration/components/filterable-lists/filter-helpers.cy.js
  test/cypress/support/assertions.js
  test/cypress/support/e2e.js
Due: frontend

Update linters (#7190)
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
  cfgov/unprocessed/css/organisms/mega-menu.less
  npm-packages-offline-cache/@csstools-selector-specificity-2.0.1.tgz
  npm-packages-offline-cache/@csstools-selector-specificity-2.0.2.tgz
  npm-packages-offline-cache/@humanwhocodes-config-array-0.10.4.tgz
  npm-packages-offline-cache/@humanwhocodes-config-array-0.9.5.tgz
  npm-packages-offline-cache/@humanwhocodes-gitignore-to-minimatch-1.0.2.tgz
  npm-packages-offline-cache/acorn-8.8.0.tgz
  npm-packages-offline-cache/eslint-8.19.0.tgz
  npm-packages-offline-cache/eslint-8.22.0.tgz
  npm-packages-offline-cache/espree-9.3.3.tgz
  npm-packages-offline-cache/fastest-levenshtein-1.0.16.tgz
  npm-packages-offline-cache/find-up-5.0.0.tgz
  npm-packages-offline-cache/grapheme-splitter-1.0.4.tgz
  npm-packages-offline-cache/locate-path-6.0.0.tgz
  npm-packages-offline-cache/p-limit-3.1.0.tgz
  npm-packages-offline-cache/p-locate-5.0.0.tgz
  npm-packages-offline-cache/postcss-8.4.14.tgz
  npm-packages-offline-cache/postcss-8.4.16.tgz
  npm-packages-offline-cache/stylelint-14.10.0.tgz
  npm-packages-offline-cache/stylelint-14.9.1.tgz
  npm-packages-offline-cache/yocto-queue-0.1.0.tgz
  package.json
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide.cy.js
  test/cypress/integration/components/filterable-lists/filter-helpers.cy.js
  test/cypress/support/assertions.js
  test/cypress/support/e2e.js
  yarn.lock
Due: frontend

Deployed 44a149b with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

updated elasticsearch to use django-opensearch-dsl
  .github/workflows/backend.yml
  .github/workflows/functional-tests.yml
  cfgov/ask_cfpb/tests/test_search.py
  cfgov/cfgov/settings/base.py
  cfgov/v1/documents.py
  cfgov/v1/tests/test_documents.py
  helm-install.sh
  helm/cfgov/templates/_helpers.tpl
  helm/cfgov/templates/cronjob.yaml
  helm/cfgov/templates/deployment.yaml
  helm/overrides/services.yaml
  requirements/libraries.txt
Due: backend

added sleep to test to allow for index update
  cfgov/v1/tests/test_filterable_list_form.py
Due: backend

restore lxml version
  requirements/libraries.txt
Due: none

restored helm upgrade settings
  helm-install.sh
Due: none

agreement tests
  cfgov/agreements/metadata.py
  cfgov/agreements/tests/test_metadata.py
  cfgov/agreements/tests/test_views.py
  cfgov/agreements/views.py
Due: backend

Mock metadata in test_legacy
  cfgov/agreements/tests/test_legacy.py
  cfgov/agreements/tests/test_metadata.py
Due: backend

Clean up S3 bucket name envvars
  .env_SAMPLE
  cfgov/agreements/management/commands/_util.py
  cfgov/agreements/metadata.py
  cfgov/agreements/tests/test_management.py
  cfgov/agreements/tests/test_metadata.py
  cfgov/cfgov/settings/base.py
  cfgov/v1/tests/test_meta_image.py
Due: backend

provide secrets to functional tests
  .github/workflows/functional-tests.yml
Due: none

added comment
  cfgov/v1/tests/test_documents.py
Due: backend

capture s3 errors
  .github/workflows/functional-tests.yml
  cfgov/agreements/metadata.py
Due: backend

removed magic string and unused import
  cfgov/ask_cfpb/tests/test_search.py
  cfgov/cfgov/settings/base.py
Due: backend

Remove direct RPM install from NodeSource
  docker/deployable-zipfile/Dockerfile
Due: none

Update page-search.md
  docs/page-search.md
Due: none

updated page-search.md documentation
  docs/page-search.md
Due: none

Deployed 3afe177 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

create commented out env var
  helm/overrides/local.yaml
Due: none

Deployed e5970b3 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

restored elasticsearch requirement
  requirements/libraries.txt
Due: none

updated management command in docker-stack.yml
  docker-stack.yml
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
