Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Restore API Program null values (#5920)
  cfgov/paying_for_college/models/disclosures.py
Due: backend

Deployed c7604ff with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Update building block info on activity detail pages
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_page.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/global/headings.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/main.less
Due: none

Add wagtail 2.10rc2 to tox.ini
  tox.ini
Due: none

Update openpyxl from 2.5.8 to 2.6.0
  requirements/libraries.txt
Due: none

Respond to https://github.com/cfpb/cfgov-refresh/pull/5908
  cfgov/jinja2/v1/_includes/organisms/sidenav-toc.html
  cfgov/research_reports/jinja2/research_reports/index.html
  cfgov/research_reports/jinja2/research_reports/pdf-download.html
  cfgov/research_reports/models.py
  cfgov/unprocessed/apps/research-reports/css/main.less
Due: backend

Temporarily fetch all tags and branches when checking coverage
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Deployed c295ce0 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Remove Document Serve View
  cfgov/cfgov/urls.py
  cfgov/v1/tests/views/test_documents.py
  cfgov/v1/views/documents.py
Due: backend

Update openpyxl from 2.6.0 to 3.0.3
  requirements/libraries.txt
Due: none

Update openpyxl from 2.5.8 to 3.0.3 (#5921)
  requirements/libraries.txt
Due: none

Deployed 5538500 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add refresh-data to docker build image
  Dockerfile
Due: none

Add refresh-data to docker build image (#5924)
  Dockerfile
Due: none

Deployed 2caf309 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Update ask_cfpb test_blocks.py for Wagtail 2.10
  cfgov/ask_cfpb/tests/test_blocks.py
Due: backend

Adding document to url patterns from wagtaildocs
  cfgov/cfgov/urls.py
Due: backend

div class rich-text changes in Wagtail 2.10
  cfgov/ask_cfpb/tests/test_blocks.py
Due: backend

Update openpyxl version
  requirements/libraries.txt
Due: none

Provide AWS Configurations for Preview Environment
  docker-stack.yml
Due: none

Fix the key name mismatch
  docker-stack.yml
Due: none

Move wagtail 2.10rc2 from tox.ini to requirements/wagtail-future.txt
  requirements/libraries.txt
  requirements/wagtail-future.txt
  requirements/wagtail.txt
  tox.ini
Due: none

Update tests
  cfgov/cfgov/tests/test_urls.py
Due: backend

Add Python to fix ES index loading and clean up entrypoint script
  Dockerfile
  docker-stack.yml
Due: none

changes notification to change_author
  Jenkinsfile
Due: none

Add wagtail dependancies to tox.ini * wagtail-flags * wagtail-inventory * wagtail-sharing * wagtail-treemodeladmin * wagtail-autocomplete
  requirements/wagtail-future.txt
  tox.ini
Due: none

Remove Document Serve View (#5923)
  Dockerfile
  cfgov/cfgov/tests/test_urls.py
  cfgov/cfgov/urls.py
  cfgov/v1/tests/views/test_documents.py
  cfgov/v1/views/documents.py
  docker-stack.yml
Due: backend

Deployed 45cbf6c with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Replace jsonfield with djangos JSONField
  cfgov/data_research/migrations/0001_squashed_0013_auto_20200810_1456.py
  cfgov/data_research/migrations/0011_recreated.py
  cfgov/data_research/migrations/0012_recreated_2.py
  cfgov/data_research/migrations/0013_auto_20200810_1456.py
  cfgov/data_research/models.py
Due: backend

Fix sorting
  cfgov/data_research/models.py
Due: backend

make income and expense tabs more prominent via background colors and hover states.
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/category-browser.less
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/category-browser.js
Due: frontend

Move our test runners into our core.testutils package
  .github/workflows/backend.yml
  cfgov/cfgov/settings/test.py
  cfgov/cfgov/settings/test_acceptance.py
  cfgov/core/tests/testutils/test_runners.py
  cfgov/core/testutils/runners.py
  docs/python-unit-tests.md
Due: backend

Deployed bcc0aa7 with MkDocs version: 1.0.4
  index.html
  python-unit-tests/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Try to use GitHub Actions pip cache
  .github/workflows/backend.yml
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
