Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Remove invalid polyfills ref
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
Due: frontend

Disable acceptance tests temporarily in Travis
  travis_run.sh
Due: none

Reenable acceptance tests in Travis
  travis_run.sh
Due: none

Update Django to address GitHub vulnerability alert
  requirements/django.txt
Due: none

Adds review section html
  cfgov/jinja2/v1/youth_employment_success/alert.html
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/jinja2/v1/youth_employment_success/review/next-steps.html
  cfgov/jinja2/v1/youth_employment_success/review/print.html
  cfgov/jinja2/v1/youth_employment_success/review/review.html
  cfgov/jinja2/v1/youth_employment_success/review/yes-info-unit.html
  cfgov/jinja2/v1/youth_employment_success/review/your-goals.html
  cfgov/jinja2/v1/youth_employment_success/review/your-plan.html
  cfgov/jinja2/v1/youth_employment_success/route-details.html
  cfgov/jinja2/v1/youth_employment_success/route-option-form.html
  cfgov/jinja2/v1/youth_employment_success/success-icon.html
Due: none

Adds average cost todo list item, view placeholder
  cfgov/unprocessed/apps/youth-employment-success/js/polyfills/closest.js
Due: frontend

Updates reducer to add days per week to todo list
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/route-option-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/days-per-week.js
  test/unit_tests/apps/youth-employment-success/js/reducers/route-option-reducer-spec.js
Due: frontend

Adds daysPerWeek combo field view
  cfgov/jinja2/v1/youth_employment_success/route-questions/days-per-week.html
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/polyfills/closest.js
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/route-option-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/route-option-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/days-per-week.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route-details.js
  test/unit_tests/apps/youth-employment-success/js/reducers/route-option-reducer-spec.js
  test/unit_tests/apps/youth-employment-success/js/route-option-view-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/average-cost-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/days-per-week-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/route-details-spec.js
Due: frontend

Adds additional route view specs
  test/unit_tests/apps/youth-employment-success/js/route-option-view-spec.js
Due: none

Add view and new html file for closed route option
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/expandable.js
  test/unit_tests/apps/youth-employment-success/js/views/expandable-spec.js
Due: frontend

Filterable list: admin option for sorting topic filter options
  cfgov/jinja2/v1/_includes/organisms/filterable-list-controls.html
  cfgov/scripts/_atomic_helpers.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/forms.py
  cfgov/v1/migrations/0177_improved_topic_filtering_options.py
  cfgov/v1/migrations/0178_use_new_topic_filtering_option.py
  cfgov/v1/models/sublanding_page.py
  cfgov/v1/tests/atomic_elements/organisms/test_filterable_list.py
  cfgov/v1/tests/test_filterable_list_form.py
  cfgov/v1/tests/test_filterable_list_mixin.py
  cfgov/v1/tests/test_forms.py
  cfgov/v1/util/filterable_list.py
Due: backend

Separating out most frequent tags didn't do anything
  cfgov/v1/forms.py
Due: backend

Adds skeleton view, reducer updates and specs
  cfgov/jinja2/v1/youth_employment_success/route-questions/miles.html
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/route-option-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/route-option-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/average-cost.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/miles.js
  test/unit_tests/apps/youth-employment-success/js/reducers/route-option-reducer-spec.js
Due: frontend

Replaces last remaining reference to letter_code now that we use short_name
  cfgov/regulations3k/parser/payload.py
Due: backend

Adds specs for combo view
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/jinja2/v1/youth_employment_success/review/next-steps.html
  cfgov/jinja2/v1/youth_employment_success/review/print.html
  cfgov/jinja2/v1/youth_employment_success/review/review.html
  cfgov/jinja2/v1/youth_employment_success/review/yes-info-unit.html
  cfgov/jinja2/v1/youth_employment_success/review/your-goals.html
  cfgov/jinja2/v1/youth_employment_success/review/your-plan.html
  cfgov/jinja2/v1/youth_employment_success/route-details.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/miles.html
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/route-option-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/route-option-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/validators/route-option.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/miles.js
  test/unit_tests/apps/youth-employment-success/js/reducers/route-option-reducer-spec.js
  test/unit_tests/apps/youth-employment-success/js/route-option-view-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/expandable-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/miles-spec.js
  test/unit_tests/mocks/store.js
Due: frontend

Minor cleanup
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
Due: frontend

Adds spec file for goals view
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/goal-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/average-cost.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/days-per-week.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/goals.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/input.js
  test/unit_tests/apps/youth-employment-success/js/input-view-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/goals-spec.js
Due: frontend

Add name prop to form controls, init views
  cfgov/jinja2/v1/youth_employment_success/goals.html
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/goal-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/goals.js
Due: frontend

Add view to manage goals section form controls
  cfgov/jinja2/v1/youth_employment_success/goals.html
  cfgov/jinja2/v1/youth_employment_success/goals/goal.html
  cfgov/unprocessed/apps/youth-employment-success/js/budget-form-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/route-option-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/store.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/goals.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/input.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/transit-time.js
Due: frontend

Add missing jsdoc, switch up import syntax
  cfgov/jinja2/v1/youth_employment_success/goals.html
  cfgov/jinja2/v1/youth_employment_success/goals/goal.html
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/route-option-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/goals.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/input.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/miles.js
  test/unit_tests/apps/youth-employment-success/js/reducers/route-option-reducer-spec.js
Due: frontend

Lint fix.
  cfgov/prepaid_agreements/views.py
Due: backend

Review fixes.
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/prepaid_agreements/views.py
Due: backend

Get prepaid disclaimer from reusable text snippets. Preserve query string in link back to search page from detail page.
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_results.html
  cfgov/prepaid_agreements/tests/test_views.py
  cfgov/prepaid_agreements/views.py
Due: backend

Make reusable text snippets into functions
  cfgov/prepaid_agreements/views.py
Due: backend

Prepaid: disclaimer and breadcrumb (#5239)
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_results.html
  cfgov/prepaid_agreements/tests/test_views.py
  cfgov/prepaid_agreements/views.py
Due: backend

Cleanup and tweaks
  cfgov/jinja2/v1/youth_employment_success/goals/goal.html
  cfgov/unprocessed/apps/youth-employment-success/js/route-option-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/days-per-week.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/miles.js
  test/unit_tests/apps/youth-employment-success/js/route-option-view-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/days-per-week-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/miles-spec.js
Due: frontend

Fixes budget calculation bugs
  cfgov/unprocessed/apps/youth-employment-success/js/money.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route-details.js
  test/unit_tests/apps/youth-employment-success/js/money-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/days-per-week-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/miles-spec.js
Due: frontend

Filterable List Admin: remove unused topics checkbox
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0179_remove_unused_topic_filtering_option.py
Due: backend

Update miscellaneous files
  .flake8
  .gitignore
  Dockerfile
  config/environment.js
  jest.config.js
  scripts/yarn/apps-install/index.js
Due: none

Update references in documentation
  CONTRIBUTING.md
  docs/atomic-structure.md
  docs/browser-acceptance-tests.md
  docs/development-tips.md
  docs/editing-components.md
  docs/housing-counselor-tool.md
  docs/installation.md
  docs/javascript-unit-tests.md
  docs/samples/sample-spec.js
Due: none

Fix frontend build
  unprocessed/apps/analytics-gtm/webpack-config.js
  unprocessed/apps/find-a-housing-counselor/webpack-config.js
  unprocessed/apps/owning-a-home/webpack-config.js
  unprocessed/apps/regulations3k/webpack-config.js
  unprocessed/apps/rural-or-underserved-tool/js/common.js
  unprocessed/apps/youth-employment-success/webpack.config.js
  unprocessed/js/molecules/Multiselect.js
  unprocessed/js/molecules/Notification.js
Due: none

Fix typo
  README.md
Due: none

Improve README (#5241)
  README.md
Due: none

Update Docker documentation
  docs/installation.md
Due: none

Deprecate references to docker-machine
  docs/contributing-docs.md
  docs/installation.md
  docs/running-docker.md
  mac-virtualbox-init.sh
Due: none

Adds todo notification component and specs
  cfgov/jinja2/v1/youth_employment_success/alert-icon.html
  cfgov/jinja2/v1/youth_employment_success/alert.html
  cfgov/jinja2/v1/youth_employment_success/route-option-form.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/average-cost.html
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/route-option-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/todo-notification.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/average-cost.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/days-per-week.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/miles.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/transit-time.js
  test/unit_tests/apps/youth-employment-success/fixtures/todo-alert.js
  test/unit_tests/apps/youth-employment-success/js/route-option-view-spec.js
  test/unit_tests/apps/youth-employment-success/js/todo-notification-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/average-cost-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/days-per-week-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/miles-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/transit-time-spec.js
  test/unit_tests/apps/youth-employment-success/mocks/todo-notification.js
  test/unit_tests/mocks/store.js
Due: frontend

Update travis unix distribution
  .travis.yml
  frontend.sh
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
