Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Always open preview panel links in a new tab
  cfgov/v1/jinja2/v1/layouts/base.html
Due: none

Don't load Google JS in the Wagtail preview panel
  cfgov/v1/jinja2/v1/layouts/base.html
Due: none

Remove duplicate <base> tag in base template
  cfgov/v1/jinja2/v1/layouts/base.html
Due: none

Upgrade Wagtail from 4.1.3 to 4.1.4
  requirements/wagtail.txt
Due: none

Add button-secondary to View Permissions button
  cfgov/permissions_viewer/wagtail_hooks.py
Due: backend

Remove u-visually-hidden-on-mobile class in expandables
  cfgov/jinja2/rural-or-underserved/_templates/expandable.html
  cfgov/jinja2/rural-or-underserved/index.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/financial-item-expandable.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_results.html
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
  cfgov/regulations3k/jinja2/regulations3k/regulations3k-secondary-navigation.html
  cfgov/regulations3k/jinja2/regulations3k/search-regulations.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_search_facets_and_results.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/tdp_expandable.html
  cfgov/v1/jinja2/v1/includes/organisms/expandable.html
  cfgov/wellbeing/jinja2/wellbeing/results.html
  test/unit_tests/apps/filing-instruction-guide/fixtures/sample-fig-page.js
  test/unit_tests/apps/teachers-digital-platform/html/results-page-analytics.js
  test/unit_tests/apps/teachers-digital-platform/html/results-page.js
  test/unit_tests/apps/teachers-digital-platform/html/shared-results-page-analytics.js
  test/unit_tests/apps/teachers-digital-platform/js/expandable-mobile-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/search-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/tdp-analytics-spec.js
  test/unit_tests/js/organisms/FilterableListControls-spec.js
Due: none

Remove inclusion of deprecated login.css
  cfgov/wagtailadmin_overrides/templates/wagtailadmin/account/password_reset/confirm.html
Due: none

Remove deprecatetd X-XSS header
  cfgov/apache/conf.d/headers.conf
Due: none

Deployed 9f0c4ec with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Convert expandable labels to aria-labels
  cfgov/form_explainer/jinja2/form-explainer/blocks/explainer.html
  cfgov/jinja2/rural-or-underserved/_templates/expandable.html
  cfgov/jinja2/rural-or-underserved/index.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/financial-item-expandable.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
  cfgov/regulations3k/jinja2/regulations3k/regulations3k-secondary-navigation.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_search_facets_and_results.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/tdp_expandable.html
  cfgov/unprocessed/apps/owning-a-home/css/explore-rates.less
  cfgov/unprocessed/css/organisms/mega-menu.less
  cfgov/unprocessed/css/organisms/read-more.less
  cfgov/unprocessed/css/organisms/secondary-navigation.less
  cfgov/unprocessed/js/organisms/FilterableListControls.js
  cfgov/v1/jinja2/v1/includes/organisms/expandable.html
  cfgov/v1/jinja2/v1/includes/organisms/filterable-list-controls.html
  cfgov/wellbeing/jinja2/wellbeing/results.html
  test/unit_tests/apps/filing-instruction-guide/fixtures/sample-fig-page.js
  test/unit_tests/apps/financial-well-being/js/fwb-results-spec.js
  test/unit_tests/apps/teachers-digital-platform/html/results-page-analytics.js
  test/unit_tests/apps/teachers-digital-platform/html/results-page.js
  test/unit_tests/apps/teachers-digital-platform/html/shared-results-page-analytics.js
  test/unit_tests/apps/teachers-digital-platform/html/survey-page-analytics.js
  test/unit_tests/apps/teachers-digital-platform/html/survey-page.js
  test/unit_tests/apps/teachers-digital-platform/js/expandable-facets-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/expandable-mobile-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/search-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/tdp-analytics-spec.js
  test/unit_tests/js/organisms/FilterableListControls-spec.js
Due: frontend

Deployed 703096b with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed 4b56d0a with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

FIx refresh bug
  cfgov/unprocessed/js/organisms/FilterableListControls.js
Due: frontend

Deployed fb02252 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed ff178fd with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Update get_latest_revision_as_page calls
  cfgov/v1/management/commands/publish_pages.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Apply latest migrations to test database
  test.sql.gz
Due: none

Convert squashed migrations to regular ones
  cfgov/agreements/migrations/0005_recreated.py
  cfgov/ask_cfpb/migrations/0037_recreated.py
  cfgov/ask_cfpb/migrations/0038_recreated2.py
  cfgov/ask_cfpb/migrations/0039_2022_squash.py
  cfgov/data_research/migrations/0001_squashed_0013_auto_20200811_1143.py
  cfgov/form_explainer/migrations/0001_2022_squash.py
  cfgov/jobmanager/migrations/0017_recreated.py
  cfgov/jobmanager/migrations/0018_recreated_2.py
  cfgov/jobmanager/migrations/0019_2022_squash.py
  cfgov/paying_for_college/migrations/0007_recreated.py
  cfgov/paying_for_college/migrations/0008_recreated2.py
  cfgov/paying_for_college/migrations/0009_2022_squash.py
  cfgov/prepaid_agreements/migrations/0001_2022_squash.py
  cfgov/regulations3k/migrations/0029_recreated.py
  cfgov/regulations3k/migrations/0030_recreated2.py
  cfgov/regulations3k/migrations/0031_2022_squash.py
  cfgov/teachers_digital_platform/migrations/0001_2022_squash.py
  cfgov/v1/migrations/0198_recreated.py
  cfgov/v1/migrations/0199_2022_squash.py
Due: backend

Updating footer link and label
  cfgov/v1/jinja2/v1/includes/organisms/footer.html
Due: none

Deployed 1ad4a87 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 0a9a0e4 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed ad02ccd with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed 9cc2ba8 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Modify user viewability of CDN Tools
  cfgov/v1/wagtail_hooks.py
Due: backend

Deployed 7c7fe01 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 3cbc597 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Minor fix to base template spacing
  cfgov/v1/jinja2/v1/layouts/base.html
Due: none

Replace read more custom expandable with SummaryMinimal
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/organisms/read-more.less
  cfgov/unprocessed/js/routes/data-research/prepaid-accounts/search-agreements/index.js
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.24.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.24.1.tgz
  package.json
  yarn.lock
Due: frontend

Deployed 4739574 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Remove unused related_links_2
  cfgov/v1/jinja2/v1/includes/related-links.html
Due: none

Update related-links class to be m-related-links
  cfgov/unprocessed/apps/owning-a-home/css/explore-rates.less
  cfgov/v1/jinja2/v1/includes/related-links.html
Due: none

Move related-links macro into related-content
  cfgov/v1/jinja2/v1/events/event.html
  cfgov/v1/jinja2/v1/includes/molecules/related-content.html
  cfgov/v1/jinja2/v1/includes/related-links.html
  cfgov/v1/jinja2/v1/newsroom/index.html
Due: none

Fix translation links when previewing new pages
  cfgov/v1/models/base.py
  cfgov/v1/tests/models/test_base.py
Due: backend

Deployed ac2494c with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed b2a3e42 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed 992e9cb with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Remove vacancy cruft
  cfgov/jobmanager/jinja2/jobmanager/job_listing_details.html
  cfgov/unprocessed/css/on-demand/job_listing_page.less
Due: none

Deployed 47d20d6 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

iRegs: Remove hash redirection
  cfgov/unprocessed/apps/regulations3k/js/index.js
  cfgov/unprocessed/apps/regulations3k/js/regs3k-utils.js
  test/unit_tests/apps/regulations3k/js/regs3k-utils-spec.js
Due: frontend

Deployed a912ef0 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
