Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update cfgov/v1/views/reports.py
  cfgov/v1/views/reports.py
Due: backend

corrected reports.py
  cfgov/v1/views/reports.py
Due: backend

Deployed 62cc386 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

fixing Site import error
  cfgov/v1/views/reports.py
Due: backend

Deployed 511fd78 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

switch before-you-claim to use fetch instead of jquery ajax
  cfgov/unprocessed/apps/retirement/js/views/graph-view.js
  cfgov/unprocessed/apps/retirement/js/wizards/fetch-api-data.js
Due: frontend

guard update
  cfgov/unprocessed/apps/retirement/js/views/graph-view.js
Due: frontend

Retirement: Fix space before commas and periods
  cfgov/retirement_api/jinja2/retirement_api/claiming-es.html
  cfgov/retirement_api/jinja2/retirement_api/claiming.html
Due: none

Collapse whitespace in jinja instead
  cfgov/retirement_api/jinja2/retirement_api/claiming-es.html
  cfgov/retirement_api/jinja2/retirement_api/claiming.html
Due: none

Deployed 348ae33 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add django-axes for failed login tracking
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/production.py
  cfgov/cfgov/settings/test.py
  cfgov/login/forms.py
  cfgov/login/migrations/0003_auto_20230410_1343.py
  cfgov/login/models.py
  cfgov/login/signals.py
  cfgov/login/tests/test_auth_forms.py
  cfgov/login/tests/test_login_views.py
  cfgov/login/views.py
  cfgov/v1/signals.py
  requirements/libraries.txt
Due: backend

Switch password policy enforcement to validators
  cfgov/cfgov/settings/base.py
  cfgov/login/forms.py
  cfgov/login/password_validation.py
  cfgov/login/tests/test_auth_forms.py
  cfgov/login/tests/test_login_views.py
  cfgov/login/tests/test_password_policy.py
  cfgov/login/tests/test_password_validation.py
  cfgov/login/urls.py
  cfgov/login/utils.py
  cfgov/login/views.py
Due: backend

Remove duplicate `django-admin/password-change`
  cfgov/login/urls.py
Due: backend

Remove our 12 char enforcer
  cfgov/cfgov/settings/base.py
Due: backend

Add test for our password regexes
  cfgov/login/tests/test_password_validation.py
Due: backend

Pin setuptools to satisfy Snyk
  requirements/libraries.txt
Due: none

Remove unnecessary settings.PASSWORD_HASHERS
  cfgov/cfgov/settings/base.py
Due: backend

Cleanup v1.signals and make sure it is imported
  cfgov/v1/apps.py
  cfgov/v1/signals.py
Due: backend

Update eslint, eslint-plugin-jsdoc
  cfgov/unprocessed/apps/financial-well-being/css/main.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/data-filters.js
  npm-packages-offline-cache/@eslint-js-8.37.0.tgz
  npm-packages-offline-cache/@eslint-js-8.38.0.tgz
  npm-packages-offline-cache/are-docs-informative-0.0.2.tgz
  npm-packages-offline-cache/eslint-8.37.0.tgz
  npm-packages-offline-cache/eslint-8.38.0.tgz
  npm-packages-offline-cache/eslint-plugin-jsdoc-40.1.0.tgz
  npm-packages-offline-cache/eslint-plugin-jsdoc-41.1.1.tgz
  package.json
  yarn.lock
Due: frontend

Simplify PasswordHistoryItem and associated code
  cfgov/cfgov/settings/base.py
  cfgov/login/forms.py
  cfgov/login/migrations/0004_simplify_password_history.py
  cfgov/login/models.py
  cfgov/login/password_validation.py
  cfgov/login/signals.py
Due: backend

Fixup tests
  cfgov/login/tests/test_auth_forms.py
  cfgov/login/tests/test_password_validation.py
  cfgov/login/tests/test_signals.py
Due: backend

Fixup isort
  cfgov/v1/admin.py
  pyproject.toml
Due: backend

Deployed 2d19568 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed 7b6190d with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Remove semi-convoluted wizard & model structure from before-you-claim
  cfgov/unprocessed/apps/retirement/js/data/index.js
  cfgov/unprocessed/apps/retirement/js/models/benefits-model.js
  cfgov/unprocessed/apps/retirement/js/models/lifetime-model.js
  cfgov/unprocessed/apps/retirement/js/views/graph-view.js
  cfgov/unprocessed/apps/retirement/js/wizards/fetch-api-data.js
  cfgov/unprocessed/apps/retirement/js/wizards/get-model-values.js
  cfgov/unprocessed/apps/retirement/js/wizards/update-model.js
Due: frontend

Hax to fix TDP
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_search_facets_and_results.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/tdp_expandable.html
  cfgov/unprocessed/apps/teachers-digital-platform/js/AtomicComponent.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/BaseTransition.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/Expandable.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/ExpandableTransition.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/index.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/search.js
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/ftdomdelegate-3.1.0.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/package.json
  cfgov/unprocessed/apps/teachers-digital-platform/yarn.lock
Due: frontend

tighten up logic and add a few tests
  cfgov/unprocessed/apps/retirement/js/data/index.js
Due: frontend

Remove is_faq
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/tdp_expandable.html
Due: none

Add code comments
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/tdp_expandable.html
  cfgov/unprocessed/apps/teachers-digital-platform/js/AtomicComponent.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/BaseTransition.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/Expandable.js
Due: frontend

Upgrade Wagtail from 4.1.3 to 4.1.4
  requirements/wagtail.txt
Due: none

Update cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_search_facets_and_results.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_search_facets_and_results.html
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
