Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Deployed d9fc31b with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

remove stray search.usa.gov references
  cfgov/cfgov/settings/base.py
  cfgov/jinja2/v1/_layouts/base.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/base.html
Due: backend

Make test retirement data relative to today
  cfgov/retirement_api/utils/tests/test_ss_utilities.py
Due: backend

Wait for email API
  test/cypress/integration/components/email-signup/email-signup.cy.js
Due: none

Update to latest expandable with flexbox header (#7285)
  cfgov/form_explainer/jinja2/form-explainer/blocks/explainer.html
  cfgov/jinja2/v1/_includes/organisms/expandable.html
  cfgov/jinja2/v1/owning-a-home/_templates/form-explainer.html
  cfgov/jinja2/v1/rural-or-underserved/_templates/expandable.html
  cfgov/jinja2/v1/rural-or-underserved/index.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/macros/financial-item-expandable.html
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
  cfgov/regulations3k/jinja2/regulations3k/regulations3k-secondary-navigation.html
  cfgov/retirement_api/utils/tests/test_ss_utilities.py
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
  cfgov/unprocessed/apps/filing-instruction-guide/css/main.less
  cfgov/unprocessed/apps/form-explainer/css/form-explainer.less
  cfgov/unprocessed/apps/owning-a-home/css/form-explainer.less
  cfgov/unprocessed/apps/regulations3k/css/reg-navigation.less
  cfgov/unprocessed/css/organisms/secondary-navigation.less
  cfgov/wellbeing/jinja2/wellbeing/results.html
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.17.11.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.17.9.tgz
  package.json
  test/unit_tests/apps/filing-instruction-guide/fixtures/sample-fig-page.js
  test/unit_tests/apps/financial-well-being/js/fwb-results-spec.js
  test/unit_tests/apps/teachers-digital-platform/html/results-page-analytics.js
  test/unit_tests/apps/teachers-digital-platform/html/results-page.js
  test/unit_tests/apps/teachers-digital-platform/html/shared-results-page-analytics.js
  test/unit_tests/apps/teachers-digital-platform/html/survey-page-analytics.js
  test/unit_tests/apps/teachers-digital-platform/html/survey-page.js
  test/unit_tests/apps/teachers-digital-platform/js/expandable-mobile-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/search-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/tdp-analytics-spec.js
  test/unit_tests/js/organisms/FilterableListControls-spec.js
  yarn.lock
Due: backend

Deployed ffd5f93 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

autofix linter issues
  cfgov/unprocessed/css/molecules/global-search.less
Due: none

Refactor content assertion
  test/cypress/integration/components/email-signup/email-signup.cy.js
Due: none

Wait for API response in email signup functional tests (#7289)
  test/cypress/integration/components/email-signup/email-signup.cy.js
Due: none

Deployed 94c2ee6 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed 34cb5dd with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update expandables and stylelint
  cfgov/unprocessed/css/molecules/global-search.less
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.17.11.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.17.12.tgz
  npm-packages-offline-cache/postcss-8.4.16.tgz
  npm-packages-offline-cache/stylelint-14.13.0.tgz
  npm-packages-offline-cache/stylelint-14.14.0.tgz
  package.json
  yarn.lock
Due: none

Remove whitespace from FIG indexed content
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-search.js
Due: frontend

Improve info unit group template logic
  cfgov/jinja2/v1/_includes/molecules/info-unit-2.html
Due: none

Add search data attribute to FIG data point template
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/data_points.html
Due: none

Reduce size of FIG search resulting heading
  cfgov/unprocessed/apps/filing-instruction-guide/css/main.less
  cfgov/unprocessed/apps/filing-instruction-guide/npm-packages-offline-cache/ctrl-f-1.0.2.tgz
  cfgov/unprocessed/apps/filing-instruction-guide/npm-packages-offline-cache/ctrl-f-1.0.3.tgz
  cfgov/unprocessed/apps/filing-instruction-guide/package.json
  cfgov/unprocessed/apps/filing-instruction-guide/yarn.lock
Due: none

Revert whitespace changes in global search stylesheet
  cfgov/unprocessed/css/molecules/global-search.less
Due: none

Fix global-search.less indenting
  cfgov/unprocessed/css/molecules/global-search.less
Due: none

Deployed 3202906 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Update global-search.less
  cfgov/unprocessed/css/molecules/global-search.less
Due: none

Fix global search stylesheet formatting
  cfgov/unprocessed/css/molecules/global-search.less
Due: none

Update expandables to handle long names, and update stylelint (#7291)
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.17.11.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.17.12.tgz
  npm-packages-offline-cache/postcss-8.4.16.tgz
  npm-packages-offline-cache/stylelint-14.13.0.tgz
  npm-packages-offline-cache/stylelint-14.14.0.tgz
  package.json
  yarn.lock
Due: none

Deployed fef9e65 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed d09ad99 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Dynamically toggle FIG mobile nav functionality
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-sidenav.js
Due: frontend

Update FIG browser tests
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide-helpers.cy.js
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide.cy.js
Due: none

Improve handling of empty FIG version statuses
  cfgov/jinja2/v1/_includes/organisms/secondary-navigation-fig.html
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-sidenav.js
Due: frontend

Add Prettier
  .prettierrc
  npm-packages-offline-cache/prettier-2.7.1.tgz
  package.json
  scripts/lint.sh
  yarn.lock
Due: none

Autolint updated fig files
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-sidenav.js
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide.cy.js
Due: frontend

Allow adding content above the top FIG section
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/index.html
  cfgov/filing_instruction_guide/migrations/0009_add_content_above_first_section.py
  cfgov/filing_instruction_guide/models.py
Due: backend

Allow adding content above the top FIG section (#7295)
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/index.html
  cfgov/filing_instruction_guide/migrations/0009_add_content_above_first_section.py
  cfgov/filing_instruction_guide/models.py
Due: backend

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
