Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix CypressError: cy.click() can only be called on a single element.
  test/cypress/components/filterable-list-control.js
Due: none

Create separate Clear and Hide filters tests
  test/cypress/integration/components/filter-blog-posts.js
Due: none

Update cypress to 6.5.0
  Jenkinsfile
  docker-compose.e2e.yml
  npm-packages-offline-cache/@types-node-12.12.50.tgz
  npm-packages-offline-cache/cypress-6.4.0.tgz
  npm-packages-offline-cache/cypress-6.5.0.tgz
  npm-packages-offline-cache/debug-4.3.2.tgz
  package.json
  yarn.lock
Due: none

Fix lint error Unexpected parentheses around single function argument
  test/cypress/components/pagination.js
Due: none

Add tests for documents.py
  cfgov/v1/models/browse_filterable_page.py
  cfgov/v1/tests/test_documents.py
Due: backend

isort fixes
  cfgov/v1/tests/test_documents.py
Due: backend

filterable list mixins tests
  cfgov/v1/models/filterable_list_mixins.py
  cfgov/v1/tests/models/test_filterable_list_mixins.py
Due: backend

Refactor document test file for better coverage
  cfgov/v1/tests/test_documents.py
Due: backend

Fix import
  cfgov/search/elasticsearch_helpers.py
Due: backend

Fix docker: Error response from daemon: manifest for cypress/included:6.5.0 not found
  Jenkinsfile
Due: none

Remove FilterableListControl from multiselect cypress component test
  test/cypress/integration/components/multiselect.js
Due: none

Move navigate to first page in pagination cypress test
  test/cypress/integration/components/pagination.js
Due: none

Add firstChoicesElement to multiselect cypress test
  test/cypress/components/multiselect.js
Due: none

Removed hardcoded firstElementText from multiselect cypress test
  test/cypress/integration/components/multiselect.js
Due: none

Update notification in clear filter test
  test/cypress/integration/components/filter-blog-posts.js
Due: none

Add tests to cover old functionality of get_page_set
  cfgov/search/elasticsearch_helpers.py
  cfgov/v1/tests/test_filterable_list_form.py
Due: backend

Move navigate to previous page in pagination cypress test
  test/cypress/integration/components/pagination.js
Due: none

Use escape to clear search input in multiselect cypress component test
  test/cypress/integration/components/multiselect.js
Due: none

Test cleanup, rebuild_elasticsearch_index helper
  cfgov/search/elasticsearch_helpers.py
  cfgov/v1/tests/atomic_elements/test_molecules.py
  cfgov/v1/tests/jinja2tags/test_fragment_cache.py
  cfgov/v1/tests/models/test_filterable_list_mixins.py
  cfgov/v1/tests/models/test_sublanding_page.py
  cfgov/v1/tests/test_documents.py
  cfgov/v1/tests/test_filterable_list_form.py
Due: backend

Remove unused content field for now
  cfgov/v1/documents.py
  cfgov/v1/tests/test_documents.py
Due: backend

Update link to CFPB pay scales
  cfgov/jobmanager/jinja2/jobmanager/job_listing_details.html
Due: none

Restore two Ask CFPB Spanish translations
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Use PageQuerySet.specific() to optimize indexing
  cfgov/v1/documents.py
Due: backend

Update cypress to 6.5.0 in Jenkinsfile
  Jenkinsfile
Due: none

Minor fix to translation documentation
  docs/translation.md
Due: none

Fix lint warning with no-implicit-coercion
  test/cypress/support/isFocusable.js
Due: none

Add PGPASSWORD to DATABASE_URL in .env_SAMPLE
  .env_SAMPLE
Due: none

Deployed 82c921b with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Ensure strings are correctly identified for translation
  cfgov/jinja2/v1/ask-cfpb/landing-page.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
  cfgov/v1/models/feedback.py
Due: backend

Restore two Ask CFPB Spanish translations (#6274)
  cfgov/jinja2/v1/ask-cfpb/landing-page.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
  cfgov/v1/models/feedback.py
Due: backend

Deployed f50aa50 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Create a management command that restores archived pages
  cfgov/v1/management/commands/restore_archive_pages.py
Due: backend

Grad path tool: store include parent plus choice in URL and update in UI on load.
  cfgov/jinja2/v1/_includes/atoms/checkbox.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/07-other-resources.html
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/util/url-parameter-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/views/app-view.js
Due: frontend

Linter fixes
  cfgov/v1/documents.py
  cfgov/v1/forms.py
  cfgov/v1/models/filterable_list_mixins.py
Due: backend

Funcitoning search for events and enforcement actions
  cfgov/v1/documents.py
  cfgov/v1/forms.py
Due: backend

Fix issues with Activity Log
  cfgov/v1/documents.py
  cfgov/v1/forms.py
  cfgov/v1/models/browse_filterable_page.py
  cfgov/v1/models/filterable_list_mixins.py
Due: backend

Use queryset instead of mapping fields
  cfgov/jinja2/v1/_includes/organisms/post-preview.html
  cfgov/v1/documents.py
Due: backend

Initial iteration on ES Search
  cfgov/cfgov/settings/local.py
  cfgov/jinja2/v1/_includes/organisms/post-preview.html
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/documents.py
  cfgov/v1/forms.py
  cfgov/v1/models/filterable_list_mixins.py
Due: backend

Tests passing
  cfgov/cfgov/settings/local.py
  cfgov/cfgov/settings/test.py
  cfgov/v1/documents.py
  cfgov/v1/forms.py
  cfgov/v1/tests/jinja2tags/test_fragment_cache.py
  cfgov/v1/tests/models/test_filterable_list_mixins.py
  cfgov/v1/tests/models/test_sublanding_page.py
  cfgov/v1/tests/test_filterable_list_form.py
Due: backend

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
