Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Replace custom cache backend function
  cfgov/v1/management/commands/purge_by_cache_tags.py
  cfgov/v1/signals.py
  cfgov/v1/tests/management/commands/test_purge_by_cache_tags.py
  cfgov/v1/tests/test_signals.py
Due: backend

Move cache management commands to cdntools
  cfgov/cdntools/management/__init__.py
  cfgov/cdntools/management/commands/__init__.py
  cfgov/cdntools/management/commands/delete_page_cache.py
  cfgov/cdntools/management/commands/invalidate_all_pages_cache.py
  cfgov/cdntools/management/commands/invalidate_page_cache.py
  cfgov/cdntools/management/commands/purge_by_cache_tags.py
  cfgov/cdntools/tests/test_management_commands_delete_page_cache.py
  cfgov/cdntools/tests/test_management_commands_invalidate_all_pages.py
  cfgov/cdntools/tests/test_management_commands_invalidate_page_cache.py
  cfgov/cdntools/tests/test_management_commands_purge_by_cache_tags.py
Due: backend

Update CloudFront cache configuration
  cfgov/cfgov/settings/base.py
Due: backend

Update frontend caching and isolate in new app
  .env_SAMPLE
  cfgov/cdntools/__init__.py
  cfgov/cdntools/apps.py
  cfgov/cdntools/backends.py
  cfgov/cdntools/forms.py
  cfgov/cdntools/migrations/0001_initial.py
  cfgov/cdntools/migrations/__init__.py
  cfgov/cdntools/models.py
  cfgov/cdntools/signals.py
  cfgov/cdntools/templates/cdnadmin/index.html
  cfgov/cdntools/tests/__init__.py
  cfgov/cdntools/tests/test_backends.py
  cfgov/cdntools/tests/test_models.py
  cfgov/cdntools/tests/test_views.py
  cfgov/cdntools/views.py
  cfgov/cdntools/wagtail_hooks.py
  cfgov/cfgov/settings/base.py
  cfgov/core/testutils/mock_cache_backend.py
  cfgov/regulations3k/tests/test_models.py
  cfgov/v1/admin_views.py
  cfgov/v1/management/commands/delete_page_cache.py
  cfgov/v1/management/commands/invalidate_all_pages_cache.py
  cfgov/v1/migrations/0036_delete_cdnhistory.py
  cfgov/v1/models/__init__.py
  cfgov/v1/signals.py
  cfgov/v1/tests/management/commands/test_delete_page_cache.py
  cfgov/v1/tests/management/commands/test_invalidate_all_pages.py
  cfgov/v1/tests/test_admin_views.py
  cfgov/v1/tests/test_blocks_email_signup.py
  cfgov/v1/wagtail_hooks.py
  docs/caching.md
Due: backend

Use a global to hold mock purged calls
  cfgov/cdntools/backends.py
  cfgov/cdntools/tests/test_backends.py
  cfgov/cdntools/tests/test_views.py
  cfgov/regulations3k/tests/test_models.py
Due: backend

Update reports for universal listings
  cfgov/v1/templates/v1/active_users_report.html
  cfgov/v1/templates/v1/ask_report.html
  cfgov/v1/templates/v1/category_icon_report.html
  cfgov/v1/templates/v1/documents_report.html
  cfgov/v1/templates/v1/enforcement_actions_report.html
  cfgov/v1/templates/v1/images_report.html
  cfgov/v1/templates/v1/page_draft_report.html
  cfgov/v1/templates/v1/page_metadata_report.html
  cfgov/v1/templates/v1/report_no-xlsx_base.html
  cfgov/v1/templates/v1/translated_pages_report.html
  cfgov/v1/tests/wagtail_pages/helpers.py
  cfgov/v1/views/reports.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Remove remaining feedback report export code
  cfgov/v1/templates/v1/export_feedback.html
  cfgov/v1/wagtail_hooks.py
Due: backend

Submit a `main form` that doesn't have the `w-editing-sessions` class
  test/cypress/integration/admin/admin-helpers.cy.js
Due: none

Untrue doc statement
  docs/caching.md
Due: none

Update .env_SAMPLE
  .env_SAMPLE
Due: none

Add `else` to FIG layout ternary
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/layout-fig.html
Due: none

Update lxml
  requirements/libraries.txt
Due: none

Deployed 55fe6a7 with MkDocs version: 1.5.3
  caching/index.html
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Fix Akamai frontend cache backend
  cfgov/cdntools/backends.py
Due: backend

Deployed 01d50af with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Update rout census year to fix alaska and connecticut changes
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/address-utils.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/call-tiger.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/common.js
Due: frontend

fixup cypress
  test/cypress/fixtures/census-api.json
  test/cypress/integration/consumer-tools/rural-or-underserved-tool/rural-or-underserved-tool-helpers.cy.js
Due: none

Deployed 23d71b1 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Fix `invalidate_page_cache` management command
  cfgov/cdntools/management/commands/invalidate_page_cache.py
  cfgov/cdntools/tests/test_management_commands_invalidate_page_cache.py
Due: backend

Upgrade Django to 4.2.16
  requirements/django.txt
Due: none

Fix (for real) the before-you-claim tests in time
  test/cypress/fixtures/retirement-api-over50.json
  test/cypress/fixtures/retirement-api-over70.json
  test/cypress/fixtures/retirement-api-under50.json
  test/cypress/integration/consumer-tools/before-you-claim/before-you-claim-helpers.cy.js
Due: none

Deployed cbbddb1 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 98ae0c7 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 8715205 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Fix installation docs typo
  docs/installation.md
Due: none

Update itemscope usage and jinja multi-attributes-in-conditionals
  cfgov/ask_cfpb/tests/test_blocks.py
  cfgov/v1/jinja2/v1/includes/blocks/schema/faq-group.html
  cfgov/v1/jinja2/v1/includes/blocks/schema/faq.html
  cfgov/v1/jinja2/v1/includes/organisms/expandable.html
  cfgov/v1/jinja2/v1/layouts/base.html
Due: backend

Deployed 47c01ef with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 4b184fa with MkDocs version: 1.5.3
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Update Spanish homepage content
  cfgov/v1/jinja2/v1/home_page/_hardcoded_es.html
Due: none

Update topic tags
  cfgov/regulations3k/jinja2/regulations3k/regulations3k-search-result-item.html
  cfgov/unprocessed/css/main.scss
  cfgov/unprocessed/css/molecules/related-metadata.scss
  cfgov/unprocessed/css/molecules/tags.scss
  cfgov/v1/jinja2/v1/events/_event-detail.html
  cfgov/v1/jinja2/v1/includes/article.html
  cfgov/v1/jinja2/v1/includes/molecules/related-metadata-enforcement-action.html
  cfgov/v1/jinja2/v1/includes/molecules/related-metadata.html
  cfgov/v1/jinja2/v1/includes/molecules/tags.html
  cfgov/v1/jinja2/v1/includes/organisms/post-preview.html
  npm-packages-offline-cache/@cfpb-cfpb-design-system-3.0.3.tgz
  npm-packages-offline-cache/@cfpb-cfpb-design-system-3.1.7.tgz
  package.json
  test/cypress/integration/components/filterable-lists/filterable-list-control-helpers.cy.js
  yarn.lock
Due: none

Fix o-expandable-group__accordion BEM
  cfgov/unprocessed/apps/teachers-digital-platform/js/Expandable.js
  cfgov/v1/jinja2/v1/includes/organisms/expandable-group.html
Due: frontend

Update to DS 3.1.1
  npm-packages-offline-cache/@cfpb-cfpb-design-system-3.0.3.tgz
  npm-packages-offline-cache/@cfpb-cfpb-design-system-3.1.1.tgz
  package.json
  yarn.lock
Due: none

Update to DS 3.1.7
  npm-packages-offline-cache/@cfpb-cfpb-design-system-3.1.1.tgz
  npm-packages-offline-cache/@cfpb-cfpb-design-system-3.1.7.tgz
  package.json
  yarn.lock
Due: none

Convert `ol` to `ul`
  cfgov/v1/jinja2/v1/includes/molecules/tags.html
Due: none

Deployed 1e2e652 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 9607846 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Update outdated docs
  CONTRIBUTING.md
  cfgov/unprocessed/apps/owning-a-home/css/main.scss
  cfgov/unprocessed/apps/paying-for-college/css/main.scss
  cfgov/unprocessed/apps/regulations3k/css/main.scss
  cfgov/unprocessed/apps/retirement/css/main.scss
  cfgov/unprocessed/apps/rural-or-underserved-tool/css/main.scss
  cfgov/unprocessed/apps/teachers-digital-platform/css/main.scss
  cfgov/unprocessed/css/main.scss
  cfgov/v1/jinja2/v1/layouts/base.html
  docs/atomic-structure.md
  docs/editing-components.md
  docs/running-virtualenv.md
  esbuild/copy.js
  stylelint.config.js
  test/cypress/spec-map.js
Due: none

Alphabetize topic tags in sidebar
  cfgov/v1/jinja2/v1/includes/molecules/related-metadata-enforcement-action.html
  cfgov/v1/jinja2/v1/includes/molecules/related-metadata.html
Due: none

Update docs/running-virtualenv.md
  docs/running-virtualenv.md
Due: none

Deployed 6c8a4d0 with MkDocs version: 1.5.3
  atomic-structure/index.html
  editing-components/index.html
  index.html
  running-virtualenv/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
