Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

disable:
  - search

Convert Ask read more to use CF expandable
  cfgov/jinja2/v1/_includes/organisms/expandable.html
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
  cfgov/jinja2/v1/job-description-page/index.html
  cfgov/unprocessed/css/organisms/read-more.less
  cfgov/unprocessed/css/pages/careers.less
  cfgov/unprocessed/js/routes/on-demand/read-more.js
Due: frontend

Convert filterable control to use CF expandable
  cfgov/unprocessed/js/organisms/FilterableListControls.js
Due: frontend

Convert secondary navigation to use CF expandables
  cfgov/jinja2/v1/_includes/organisms/expandable.html
  cfgov/jinja2/v1/_includes/organisms/secondary-navigation.html
  cfgov/jinja2/v1/adult-financial-education/privacy-act-statement/index.html
  cfgov/unprocessed/css/organisms/secondary-navigation.less
  cfgov/unprocessed/js/routes/fin-ed/privacy-act-statement/index.js
  cfgov/unprocessed/js/routes/on-demand/secondary-navigation.js
Due: frontend

Working through all the expandables
  cfgov/jinja2/v1/_includes/organisms/bureau-structure.html
  cfgov/jinja2/v1/_includes/organisms/expandable-group.html
  cfgov/jinja2/v1/_includes/organisms/expandable.html
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/js/routes/on-demand/expandable-group.js
  cfgov/unprocessed/js/routes/on-demand/expandable.js
  package-lock.json
  package.json
Due: frontend

Convert Regs3000 to use CF expandables
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
  cfgov/unprocessed/apps/regulations3k/css/reg-search.less
  cfgov/wellbeing/jinja2/wellbeing/results.html
Due: none

Convert FWB to use CF expandable
  cfgov/unprocessed/apps/financial-well-being/js/fwb-results.js
Due: frontend

Stop doubling the secondary nav styles
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
  cfgov/unprocessed/apps/regulations3k/css/reg-navigation.less
Due: none

Missed the regs expandable init
  cfgov/unprocessed/apps/regulations3k/js/index.js
Due: frontend

Add event driven changes back in
  cfgov/unprocessed/js/organisms/FilterableListControls.js
Due: frontend

Remove old Expandables
  cfgov/unprocessed/apps/owning-a-home/css/form-explainer.less
  cfgov/unprocessed/apps/owning-a-home/js/Expandable.js
  cfgov/unprocessed/apps/owning-a-home/js/ExpandableGroup.js
  cfgov/unprocessed/apps/owning-a-home/js/form-explainer.js
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/js/organisms/Expandable.js
  cfgov/unprocessed/js/organisms/ExpandableGroup.js
  cfgov/unprocessed/js/organisms/FilterableListControls.js
  cfgov/unprocessed/js/organisms/SecondaryNavigation.js
  cfgov/unprocessed/js/routes/fin-ed/privacy-act-statement/index.js
  cfgov/unprocessed/js/routes/on-demand/expandable-group.js
  cfgov/unprocessed/js/routes/on-demand/expandable.js
  cfgov/unprocessed/js/routes/on-demand/secondary-navigation.js
Due: frontend

Working on custom event emitters for cf-expandables
  cfgov/unprocessed/js/organisms/FilterableListControls.js
Due: frontend

Temp silence bad test
  test/unit_tests/apps/financial-well-being/js/fwb-results-spec.js
Due: none

Updating to cfv7
  cfgov/jinja2/v1/owning-a-home/_templates/form-explainer.html
  cfgov/unprocessed/apps/financial-well-being/js/fwb-results.js
  cfgov/unprocessed/apps/owning-a-home/js/form-explainer.js
  cfgov/unprocessed/apps/regulations3k/js/index.js
  cfgov/unprocessed/js/organisms/BureauStructure.js
  cfgov/unprocessed/js/organisms/FilterableListControls.js
  cfgov/unprocessed/js/routes/fin-ed/privacy-act-statement/index.js
  cfgov/unprocessed/js/routes/on-demand/expandable-group.js
  cfgov/unprocessed/js/routes/on-demand/expandable.js
  cfgov/unprocessed/js/routes/on-demand/read-more.js
  cfgov/unprocessed/js/routes/on-demand/secondary-navigation.js
  cfgov/unprocessed/js/routes/on-demand/table.js
  package-lock.json
  package.json
Due: frontend

Cleaning up linting errors
  cfgov/unprocessed/js/organisms/FilterableListControls.js
Due: frontend

Update lockfile
  package-lock.json
Due: none

regs3k: Adjust admin sorting and labeling
  cfgov/regulations3k/fixtures/tree_limb.json
  cfgov/regulations3k/migrations/0010_rename_acquired_field.py
  cfgov/regulations3k/models/django.py
  cfgov/regulations3k/parser/payload.py
  cfgov/regulations3k/tests/test_models.py
  cfgov/regulations3k/wagtail_hooks.py
Due: backend

regs3k: Adjust admin sorting and labeling (#4387)
  cfgov/regulations3k/fixtures/tree_limb.json
  cfgov/regulations3k/migrations/0010_rename_acquired_field.py
  cfgov/regulations3k/models/django.py
  cfgov/regulations3k/parser/payload.py
  cfgov/regulations3k/tests/test_models.py
  cfgov/regulations3k/wagtail_hooks.py
Due: backend

Migrate from sw-precache to Workbox for service worker management
  cfgov/cfgov/settings/base.py
  cfgov/unprocessed/apps/regulations3k/package-lock.json
  cfgov/unprocessed/apps/regulations3k/package.json
  cfgov/unprocessed/apps/regulations3k/webpack-config.js
Due: backend, frontend

Fix FMC image size for 2x displays
  cfgov/jinja2/v1/_includes/molecules/featured-menu-content.html
Due: none

Ensure copy button gets the appropriate classes
  cfgov/regulations3k/copyable_modeladmin.py
Due: backend

Add support for copying Effective Versions
  cfgov/.coveragerc
  cfgov/regulations3k/copyable_modeladmin.py
  cfgov/regulations3k/tests/test_copyable_modeladmin.py
  cfgov/regulations3k/wagtail_hooks.py
Due: backend

Leave the effective date alone on copied versions
  cfgov/regulations3k/wagtail_hooks.py
Due: backend

Bump wagtail-inventory to 0.5
  requirements/libraries.txt
Due: none

Combine traditional & docker env files
  .env_SAMPLE
  .python_env_SAMPLE
  Dockerfile
  cfgov/entrypoint.sh
  docker-compose.yml
  shell.sh
Due: none

update docs for unified env
  .env_SAMPLE
  docs/installation.md
  docs/usage.md
Due: none

add additional unit tests for fragment caching
  cfgov/v1/tests/test_fragment_cache_extension.py
Due: backend

fix docs error and sqlite reference in readme
  README.md
  docs/installation.md
Due: none

Match deploy process used in ansible-consumer-finance
  refresh-data.sh
Due: none

Upgrade oah-api to latest version
  requirements/optional-public.txt
Due: none

remove deprecated Sheerlike query logic
  cfgov/cfgov/settings/base.py
  cfgov/sheerlike/__init__.py
  cfgov/sheerlike/engines.py
  cfgov/sheerlike/external_links.py
  cfgov/sheerlike/filters.py
  cfgov/sheerlike/finders.py
  cfgov/sheerlike/loaders.py
  cfgov/sheerlike/management/__init__.py
  cfgov/sheerlike/management/commands/__init__.py
  cfgov/sheerlike/query.py
  cfgov/sheerlike/storage.py
  cfgov/sheerlike/tests/test_external_links.py
  cfgov/sheerlike/tests/test_filters.py
  cfgov/sheerlike/views/__init__.py
  cfgov/sheerlike/views/generic.py
Due: backend

Regs3k: Fix bugs in ecfr_importer.
  cfgov/regulations3k/management/commands/update_regulation_index.py
  cfgov/regulations3k/models/django.py
Due: backend

regs3k: Update regulation indexing components
  cfgov/regulations3k/management/commands/update_regulation_index.py
  cfgov/regulations3k/models/django.py
  cfgov/regulations3k/scripts/ecfr_importer.py
  cfgov/regulations3k/tests/test_models.py
  cfgov/regulations3k/tests/test_search_indexes.py
Due: backend

Review fixes
  cfgov/unprocessed/css/organisms/read-more.less
Due: none

Add Spanish translations
  cfgov/jinja2/v1/_includes/organisms/expandable.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
Due: none

Update Regs3K secondary nav expandable
  cfgov/jinja2/v1/_includes/eregs/regulations3k-secondary-navigation.html
  cfgov/jinja2/v1/_includes/eregs/regulations3k-side-nav.html
  cfgov/jinja2/v1/_includes/organisms/expandable.html
  cfgov/unprocessed/apps/regulations3k/css/reg-navigation.less
  cfgov/unprocessed/apps/regulations3k/css/reg-search.less
  cfgov/unprocessed/apps/regulations3k/js/index.js
Due: frontend

Regs3k indexing update (#4392)
  cfgov/regulations3k/management/commands/update_regulation_index.py
  cfgov/regulations3k/models/django.py
  cfgov/regulations3k/scripts/ecfr_importer.py
  cfgov/regulations3k/tests/test_models.py
  cfgov/regulations3k/tests/test_search_indexes.py
Due: backend

Add header and content fields to RegulationsLandingPage
  cfgov/regulations3k/blocks.py
  cfgov/regulations3k/jinja2/regulations3k/base.html
  cfgov/regulations3k/jinja2/regulations3k/landing-page.html
  cfgov/regulations3k/jinja2/regulations3k/regulations-listing.html
  cfgov/regulations3k/migrations/0011_add_header_content_to_regs_landing_page.py
  cfgov/regulations3k/models/pages.py
  cfgov/regulations3k/tests/test_blocks.py
  cfgov/regulations3k/tests/test_models.py
Due: backend

Remove unused forms and fields modules
  cfgov/regulations3k/forms.py
  cfgov/regulations3k/models/fields.py
  cfgov/regulations3k/tests/test_forms.py
  cfgov/regulations3k/tests/test_models_fields.py
Due: backend

Some basic coverage improvements
  cfgov/regulations3k/regdown.py
  cfgov/regulations3k/tests/test_models.py
  cfgov/regulations3k/tests/test_regdown.py
Due: backend
