Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Deployed 3e6aaa0 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Paying for College - Code improvements (#7305)
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/util/url-parameter-utils.js
Due: frontend

Deployed 999f315 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Add init to add email popup
  cfgov/unprocessed/apps/owning-a-home/js/mortgage-estimate/index.js
  cfgov/unprocessed/js/modules/util/add-email-popup.js
  cfgov/unprocessed/js/routes/ask-cfpb/single.js
  cfgov/unprocessed/js/routes/consumer-tools/debt-collection/index.js
  cfgov/unprocessed/js/routes/owning-a-home/index.js
  cfgov/unprocessed/js/routes/owning-a-home/mortgage-estimate/index.js
  test/unit_tests/js/modules/util/add-email-popup-spec.js
Due: frontend

Improve FIG print button styles
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/index.html
  cfgov/unprocessed/apps/filing-instruction-guide/css/main.less
Due: none

Update @cfpb DS packages
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.17.14.tgz
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.18.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.17.14.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.18.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.17.14.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.18.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.17.14.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.18.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.17.14.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.18.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.17.14.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.18.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.17.14.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.18.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.17.14.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.18.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.17.14.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.18.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.17.14.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.18.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.17.14.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.18.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.17.14.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.18.0.tgz
  package.json
  yarn.lock
Due: none

Stack FIG tables on small screens instead of having them scroll
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/data_points.html
Due: none

Change flake8 source from gitlab to github | adjust indenting in config file (#7372)
  .pre-commit-config.yaml
Due: none

Deployed 4bf9e48 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Move FIG print styles into utility class
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/index.html
  cfgov/unprocessed/apps/filing-instruction-guide/css/main.less
Due: none

Remove old responsive table cruft
  cfgov/unprocessed/css/enhancements/tables.less
Due: none

Removes unused row-links code
  cfgov/jinja2/v1/_includes/organisms/table.html
  cfgov/unprocessed/css/enhancements/tables.less
  cfgov/unprocessed/js/modules/o-table-row-links.js
  cfgov/unprocessed/js/routes/about-us/careers/current-openings/index.js
  docs/javascript-unit-tests.md
  test/unit_tests/js/modules/o-table-row-links-spec.js
Due: frontend

Deployed fc97537 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

remove dropped script from esbuild
  esbuild/scripts.js
Due: none

Add init to add email popup (#7376)
  cfgov/unprocessed/apps/owning-a-home/js/mortgage-estimate/index.js
  cfgov/unprocessed/js/modules/util/add-email-popup.js
  cfgov/unprocessed/js/routes/ask-cfpb/single.js
  cfgov/unprocessed/js/routes/consumer-tools/debt-collection/index.js
  cfgov/unprocessed/js/routes/owning-a-home/index.js
  cfgov/unprocessed/js/routes/owning-a-home/mortgage-estimate/index.js
  test/unit_tests/js/modules/util/add-email-popup-spec.js
Due: frontend

Deployed d664a27 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Regs3k update to imports
  cfgov/unprocessed/apps/regulations3k/js/analytics.js
  cfgov/unprocessed/apps/regulations3k/js/index.js
  cfgov/unprocessed/apps/regulations3k/js/permalinks.js
  cfgov/unprocessed/apps/regulations3k/js/recent-notices.js
  cfgov/unprocessed/apps/regulations3k/js/search-utils.js
  cfgov/unprocessed/apps/regulations3k/js/search.js
Due: frontend

Use full path to FIG template
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/index.html
Due: none

TDP update to imports
  cfgov/unprocessed/apps/teachers-digital-platform/js/ClearableInput.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/ExpandableFacetTransition.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/expandable-facets.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/expandable-mobile.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/index.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/modals.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/scroll.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/search-utils.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/search.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/sticky.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/ChoiceField.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/ProgressBar.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/SectionLink.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/grade-level-page.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/initials.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/result-page.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/survey-page.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-surveys.js
  cfgov/unprocessed/js/modules/ClearableInput.js
  test/unit_tests/apps/teachers-digital-platform/js/ClearableInput-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/search-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/search-utils-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/survey/results-page-spec.js
Due: frontend

Autocomplete: Remove xhr wrapper and use native fetch instead
  cfgov/unprocessed/js/modules/util/ajax-request.js
  cfgov/unprocessed/js/molecules/Autocomplete.js
Due: frontend

Add get_category_icon helper to ref.py
  cfgov/v1/tests/util/test_ref.py
  cfgov/v1/util/ref.py
Due: backend

Minor test coverage fix
  cfgov/v1/tests/util/test_ref.py
Due: backend

RelatedPosts module cleanup
  cfgov/jinja2/v1/_includes/molecules/related-posts.html
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/template_debug/__init__.py
  cfgov/v1/template_debug/related_posts.py
  cfgov/v1/tests/atomic_elements/organisms/test_related_posts.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Migrate AnswerLandingPage to get_category_icon
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/jinja2/v1/ask-cfpb/landing-page.html
Due: backend

Create get_category_icon Jinja method
  cfgov/jinja2/v1/_includes/macros/category-icon.html
  cfgov/jinja2/v1/_includes/macros/category-slug.html
  cfgov/v1/jinja2tags/__init__.py
  cfgov/v1/tests/jinja2tags/test_jinja2tags.py
Due: backend

Fixup test fix
  cfgov/v1/tests/util/test_ref.py
Due: backend

Add new Wagtail report to review category icons
  cfgov/v1/templates/v1/category_icon_report.html
  cfgov/v1/views/reports.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Change testimony icon to canonical name
  cfgov/v1/util/ref.py
Due: backend

Migrate FAHC to imports
  cfgov/unprocessed/apps/find-a-housing-counselor/js/common.js
  cfgov/unprocessed/apps/find-a-housing-counselor/js/hud-util.js
Due: frontend

Fix test coverage
  cfgov/v1/tests/views/test_reports_view.py
Due: backend

Update ROUT to named imports
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/address-utils.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/call-census.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/call-tiger.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/common.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/content-control.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/count.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/dom-tools.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/file-input.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/show-map.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/text-inputs.js
Due: frontend

Removes unused row-links code (#7379)
  cfgov/jinja2/v1/_includes/organisms/table.html
  cfgov/unprocessed/css/enhancements/tables.less
  cfgov/unprocessed/js/modules/o-table-row-links.js
  cfgov/unprocessed/js/routes/about-us/careers/current-openings/index.js
  docs/javascript-unit-tests.md
  esbuild/scripts.js
  test/unit_tests/js/modules/o-table-row-links-spec.js
Due: frontend

Deployed 705557c with MkDocs version: 1.3.0
  index.html
  javascript-unit-tests/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Move category icon logic from template to Python (#7378)
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/jinja2/v1/_includes/macros/category-icon.html
  cfgov/jinja2/v1/_includes/macros/category-slug.html
  cfgov/jinja2/v1/_includes/molecules/related-posts.html
  cfgov/jinja2/v1/ask-cfpb/landing-page.html
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/jinja2tags/__init__.py
  cfgov/v1/template_debug/__init__.py
  cfgov/v1/template_debug/related_posts.py
  cfgov/v1/templates/v1/category_icon_report.html
  cfgov/v1/tests/atomic_elements/organisms/test_related_posts.py
  cfgov/v1/tests/jinja2tags/test_jinja2tags.py
  cfgov/v1/tests/util/test_ref.py
  cfgov/v1/tests/views/test_reports_view.py
  cfgov/v1/util/ref.py
  cfgov/v1/views/reports.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Deployed 58de811 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Fix test
  test/unit_tests/apps/teachers-digital-platform/js/scroll-spec.js
Due: none

Regs3k update to imports (#7383)
  cfgov/unprocessed/apps/regulations3k/js/analytics.js
  cfgov/unprocessed/apps/regulations3k/js/index.js
  cfgov/unprocessed/apps/regulations3k/js/permalinks.js
  cfgov/unprocessed/apps/regulations3k/js/recent-notices.js
  cfgov/unprocessed/apps/regulations3k/js/search-utils.js
  cfgov/unprocessed/apps/regulations3k/js/search.js
Due: frontend

Deployed 5a5acab with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Cleanup some Python code in the legacy app
  cfgov/housing_counselor/forms.py
  cfgov/housing_counselor/views.py
  cfgov/legacy/tests/__init__.py
  cfgov/legacy/tests/views/__init__.py
  cfgov/legacy/views/__init__.py
Due: backend

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
