Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Deployed 0ff7331 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Other Front-end Testing documentation
  docs/other-front-end-testing.md
  mkdocs.yml
Due: none

CR Tool: update crtool release number to 2.1.4
  requirements/libraries.txt
Due: none

CR Tool: update crtool release number to 2.1.4 (#6430)
  requirements/libraries.txt
Due: none

Deployed b7d54bc with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Deployed be63981 with MkDocs version: 1.0.4
  404.html
  ask-cfpb/index.html
  atomic-structure/index.html
  branching-merging/index.html
  caching/index.html
  consumer-complaint-database/index.html
  contributing-docs/index.html
  debugging-monitoring/index.html
  debugging-templates/index.html
  deployment/index.html
  development-tips/index.html
  editing-components/index.html
  feature-flags/index.html
  filterable-lists/index.html
  forms-in-wagtail/index.html
  functional-testing/index.html
  github-actions/index.html
  housing-counselor-tool/index.html
  index.html
  installation/index.html
  javascript-unit-tests/index.html
  migrations/index.html
  other-front-end-testing/index.html
  profiling-django/index.html
  python-unit-tests/index.html
  related-projects/index.html
  running-docker/index.html
  running-virtualenv/index.html
  search.html
  search/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  split-testing/index.html
  translation/index.html
  wagtail-pages/index.html
  website-feedback/index.html
Due: none

Migrate transportation tool to layout-side-nav template to remove breadcrumb template (#6393)
  cfgov/jinja2/v1/youth_employment_success/breadcrumbs.html
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/jinja2/v1/youth_employment_success/side-nav.html
Due: none

Deployed 16b2870 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add support for an array of URLs to delete or invalidate cache
  cfgov/v1/management/commands/delete_page_cache.py
  cfgov/v1/management/commands/invalidate_page_cache.py
Due: backend

P4C: small text fixes.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/01-school-search.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/02-costs.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/03-grants-and-scholarships.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/04-work-study.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/09-make-a-plan.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/10-max-debt-guideline.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/12-affording-your-loan.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/state-based.less
Due: none

split the url entry from the start to avoid the regex
  cfgov/v1/management/commands/delete_page_cache.py
  cfgov/v1/management/commands/invalidate_page_cache.py
Due: backend

Fix additional em dashes.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/11-cost-of-borrowing.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/15-action-plan.html
Due: none

Fixing a few more em dashes.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/08-loan-counseling.html
Due: none

Fix p4c typo.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/10-max-debt-guideline.html
Due: none

use nargs to avoid the need to enclose the URLs in quotes
  cfgov/v1/management/commands/delete_page_cache.py
  cfgov/v1/management/commands/invalidate_page_cache.py
Due: backend

Another typo.
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/11-cost-of-borrowing.html
Due: none

Fix border bug and implement styles
  cfgov/jinja2/v1/_includes/organisms/simple-chart.html
  cfgov/unprocessed/css/organisms/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-styles.js
Due: frontend

Update urllib3 to address Dependabot alert
  requirements/libraries.txt
Due: none

Update to Cypress 7.3.0 from 7.2.0
  Jenkinsfile
  npm-packages-offline-cache/cypress-7.2.0.tgz
  npm-packages-offline-cache/cypress-7.3.0.tgz
  package.json
  yarn.lock
Due: none

Remove purge_urls_from_cache as it does not support deletion and use AkamaiBackend
  cfgov/v1/management/commands/delete_page_cache.py
  cfgov/v1/management/commands/invalidate_page_cache.py
Due: backend

Add purge_batch functionality to Akamai backend
  cfgov/v1/models/caching.py
Due: backend

Consolidate breadcrumb templates
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/form-submitted.html
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/privacy.html
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/voluntary-assessment-form.html
  cfgov/hmda/jinja2/hmda/hmda-explorer.html
  cfgov/jinja2/v1/_includes/breadcrumbs.html
  cfgov/jinja2/v1/_includes/molecules/breadcrumbs.html
  cfgov/jinja2/v1/_layouts/content-base-main-first.html
  cfgov/jinja2/v1/_layouts/content-base-sidebar-first.html
  cfgov/jinja2/v1/_layouts/content-base.html
  cfgov/jinja2/v1/ask-cfpb/answer-search-results.html
  cfgov/jinja2/v1/ask-cfpb/article-page.html
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_index_page.html
  cfgov/wellbeing/jinja2/wellbeing/about.html
  cfgov/wellbeing/jinja2/wellbeing/error.html
  cfgov/wellbeing/jinja2/wellbeing/results.html
Due: none

Use PurgeBatch in invalidate_page_cache.py
  cfgov/v1/management/commands/invalidate_page_cache.py
Due: backend

Remove purge_batch functionality from Akamai backend
  cfgov/v1/models/caching.py
Due: backend

Deleting page cache should be removed in its own PR
  cfgov/v1/management/commands/delete_page_cache.py
Due: backend

Fix translation in data structure error
  cfgov/wellbeing/jinja2/wellbeing/about.html
  cfgov/wellbeing/jinja2/wellbeing/error.html
  cfgov/wellbeing/jinja2/wellbeing/results.html
Due: none

Add version to dockerfile
  docker/cypress/Dockerfile
Due: none

Update to Cypress 7.3.0 from 7.2.0 (#6436)
  Jenkinsfile
  docker/cypress/Dockerfile
  npm-packages-offline-cache/cypress-7.2.0.tgz
  npm-packages-offline-cache/cypress-7.3.0.tgz
  package.json
  yarn.lock
Due: none

Deployed 1c1fa7a with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Adjust the ask_cfpb view to handle sharing of live + draft pages
  cfgov/ask_cfpb/tests/test_views.py
  cfgov/ask_cfpb/views.py
Due: backend

Update cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
Due: frontend

Add support to invalidate page cache for multiple URLs (#6432)
  cfgov/v1/management/commands/invalidate_page_cache.py
Due: backend

Deployed 9629f64 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update AkamaiBackend model for deleting cache
  cfgov/v1/management/commands/delete_all_pages_cache.py
  cfgov/v1/management/commands/delete_page_cache.py
  cfgov/v1/models/caching.py
Due: backend

Remove management command test delete_all_pages
  cfgov/v1/tests/management/commands/test_delete_all_pages.py
Due: backend

Update AkamaiBackend model for deleting cache (#6440)
  cfgov/v1/management/commands/delete_all_pages_cache.py
  cfgov/v1/management/commands/delete_page_cache.py
  cfgov/v1/models/caching.py
  cfgov/v1/tests/management/commands/test_delete_all_pages.py
Due: backend

Deployed e4f6411 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Sc geo design (#6434)
  cfgov/jinja2/v1/_includes/organisms/simple-chart.html
  cfgov/unprocessed/css/organisms/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-styles.js
Due: frontend

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
