Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Update amicus redirects to point to compliance
  cfgov/apache/conf.d/redirects.conf
Due: none

Moved Ask search test cases from test_views.py to test_search.py
  cfgov/ask_cfpb/tests/test_search.py
  cfgov/ask_cfpb/tests/test_views.py
Due: backend

Add ELASTICSEARCH_DSL_ASK and fix lint errors
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/ask_cfpb/tests/test_search.py
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/scripts/tests/test_export_enforcement_actions.py
  cfgov/scripts/tests/test_smoke_tests.py
  cfgov/v1/tests/atomic_elements/organisms/test_filterable_list.py
  cfgov/v1/tests/models/test_filterable_list_mixins.py
Due: backend

Fix django.core.exceptions.ImproperlyConfigured: Application labels aren't unique, duplicates: django_elasticsearch_dsl
  cfgov/cfgov/settings/local.py
Due: backend

Update to use mock.patch.object
  cfgov/ask_cfpb/tests/test_search.py
Due: backend

Add AnswerResultsPage to setUp
  cfgov/ask_cfpb/tests/test_search.py
Due: backend

Update AskSearchTestCase
  cfgov/ask_cfpb/tests/test_search.py
Due: backend

Paying for College - Financial Path updates - Add other debt payments to expenses budget - Update content
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/02-costs.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/07-other-resources.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/09-make-a-plan.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/11-cost-of-borrowing.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/12-affording-your-loan.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/13-school-results.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/15-action-plan.html
  cfgov/unprocessed/apps/paying-for-college/js/models/expenses-model.js
  cfgov/unprocessed/apps/paying-for-college/js/views/chart-view.js
Due: frontend

Update cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/07-other-resources.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/07-other-resources.html
Due: none

- Change url parameters code to obey a single truth
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/util/url-parameter-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
Due: frontend

- Fix calculation error in expenses - Select expenses region based on school selection
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/05-federal-loans.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/06-school-loans.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/07-other-resources.html
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/models/expenses-model.js
Due: frontend

- (sq) Linting fix
  cfgov/unprocessed/apps/paying-for-college/js/views/chart-view.js
Due: frontend

- Add function to initialize all expensesModel values
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/models/expenses-model.js
Due: frontend

Rename suggestion_text to suggestion
  cfgov/ask_cfpb/models/search.py
  cfgov/search/documents.py
Due: backend

Fix lint error due to blank line at end of file
  cfgov/search/documents.py
Due: backend

Add Elasticsearch 7 support to regulations search behind a flag (#6067)
  cfgov/cfgov/settings/base.py
  cfgov/regulations3k/documents.py
  cfgov/regulations3k/models/pages.py
  cfgov/regulations3k/tests/test_documents.py
  cfgov/regulations3k/tests/test_models.py
Due: backend

Deployed e4fa7f4 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Rebuild ES7 indexes on deploy
  docker-stack.yml
Due: none

Enable thumbnail rendering in the Resources ModelAdmin listing
  cfgov/templates/wagtailadmin/css/model-admin.css
  cfgov/v1/wagtail_hooks.py
Due: backend

Add missing known_first_party apps to isort and fix resulting findings
  .isort.cfg
  cfgov/deployable_zipfile/tests/test_create.py
  cfgov/deployable_zipfile/tests/test_extract.py
  cfgov/deployable_zipfile/tests/test_install_wheels.py
  cfgov/deployable_zipfile/tests/test_loadenv.py
  cfgov/form_explainer/models.py
  cfgov/teachers_digital_platform/models/pages.py
  cfgov/teachers_digital_platform/tests/models/test_activity_index_page.py
  cfgov/teachers_digital_platform/tests/models/test_activity_page.py
  cfgov/teachers_digital_platform/wagtail_hooks.py
  cfgov/v1/models/browse_page.py
Due: backend

Add scripts to known_first_party in isort.cfg to fix lint errors
  .isort.cfg
  cfgov/scripts/tests/test_export_enforcement_actions.py
  cfgov/scripts/tests/test_smoke_tests.py
  cfgov/v1/tests/atomic_elements/organisms/test_filterable_list.py
  cfgov/v1/tests/models/test_filterable_list_mixins.py
Due: backend

import AnswerPage from models.answer_page
  cfgov/ask_cfpb/models/__init__.py
  cfgov/ask_cfpb/scripts/export_ask_data.py
  cfgov/ask_cfpb/scripts/replace_unsupported_characters.py
  cfgov/ask_cfpb/search_indexes.py
  cfgov/ask_cfpb/tests/test_documents.py
Due: backend

Add space between commands
  docker-stack.yml
Due: none

Update ask_cfpb model tests to use mock.patch.object
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Fix undefined name AnswerPageDocument
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Add make_safe to ask_cfpb
  cfgov/ask_cfpb/models/search.py
  cfgov/ask_cfpb/views.py
  cfgov/search/documents.py
Due: backend

Add AnswerPageSearch to ask_cfpb test_search.py
  cfgov/ask_cfpb/tests/test_search.py
Due: backend

Fix ImportError: cannot import name make_safe
  cfgov/ask_cfpb/views.py
Due: backend

Add test_english_category_title_es7
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

use newer mapbox styles in find-a-housing-counselor and rural-or-underserved-tool
  cfgov/cfgov/settings/base.py
  cfgov/unprocessed/apps/find-a-housing-counselor/js/common.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/show-map.js
Due: backend, frontend

Add test_portal_category_page_200_es7
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Deployed cd1507e with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add missing known_first_party apps to isort
  .isort.cfg
Due: none

Fix Imports are incorrectly sorted errors
  cfgov/deployable_zipfile/tests/test_create.py
  cfgov/deployable_zipfile/tests/test_extract.py
  cfgov/deployable_zipfile/tests/test_install_wheels.py
  cfgov/deployable_zipfile/tests/test_loadenv.py
  cfgov/form_explainer/models.py
  cfgov/teachers_digital_platform/models/pages.py
  cfgov/teachers_digital_platform/tests/models/test_activity_index_page.py
  cfgov/teachers_digital_platform/tests/models/test_activity_page.py
  cfgov/teachers_digital_platform/wagtail_hooks.py
  cfgov/v1/models/browse_page.py
Due: backend

Rebuild Elasticsearch 7 indexes on each deploy (#6071)
  docker-stack.yml
Due: none

Deployed 0994fc0 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Move mock_es7_queryset into test_pages.py
  cfgov/ask_cfpb/tests/test_search.py
Due: backend

Add ES7 tests for portal category and topic
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Remove mock_es7_queryset from ask_cfpb test_pages.py
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Change mock_es7_queryset to mock_es_queryset
  cfgov/ask_cfpb/tests/test_search.py
Due: backend
