Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

disable:
  - search

Remove unneeded postgres config
  .travis.yml
Due: none

Remove non-default db port
  .travis.yml
Due: none

Re-enable acceptance tests
  travis_run.sh
Due: none

Fix linter error
  cfgov/unprocessed/apps/youth-employment-success/js/todo-notification.js
Due: frontend

Add notification molecule to doc detail page
  cfgov/v1/migrations/0180_add_notification_doc_detail.py
  cfgov/v1/models/learn_page.py
Due: backend

Adds review goals view and spec
  cfgov/jinja2/v1/youth_employment_success/review/your-goals.html
  cfgov/jinja2/v1/youth_employment_success/review/your-plan.html
  cfgov/unprocessed/apps/youth-employment-success/img/review/learn_about_buying_a_car.png
  cfgov/unprocessed/apps/youth-employment-success/img/review/learn_about_credit.png
  cfgov/unprocessed/apps/youth-employment-success/img/review/opening_a_bank_account.png
  cfgov/unprocessed/apps/youth-employment-success/img/review/track_spending.png
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/todo-notification.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/goals.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/review/goals.js
  test/unit_tests/apps/youth-employment-success/js/views/goals-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/review/goals-spec.js
Due: frontend

Handle case when sys.stdout has no encoding
  cfgov/deployable_zipfile/extract.py
Due: backend

fix: cfgov/unprocessed/apps/owning-a-home/package.json to reduce vulnerabilities
  cfgov/unprocessed/apps/owning-a-home/package.json
Due: none

Set up Voluntary Diversity Assessment Form
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/diversity_inclusion/__init__.py
  cfgov/diversity_inclusion/forms.py
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/form-submitted.html
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/voluntary-assessment-form.html
  cfgov/diversity_inclusion/tests/__init__.py
  cfgov/diversity_inclusion/tests/test_forms.py
  cfgov/diversity_inclusion/tests/test_views.py
  cfgov/diversity_inclusion/urls.py
  cfgov/diversity_inclusion/views.py
Due: backend

Initial pass at diversity form design
  cfgov/diversity_inclusion/forms.py
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/form-submitted.html
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/voluntary-assessment-form.html
  cfgov/diversity_inclusion/urls.py
  cfgov/diversity_inclusion/views.py
Due: backend

Bump TDP release to 1.1.4
  requirements/libraries.txt
Due: none

Bump TDP release to 1.1.4 (#5270)
  requirements/libraries.txt
Due: none

Add animations to to-do alert notification
  cfgov/jinja2/v1/youth_employment_success/route-questions/transit-time.html
  cfgov/unprocessed/apps/youth-employment-success/css/main.less
  cfgov/unprocessed/apps/youth-employment-success/js/todo-notification.js
Due: frontend

Prevent error on export of blank Ask CFPB pages
  cfgov/ask_cfpb/scripts/export_ask_data.py
Due: backend

Update category-icon.html
  cfgov/jinja2/v1/_includes/macros/category-icon.html
Due: none

Bump TDP release to 1.1.5
  requirements/libraries.txt
Due: none

Bump TDP release to 1.1.5 (#5274)
  requirements/libraries.txt
Due: none

Filterable List: Update Post date description field
  cfgov/jinja2/v1/_includes/organisms/post-preview.html
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0181_update_post_date_description_field.py
Due: backend

Add detail review view
  cfgov/jinja2/v1/youth_employment_success/review/your-plan.html
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/money.js
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/route-option-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/util.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/review/details.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route-details.js
  test/unit_tests/apps/youth-employment-success/js/money-spec.js
  test/unit_tests/apps/youth-employment-success/js/util-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/review/details-spec.js
Due: frontend

View and specs for review choice section
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/jinja2/v1/youth_employment_success/review/index.html
  cfgov/jinja2/v1/youth_employment_success/review/review.html
  cfgov/jinja2/v1/youth_employment_success/review/your-plan.html
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/choice-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/store.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/review/choice.js
  test/unit_tests/apps/youth-employment-success/js/reducers/choice-reducer-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/review/choice-spec.js
Due: frontend

Display images in yes tool
  cfgov/jinja2/v1/youth_employment_success/goals.html
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/jinja2/v1/youth_employment_success/review/next-steps.html
  cfgov/jinja2/v1/youth_employment_success/review/yes-info-unit.html
  cfgov/unprocessed/apps/youth-employment-success/css/main.less
  cfgov/unprocessed/apps/youth-employment-success/img/Frankie_transportation_tool.png
  cfgov/unprocessed/apps/youth-employment-success/img/Mya_transportation_tool.png
  cfgov/unprocessed/apps/youth-employment-success/js/views/review/details.js
  test/unit_tests/apps/youth-employment-success/js/views/review/details-spec.js
Due: frontend

Adds updated copy,money tooltip and icon
  cfgov/jinja2/v1/youth_employment_success/budget-form.html
  cfgov/jinja2/v1/youth_employment_success/goals.html
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/jinja2/v1/youth_employment_success/money-icon.html
  cfgov/jinja2/v1/youth_employment_success/review/next-steps.html
  cfgov/jinja2/v1/youth_employment_success/review/print.html
  cfgov/jinja2/v1/youth_employment_success/review/review.html
  cfgov/jinja2/v1/youth_employment_success/review/your-goals.html
  cfgov/jinja2/v1/youth_employment_success/review/your-plan.html
  cfgov/jinja2/v1/youth_employment_success/route-details.html
  cfgov/jinja2/v1/youth_employment_success/route-option-form.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/average-cost.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/driving-cost-estimate.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/miles.html
  cfgov/unprocessed/apps/youth-employment-success/css/main.less
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/route-option-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/average-cost.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/driving-cost-estimate.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/goals.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/miles.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/review/choice.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route-details.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/transit-time.js
  test/unit_tests/apps/youth-employment-success/js/route-option-view-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/driving-cost-estimate-spec.js
Due: frontend

Match tool styling more closely to mock ups
  cfgov/jinja2/v1/_includes/atoms/radio-button.html
  cfgov/jinja2/v1/youth_employment_success/budget-form.html
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/jinja2/v1/youth_employment_success/route-details.html
  cfgov/jinja2/v1/youth_employment_success/route-option-form.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/average-cost.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/input.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/miles.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/transit-time.html
  cfgov/unprocessed/apps/youth-employment-success/css/main.less
Due: none

Adds checkbox / radio styling for mobile
  cfgov/unprocessed/apps/youth-employment-success/css/main.less
Due: none

Attempting to add mobile styles
  cfgov/jinja2/v1/youth_employment_success/budget-form.html
  cfgov/jinja2/v1/youth_employment_success/goals.html
  cfgov/jinja2/v1/youth_employment_success/goals/goal.html
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/jinja2/v1/youth_employment_success/line-item.html
  cfgov/jinja2/v1/youth_employment_success/plus-icon.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/average-cost.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/transit-time.html
  cfgov/unprocessed/apps/youth-employment-success/css/main.less
Due: none

Attempt to remove double label
  cfgov/jinja2/v1/youth_employment_success/budget-form.html
Due: none

Tries to add mobile node reordering in budget html
  cfgov/jinja2/v1/youth_employment_success/budget-form.html
  cfgov/unprocessed/apps/youth-employment-success/css/main.less
Due: none

Further refinement of mobile budget field class
  cfgov/jinja2/v1/youth_employment_success/budget-form.html
  cfgov/unprocessed/apps/youth-employment-success/css/main.less
Due: none

Addresses design feedback
  cfgov/jinja2/v1/youth_employment_success/budget-form.html
  cfgov/jinja2/v1/youth_employment_success/goals.html
  cfgov/jinja2/v1/youth_employment_success/goals/goal.html
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/jinja2/v1/youth_employment_success/line-item.html
  cfgov/jinja2/v1/youth_employment_success/review/next-steps.html
  cfgov/jinja2/v1/youth_employment_success/review/your-goals.html
  cfgov/jinja2/v1/youth_employment_success/review/your-plan.html
  cfgov/jinja2/v1/youth_employment_success/route-option-form.html
  cfgov/jinja2/v1/youth_employment_success/route-option.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/average-cost.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/miles.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/transit-time.html
  cfgov/jinja2/v1/youth_employment_success/success-icon.html
  cfgov/unprocessed/apps/youth-employment-success/css/main.less
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
Due: frontend

Addressing PR feedback
  cfgov/jinja2/v1/youth_employment_success/budget-form.html
  cfgov/unprocessed/apps/youth-employment-success/css/main.less
Due: none

Update cfpb-chart-builder to 6.2.0
  npm-packages-offline-cache/cfpb-chart-builder-6.1.2.tgz
  npm-packages-offline-cache/cfpb-chart-builder-6.2.0.tgz
  package.json
  yarn.lock
Due: none

Fix up merge html display issues
  cfgov/jinja2/v1/youth_employment_success/budget-form.html
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/jinja2/v1/youth_employment_success/route-details.html
Due: none

Update diversity form URL and title
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/form-submitted.html
  cfgov/diversity_inclusion/jinja2/diversity_inclusion/voluntary-assessment-form.html
  cfgov/diversity_inclusion/urls.py
Due: backend

Properly map transportation types to review
  cfgov/jinja2/v1/youth_employment_success/review/your-plan.html
  cfgov/unprocessed/apps/youth-employment-success/js/data/transportation-map.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/review/choice.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/review/details.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route-details.js
  test/unit_tests/apps/youth-employment-success/js/route-option-view-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/review/details-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/route-details-spec.js
Due: frontend

Adds HTML+CSS tweaks for print stylesheets
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/jinja2/v1/youth_employment_success/line-item.html
  cfgov/jinja2/v1/youth_employment_success/review/index.html
  cfgov/jinja2/v1/youth_employment_success/review/print.html
  cfgov/jinja2/v1/youth_employment_success/review/review.html
  cfgov/jinja2/v1/youth_employment_success/review/your-plan.html
  cfgov/jinja2/v1/youth_employment_success/route-details.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/average-cost.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/days-per-week.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/driving-cost-estimate.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/miles.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/transit-time.html
  cfgov/unprocessed/apps/youth-employment-success/css/main.less
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/print-button.js
  test/unit_tests/apps/youth-employment-success/js/views/print-button-spec.js
Due: frontend

Linter fixes
  cfgov/unprocessed/js/modules/Analytics.js
  cfgov/unprocessed/js/modules/TabTrigger.js
  cfgov/unprocessed/js/modules/behavior/FlyoutMenu.js
  cfgov/unprocessed/js/molecules/GlobalSearch.js
  cfgov/unprocessed/js/organisms/FormSubmit.js
  cfgov/unprocessed/js/routes/data-research/prepaid-accounts/search-agreements/index.js
Due: frontend

Update CCDB5-API
  requirements/libraries.txt
Due: none

Ensure topics query string doesn't contain malicious characters
  cfgov/v1/forms.py
Due: backend

Addressing design feedback round 3
  cfgov/jinja2/v1/youth_employment_success/budget-form.html
  cfgov/jinja2/v1/youth_employment_success/goals.html
  cfgov/jinja2/v1/youth_employment_success/goals/goal.html
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/jinja2/v1/youth_employment_success/line-item.html
  cfgov/jinja2/v1/youth_employment_success/review/review.html
  cfgov/jinja2/v1/youth_employment_success/route-details.html
  cfgov/jinja2/v1/youth_employment_success/route-option-form.html
  cfgov/jinja2/v1/youth_employment_success/route-options.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/average-cost.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/days-per-week.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/driving-cost-estimate.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/input.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/miles.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/transit-time.html
  cfgov/unprocessed/apps/youth-employment-success/css/main.less
  cfgov/unprocessed/apps/youth-employment-success/js/budget-form-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/todo-notification.js
  test/unit_tests/apps/youth-employment-success/fixtures/todo-alert.js
  test/unit_tests/apps/youth-employment-success/js/budget-form-view-spec.js
Due: frontend
