Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Add fs dependency
  requirements/libraries.txt
Due: none

Deployed 1e27872 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 29d5c18 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Change H2 for footnotes to "Endnotes"
  cfgov/v1/jinja2/v1/includes/molecules/footnotes.html
Due: none

Deployed 3f2866b with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Remove local footnote custom rendering
  cfgov/ask_cfpb/migrations/0008_add_footnotes.py
  cfgov/filing_instruction_guide/migrations/0013_add_footnotes.py
  cfgov/form_explainer/migrations/0010_add_footnotes.py
  cfgov/paying_for_college/migrations/0012_add_footnotes.py
  cfgov/regulations3k/migrations/0011_add_footnotes.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/atomic_elements/tables.py
  cfgov/v1/blocks.py
  cfgov/v1/migrations/0035_add_footnotes.py
  cfgov/v1/tests/test_blocks.py
  requirements/libraries.txt
Due: backend

Deployed a96c507 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

P4C - Schools under investigation - Add content and flag for schools under investigation
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/02-school-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/state-based.less
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/update-models.js
Due: frontend

Removed lines 362 - 401 which duplicated the record for the Credit Card Agreements Databse
  cfgov/unprocessed/root/data.json
Due: none

Deployed 774a951 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Added a dataset and updated a title.
  cfgov/unprocessed/root/data.json
Due: none

Deployed d318a62 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

- Update schools under investigation content
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/02-school-costs.html
Due: none

Add layout classes to intro segment in grad path
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/0-intro.html
Due: none

Deployed cf753ac with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

trim log
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/update-models.js
Due: frontend

prog
  cfgov/unprocessed/css/on-demand/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-styles.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/us-layout.js
Due: frontend

Reinitialize tooltips after htmx ajax calls
  cfgov/unprocessed/apps/tccp/js/index.js
Due: frontend

Add banner template
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/layout-fig.html
  cfgov/v1/jinja2/v1/blog/legacy_blog_page.html
  cfgov/v1/jinja2/v1/includes/molecules/banner.html
  cfgov/v1/jinja2/v1/includes/organisms/header.html
Due: none

Remove unneeded line from FIG
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/layout-fig.html
Due: none

Deployed a3634b9 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Mock scss files
  jest.config.js
Due: none

Remove lingering .less files
  cfgov/unprocessed/apps/owning-a-home/css/brand-header.less
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/stepper.less
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/tooltip.less
  cfgov/unprocessed/css/footnotes.scss
Due: none

Pin psycopg to 2.9.6
  requirements/libraries.txt
Due: none

Deployed 2ab4249 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Update cfgov/unprocessed/apps/tccp/js/index.js
  cfgov/unprocessed/apps/tccp/js/index.js
Due: frontend

Minor bug fixes | bump ds 3.0.2
  cfgov/unprocessed/apps/form-explainer/css/form-explainer.scss
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/update-models.js
  cfgov/unprocessed/apps/prepaid-agreements/css/search.scss
  cfgov/unprocessed/css/atoms/tag.scss
  npm-packages-offline-cache/@cfpb-cfpb-design-system-3.0.1.tgz
  npm-packages-offline-cache/@cfpb-cfpb-design-system-3.0.2.tgz
  package.json
  yarn.lock
Due: frontend

Fix classes for counts of result types
  cfgov/jinja2/rural-or-underserved/index.html
  cfgov/unprocessed/apps/rural-or-underserved-tool/js/count.js
Due: frontend

Deployed f28e21c with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

fix(csp): add exceptions for ANDI A11y Tool
  cfgov/cfgov/settings/base.py
Due: backend

Deployed 6dde6fb with MkDocs version: 1.5.3
  atomic-structure/index.html
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Import footnotes CSS file to main
  cfgov/unprocessed/css/main.scss
Due: none

Deployed a418aa1 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Update @cfpb/cfpb-analytics@0.3.2, cypress@13.13.3, cypress-fail-fast@7.1.1
  npm-packages-offline-cache/@cfpb-cfpb-analytics-0.3.1.tgz
  npm-packages-offline-cache/@cfpb-cfpb-analytics-0.3.2.tgz
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.37.0.tgz
  npm-packages-offline-cache/cypress-13.13.2.tgz
  npm-packages-offline-cache/cypress-13.13.3.tgz
  npm-packages-offline-cache/cypress-fail-fast-7.1.0.tgz
  npm-packages-offline-cache/cypress-fail-fast-7.1.1.tgz
  package.json
  yarn.lock
Due: none

Deployed 99afb77 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 2cf26d8 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Fix malformed division operations
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/college-costs.scss
  npm-packages-offline-cache/@cfpb-cfpb-design-system-3.0.2.tgz
  npm-packages-offline-cache/@cfpb-cfpb-design-system-3.0.3.tgz
  package.json
  yarn.lock
Due: none

Deployed 488e93f with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none
