Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Bump TDP release to 1.1.8
  requirements/libraries.txt
Due: none

Paying for College - Front end work on number interactions
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-model-values.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/models/debt-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/state-model.js
  cfgov/unprocessed/apps/paying-for-college/js/util/number-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/npm-packages-offline-cache/extend-3.0.2.tgz
  cfgov/unprocessed/apps/paying-for-college/npm-packages-offline-cache/student-debt-calc-2.6.5.tgz
  package.json
  yarn.lock
Due: frontend

fix: cfgov/unprocessed/apps/owning-a-home/package.json to reduce vulnerabilities
  cfgov/unprocessed/apps/owning-a-home/package.json
Due: none

Update owning-a-home dependencies
  cfgov/unprocessed/apps/owning-a-home/npm-packages-offline-cache/date-format-2.1.0.tgz
  cfgov/unprocessed/apps/owning-a-home/npm-packages-offline-cache/date-format-3.0.0.tgz
  cfgov/unprocessed/apps/owning-a-home/npm-packages-offline-cache/handlebars-4.3.1.tgz
  cfgov/unprocessed/apps/owning-a-home/npm-packages-offline-cache/handlebars-4.5.1.tgz
  cfgov/unprocessed/apps/owning-a-home/package.json
  cfgov/unprocessed/apps/owning-a-home/yarn.lock
Due: none

Docs: Tweak Docker in-container command instructions
  docs/running-docker.md
Due: none

Updates validation, fixes reeducer splice logic
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/route-option-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/validators/route-option.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route-details.js
  test/unit_tests/apps/youth-employment-success/js/reducers/route-option-reducer-spec.js
  test/unit_tests/apps/youth-employment-success/js/validators/route-option-spec.js
Due: frontend

Add Python test prerequisites to docs
  docs/python-unit-tests.md
Due: none

Move psycopg2 into libraries.txt
  docs/index.md
  requirements/deployment.txt
  requirements/libraries.txt
  requirements/local.txt
  requirements/postgres.txt
  requirements/snyk/postgres/requirements.txt
  tox.ini
Due: none

Support testing of alternate home page designs
  cfgov/jinja2/v1/home-page/index_en.html
  cfgov/jinja2/v1/home-page/index_es.html
  cfgov/jinja2/v1/home-page/index_new.html
  cfgov/v1/models/home_page.py
Due: backend

Adding expandable override
  cfgov/unprocessed/apps/youth-employment-success/js/views/print-button.js
  cfgov/unprocessed/css/pages/car-buying-guide.less
  cfgov/unprocessed/js/routes/practitioner-resources/resources-youth-employment-programs/buying-a-car/expandables.js
  cfgov/unprocessed/js/routes/practitioner-resources/resources-youth-employment-programs/buying-a-car/index.js
  cfgov/unprocessed/js/routes/practitioner-resources/resources-youth-employment-programs/buying-a-car/models/checklist-map.js
  cfgov/unprocessed/js/routes/practitioner-resources/resources-youth-employment-programs/buying-a-car/models/selected-items.js
  cfgov/unprocessed/js/routes/practitioner-resources/resources-youth-employment-programs/buying-a-car/templates/checkbox.js
  cfgov/unprocessed/js/routes/practitioner-resources/resources-youth-employment-programs/buying-a-car/templates/table-row.js
  cfgov/unprocessed/js/routes/practitioner-resources/resources-youth-employment-programs/buying-a-car/views/checklist-group.js
  cfgov/unprocessed/js/routes/practitioner-resources/resources-youth-employment-programs/buying-a-car/views/error.js
  cfgov/unprocessed/js/routes/practitioner-resources/resources-youth-employment-programs/buying-a-car/views/print-table.js
  cfgov/youth_employment/jinja2/youth_employment/yes-checklist-items.html
  cfgov/youth_employment/jinja2/youth_employment/yes-checklist.html
  test/unit_tests/apps/youth-employment-success/js/views/print-button-spec.js
Due: frontend

Co-locate JS with YESChecklist
  cfgov/unprocessed/js/routes/on-demand/youth-employment-programs/buying-a-car/expandables.js
  cfgov/unprocessed/js/routes/on-demand/youth-employment-programs/buying-a-car/index.js
  cfgov/unprocessed/js/routes/on-demand/youth-employment-programs/buying-a-car/models/checklist-map.js
  cfgov/unprocessed/js/routes/on-demand/youth-employment-programs/buying-a-car/models/selected-items.js
  cfgov/unprocessed/js/routes/on-demand/youth-employment-programs/buying-a-car/templates/checkbox.js
  cfgov/unprocessed/js/routes/on-demand/youth-employment-programs/buying-a-car/templates/table-row.js
  cfgov/unprocessed/js/routes/on-demand/youth-employment-programs/buying-a-car/views/checklist-group.js
  cfgov/unprocessed/js/routes/on-demand/youth-employment-programs/buying-a-car/views/error.js
  cfgov/unprocessed/js/routes/on-demand/youth-employment-programs/buying-a-car/views/print-table.js
  cfgov/v1/migrations/0186_auto_20191108_1124.py
  cfgov/youth_employment/blocks.py
Due: backend, frontend

Fix migration collision + use a meaningful name
  cfgov/unprocessed/css/pages/car-buying-guide.less
  cfgov/unprocessed/js/routes/on-demand/youth-employment-programs/buying-a-car/index.js
  cfgov/v1/migrations/0186_auto_20191108_1124.py
  cfgov/v1/migrations/0190_update_yes_checklist_details_to_rich_text.py
  cfgov/youth_employment/jinja2/youth_employment/yes-checklist.html
Due: backend, frontend

Adds new default of '-' when line item totals cant be calculated
  cfgov/jinja2/v1/youth_employment_success/route/route-details.html
  cfgov/unprocessed/apps/youth-employment-success/js/util.js
  cfgov/unprocessed/apps/youth-employment-success/js/validators/route-option.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route-details.js
  test/unit_tests/apps/youth-employment-success/js/validators/route-option-spec.js
Due: frontend

Update logic
  cfgov/unprocessed/apps/youth-employment-success/js/views/days-per-week.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route-details.js
  test/unit_tests/apps/youth-employment-success/js/util-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/days-per-week-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/route-details-spec.js
Due: frontend

Adds specs for new behavior
  cfgov/unprocessed/apps/youth-employment-success/js/util.js
  test/unit_tests/apps/youth-employment-success/js/util-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/route-details-spec.js
Due: frontend

[Squash Me] Content updates
  cfgov/paying_for_college/jinja2/paying-for-college/college-costs.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs.less
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-state.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/state-model.js
Due: frontend

Match versions to master
  npm-packages-offline-cache/@babel-core-7.7.0.tgz
  npm-packages-offline-cache/@babel-core-7.7.2.tgz
  npm-packages-offline-cache/@snyk-cocoapods-lockfile-parser-2.0.4.tgz
  npm-packages-offline-cache/@snyk-cocoapods-lockfile-parser-3.0.0.tgz
  npm-packages-offline-cache/@snyk-composer-lockfile-parser-1.0.3.tgz
  npm-packages-offline-cache/@snyk-composer-lockfile-parser-1.2.0.tgz
  npm-packages-offline-cache/@snyk-dep-graph-1.13.0.tgz
  npm-packages-offline-cache/@snyk-snyk-cocoapods-plugin-1.0.3.tgz
  npm-packages-offline-cache/@snyk-snyk-cocoapods-plugin-2.0.1.tgz
  npm-packages-offline-cache/convert-source-map-1.7.0.tgz
  npm-packages-offline-cache/snyk-1.243.0.tgz
  npm-packages-offline-cache/snyk-1.244.0.tgz
  npm-packages-offline-cache/snyk-php-plugin-1.6.4.tgz
  npm-packages-offline-cache/snyk-php-plugin-1.7.0.tgz
  package.json
  yarn.lock
Due: none

Update lint, consistent use of mdash
  cfgov/jinja2/v1/youth_employment_success/line-item.html
  cfgov/jinja2/v1/youth_employment_success/route/route-details.html
  cfgov/unprocessed/apps/youth-employment-success/js/views/days-per-week.js
  cfgov/unprocessed/js/routes/on-demand/youth-employment-programs/buying-a-car/index.js
Due: frontend

Update owning-a-home-api to 0.12.3
  requirements/libraries.txt
Due: none

Install gulp-cli in travis
  travis_install.sh
Due: none

Update default import to named import
  cfgov/unprocessed/apps/paying-for-college/js/repay.js
Due: frontend

User can now initialize n arbitrary routes
  cfgov/jinja2/v1/youth_employment_success/route-options.html
  cfgov/jinja2/v1/youth_employment_success/route/route-option-form.html
  cfgov/jinja2/v1/youth_employment_success/route/route-option.html
  cfgov/unprocessed/apps/youth-employment-success/js/add-route-option-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/route-option-toggle-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/expandable.js
  test/unit_tests/apps/youth-employment-success/js/add-route-option-view-spec.js
  test/unit_tests/apps/youth-employment-success/js/reducers/route-option-reducer-spec.js
  test/unit_tests/apps/youth-employment-success/js/route-option-toggle-view-spec.js
  test/unit_tests/apps/youth-employment-success/js/route-option-view-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/expandable-spec.js
Due: frontend

Breaking out choices into a new view
  cfgov/jinja2/v1/youth_employment_success/review/review.html
  cfgov/jinja2/v1/youth_employment_success/route-options.html
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/review/choice.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/review/details.js
Due: frontend

Adds choice button view, disable dom check for now
  cfgov/jinja2/v1/youth_employment_success/review/review.html
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/review/choice-button.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/review/choice.js
Due: frontend

Working on how to properly add choice buttons
  cfgov/unprocessed/apps/youth-employment-success/js/views/review/choice-button.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/review/choice.js
Due: frontend

Bypass CloudFront when accessing HUD search results in S3
  cfgov/cfgov/settings/base.py
  cfgov/housing_counselor/tests/test_views.py
Due: backend

Reorg js files to be more logical + understandable
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/models/route.js
  cfgov/unprocessed/apps/youth-employment-success/js/util.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/budget/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/goals/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route/details.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route/form-questions/average-cost.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route/form-questions/days-per-week.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route/form-questions/driving-cost-estimate.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route/form-questions/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route/form-questions/miles.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route/form-questions/transit-time.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route/option-form.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/route/option-toggle.js
  cfgov/unprocessed/apps/youth-employment-success/js/views/todo-notification.js
  test/unit_tests/apps/youth-employment-success/js/models/route-spec.js
  test/unit_tests/apps/youth-employment-success/js/reducers/route-option-reducer-spec.js
  test/unit_tests/apps/youth-employment-success/js/store/yes-store-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/budget/budget-form-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/goals/goals-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/route/details-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/route/form-questions/average-cost-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/route/form-questions/days-per-week-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/route/form-questions/driving-cost-estimate-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/route/form-questions/miles-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/route/form-questions/transit-time-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/route/option-form-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/route/option-toggle-spec.js
  test/unit_tests/apps/youth-employment-success/js/views/todo-notification-spec.js
  test/unit_tests/apps/youth-employment-success/js/yes-store-spec.js
Due: frontend

Fix test and lint error
  cfgov/unprocessed/apps/youth-employment-success/js/util.js
  test/unit_tests/apps/youth-employment-success/js/validators/route-option-spec.js
Due: frontend

Bump cucumber and snyk
  npm-packages-offline-cache/cucumber-6.0.4.tgz
  npm-packages-offline-cache/cucumber-6.0.5.tgz
  npm-packages-offline-cache/snyk-1.244.0.tgz
  npm-packages-offline-cache/snyk-1.247.1.tgz
  npm-packages-offline-cache/snyk-gradle-plugin-3.2.0.tgz
  npm-packages-offline-cache/snyk-gradle-plugin-3.2.2.tgz
  npm-packages-offline-cache/snyk-sbt-plugin-2.8.0.tgz
  npm-packages-offline-cache/snyk-sbt-plugin-2.9.0.tgz
  package.json
  yarn.lock
Due: none

Don't extract comments in build
  cfgov/unprocessed/apps/analytics-gtm/webpack-config.js
  cfgov/unprocessed/apps/find-a-housing-counselor/webpack-config.js
  cfgov/unprocessed/apps/owning-a-home/webpack-config.js
  cfgov/unprocessed/apps/paying-for-college/webpack-config.js
  cfgov/unprocessed/apps/regulations3k/webpack-config.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/webpack-config.js
  config/webpack-config.js
Due: frontend

Add unique slugs to expandable group headings
  cfgov/core/jinja2tags.py
  cfgov/core/tests/test_jinja2tags.py
  cfgov/core/utils.py
  cfgov/jinja2/v1/_includes/organisms/expandable-group.html
  cfgov/paying_for_college/migrations/0003_expandable_group_heading_ids.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0191_expandable_group_heading_ids.py
  cfgov/v1/tests/atomic_elements/organisms/test_contact_expandable_group.py
Due: backend

Bump TDP release to 1.1.8 (#5348)
  requirements/libraries.txt
Due: none

Fix breadcrumb typo on prepaid agreements database search page.
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/index.html
Due: none

Bump to handlebars 4.5.3
  cfgov/unprocessed/apps/owning-a-home/npm-packages-offline-cache/handlebars-4.5.1.tgz
  cfgov/unprocessed/apps/owning-a-home/npm-packages-offline-cache/handlebars-4.5.3.tgz
  cfgov/unprocessed/apps/owning-a-home/package.json
  cfgov/unprocessed/apps/owning-a-home/yarn.lock
Due: none

Bump snyk to 1.248.0
  npm-packages-offline-cache/@snyk-cli-interface-2.3.0.tgz
  npm-packages-offline-cache/snyk-1.247.1.tgz
  npm-packages-offline-cache/snyk-1.248.0.tgz
  package.json
  yarn.lock
Due: none

Fix breadcrumb typo on prepaid agreements database search page. (#5354)
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/index.html
Due: none

Update read more class on job posting content to restrict expandable to small screens.
  cfgov/jinja2/v1/job-description-page/index.html
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
