Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Add Draftail CSS to support the use of Draftail in our RichTextTableInput
  cfgov/v1/wagtail_hooks.py
Due: backend

adds condition for main branch
  Jenkinsfile
Due: none

Update curriculum-review-tool to 2.0.2
  requirements/libraries.txt
Due: none

Update starting balance to reflect initial balance on week 1 fix it summary
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/form.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/strategies/fix-it/index.js
Due: frontend

not count snap amount as income on fix it summary
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/strategies/fix-it/index.js
Due: frontend

Style current selection as black & fix ToC alignment
  cfgov/unprocessed/apps/research-reports/css/main.less
  cfgov/unprocessed/apps/research-reports/js/index.js
Due: frontend

Update curriculum-review-tool to 2.0.2 (#5904)
  requirements/libraries.txt
Due: none

Deployed cb74dff with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Remove unused templates
  cfgov/jinja2/v1/_includes/molecules/image-text-25-75.html
  cfgov/jinja2/v1/_includes/molecules/image-text-50-50.html
  cfgov/jinja2/v1/_includes/molecules/link-blob.html
Due: none

Properly escape alt text when added by Jinja tag
  cfgov/v1/jinja2tags/__init__.py
  cfgov/v1/tests/jinja2tags/test_jinja2tags.py
Due: backend

Properly escape alt text in templates
  cfgov/jinja2/v1/_includes/molecules/info-unit.html
  cfgov/jinja2/v1/_includes/organisms/carousel.html
  cfgov/jinja2/v1/_includes/organisms/featured-content.html
  cfgov/jinja2/v1/_includes/organisms/resource-list.html
  cfgov/jinja2/v1/owning-a-home/_templates/brand-footer.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/search-hero-image.html
Due: none

Deployed a2c0e9a with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add draftail toolbar to table-block.css
  cfgov/templates/wagtailadmin/css/table-block.css
Due: none

Mm/disable grocery strategy (#105)
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/categories.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/strategies-store.js
Due: frontend

Fix spacing around iRegs notifications
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
  cfgov/unprocessed/apps/regulations3k/css/reg-text.less
Due: none

Deployed 1f7b6cc with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add Draftail-Toolbar to table-block.css
  cfgov/templates/wagtailadmin/css/table-block.css
Due: none

Use Draftail-ToolbarButton
  cfgov/templates/wagtailadmin/js/ask_cfpb_tips.js
  cfgov/templates/wagtailadmin/js/html_editor.js
Due: frontend

Deployed f47805a with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Paying for College - Fix College Costs tool bugs - Fix bug causing programLength to fail to update in financial model
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/state-model.js
Due: frontend

- Fix bug in unsubsidized loan rate for graduate students
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
Due: frontend

Use unit helper for research report ToC adjustments
  cfgov/unprocessed/apps/research-reports/css/main.less
Due: none

Add chooser modal JavaScript files to editor_js
  cfgov/v1/wagtail_hooks.py
Due: backend

Add a Wagtail Report with page metadata
  cfgov/v1/templates/v1/_list_page_metadata.html
  cfgov/v1/templates/v1/page_metadata_report.html
  cfgov/v1/views/reports.py
  cfgov/v1/wagtail_hooks.py
  test/cypress/integration/pages/admin.js
  test/cypress/pages/admin/admin.js
Due: backend

Use Django translations for social media links
  cfgov/jinja2/v1/_includes/molecules/social-media.html
  cfgov/jinja2/v1/blog/blog_page.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Deployed a745948 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add wagtail hook to center text in rich text editor
  cfgov/v1/wagtail_hooks.py
Due: backend

Deployed d74ceca with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Fix name of Page Metadata in admin tests
  test/cypress/pages/admin/admin.js
Due: none

Deployed 47042e3 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

move research-report report-header styling to css
  cfgov/research_reports/jinja2/index.html
  cfgov/unprocessed/apps/research-reports/css/main.less
Due: none

Convert to HTML from EditorState
  cfgov/templates/wagtailadmin/js/table-block.js
Due: frontend

Add missing semicolons to table-block.js
  cfgov/templates/wagtailadmin/js/table-block.js
Due: frontend

Add entityTypes to createRichTextEditor in table-block.js
  cfgov/templates/wagtailadmin/js/table-block.js
Due: frontend

Add border to Draftail-Toolbar in table-block.css
  cfgov/templates/wagtailadmin/css/table-block.css
Due: none

raw: remove text-indent from ToC subheaders and fix Appendix header alignment
  cfgov/unprocessed/apps/research-reports/css/main.less
Due: none

raw: rename subsection reference from section level three
  cfgov/research_reports/migrations/0002_add_section_level_three.py
  cfgov/research_reports/models.py
Due: backend

- Fix interest accumulation bug for unsubsidized loans
  cfgov/unprocessed/apps/paying-for-college/js/util/debt-calculator.js
Due: frontend

Add section level three to reports-as-webpages (#5900)
  cfgov/research_reports/jinja2/index.html
  cfgov/research_reports/migrations/0002_add_section_level_three.py
  cfgov/research_reports/models.py
  cfgov/unprocessed/apps/research-reports/css/main.less
Due: backend

decapitalize 'contents'
  cfgov/jinja2/v1/_includes/organisms/sidenav-toc.html
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
