Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Deployed cceb894 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Removing link classes
  cfgov/retirement_api/jinja2/retirement_api/claiming.html
Due: none

Removing straggler a-link classes
  cfgov/retirement_api/jinja2/retirement_api/claiming.html
Due: none

Update cfgov/retirement_api/jinja2/retirement_api/claiming.html
  cfgov/retirement_api/jinja2/retirement_api/claiming.html
Due: none

Deployed d02b1b8 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Removing 404 guide links
  cfgov/jinja2/know-before-you-owe/index.html
Due: none

Docstring cleanup
  cfgov/v1/management/commands/report_raw_html.py
Due: backend

Deployed c3cf678 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Deployed 9bfce3a with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Fixing links on kybo timeline
  cfgov/jinja2/know-before-you-owe/timeline/index.html
Due: none

Deployed abd908c with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Deployed f642886 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Remove code supporting TDP Expandable facets
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_search_facets_and_results.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/tdp_expandable.html
  cfgov/teachers_digital_platform/models/activity_index_page.py
  cfgov/unprocessed/apps/teachers-digital-platform/css/main.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/organisms/expandable-facets.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/organisms/expandable.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/activity-search.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/AtomicComponent.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/BaseTransition.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/Expandable.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/ExpandableFacetTransition.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/ExpandableTransition.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/expandable-facets.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/expandable-mobile.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/index.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/search.js
  test/unit_tests/apps/teachers-digital-platform/js/expandable-facets-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/expandable-mobile-spec.js
Due: backend, frontend

Show only last breadcrumb at mobile width
  cfgov/unprocessed/css/breadcrumbs.less
  cfgov/v1/jinja2/v1/includes/molecules/breadcrumbs.html
Due: none

swap new fips to other valid fips
  cfgov/data_research/mortgage_utilities/fips_meta.py
Due: backend

Update to cfpb-typography@0.31.1
  cfgov/unprocessed/css/organisms/post-preview.less
  cfgov/v1/jinja2/v1/includes/organisms/post-preview.html
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.31.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.31.1.tgz
  package.json
  yarn.lock
Due: none

Add new fips
  cfgov/data_research/data/state_county_fips.csv
  cfgov/data_research/mortgage_utilities/fips_meta.py
Due: backend

add stale fips
  cfgov/data_research/mortgage_utilities/fips_meta.py
Due: backend

Update to cfpb-typography@0.31.2
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.31.1.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.31.2.tgz
  package.json
  yarn.lock
Due: none

Bump wagtail-inventory version from 2.1 to 2.3
  requirements/libraries.txt
Due: none

Deployed b866bca with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Fix test
  test/cypress/integration/components/filterable-lists/filter-helpers.cy.js
  test/cypress/integration/components/filterable-lists/filterable-list-control-helpers.cy.js
Due: none

Deployed d5fc1c5 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Deployed 8475e36 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Deployed 041cd02 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Trim and tweak simple-chart code to work with cct
  cfgov/unprocessed/css/on-demand/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/data-filters.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/utils.js
  cfgov/v1/jinja2/v1/includes/organisms/simple-chart.html
Due: frontend

Make multiselect expand to occupy space in filterable list control
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/organisms/filterable-list-controls.less
Due: none

Re-add general filters
  cfgov/unprocessed/js/routes/on-demand/simple-chart/data-filters.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
Due: frontend

Fixing outdated Ask URLs
  cfgov/jinja2/owning-a-home/explore-rates/index.html
Due: none

Deployed b5b69f7 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Deployed 23fb3e2 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Add the field to the raw HTML report
  cfgov/v1/management/commands/report_raw_html.py
Due: backend

Deployed 6f5b9b8 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Don't run Prettier against Markdown files
  .vscode/settings.json
  scripts/lint.sh
Due: none

Fix notes in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix notes in Markdown documentation
  docs/atomic-structure.md
  docs/development-tips.md
  docs/editing-components.md
  docs/installation.md
  docs/javascript-unit-tests.md
  docs/migrations.md
  docs/related-projects.md
  docs/running-docker.md
  docs/running-docs.md
  docs/running-virtualenv.md
  docs/translation.md
  docs/wagtail-pages.md
Due: none

Revert "Don't run Prettier against Markdown files"
  .vscode/settings.json
  scripts/lint.sh
Due: none

Fix Markdown note indentation
  docs/atomic-structure.md
  docs/development-tips.md
  docs/editing-components.md
  docs/installation.md
  docs/javascript-unit-tests.md
  docs/migrations.md
  docs/related-projects.md
  docs/running-docker.md
  docs/running-docs.md
  docs/running-virtualenv.md
  docs/translation.md
  docs/wagtail-pages.md
Due: none

Deployed 6bf2af6 with MkDocs version: 1.5.2
  atomic-structure/index.html
  development-tips/index.html
  editing-components/index.html
  index.html
  installation/index.html
  javascript-unit-tests/index.html
  migrations/index.html
  related-projects/index.html
  running-docker/index.html
  running-docs/index.html
  running-virtualenv/index.html
  search/search_index.json
  sitemap.xml.gz
  translation/index.html
  wagtail-pages/index.html
Due: none

Deployed 2f343d3 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none
