Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Allow editing existing events by tapping them in the details view
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/details.js
Due: frontend

Fix external links for <a><svg ...><span... ></a>
  cfgov/core/tests/test_middleware.py
  cfgov/core/utils.py
Due: backend

Remove extra borders from FCMs
  cfgov/jinja2/v1/browse-basic/index.html
  cfgov/jinja2/v1/browse-filterable/index.html
  cfgov/jinja2/v1/newsroom/index.html
Due: none

Update yum deps; remove Python libs' private keys
  Dockerfile
Due: none

Move SCAN_IMAGE to build param
  Jenkinsfile
Due: none

Vary recurrence options presented to user by what their category offers
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/object-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/form.js
Due: frontend

[TDP] Bump version to 1.2.3 (#5526)
  requirements/libraries.txt
Due: none

Deprecate legacy English home page functionality
  cfgov/jinja2/v1/home-page/index_es.html
  cfgov/locale/es/LC_MESSAGES/django.po
  cfgov/v1/jinja2/v1/home_page.html
  cfgov/v1/migrations/0202_cleanup_legacy_homepage.py
  cfgov/v1/models/home_page.py
Due: backend

Delete SpanishHomePage model
  cfgov/v1/migrations/0203_deprecate_spanish_home_page.py
  cfgov/v1/models/home_page.py
Due: backend

Better handle header layout with no mega menu
  cfgov/jinja2/v1/_includes/organisms/header.html
  cfgov/jinja2/v1/_layouts/base.html
  cfgov/mega_menu/jinja2tags.py
  cfgov/mega_menu/models.py
  cfgov/mega_menu/tests/test_jinja2tags.py
  cfgov/unprocessed/css/organisms/header.less
  cfgov/unprocessed/js/organisms/Header.js
Due: backend, frontend

Also remove extra border on future Choose a Student Loan template
  cfgov/paying_for_college/jinja2/paying-for-college/choose-a-student-loan.html
Due: none

save tests, update test coverage
  cfgov/unprocessed/apps/ccdb-landing-map/js/TileMap.js
  jest.config.js
  test/unit_tests/apps/ccdb-landing-map/js/TileMap-spec.js
  test/unit_tests/apps/ccdb-landing-map/js/landing-map-spec.js
  test/unit_tests/mocks/complaints.js
Due: frontend

put back missing }
  cfgov/unprocessed/apps/ccdb-landing-map/css/landing-page.less
Due: none

fix tests and remove dependencies
  cfgov/unprocessed/apps/ccdb-landing-map/js/TileMap.js
  cfgov/unprocessed/apps/ccdb-landing-map/npm-packages-offline-cache/@cfpb-cfpb-core-0.0.8.tgz
  cfgov/unprocessed/apps/ccdb-landing-map/npm-packages-offline-cache/@cfpb-cfpb-grid-0.0.8.tgz
  cfgov/unprocessed/apps/ccdb-landing-map/npm-packages-offline-cache/@cfpb-cfpb-icons-0.0.8.tgz
  cfgov/unprocessed/apps/ccdb-landing-map/npm-packages-offline-cache/@cfpb-cfpb-layout-0.0.8.tgz
  cfgov/unprocessed/apps/ccdb-landing-map/npm-packages-offline-cache/@cfpb-cfpb-typography-0.0.8.tgz
  cfgov/unprocessed/apps/ccdb-landing-map/npm-packages-offline-cache/cfpb-chart-builder-6.4.0.tgz
Due: frontend

Add react-modal and write functions controlling visibility state and selected event
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/details.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: frontend

Remove extra borders from FCMs on some page types (#5528)
  cfgov/jinja2/v1/browse-basic/index.html
  cfgov/jinja2/v1/browse-filterable/index.html
  cfgov/jinja2/v1/newsroom/index.html
  cfgov/paying_for_college/jinja2/paying-for-college/choose-a-student-loan.html
Due: none

tests 100%
  cfgov/unprocessed/apps/ccdb-landing-map/js/TileMap.js
  test/unit_tests/apps/ccdb-landing-map/js/Chart-spec.js
  test/unit_tests/apps/ccdb-landing-map/js/TileMap-spec.js
  test/unit_tests/apps/ccdb-landing-map/js/landing-map-spec.js
  test/unit_tests/mocks/chartMock.js
Due: frontend

Update selectors to avoid use of important in form explainer admin CSS overrides.
  cfgov/templates/wagtailadmin/css/form-explainer.css
Due: none

Update cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/atomic_elements/organisms.py
Due: backend

Limit content and formatting options in explainer note rich text field.
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0202_auto_20200207_1920.py
Due: backend

Remove unnecessary explainer templates.
  cfgov/jinja2/v1/_includes/organisms/form-explainer.html
  cfgov/jinja2/v1/full-width/index.html
Due: none

Move explainer functionality into separate app and add basic validation.
  cfgov/cfgov/settings/base.py
  cfgov/form_explainer/__init__.py
  cfgov/form_explainer/apps.py
  cfgov/form_explainer/jinja2/form-explainer/blocks/explainer.html
  cfgov/form_explainer/jinja2/form-explainer/index.html
  cfgov/form_explainer/migrations/0001_initial.py
  cfgov/form_explainer/migrations/__init__.py
  cfgov/form_explainer/models/__init__.py
  cfgov/form_explainer/models/blocks.py
  cfgov/form_explainer/models/pages.py
  cfgov/form_explainer/tests/test_blocks.py
  cfgov/form_explainer/tests/test_pages.py
  cfgov/unprocessed/apps/form-explainer/.yarnrc
  cfgov/unprocessed/apps/form-explainer/browserslist
  cfgov/unprocessed/apps/form-explainer/css/form-explainer.less
  cfgov/unprocessed/apps/form-explainer/css/main.less
  cfgov/unprocessed/apps/form-explainer/js/FormExplainer.js
  cfgov/unprocessed/apps/form-explainer/package.json
  cfgov/unprocessed/apps/form-explainer/webpack-config.js
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/js/routes/on-demand/form-explainer/form-explainer.js
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0201_formexplainerpage.py
  cfgov/v1/migrations/0202_auto_20200207_1920.py
  cfgov/v1/models/__init__.py
Due: backend, frontend

Add basic `watch` gulp task
  gulp/tasks/scripts.js
  gulp/tasks/styles.js
  gulpfile.js
  package.json
Due: none

mostly complete eam transfer script
  cfgov/scripts/eam.py
  cfgov/scripts/update_enforcement_metadata.py
  cfgov/v1/util/migrations.py
Due: backend

edited .yarnrc
  .yarnrc
  cfgov/cfgov/urls.py
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/Customize.png
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/Date Select.png
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/Frankie_transportation_tool copy.png
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/Frankie_transportation_tool.png
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/Landing.png
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/Mya_transportation_tool copy.png
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/Mya_transportation_tool.png
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/Strategies.png
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/captain-jamison-round-300x300.original.jpg
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/complaint-data-graph-round-300x300.original.png
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/complaint-data-map-round-300x300.original.png
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/complaint-timely-response-round-300x300.original.png
  cfgov/unprocessed/apps/mmt-my-money-calendar/img/desk-lamp-round-300x300.original.png
Due: backend

Add .envrc for direnv config from staging branch
  .envrc
Due: none

deleted offline comment from .yarnrc
  .yarnrc
Due: none

Add feature flag for toggling My Money Calendar app routes in Django
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
Due: backend

Remove static html from main content of mmc page
  cfgov/jinja2/v1/mmt-my-money-calendar/index.html
Due: none

counter button callbacks never change
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/counter.js
Due: frontend

Add skeletal structure of mobx root store and store provider component, add client side logger module
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/logger.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/root-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/jsconfig.json
Due: frontend

change react greeting message
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/greeting.js
Due: frontend

Add cash flow event store and UI store stubs, plus model to represent calendar events
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/root-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
Due: frontend

Add PWA manifest JSON and webpack config to myMoney Calendar app build task
  cfgov/jinja2/v1/mmt-my-money-calendar/index.html
  cfgov/unprocessed/apps/mmt-my-money-calendar/manifest.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/webpack-config.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: frontend

Add debug log messages to existing data stores
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/root-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
Due: frontend

Fix URL routing for service worker script
  cfgov/cfgov/urls.py
  cfgov/mmt_my_money_calendar/views.py
Due: backend

Add react-router-dom
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: none

Add wildcard suffix to My Money Calendar route to enable client-side routing and single-page app behavior
  cfgov/cfgov/urls.py
Due: backend

Add routes for homepage and wizard steps
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/routes.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/home/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/wizard/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/wizard/step.js
Due: frontend

Add class-based view subclass for serving scoped service worker files with proper headers
  cfgov/cfgov/urls.py
  cfgov/mmt_my_money_calendar/__init__.py
  cfgov/mmt_my_money_calendar/views.py
Due: backend
