Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Autofix linter issues
  cfgov/unprocessed/apps/retirement/js/views/graph-view.js
  cfgov/unprocessed/js/organisms/SecondaryNav.js
  test/unit_tests/apps/retirement/js/data/responses.js
Due: frontend

Deployed 56a13af with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Deployed ec24174 with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Swap order of globalsearch checks
  test/cypress/integration/components/header/header.cy.js
Due: none

Deployed 269c54c with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 5b95864 with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Add dir="rtl" to major grid sections
  cfgov/v1/jinja2/v1/layouts/layout-1-3.html
  cfgov/v1/jinja2/v1/layouts/layout-2-1-rtl.html
Due: none

Remove flex-direction reversal
  cfgov/unprocessed/css/breadcrumbs.less
Due: none

Deployed 9a09ea0 with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Correct references to squashed migrations
  cfgov/ask_cfpb/migrations/0001_squashed_0047_add_use_json_field_to_streamfields.py
  cfgov/data_research/migrations/0001_squashed_0003_delete_conferenceregistration.py
  cfgov/filing_instruction_guide/migrations/0001_squashed_0011_add_use_json_field_to_streamfields.py
  cfgov/filing_instruction_guide/migrations/0012_remove_content_image_bleed_option.py
  cfgov/form_explainer/migrations/0001_squashed_0006_add_use_json_field_to_streamfields.py
  cfgov/form_explainer/migrations/0007_remove_content_image_bleed_option.py
  cfgov/hmda/migrations/0001_initial.py
  cfgov/jobmanager/migrations/0001_squashed_0020_hourly_salary.py
  cfgov/paying_for_college/migrations/0001_squashed_0018_add_use_json_field_to_streamfields.py
  cfgov/paying_for_college/migrations/0019_remove_content_image_bleed_option.py
  cfgov/regulations3k/migrations/0001_squashed_0036_add_use_json_field_to_streamfields.py
  cfgov/regulations3k/migrations/0037_remove_content_image_bleed_option.py
  cfgov/teachers_digital_platform/migrations/0001_squashed_0005_add_use_json_field_to_streamfields.py
  cfgov/v1/migrations/0001_squashed_0235_add_use_json_field_to_streamfields.py
  cfgov/v1/migrations/0236_case_docket_table.py
Due: backend

Add necessary dependency to migration
  cfgov/v1/migrations/0242_filterable_list_topics.py
Due: backend

Prevent FIG code blocks from breaking layout on small screens
  cfgov/unprocessed/apps/filing-instruction-guide/css/main.less
Due: none

Fix FIG sticky nav initialization
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/layout-fig.html
  cfgov/unprocessed/apps/filing-instruction-guide/css/main.less
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-sidenav.js
  cfgov/unprocessed/css/enhancements/layout-1-3.less
Due: frontend

Fix closing of secondary nav after FIG search
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-search.js
Due: frontend

Re-commit modification to logic
  cfgov/ask_cfpb/models/answer_page.py
Due: backend

Add unit tests for portal topic page logic
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Enable and update FIG functional tests
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-sidenav.js
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide-helpers.cy.js
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide-search.cy.js
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide.cy.js
Due: frontend

Add RTL for secondary nav
  cfgov/unprocessed/css/organisms/secondary-nav.less
Due: none

Convert `u-layout-grid__rtl` to `dir='rtl'`
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/layout-fig.html
  cfgov/regulations3k/jinja2/regulations3k/regulations3k-side-nav.html
  cfgov/unprocessed/css/breadcrumbs.less
  cfgov/unprocessed/css/enhancements/layout-1-3.less
  cfgov/unprocessed/css/enhancements/layout-2-1.less
  cfgov/v1/jinja2/v1/layouts/layout-1-3.html
  cfgov/v1/jinja2/v1/layouts/layout-2-1-rtl.html
Due: none

Revert "Revert "Merge pull request #7193 from cfpb/auto-agreements""
  .env_SAMPLE
  cfgov/agreements/jinja2/agreements/archive.html
  cfgov/agreements/jinja2/agreements/index.html
  cfgov/agreements/management/commands/_util.py
  cfgov/agreements/metadata.py
  cfgov/agreements/tests/test_legacy.py
  cfgov/agreements/tests/test_management.py
  cfgov/agreements/tests/test_metadata.py
  cfgov/agreements/tests/test_views.py
  cfgov/agreements/urls.py
  cfgov/agreements/views.py
  cfgov/cfgov/settings/base.py
  cfgov/v1/tests/test_meta_image.py
  test/cypress/integration/data-research/credit-card-agreements-search/credit-card-archive.cy.js
Due: backend

Render friendly page on NoCredentialsError
  cfgov/agreements/metadata.py
Due: backend

Add test for default portal search order
  cfgov/ask_cfpb/tests/test_search.py
Due: backend

Default PortalSearchPage results to alphabetical
  cfgov/ask_cfpb/models/search.py
Due: backend

Deployed 5b35392 with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 4dcecb9 with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Deprecate AtomicTableBlocks on Enforcement pages
  cfgov/v1/migrations/0247_eap_no_tables.py
  cfgov/v1/models/enforcement_action_page.py
Due: backend

fix test and add new timezone test
  cfgov/unprocessed/apps/retirement/js/views/graph-view.js
  cfgov/unprocessed/js/organisms/SecondaryNav.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/util-spec.js
  test/unit_tests/apps/retirement/js/data/responses.js
Due: frontend

Deployed 74d90df with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 2da87cd with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Fix FIG markup and update fixture
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-sidenav.js
  cfgov/v1/jinja2/v1/includes/organisms/secondary-nav-fig.html
  test/unit_tests/apps/filing-instruction-guide/fixtures/sample-fig-page.js
Due: frontend

Update unit test values
  test/unit_tests/apps/filing-instruction-guide/js/fig-search-spec.js
  test/unit_tests/apps/filing-instruction-guide/js/fig-sidenav-utils-spec.js
Due: none

Update fig-search-spec.js
  test/unit_tests/apps/filing-instruction-guide/js/fig-search-spec.js
Due: none

Move secondary nav to top-level initialization
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-init.js
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-search.js
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-sidenav.js
Due: frontend

Scroll to top on flaky test
  test/cypress/integration/components/header/header.cy.js
Due: none

Store Cypress failure screenshots in GHA
  .github/workflows/functional-tests.yml
Due: none

Deployed fd56a23 with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Deployed c405603 with MkDocs version: 1.4.3
  index.html
  sitemap.xml.gz
Due: none

Fix car buying guide
  cfgov/unprocessed/js/routes/on-demand/youth-employment-programs/buying-a-car/expandables.js
  cfgov/unprocessed/js/routes/on-demand/youth-employment-programs/buying-a-car/index.js
  cfgov/youth_employment/jinja2/youth_employment/yes-checklist-items.html
Due: frontend

Fix incorrect template use of slugify
  cfgov/v1/jinja2/v1/includes/atoms/checkbox.html
  cfgov/v1/jinja2/v1/includes/atoms/radio-button.html
Due: none
