Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Add ask_urlpatterns
  cfgov/cfgov/urls.py
Due: backend

Update ask_autocomplete tests
  cfgov/ask_cfpb/tests/test_views.py
Due: backend

Update old Apache redirects to point to final location after IA reorg
  cfgov/apache/conf.d/redirects.conf
Due: none

Remove jsonP setting
  cfgov/unprocessed/apps/analytics-gtm/webpack-config.js
  cfgov/unprocessed/apps/ccdb-landing-map/webpack-config.js
  cfgov/unprocessed/apps/find-a-housing-counselor/webpack-config.js
  cfgov/unprocessed/apps/form-explainer/webpack-config.js
  cfgov/unprocessed/apps/owning-a-home/webpack-config.js
  cfgov/unprocessed/apps/paying-for-college/webpack-config.js
  cfgov/unprocessed/apps/regulations3k/webpack-config.js
  cfgov/unprocessed/apps/rural-or-underserved-tool/webpack-config.js
  cfgov/unprocessed/apps/teachers-digital-platform/webpack-config.js
  cfgov/unprocessed/apps/youth-employment-success/webpack-config.js
  config/webpack-config.js
Due: frontend

Update ask search_suggestion test
  cfgov/ask_cfpb/tests/test_views.py
Due: backend

Fix TypeError: Object of type 'MagicMock' is not JSON serializable
  cfgov/ask_cfpb/tests/test_views.py
  cfgov/ask_cfpb/views.py
Due: backend

Add additional shortcuts from updated spreadsheet
  cfgov/apache/conf.d/redirects.conf
Due: none

Deployed bf80d59 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add offline caches
  cfgov/jinja2/v1/mmt-my-money-calendar/service-worker.js
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.1.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.1.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.1.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.1.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.1.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.1.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.1.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.1.1.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.1.1.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.1.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.1.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.1.0.tgz
  npm-packages-offline-cache/cfpb-chart-builder-6.4.1.tgz
Due: frontend

Remove unused feature flag
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
Due: backend

Pin specific version for elasticsearch7
  requirements/libraries.txt
Due: none

Deployed 28bd6c7 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add fallback to flagged_re_path
  cfgov/cfgov/urls.py
Due: backend

Remove flag_enabled from ask_cfpb views
  cfgov/ask_cfpb/views.py
Due: backend

Delete modal.js
  cfgov/agreements/static/agreements/js/modal.js
Due: frontend

Reduce padding on top level mega menu items (#6005)
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

Deployed fdaec38 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add ElasticSearch 7.4.2 to docker stack
  docker-stack.yml
Due: none

Rename AnswerPageSearchDocument to AnswerPageDocument class
  cfgov/ask_cfpb/models/__init__.py
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/models/search/documents.py
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/ask_cfpb/tests/test_views.py
  cfgov/ask_cfpb/views.py
Due: backend

Update college costs dependency
  requirements/libraries.txt
Due: none

Fix network
  docker-stack.yml
Due: none

Refactor filterable list querysets
  cfgov/v1/models/browse_filterable_page.py
  cfgov/v1/models/sublanding_filterable_page.py
  cfgov/v1/tests/models/test_browse_filterable_page.py
  cfgov/v1/tests/test_filterable_list_mixin.py
  cfgov/v1/util/filterable_list.py
Due: backend

Move FilterableListMixin into models
  cfgov/v1/feeds.py
  cfgov/v1/migrations/0198_recreated.py
  cfgov/v1/models/browse_filterable_page.py
  cfgov/v1/models/filterable_list_mixins.py
  cfgov/v1/models/sublanding_filterable_page.py
  cfgov/v1/tests/models/test_filterable_list_mixins.py
Due: backend

Test the specific routes of FilterableListMixin
  cfgov/v1/tests/models/test_filterable_list_mixins.py
Due: backend

Make FilterableListMixin pages routable
  cfgov/v1/feeds.py
  cfgov/v1/migrations/0198_recreated.py
  cfgov/v1/models/browse_filterable_page.py
  cfgov/v1/models/sublanding_filterable_page.py
  cfgov/v1/util/filterable_list.py
Due: backend

Move filterable feed route into `FilterableListMixin`
  cfgov/v1/feeds.py
  cfgov/v1/migrations/0198_recreated.py
  cfgov/v1/models/browse_filterable_page.py
  cfgov/v1/models/sublanding_filterable_page.py
  cfgov/v1/util/filterable_list.py
Due: backend

Ensure get_filterable_queryset returns the constructed queryset
  cfgov/v1/models/filterable_list_mixins.py
Due: backend

Accept comment suggestions
  cfgov/v1/feeds.py
  cfgov/v1/models/filterable_list_mixins.py
Due: backend

Remove jquery reference in legacy template
  cfgov/legacy/templates/front/base_nonresponsive.html
  cfgov/legacy/templates/students/helping-borrowers-find-ways-to-stay-afloat/index.html
Due: none

Deployed 4627e7a with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add archive route to filterable lists
  cfgov/v1/models/filterable_list_mixins.py
  cfgov/v1/tests/models/test_filterable_list_mixins.py
Due: backend

Add optional to/from archive fields for filterable lists
  cfgov/jinja2/v1/_includes/organisms/filterable-list.html
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0231_add_filterable_archive_texts.py
  cfgov/v1/models/filterable_list_mixins.py
  cfgov/v1/tests/models/test_filterable_list_mixins.py
Due: backend

Add hook for routable pages to provide nav items
  cfgov/v1/models/filterable_list_mixins.py
  cfgov/v1/util/util.py
Due: backend

WIP: Add "[Archived]" to text introducion headings
  cfgov/jinja2/v1/_includes/molecules/text-introduction.html
Due: none

Remove jquery from base_update template
  cfgov/legacy/templates/front/base_update.html
  cfgov/paying_for_college/templates/paying_for_college/disclosure.html
Due: none

Deployed 0544b84 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Remove nemo_js block in technote
  cfgov/paying_for_college/templates/paying_for_college/disclosure_technote.html
Due: none

Management command kicks off report-parsing Jenkins job
  .env_SAMPLE
  cfgov/research_reports/management/commands/trigger_jenkins_build.py
  cfgov/research_reports/models.py
Due: backend

Adjust appendix labelling to spec (#5879)
  cfgov/research_reports/jinja2/index.html
  cfgov/research_reports/models.py
Due: backend

Associate a user with automated page changes
  cfgov/research_reports/management/commands/parse_research_report.py
Due: backend
