Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Better variable naming, thx @anselmbradford
  cfgov/jinja2/v1/_includes/organisms/carousel.html
Due: none

Carousel: Fix issue with layering
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

Update govdelivery package to v1.3 (#5392)
  requirements/libraries.txt
Due: none

Remove custom alt text from carousel images
  cfgov/jinja2/v1/_includes/organisms/carousel.html
  cfgov/v1/models/home_page.py
Due: backend

Updates to home page content
  cfgov/v1/models/home_page.py
Due: backend

Carousel content updates
  cfgov/v1/models/home_page.py
Due: backend

Carousel: Eliminate extra vertical space below large images
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

Carousel: Eliminate extra vertical space below large images (#5397)
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

Carousel: Keep bar on active item green on hover
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

simplify url checking
  cfgov/scripts/update_enforcement_actions.py
Due: backend

add draft checking to update_enforcement_actions script
  cfgov/scripts/update_enforcement_actions.py
Due: backend

Use page categories for related-metadata sidefoot
  cfgov/jinja2/v1/_includes/molecules/related-metadata.html
  cfgov/scripts/update_enforcement_blobs.py
  cfgov/v1/atomic_elements/molecules.py
  cfgov/v1/migrations/0192_auto_20191118_1346.py
  cfgov/v1/util/ref.py
Due: backend

remove blob category and set new page-based categories
  cfgov/scripts/update_enforcement_categories.py
Due: backend

get first file number metadata field and change to docket number
  cfgov/scripts/update_enforcement_actions.py
Due: backend

update categories and set_stream_data on modified data for update_enforcement_actions.py
  cfgov/scripts/update_enforcement_actions.py
Due: backend

add publish step
  cfgov/scripts/update_enforcement_actions.py
Due: backend

Carousel: Keep bar on active item green on hover (#5398)
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

Carousel: Prevent "All Items Seen" event from firing more than once
  cfgov/unprocessed/js/organisms/Carousel.js
Due: frontend

Carousel: Make "All Items Seen" event work for any number of items
  cfgov/unprocessed/js/organisms/Carousel.js
Due: frontend

Add analytics code to carousel
  cfgov/unprocessed/js/organisms/Carousel.js
Due: frontend

when running tests with the default SQLite database, we need to skip some tests.
  cfgov/paying_for_college/tests/test_scripts.py
Due: backend

when running tests with the default SQLite database, we need to skip some tests. (#5399)
  cfgov/paying_for_college/tests/test_scripts.py
Due: backend

Add python3.6 support to virtualenv
  activate-virtualenv.sh
Due: none

Add Spanish translation for "Featured" on homepage
  cfgov/jinja2/v1/_includes/organisms/carousel.html
Due: none

Add link to installing-python.md in activate-virtualenv.sh
  activate-virtualenv.sh
Due: none

fix logic and linting errors for update_enforcement_categories
  cfgov/scripts/update_enforcement_categories.py
  cfgov/v1/atomic_elements/molecules.py
Due: backend

[TDP] Bump teachers_digital_platform to version 1.1.9
  requirements/libraries.txt
Due: none

Fix minor typo in deployment docs
  docs/deployment.md
Due: none

add new categories block when switching out old categories block
  cfgov/scripts/update_enforcement_categories.py
Due: backend

Prevent card content from overflowing container on small screen sizes.
  cfgov/unprocessed/css/organisms/card-group.less
Due: none

Move new home page carousel content into Wagtail
  cfgov/jinja2/v1/_includes/organisms/carousel.html
  cfgov/jinja2/v1/home-page/index_new.html
  cfgov/v1/migrations/0192_carouselitem.py
  cfgov/v1/models/__init__.py
  cfgov/v1/models/home_page.py
Due: backend

Correct reference to Wagtail 1.13
  requirements/libraries.txt
Due: none

Migrate new home page content into Wagtail
  cfgov/jinja2/v1/_includes/organisms/carousel.html
  cfgov/jinja2/v1/home-page/index_new.html
  cfgov/v1/management/commands/migrate_home_page_content.py
  cfgov/v1/migrations/0192_carouselitem.py
  cfgov/v1/migrations/0192_new_homepage_content.py
  cfgov/v1/models/__init__.py
  cfgov/v1/models/home_page.py
  requirements/libraries.txt
  tox.ini
Due: backend

Remove unnecessary carousel block
  cfgov/jinja2/v1/home-page/index_new.html
Due: none

Move Configuration panel last
  cfgov/v1/models/home_page.py
Due: backend

Fix a typo
  cfgov/v1/models/home_page.py
Due: backend

New home page content edits
  cfgov/v1/models/home_page.py
Due: backend

Prevent card content from overflowing container on small screen sizes. (#5404)
  cfgov/unprocessed/css/organisms/card-group.less
Due: none

Fix new home page info unit ordering
  cfgov/v1/migrations/0193_homepage_infounit_ordering.py
  cfgov/v1/models/home_page.py
Due: backend

Carousel: Update layout code for cross-browser compatibility
  cfgov/jinja2/v1/_includes/organisms/carousel.html
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
