Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Remove language links to standard translation links module
  cfgov/retirement_api/jinja2/retirement_api/claiming.html
Due: none

Move language link to standard translation-links.html template
  cfgov/ask_cfpb/jinja2/ask-cfpb/answer-page.html
  cfgov/ask_cfpb/jinja2/ask-cfpb/landing-page.html
  cfgov/ask_cfpb/models/answer_page.py
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Deployed eef64ba with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

Replace prop function
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/views/financial-view.js
Due: frontend

Deployed 98ccc4f with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Change "classnames" to "classname" for Wagtail 5.2
  cfgov/permissions_viewer/wagtail_hooks.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Fix test due to SnippetViewSet changes in 5.2
  cfgov/jobmanager/tests/test_views.py
Due: backend

Add a nicer error message when pages are deleted
  cfgov/v1/tests/test_wagtail_hooks.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Bump wagtail-inventory from 2.3 to 2.5
  requirements/libraries.txt
Due: none

Stop hiding "Delete" option for pages
  cfgov/wagtailadmin_overrides/templates/wagtailadmin/pages/listing/_button_with_dropdown.html
Due: none

Upgrade Wagtail version from 5.1.3 to 5.2.2
  requirements/wagtail.txt
Due: none

Fix Cypress tests for Wagtail 5.2
  test/cypress/integration/admin/admin-helpers.cy.js
  test/cypress/integration/admin/admin.cy.js
Due: none

Bump wagtail-sharing version from 2.12 to 2.12.1
  requirements/libraries.txt
Due: none

Remove deprecated template
  cfgov/wagtailadmin_overrides/templates/wagtailadmin/tables/boolean_cell.html
Due: none

Deployed 931d89e with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Remove stray testing line
  .github/workflows/functional-tests.yml
Due: none

Deployed b6a3269 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Add ask page for cypress tests
  test.sql.gz
  test/cypress/integration/consumer-tools/ask-cfpb/answer-helpers.cy.js
Due: none

Deployed 0568def with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

trim weirdly structured tests
  test/cypress/integration/paying-for-college/disclosures/disclosures-offer.cy.js
Due: none

Upgrade Wagtail from version 5.2.2 to version 5.2.3
  requirements/wagtail.txt
Due: none

Deployed e3c0c3a with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Deployed c945b68 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Deployed 37c5a5a with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Fix admin/users error with UserListingButton
  cfgov/permissions_viewer/wagtail_hooks.py
Due: backend

Deployed 2a8f2f6 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Raise anchors
  cfgov/cfgov/settings/base.py
Due: backend

Deployed 38dde83 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Removing Resource snippet
  cfgov/scripts/_atomic_helpers.py
  cfgov/v1/jinja2/v1/includes/organisms/resource-list.html
  cfgov/v1/models/__init__.py
  cfgov/v1/models/resources.py
  cfgov/v1/tests/models/test_resources.py
  cfgov/v1/views/snippets.py
  cfgov/wagtailadmin_overrides/views.py
Due: backend

migration
  cfgov/v1/migrations/0020_remove_resources.py
Due: backend

removing more tests
  cfgov/v1/tests/atomic_elements/organisms/test_organisms.py
  cfgov/v1/tests/views/test_snippets.py
Due: backend

Removing ThumbnailColumn
  cfgov/v1/views/snippets.py
Due: backend

Deployed cbe050e with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Privacy: Remove inline styles
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
Due: none

Update answer_page.py
  cfgov/ask_cfpb/models/answer_page.py
Due: backend

Deployed ff916db with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Deployed e35c761 with MkDocs version: 1.5.2
  index.html
  sitemap.xml.gz
Due: none

Remove transitional layout template
  cfgov/ask_cfpb/jinja2/ask-cfpb/answer-search-results.html
  cfgov/ask_cfpb/jinja2/ask-cfpb/landing-page.html
  cfgov/hmda/jinja2/hmda/hmda-explorer-controls.html
  cfgov/hmda/jinja2/hmda/hmda-explorer.html
  cfgov/jinja2/know-before-you-owe/index.html
  cfgov/jobmanager/jinja2/jobmanager/job_listing_page.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/detail.html
  cfgov/privacy/jinja2/privacy/form-submitted.html
  cfgov/regulations3k/jinja2/regulations3k/landing-page.html
  cfgov/retirement_api/jinja2/retirement_api/about.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_page.html
  cfgov/unprocessed/apps/financial-well-being/css/main.less
  cfgov/unprocessed/apps/regulations3k/css/main.less
  cfgov/unprocessed/css/atoms/rule-break.less
  cfgov/unprocessed/css/breadcrumbs.less
  cfgov/unprocessed/css/enhancements/layout-1-3.less
  cfgov/unprocessed/css/enhancements/layout-2-1.less
  cfgov/unprocessed/css/enhancements/layout-base.less
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/on-demand/ask.less
  cfgov/v1/jinja2/v1/blog/blog_page.html
  cfgov/v1/jinja2/v1/home_page/home_page.html
  cfgov/v1/jinja2/v1/home_page/home_page_legacy.html
  cfgov/v1/jinja2/v1/includes/article.html
  cfgov/v1/jinja2/v1/includes/templates/render_block.html
  cfgov/v1/jinja2/v1/landing-page/index.html
  cfgov/v1/jinja2/v1/layouts/layout-1-3.html
  cfgov/v1/jinja2/v1/layouts/layout-2-1-ltr.html
  cfgov/v1/jinja2/v1/layouts/layout-2-1-rtl.html
  cfgov/v1/jinja2/v1/layouts/layout-2-1.html
  cfgov/v1/jinja2/v1/layouts/layout-full.html
  cfgov/v1/jinja2/v1/story_page.html
  cfgov/v1/jinja2/v1/sublanding-page/index.html
  cfgov/wellbeing/jinja2/wellbeing/about.html
  cfgov/wellbeing/jinja2/wellbeing/error.html
  cfgov/wellbeing/jinja2/wellbeing/home.html
Due: none

Move Ask language link below search
  cfgov/ask_cfpb/jinja2/ask-cfpb/landing-page.html
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
