Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update the smoke tests to use the most current top-25 pages (#5829)
  cfgov/scripts/http_smoke_test.py
Due: backend

Deployed de03869 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 57caa6e with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Copy changes (#97)
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/narrative-copy.js
Due: frontend

TDP: Remove unneeded Capital Framework dependencies
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/cf-atomic-component-8.0.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/cf-buttons-8.0.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/cf-core-8.0.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/cf-expandables-8.0.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/cf-forms-8.0.2.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/cf-grid-8.0.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/cf-icons-8.0.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/cf-layout-8.0.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/cf-notifications-8.0.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/cf-pagination-8.0.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/cf-tables-8.0.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/cf-typography-8.0.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/npm-packages-offline-cache/dom-delegate-2.2.1.tgz
  cfgov/unprocessed/apps/teachers-digital-platform/package.json
  cfgov/unprocessed/apps/teachers-digital-platform/yarn.lock
Due: none

Fix references to Design System modules in JS
  cfgov/unprocessed/apps/teachers-digital-platform/js/ExpandableFacetTransition.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/expandable-facets.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/index.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/search.js
  js-lint-warnings.csv
  js-lint-warnings.txt
  js-lint-warnings.xlsx
  ~$js-lint-warnings.xlsx
Due: frontend

Add GitHub Actions workflow for their CodeQL analysis feature (#5816)
  .github/workflows/codeql-analysis.yml
Due: none

Deployed 807cb75 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Set TDP dependencies to production dependencies
  cfgov/unprocessed/apps/teachers-digital-platform/package.json
Due: none

Deployed d9d1ce6 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Replace references to Capital Framework
  cfgov/data_research/forms.py
  cfgov/diversity_inclusion/forms.py
  cfgov/templates/wagtailadmin/table_input.html
  cfgov/unprocessed/js/routes/on-demand/table.js
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/blocks.py
Due: backend, frontend

Remove accidentally-committed files
  js-lint-warnings.csv
  js-lint-warnings.txt
  js-lint-warnings.xlsx
  ~$js-lint-warnings.xlsx
Due: none

Replace references to Design Manual
  cfgov/jinja2/v1/_includes/molecules/hero.html
  cfgov/jinja2/v1/_includes/organisms/email-signup.html
  cfgov/templates/jobmanager/technology-innovation-fellows.html
  cfgov/unprocessed/apps/paying-for-college/css/brand-palette.less
  cfgov/unprocessed/css/organisms/info-unit-group.less
  cfgov/v1/atomic_elements/molecules.py
  cfgov/wellbeing/jinja2/wellbeing/about.html
  docs/editing-components.md
Due: backend

Add necessary migrations
  cfgov/form_explainer/migrations/0003_design_system_links.py
  cfgov/paying_for_college/migrations/0016_design_system_links.py
  cfgov/regulations3k/migrations/0034_design_system_links.py
  cfgov/v1/migrations/0224_design_system_links.py
Due: backend

Deployed 49a683c with MkDocs version: 1.0.4
  editing-components/index.html
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Try adding a basic webpack-config to TDP
  cfgov/unprocessed/apps/teachers-digital-platform/webpack-config.js
Due: frontend

DEV Docker stacks: Always deploy PR builds
  Jenkinsfile
Due: none

Add a test management command to try on Build
  cfgov/housing_counselor/management/commands/build_test.py
Due: backend

Try downloading from s3 and running pandoc
  cfgov/housing_counselor/management/commands/build_test.py
  requirements/libraries.txt
Due: backend

troubleshooting
  cfgov/housing_counselor/management/commands/build_test.py
Due: backend

corrected pypandoc command
  cfgov/housing_counselor/management/commands/build_test.py
Due: backend

Remove six from isort standard libraries
  .isort.cfg
Due: none

Remove the deprecated not_skip configuration in .isort.cfg
  .isort.cfg
Due: none

Remove the deprecated --recursive flag from isort command
  tox.ini
Due: none

remove troubleshooting lines
  cfgov/housing_counselor/management/commands/build_test.py
Due: backend

update isort to 5.x and reorder library imports
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/ask_cfpb/tests/test_views.py
  cfgov/cfgov/tests/test_urls.py
  cfgov/cfgov/urls.py
  cfgov/core/tests/test_management_inactive_users.py
  cfgov/data_research/tests/management/commands/test_conference_export.py
  cfgov/paying_for_college/disclosures/scripts/load_programs.py
  cfgov/paying_for_college/tests/test_load_programs.py
  cfgov/paying_for_college/tests/test_models.py
  cfgov/regulations3k/models/django.py
  cfgov/regulations3k/tests/test_ecfr_importer.py
  cfgov/regulations3k/tests/test_resolver.py
  cfgov/regulations3k/views.py
  cfgov/scripts/test_data.py
  cfgov/scripts/tests/test_create_careers_pages.py
  cfgov/scripts/tests/test_export_enforcement_actions.py
  cfgov/scripts/tests/test_smoke_tests.py
  cfgov/scripts/tests/test_unpublish_closed_jobs.py
  cfgov/teachers_digital_platform/tests/models/test_activity_index_page.py
  cfgov/v1/tests/atomic_elements/organisms/test_email_signup.py
  cfgov/v1/tests/atomic_elements/organisms/test_filterable_list.py
  cfgov/v1/tests/atomic_elements/organisms/test_organisms.py
  cfgov/v1/tests/atomic_elements/test_molecules.py
  cfgov/v1/tests/jinja2tags/test_fragment_cache.py
  cfgov/v1/tests/management/commands/test_update_chart_block_dates.py
  cfgov/v1/tests/management/commands/test_update_data_snapshot_values.py
  cfgov/v1/tests/models/test_snippets.py
  cfgov/v1/tests/models/test_sublanding_page.py
  cfgov/v1/util/util.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Fix stray localhost URL
  cfgov/unprocessed/apps/teachers-digital-platform/package.json
Due: none

DEV Docker stacks: Always deploy PR builds (#5839)
  Jenkinsfile
Due: none

Deployed 7d39122 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 4d41e1f with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

- (sq) Remove unused _checkRadioButtonCount method - (sq) Refactor to use template string
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
Due: frontend

- Add handling for missing program data - Add content for missing program data
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/10-max-debt-guideline.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/12-affording-your-loan.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/14-summary.html
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-model-values.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/school-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/state-model.js
  cfgov/unprocessed/apps/paying-for-college/js/views/chart-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
Due: frontend

- Fix empty/short searches (including blank calls to the API)
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
Due: frontend

- (sq) Fix display of 'false' in summary fields - (sq) Fix bug when passing boolean to stringToNum - (sq) Fix content errors on summary page
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/01-school-search.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/14-summary.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/state-based.less
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-model-values.js
  cfgov/unprocessed/apps/paying-for-college/js/models/state-model.js
  cfgov/unprocessed/apps/paying-for-college/js/util/number-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
Due: frontend

Paying for College - Add program selection for graduate students - Add program list when graduate program is selected - Add content based on graduate program selection
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/01-school-search.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/10-max-debt-guideline.html
  cfgov/unprocessed/apps/paying-for-college/css/college-costs/state-based.less
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-model-values.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/school-model.js
  cfgov/unprocessed/apps/paying-for-college/js/util/url-parameter-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
  cfgov/unprocessed/apps/teachers-digital-plaform/css/main.less
Due: frontend

(sq) Fix lint errors
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-model-values.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/school-model.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
Due: frontend

-(sq) Restore TDP's main.less file
  cfgov/unprocessed/apps/teachers-digital-plaform/css/main.less
Due: none

Clean up more TDP JS issues
  cfgov/unprocessed/apps/teachers-digital-platform/js/.eslintrc
  cfgov/unprocessed/apps/teachers-digital-platform/js/Analytics.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/ClearableInput.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/index.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/scroll.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/search.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/util/EventObserver.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/util/ajax-request.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/util/assign.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/util/atomic-helpers.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/util/behavior.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/util/data-hook.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/util/dom-events.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/util/dom-traverse.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/util/scroll.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/util/simulate-event.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/util/standard-type.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/util/type-checkers.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/utils.js
  cfgov/unprocessed/apps/teachers-digital-platform/webpack-config.js
Due: frontend

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
