Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Change method of setting origin param on YouTube URLs
  cfgov/jinja2/v1/_includes/macros/video-player.html
Due: none

Add __init__.py file so permissions_viewer tests run
  cfgov/permissions_viewer/tests/__init__.py
Due: backend

Remove legacy JS directory
  cfgov/legacy/static/js/GGS.js
  cfgov/legacy/static/js/cfpb.stickToTop.js
  cfgov/legacy/static/js/jquery-1.6.4.min.js
  cfgov/legacy/static/js/kbratings.js
  cfgov/legacy/static/js/search.js
Due: frontend

Remove unreferenced static-legacy directory
  cfgov/v1/static-legacy/css/styles.css
  cfgov/v1/static-legacy/img/arrow_small_white_bottom.png
  cfgov/v1/static-legacy/img/arrow_small_white_right.png
  cfgov/v1/static-legacy/img/diag_texture.png
  cfgov/v1/static-legacy/img/diagonal_texture.png
  cfgov/v1/static-legacy/img/mortgage-sign-icon.png
  cfgov/v1/static-legacy/img/paperclip_small.png
  cfgov/v1/static-legacy/img/pdf.png
  cfgov/v1/static-legacy/img/search_bg.png
  cfgov/v1/static-legacy/img/showhide_collapse.png
  cfgov/v1/static-legacy/img/showhide_expand.png
  cfgov/v1/static-legacy/img/us_flag_small.png
  cfgov/v1/static-legacy/js/functions.js
  cfgov/v1/static-legacy/js/jquery-1.11.3.min.js
Due: frontend

remove package-lock
  package-lock.json
Due: none

Move Housing Counselor from legacy into its own app
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/housing_counselor/__init__.py
  cfgov/housing_counselor/cleaner.py
  cfgov/housing_counselor/fetcher.py
  cfgov/housing_counselor/generator.py
  cfgov/housing_counselor/geocoder.py
  cfgov/housing_counselor/management/__init__.py
  cfgov/housing_counselor/management/commands/__init__.py
  cfgov/housing_counselor/management/commands/hud_generate_html.py
  cfgov/housing_counselor/management/commands/hud_generate_json.py
  cfgov/housing_counselor/management/commands/hud_geocode_zipcodes.py
  cfgov/housing_counselor/static/hud/hud.css
  cfgov/housing_counselor/static/hud/hud.js
  cfgov/housing_counselor/static/hud/hud_print.css
  cfgov/housing_counselor/templates/housing_counselor/index.html
  cfgov/housing_counselor/templates/housing_counselor/pdf_selfcontained.html
  cfgov/housing_counselor/tests/__init__.py
  cfgov/housing_counselor/tests/housing_counselor/__init__.py
  cfgov/housing_counselor/tests/housing_counselor/test_cleaner.py
  cfgov/housing_counselor/tests/housing_counselor/test_fetcher.py
  cfgov/housing_counselor/tests/housing_counselor/test_generator.py
  cfgov/housing_counselor/tests/housing_counselor/test_geocoder.py
  cfgov/housing_counselor/tests/views/__init__.py
  cfgov/housing_counselor/tests/views/test_housing_counselor.py
  cfgov/housing_counselor/views.py
Due: backend, frontend

Allow setting AWS_S3_CUSTOM_DOMAIN via environment
  .env_SAMPLE
  cfgov/cfgov/settings/base.py
Due: backend

Add alternate "View more" URL field to Related Posts block
  cfgov/jinja2/v1/_includes/molecules/related-posts.html
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0130_add_related_posts_view_more_override.py
Due: backend

Update related posts template documentation
  cfgov/jinja2/v1/_includes/molecules/related-posts.html
Due: none

Convert RelatedPosts block to use include_block
  cfgov/jinja2/v1/_includes/molecules/related-posts.html
  cfgov/jinja2/v1/_includes/organisms/sidebar-breakout.html
  cfgov/jinja2/v1/_includes/templates/streamfield-sidefoot.html
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/models/base.py
  cfgov/v1/tests/atomic_elements/organisms/test_related_posts.py
Due: backend

bump version to 0.11.3
  requirements/optional-public.txt
Due: none

bump version to 0.11.3 (#4623)
  requirements/optional-public.txt
Due: none

Fix snyk vulnerabilities
  package-lock.json
  package.json
Due: none

Move merge-stream to deps
  package-lock.json
  package.json
Due: none

Remove unused styles for HUD pages
  cfgov/legacy/static/nemo/_/c/hud-hca-api-pdf-style.css
  cfgov/legacy/static/nemo/_/c/hud-hca-api-print-style.css
  cfgov/legacy/static/nemo/_/c/styles.css
Due: none

Move Housing Counselor from legacy into its own app
  .isort.cfg
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/housing_counselor/__init__.py
  cfgov/housing_counselor/cleaner.py
  cfgov/housing_counselor/fetcher.py
  cfgov/housing_counselor/generator.py
  cfgov/housing_counselor/geocoder.py
  cfgov/housing_counselor/management/__init__.py
  cfgov/housing_counselor/management/commands/__init__.py
  cfgov/housing_counselor/management/commands/hud_generate_html.py
  cfgov/housing_counselor/management/commands/hud_generate_json.py
  cfgov/housing_counselor/management/commands/hud_geocode_zipcodes.py
  cfgov/housing_counselor/static/hud/hud.css
  cfgov/housing_counselor/static/hud/hud.js
  cfgov/housing_counselor/static/hud/hud_print.css
  cfgov/housing_counselor/templates/housing_counselor/index.html
  cfgov/housing_counselor/templates/housing_counselor/pdf_selfcontained.html
  cfgov/housing_counselor/tests/__init__.py
  cfgov/housing_counselor/tests/housing_counselor/__init__.py
  cfgov/housing_counselor/tests/housing_counselor/test_cleaner.py
  cfgov/housing_counselor/tests/housing_counselor/test_fetcher.py
  cfgov/housing_counselor/tests/housing_counselor/test_generator.py
  cfgov/housing_counselor/tests/housing_counselor/test_geocoder.py
  cfgov/housing_counselor/tests/views/__init__.py
  cfgov/housing_counselor/tests/views/test_housing_counselor.py
  cfgov/housing_counselor/views.py
Due: backend, frontend

Create flag for FAHC improvements; add placeholder page
  cfgov/cfgov/settings/base.py
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
  cfgov/housing_counselor/views.py
Due: backend

Removes additional unused CSS
  cfgov/jobmanager/static/jobmanager/css/fellows.css
Due: none

Update indenting
  cfgov/templates/jobmanager/supervision.html
Due: none

Remove unnecessary inclusion of jQuery/JS and CSS
  cfgov/agreements/templates/agreements/base_agreements.html
  cfgov/agreements/templates/agreements/index.html
  cfgov/housing_counselor/templates/housing_counselor/index.html
  cfgov/jobmanager/static/jobmanager/css/fellows.css
  cfgov/jobmanager/static/jobmanager/css/jobs.css
  cfgov/jobmanager/static/jobmanager/css/jobs2.css
  cfgov/jobmanager/static/jobmanager/img/Job_location_map.fw.png
  cfgov/jobmanager/static/jobmanager/img/complete-form-tooltip.png
  cfgov/jobmanager/static/jobmanager/img/design-technology-fellows-botton.png
  cfgov/jobmanager/static/jobmanager/img/design-technology-fellows.png
  cfgov/jobmanager/static/jobmanager/img/first-time-applicant-green-botton.png
  cfgov/jobmanager/static/jobmanager/img/green-bulletin.png
  cfgov/jobmanager/static/jobmanager/img/icons/flight.png
  cfgov/jobmanager/static/jobmanager/img/icons/happy.png
  cfgov/jobmanager/static/jobmanager/img/icons/headphone.png
  cfgov/jobmanager/static/jobmanager/img/icons/man.png
  cfgov/jobmanager/static/jobmanager/img/icons/star.png
  cfgov/jobmanager/static/jobmanager/img/icons/target.png
  cfgov/jobmanager/static/jobmanager/img/linkedin_logo.jpg
  cfgov/jobmanager/static/jobmanager/img/more-info.png
  cfgov/jobmanager/static/jobmanager/img/see-benefits-btn.png
  cfgov/jobmanager/static/jobmanager/img/supervision.png
  cfgov/jobmanager/static/jobmanager/img/top.png
  cfgov/jobmanager/static/jobmanager/js/fellows.js
  cfgov/jobmanager/static/jobmanager/js/job-index.js
  cfgov/jobmanager/static/jobmanager/js/technology_fellows.js
  cfgov/legacy/templates/front/base_nonresponsive.html
  cfgov/legacy/templates/students/helping-borrowers-find-ways-to-stay-afloat/index.html
  cfgov/legacy/templates/students/index.html
  cfgov/templates/jobmanager/supervision.html
Due: frontend

Bump django-college-costs-comparison
  requirements/optional-public.txt
Due: none

Updated ccdb5-api version to release with test script in it
  requirements/optional-public.txt
Due: none

Update ccdb5-api version to latest release 1.1.2
  requirements/optional-public.txt
Due: none

Adds initial base template to HUD
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
Due: none

Fix wrong heading
  cfgov/jinja2/v1/_includes/organisms/mortgage-chart.html
Due: none

Upgrade Jinja2 to latest (2.10)
  cfgov/jinja2/v1/_includes/organisms/half-width-link-blob-group.html
  cfgov/jinja2/v1/_includes/organisms/info-unit-group.html
  cfgov/jinja2/v1/_includes/organisms/third-width-link-blob-group.html
  cfgov/regulations3k/jinja2/regulations3k/regulations3k-search-bar.html
  cfgov/regulations3k/jinja2/regulations3k/search-regulations.html
  requirements/libraries.txt
Due: none

Add mapbox dependencies
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
  cfgov/unprocessed/apps/find-a-housing-counselor/browserslist
  cfgov/unprocessed/apps/find-a-housing-counselor/css/hud.css
  cfgov/unprocessed/apps/find-a-housing-counselor/css/hud_print.css
  cfgov/unprocessed/apps/find-a-housing-counselor/css/main.less
  cfgov/unprocessed/apps/find-a-housing-counselor/js/hud.js
  cfgov/unprocessed/apps/find-a-housing-counselor/package-lock.json
  cfgov/unprocessed/apps/find-a-housing-counselor/package.json
  cfgov/unprocessed/apps/find-a-housing-counselor/webpack-config.js
Due: frontend

Fix linter errors and some warnings
  cfgov/unprocessed/apps/find-a-housing-counselor/js/hud.js
  config/webpack-config.js
  test/unit_tests/apps/regulations3k/js/analytics-spec.js
  test/unit_tests/apps/regulations3k/js/permalinks-utils-spec.js
Due: frontend

Review fixes
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
Due: none

Bugfix: jinja 2.10 requires optional arguments come after required
  cfgov/jinja2/v1/_includes/organisms/bureau-structure.html
Due: none

bump retirement satellite app to version 0.7.4
  requirements/optional-public.txt
Due: none

bumps retirement satellite app to 0.7.5
  requirements/optional-public.txt
Due: none

Replace SVG tags
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
Due: none

Remove human errors from Housing Counselor code
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
  cfgov/housing_counselor/templates/housing_counselor/index.html
Due: none

Minor formatting changes
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
Due: none

Add iteration of results
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
  cfgov/housing_counselor/templates/housing_counselor/index.html
  cfgov/unprocessed/apps/owning-a-home/package-lock.json
Due: none

Change map layout to use feature content module
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
Due: none

Remove hero markup
  cfgov/housing_counselor/jinja2/housing_counselor/improved_index.html
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
