Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Change "BCFP" to "Bureau" in recent notice list
  cfgov/regulations3k/jinja2/regulations3k/recent-notices.html
  cfgov/unprocessed/apps/regulations3k/js/recent-notices.js
Due: frontend

Fix previous/next section linking
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
  cfgov/regulations3k/models/pages.py
Due: backend

Make breadcrumbs respect the selected version
  cfgov/regulations3k/models/pages.py
  cfgov/regulations3k/tests/test_models.py
Due: backend

Fix inline interpretation lookups from non-live versions
  cfgov/regulations3k/models/pages.py
  cfgov/regulations3k/resolver.py
Due: backend

Use the svg_icon template tag for svg icons
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
Due: none

Fix deviations from design mock-ups
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
Due: none

Add initial version interface
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
  cfgov/regulations3k/jinja2tags.py
  cfgov/regulations3k/models/pages.py
  cfgov/regulations3k/tests/test_jinja2tags.py
  cfgov/regulations3k/tests/test_models.py
  cfgov/regulations3k/tests/test_resolver.py
Due: backend

Improve spacing around Regs3K notifications
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
  cfgov/unprocessed/apps/regulations3k/css/reg-text.less
Due: none

Improve spacing around landing page link blocks
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
Due: none

Remove the RegML importer to discourage future use
  cfgov/regulations3k/scripts/regml_importer.py
  cfgov/regulations3k/tests/test_regml_importer.py
Due: backend

package-lock.json fix
  cfgov/unprocessed/apps/analytics-gtm/package-lock.json
  cfgov/unprocessed/apps/owning-a-home/package-lock.json
  cfgov/unprocessed/apps/regulations3k/package-lock.json
  package-lock.json
Due: none

Use python logging instead of print statements
  cfgov/legacy/views/complaint.py
Due: backend

Add alt to img tags on complaint landing page
  cfgov/legacy/templates/complaint/complaint-landing.html
Due: none

Tests for Complaint landing page view
  cfgov/legacy/templates/complaint/complaint-landing.html
  cfgov/legacy/tests/views/test_complaint.py
Due: backend

Copy landing page for complaintdatabase from complaint satellite app
  cfgov/cfgov/settings/production.py
  cfgov/cfgov/urls.py
  cfgov/legacy/static/complaint/css/main.min.css
  cfgov/legacy/static/complaint/img/download.png
  cfgov/legacy/static/complaint/img/hero.png
  cfgov/legacy/static/complaint/img/read.png
  cfgov/legacy/static/complaint/img/view.png
  cfgov/legacy/templates/complaint/complaint-landing.html
  cfgov/legacy/views/complaint.py
Due: backend

Don't include complaint satellite app
  cfgov/cfgov/settings/base.py
  requirements/optional-public.txt
Due: backend

New CSS file for complaint landing page
  cfgov/legacy/static/complaint/css/main.min.css
  cfgov/legacy/templates/complaint/complaint-landing.html
  cfgov/unprocessed/apps/analytics-gtm/package-lock.json
  cfgov/unprocessed/apps/owning-a-home/package-lock.json
  cfgov/unprocessed/apps/regulations3k/package-lock.json
  package-lock.json
Due: none

Add a notification block
  cfgov/regulations3k/blocks.py
  cfgov/regulations3k/jinja2/regulations3k/notification.html
  cfgov/regulations3k/migrations/0018_add_notification_block.py
  cfgov/regulations3k/models/pages.py
  cfgov/regulations3k/tests/test_blocks.py
  cfgov/unprocessed/apps/regulations3k/css/main.less
  cfgov/unprocessed/apps/regulations3k/css/notification.less
Due: backend

bump college-costs version from 2.3.12 to 2.4.0
  requirements/optional-public.txt
Due: none

Revert "Bump college-costs version from 2.3.12 to 2.4.0"
  requirements/optional-public.txt
Due: none

Fix for eot files on CCDB landing page
  cfgov/legacy/static/complaint/css/main.min.css
Due: none

fix missing assets in complaint landing page
  cfgov/legacy/static/complaint/css/main.min.css
  cfgov/legacy/static/complaint/img/select.png
Due: none

Redirect Regs3K paragraph hashes
  cfgov/unprocessed/apps/regulations3k/js/index.js
  cfgov/unprocessed/apps/regulations3k/js/regs3k-utils.js
  test/unit_tests/apps/regulations3k/js/regs3k-utils-spec.js
Due: frontend

Redirect Regs3K paragraph hashes (#4514)
  cfgov/unprocessed/apps/regulations3k/js/index.js
  cfgov/unprocessed/apps/regulations3k/js/regs3k-utils.js
  test/unit_tests/apps/regulations3k/js/regs3k-utils-spec.js
Due: frontend

Fix big icon on Spanish site
  cfgov/legacy/static/nemo/_/c/less/es-styles.less
  cfgov/legacy/static/nemo/_/c/less/icons.less
Due: none

add catch-all redirect to landing page
  cfgov/regulations3k/views.py
Due: backend

flip part test to avoid massive indentation
  cfgov/regulations3k/views.py
Due: backend

regsek: Fix redirect errors
  cfgov/cfgov/urls.py
  cfgov/regulations3k/tests/test_views.py
  cfgov/regulations3k/views.py
Due: backend

make eregs-api redirect greedier
  cfgov/cfgov/urls.py
Due: backend

add catch-all redirect
  cfgov/regulations3k/views.py
Due: backend

regsek: Fix redirect errors (#4517)
  cfgov/cfgov/urls.py
  cfgov/regulations3k/tests/test_views.py
  cfgov/regulations3k/views.py
Due: backend

Update Regs3K homepage in app manifest
  cfgov/unprocessed/apps/regulations3k/regulations3k-manifest.json
Due: none

Check for a search count before rendering Regs3K results
  cfgov/regulations3k/jinja2/regulations3k/search-regulations-results.html
Due: none

consolidate base template modernizr code
  cfgov/jinja2/v1/_layouts/base-common.html
  cfgov/jinja2/v1/ask-cfpb/answer-page-spanish-printable.html
  cfgov/jinja2/v1/es/es-base.html
  cfgov/legacy/templates/front/base_nonresponsive.html
  cfgov/legacy/templates/front/base_update.html
  cfgov/v1/jinja2/v1/footer.html
  cfgov/v1/jinja2/v1/header.html
  cfgov/v1/jinja2/v1/modernizr.html
  cfgov/v1/templatetags/base_elements.py
  cfgov/v1/tests/templatetags/test_base_elements.py
Due: backend

remove extra blank line per @anselmbradford
  cfgov/jinja2/v1/ask-cfpb/answer-page-spanish-printable.html
Due: none

Convert govdelivery_question_id to RegexBlock and update migration
  cfgov/data_research/blocks.py
  cfgov/v1/migrations/0124_update_conf_reg_form_block.py
  cfgov/v1/migrations/0125_update_conf_reg_form_block.py
Due: backend

WIP: Update conf reg form to submit GovDelivery question answer
  cfgov/data_research/blocks.py
  cfgov/data_research/forms.py
  cfgov/data_research/handlers.py
  cfgov/data_research/tests/test_forms.py
  cfgov/data_research/tests/test_handlers.py
  cfgov/jinja2/v1/_includes/macros/subscribe.html
  cfgov/v1/migrations/0124_update_conf_reg_form_block.py
Due: backend

make tests pass, make gd question id optional
  cfgov/data_research/blocks.py
  cfgov/data_research/forms.py
  cfgov/data_research/research_conference.py
  cfgov/data_research/tests/test_forms.py
Due: backend

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
