Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

disable:
  - search

Remove dependency on `INTERNAL_IPS` for DDT
  .env_SAMPLE
  cfgov/cfgov/settings/local.py
Due: backend

Update Django Debug Toolbar to 1.11.
  requirements/local.txt
Due: none

Remove unused WAGTAIL_COMPANY_SIGNUP flag definition
  cfgov/cfgov/settings/base.py
Due: backend

Remove unused ES_CONV_FLAG flag definition
  cfgov/cfgov/settings/base.py
Due: backend

Remove unused IA_USER_TESTING_MENU flag definition
  cfgov/cfgov/settings/base.py
Due: backend

Remove unused MORTGAGE_PERFORMANCE_RELEASE flag definition
  cfgov/cfgov/settings/base.py
Due: backend

Remove unused FINANCIAL_COACHING flag definition
  cfgov/cfgov/settings/base.py
Due: backend

Remove unused LEGACY_HUD_API flag definition
  cfgov/cfgov/settings/base.py
Due: backend

Clean up flags that are no longer being checked (#4991)
  cfgov/cfgov/settings/base.py
Due: backend

Add translation to the featured content module heading
  cfgov/jinja2/v1/_includes/organisms/featured-content.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Add translation to the featured content module heading (#4993)
  cfgov/jinja2/v1/_includes/organisms/featured-content.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Update spacing in HowTo schema flag comment.
  cfgov/cfgov/settings/base.py
Due: backend

Add tests for HowTo schema markup feature flag.
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Fix line length.
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Update wagtail-inventory to 0.7
  requirements/libraries.txt
Due: none

Add more messaging about HOW_TO_SCHEMA flag.
  cfgov/cfgov/settings/base.py
Due: backend

Update credit card agreements HTML per PR review
  cfgov/agreements/jinja2/agreements/_database_disclaimer.html
  cfgov/agreements/jinja2/agreements/index.html
  cfgov/agreements/jinja2/agreements/search.html
Due: none

Update HOW_TO_SCHEMA flag messaging.
  cfgov/cfgov/settings/base.py
Due: backend

Updates for Google schema pilot (#4992)
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/cfgov/settings/base.py
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
  cfgov/v1/wagtail_hooks.py
Due: backend

Minor updates to .env_SAMPLE formatting
  .env_SAMPLE
Due: none

Ask answer streamfield (#4982)
  cfgov/ask_cfpb/migrations/0028_answerpage_answer_content.py
  cfgov/ask_cfpb/models/blocks.py
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/tests/test_blocks.py
  cfgov/jinja2/v1/_includes/ask/ask-search-bar.html
  cfgov/jinja2/v1/_includes/ask/content-block.html
  cfgov/jinja2/v1/_includes/ask/tip.html
  cfgov/jinja2/v1/_includes/organisms/search-bar.html
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
  cfgov/unprocessed/css/organisms/read-more.less
  cfgov/unprocessed/css/pages/ask.less
Due: backend

WIP
  cfgov/ask_cfpb/fixtures/glossary_terms.csv
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/scripts/key_terms.py
  cfgov/ask_cfpb/scripts/migrate_glossary_terms.py
  cfgov/jinja2/v1/ask-cfpb/see-all.html
  cfgov/v1/migrations/0157_glossaryterm.py
  cfgov/v1/models/snippets.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Add glossary term snippets for display on see all key terms page.
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/scripts/key_terms.py
  cfgov/jinja2/v1/ask-cfpb/see-all.html
  cfgov/v1/migrations/0157_glossaryterm.py
  cfgov/v1/models/snippets.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Create distinct Python 2 and Python 3 docker containers
  docker-compose.yml
  docker/python2/Dockerfile
  docker/python2/entrypoint.sh
  docker/python3/Dockerfile
  docker/python3/entrypoint.sh
Due: none

Update Docker usage documentation for Py2+3 containers
  attach.sh
  docs/usage.md
  shell.sh
Due: none

Use a single Dockerfile for both Python containers
  Dockerfile
  docker-compose.yml
  docker/python2/Dockerfile
  docker/python2/entrypoint.sh
  docker/python3/Dockerfile
  docker/python3/entrypoint.sh
Due: none

Create a page to handle the Spanish home page at /es/
  cfgov/jinja2/v1/index_es.html
  cfgov/v1/migrations/0157_spanishhomepage.py
  cfgov/v1/models/home_page.py
Due: backend

Update docs/usage.md
  docs/usage.md
Due: none

Ensure that `python` in the Python3 container is 3.6
  docker/python3/entrypoint.sh
Due: none

Add schema blocks to answer page content streamfield.
  cfgov/ask_cfpb/migrations/0029_auto_20190508_2133.py
  cfgov/ask_cfpb/models/blocks.py
  cfgov/ask_cfpb/tests/test_blocks.py
  cfgov/jinja2/v1/_includes/ask/content-block.html
  cfgov/jinja2/v1/_includes/ask/faq.html
  cfgov/jinja2/v1/_includes/ask/how-to.html
  cfgov/unprocessed/css/pages/ask.less
Due: backend

Update migration
  cfgov/ask_cfpb/migrations/0029_answer_schema_blocks.py
  cfgov/ask_cfpb/migrations/0029_auto_20190508_2133.py
Due: backend

Add "Events" category label in Recent Updates section
  cfgov/jinja2/v1/index.html
  cfgov/v1/jinja2tags/__init__.py
  cfgov/v1/util/ref.py
Due: backend

Add data-label attribute for explicitly labeled paragraphs
  cfgov/regulations3k/regdown.py
  cfgov/regulations3k/tests/test_jinja2tags.py
  cfgov/regulations3k/tests/test_regdown.py
  cfgov/regulations3k/tests/test_resolver.py
Due: backend

Update regulations wayfinder design
  cfgov/unprocessed/apps/regulations3k/css/reg-wayfinder.less
Due: none

Regs3k Wayfinder appears on page load
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
  cfgov/unprocessed/apps/regulations3k/js/permalinks.js
  test/unit_tests/apps/regulations3k/js/permalinks-utils-spec.js
Due: frontend

Fix bugs in Regulations Wayfinder
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
Due: frontend

Add null checks to Regulations Wayfinder
  cfgov/regulations3k/tests/test_models.py
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
  cfgov/unprocessed/apps/regulations3k/js/permalinks.js
Due: backend, frontend

Add regulations wayfinder
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
  cfgov/unprocessed/apps/regulations3k/css/main.less
  cfgov/unprocessed/apps/regulations3k/css/reg-wayfinder.less
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
  cfgov/unprocessed/apps/regulations3k/js/permalinks.js
Due: frontend

Update regulations wayfinder citation format
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
Due: frontend

Add Regs3k Wayfinder unit tests
  cfgov/unprocessed/apps/regulations3k/js/permalinks-utils.js
  test/unit_tests/apps/regulations3k/js/permalinks-utils-spec.js
Due: frontend
