Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

updates some retirement api links to point to https
  cfgov/retirement_api/utils/check_api.py
  cfgov/retirement_api/utils/ss_update_stats.py
Due: backend

Bump curriculum-review-tool version to 2.1.8 (#7094)
  requirements/libraries.txt
Due: none

Deployed f6e1a1c with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

add FigSectionAdapter to disable section_id
  cfgov/templates/wagtailadmin/js/fig-section-block.js
  cfgov/v1/atomic_elements/organisms.py
Due: backend, frontend

update old ssa link
  cfgov/retirement_api/utils/ss_update_stats.py
Due: backend

Deployed da5000a with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

modified calls to clickCategory
  test/cypress/integration/components/filterable-lists/filter-blog-posts.js
Due: none

Update cfgov/templates/wagtailadmin/js/fig-section-block.js
  cfgov/templates/wagtailadmin/js/fig-section-block.js
Due: frontend

added packages in offline cache
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.16.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.16.0.tgz
Due: none

Deployed d534872 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

spelling mistake. django-admin command not working in pod, eerror in first startup.
  helm/cfgov/values.yaml
Due: none

add mechanics of TOC expandable
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-sidenav.js
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-toc-frame.js
Due: frontend

Added hook to work with income_level_group data shape
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
Due: frontend

moved FIG blocks into their own discrete file
  cfgov/filing_instruction_guide/blocks.py
  cfgov/filing_instruction_guide/models.py
  cfgov/v1/atomic_elements/organisms.py
Due: backend

Added hook to work with income_level_group data shape (#7100)
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
Due: frontend

Deployed d94d43c with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

handle fig sidenav sizing in css and clean up/document js
  cfgov/unprocessed/apps/filing-instruction-guide/js/fig-sidenav.js
  cfgov/unprocessed/css/on-demand/reports-sidenav.less
Due: frontend

Added new cct hook to for data shape
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
Due: frontend

Added new cct hook to for data shape (#7102)
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
Due: frontend

Deployed a1a943f with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

moved js from templates/wagtailadmin to fig app
  cfgov/filing_instruction_guide/static/js/fig-section-block.js
Due: frontend

Deployed ec8a434 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update cfgov/filing_instruction_guide/static/js/fig-section-block.js
  cfgov/filing_instruction_guide/static/js/fig-section-block.js
Due: frontend

Typo correction
  cfgov/filing_instruction_guide/static/js/fig-section-block.js
Due: frontend

Remove outdated docs from Expandable template
  cfgov/jinja2/v1/_includes/organisms/expandable.html
Due: none

Deployed bdcdf49 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Add InfoUnitGroups to Expandables
  cfgov/paying_for_college/migrations/0012_expandable_info_units.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0210_expandable_info_units.py
Due: backend

Remove outdated docs from Expandable template (#7103)
  cfgov/jinja2/v1/_includes/organisms/expandable.html
Due: none

Deployed d29f369 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Update Cypress action and add admin username/password vars
  .github/workflows/functional-tests.yml
Due: none

Deployed 77c72c3 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add InfoUnitGroups to Expandables (#7104)
  cfgov/paying_for_college/migrations/0012_expandable_info_units.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0210_expandable_info_units.py
Due: backend

Deployed aae1e23 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add signup method to email signup organism
  cfgov/ask_cfpb/migrations/0040_add_email_signup_method.py
  cfgov/paying_for_college/migrations/0011_add_email_signup_method.py
  cfgov/regulations3k/migrations/0033_add_email_signup_method.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0202_add_email_signup_method.py
Due: backend

Convert email signups to snippets
  cfgov/ask_cfpb/migrations/0040_add_email_signup_method.py
  cfgov/ask_cfpb/migrations/0041_emailsignup_snippet.py
  cfgov/ask_cfpb/migrations/0042_convert_email_signups_blocks_to_snippets.py
  cfgov/ask_cfpb/models/answer_page.py
  cfgov/ask_cfpb/models/pages.py
  cfgov/filing_instruction_guide/migrations/0003_emailsignup_snippet.py
  cfgov/jinja2/v1/_includes/blocks/email-signup.html
  cfgov/paying_for_college/migrations/0011_add_email_signup_method.py
  cfgov/paying_for_college/migrations/0012_emailsignup_snippet.py
  cfgov/paying_for_college/migrations/0013_convert_email_signups_blocks_to_snippets.py
  cfgov/regulations3k/migrations/0033_add_email_signup_method.py
  cfgov/regulations3k/migrations/0033_emailsignup_snippet.py
  cfgov/regulations3k/migrations/0034_convert_email_signups_blocks_to_snippets.py
  cfgov/scripts/_atomic_helpers.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/blocks.py
  cfgov/v1/migrations/0202_add_email_signup_method.py
  cfgov/v1/migrations/0210_emailsignup_snippet.py
  cfgov/v1/migrations/0211_convert_email_signups_blocks_in_pages_to_snippets.py
  cfgov/v1/migrations/0212_convert_email_signups_blocks_in_streamfields_to_snippets.py
  cfgov/v1/models/base.py
  cfgov/v1/models/blog_page.py
  cfgov/v1/models/learn_page.py
  cfgov/v1/models/snippets.py
  cfgov/v1/tests/models/test_base.py
  cfgov/v1/tests/test_blocks_email_signup.py
  cfgov/v1/tests/util/test_migrations.py
  cfgov/v1/tests/wagtail_pages/helpers.py
  cfgov/v1/util/migrations.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Update email signup template for links
  cfgov/jinja2/v1/_includes/organisms/email-signup.html
  cfgov/unprocessed/js/routes/on-demand/email-signup.js
  cfgov/v1/atomic_elements/organisms.py
Due: backend, frontend

Recreate email signup snippet migrations
  cfgov/ask_cfpb/migrations/0041_emailsignup_snippet.py
  cfgov/paying_for_college/migrations/0012_emailsignup_snippet.py
  cfgov/paying_for_college/migrations/0013_emailsignup_snippet.py
  cfgov/paying_for_college/migrations/0014_convert_email_signups_blocks_to_snippets.py
  cfgov/regulations3k/migrations/0033_emailsignup_snippet.py
  cfgov/v1/migrations/0210_emailsignup_snippet.py
  cfgov/v1/migrations/0211_emailsignup_snippet.py
  cfgov/v1/migrations/0212_convert_email_signups_blocks_in_pages_to_snippets.py
  cfgov/v1/migrations/0213_convert_email_signups_blocks_in_streamfields_to_snippets.py
Due: backend

Test the email signup snippet string method
  cfgov/v1/tests/models/test_snippets.py
Due: backend
