Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

disable:
  - search

Remove unnecessary language params.
  cfgov/jinja2/v1/_includes/ask/ask-search-bar.html
  cfgov/jinja2/v1/_includes/atoms/tagline.html
  cfgov/jinja2/v1/_includes/molecules/global-eyebrow.html
  cfgov/jinja2/v1/_includes/molecules/global-header-cta.html
  cfgov/jinja2/v1/_includes/organisms/footer.html
  cfgov/jinja2/v1/_includes/organisms/header.html
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
  cfgov/jinja2/v1/_includes/organisms/search-bar.html
  cfgov/jinja2/v1/_includes/organisms/secondary-navigation.html
  cfgov/jinja2/v1/ask-cfpb/landing-page.html
Due: none

Move CFPB Ombudsman link
  cfgov/jinja2/v1/_includes/organisms/footer.html
Due: none

Update Ask export script with latest updates to metadata fields
  cfgov/ask_cfpb/scripts/export_ask_data.py
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Convert JS to use ES6 modules
  cfgov/unprocessed/apps/financial-well-being/js/fwb-results.js
  cfgov/unprocessed/js/config/breakpoints-config.js
  cfgov/unprocessed/js/modules/YoutubePlayer.js
  cfgov/unprocessed/js/modules/util/expanded-state.js
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/actions/chart.js
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/actions/default.js
  cfgov/unprocessed/js/routes/on-demand/email-signup.js
  cfgov/unprocessed/js/routes/on-demand/feedback-form.js
  cfgov/unprocessed/js/routes/on-demand/filterable-list-controls.js
  cfgov/unprocessed/js/routes/on-demand/mortgage-performance-trends.js
  cfgov/unprocessed/js/routes/on-demand/video-player.js
  package-lock.json
  package.json
  test/unit_tests/apps/financial-well-being/js/fwb-questions-spec.js
  test/unit_tests/apps/financial-well-being/js/fwb-results-spec.js
  test/unit_tests/apps/owning-a-home/js/form-explainer/dom-tools-spec.js
  test/unit_tests/js/modules/util/breakpoint-state-spec.js
  test/unit_tests/js/modules/util/dom-manipulators-spec.js
  test/unit_tests/js/modules/util/standard-type-spec.js
  test/unit_tests/js/molecules/Notification-spec.js
  test/unit_tests/js/organisms/FormSubmit-spec.js
Due: frontend

Fix import paths
  cfgov/unprocessed/js/modules/YoutubePlayer.js
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/actions/chart.js
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/actions/default.js
  cfgov/unprocessed/js/routes/on-demand/email-signup.js
  cfgov/unprocessed/js/routes/on-demand/feedback-form.js
  cfgov/unprocessed/js/routes/on-demand/mortgage-performance-trends.js
  package-lock.json
Due: frontend

Fix Python linting to make agreements first party
  .isort.cfg
  cfgov/agreements/jinja2tags.py
  cfgov/agreements/management/commands/_util.py
  cfgov/agreements/tests/test_legacy.py
  cfgov/agreements/tests/test_management.py
Due: backend

Move credit card agreements to jinja
  cfgov/agreements/jinja2/agreements/_database_disclaimer.html
  cfgov/agreements/jinja2/agreements/_search_helper.html
  cfgov/agreements/jinja2/agreements/base_agreements.html
  cfgov/agreements/jinja2/agreements/index.html
  cfgov/agreements/jinja2/agreements/search.html
  cfgov/agreements/jinja2tags.py
  cfgov/agreements/static/agreements/css/ccdb.css
  cfgov/agreements/static/agreements/css/chosen.css
  cfgov/agreements/static/agreements/css/ie.css
  cfgov/agreements/static/agreements/img/chosen-sprite.png
  cfgov/agreements/static/agreements/img/dwnarrow.png
  cfgov/agreements/static/agreements/js/jquery-1.9.1.min.js
  cfgov/agreements/static/agreements/js/modal.js
  cfgov/agreements/templates/agreements/base_agreements.html
  cfgov/agreements/templates/agreements/index.html
  cfgov/agreements/templates/agreements/issuer_select.html
  cfgov/agreements/templates/agreements/search.html
  cfgov/cfgov/settings/base.py
  cfgov/legacy/static/agreements/css/ccdb.css
  cfgov/legacy/static/agreements/css/chosen.css
  cfgov/legacy/static/agreements/css/ie.css
  cfgov/legacy/static/agreements/img/dwnarrow.png
  cfgov/legacy/static/agreements/js/chosen.jquery.js
  cfgov/unprocessed/js/routes/credit-cards/single.js
Due: backend, frontend

Refactors agreements backend code
  cfgov/agreements/jinja2/agreements/_select.html
  cfgov/agreements/jinja2/agreements/index.html
  cfgov/agreements/jinja2/agreements/search.html
  cfgov/agreements/jinja2tags.py
  cfgov/agreements/templatetags/__init__.py
  cfgov/agreements/templatetags/agreements_extras.py
  cfgov/agreements/tests/test_jinja2tags.py
  cfgov/agreements/tests/test_legacy.py
Due: backend

Run full tox tests on Travis
  .travis.yml
  requirements/travis.txt
  tox.ini
  travis_install.sh
  travis_run.sh
Due: none

Add documentation on checking for migrations
  docs/migrations.md
Due: none

Fixing test compatibility with Python 3
  cfgov/agreements/tests/test_legacy.py
Due: backend

Use redirect_to_page instead of redirect_to in export
  cfgov/ask_cfpb/scripts/export_ask_data.py
Due: backend

Remove answer_id and redirect_to from AnswerPage
  cfgov/ask_cfpb/migrations/0026_remove_redirect_to_and_answer_id_from_answer_page.py
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/ask_cfpb/tests/test_views.py
Due: backend

Update short answers script.
  cfgov/ask_cfpb/scripts/migrate_spanish_short_answers.py
Due: backend

Add translations for portal topic and portal headings
  cfgov/ask_cfpb/models/pages.py
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: backend

Add translations for portal topic and portal headings (#4946)
  cfgov/ask_cfpb/models/pages.py
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: backend

Update jinja2 to 2.10.1
  requirements/docs.txt
  requirements/libraries.txt
Due: none

Add image sizes for Spanish logo.
  cfgov/jinja2/v1/_includes/organisms/header.html
  cfgov/unprocessed/img/logo_es_228x40.png
  cfgov/unprocessed/img/logo_es_228x40@2x.png
  cfgov/unprocessed/img/logo_es_228x40@3x.png
  cfgov/unprocessed/img/logo_es_228x40@4x.png
  cfgov/unprocessed/img/logo_es_286x50.png
  cfgov/unprocessed/img/logo_es_286x50@2x.png
Due: none

contstruct image request url for mapbox api
  cfgov/v1/models/learn_page.py
Due: backend

add javascript files and hooks to call mapbox geocoding API
  cfgov/jinja2/v1/_includes/organisms/post-preview.html
  cfgov/jinja2/v1/events/_macros.html
  cfgov/unprocessed/js/routes/about-us/events/archive-past-events/index.js
  cfgov/unprocessed/js/routes/about-us/events/index.js
  cfgov/unprocessed/js/routes/on-demand/event-location-map.js
  cfgov/v1/models/learn_page.py
Due: backend, frontend

Update translations.
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Consolidate lists (thx @Scotchester)
  cfgov/cfgov/settings/base.py
  cfgov/core/middleware.py
  cfgov/core/tests/test_middleware.py
Due: backend

Update parse links URL exclusion rules
  cfgov/cfgov/settings/base.py
  cfgov/core/middleware.py
  cfgov/core/tests/test_middleware.py
Due: backend

Lint and simplify
  cfgov/core/middleware.py
Due: backend

Update cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/base.py
Due: backend

Revert "Move Snyk requirements folder to the root (#4900)"
  requirements/snyk/README.md
  requirements/snyk/django/requirements.txt
  requirements/snyk/libraries/requirements.txt
  requirements/snyk/postgres/requirements.txt
  requirements/snyk/wagtail/requirements.txt
  snyk/django/requirements.txt
  snyk/libraries/requirements.txt
  snyk/postgres/requirements.txt
  snyk/wagtail/requirements.txt
Due: none

Remove deprecated address package
  requirements/libraries.txt
Due: none

Correction to metadata for 2014 nationwide files
  cfgov/hmda/resources/loan_file_metadata.py
Due: backend

Revert "Move Snyk requirements folder to the root (#4900)" (#4956)
  requirements/snyk/README.md
  requirements/snyk/django/requirements.txt
  requirements/snyk/libraries/requirements.txt
  requirements/snyk/postgres/requirements.txt
  requirements/snyk/wagtail/requirements.txt
  snyk/django/requirements.txt
  snyk/libraries/requirements.txt
  snyk/postgres/requirements.txt
  snyk/wagtail/requirements.txt
Due: none

Fix feedback form on spanish ask pages + remove old patterns
  cfgov/jinja2/v1/_includes/blocks/feedback.html
  cfgov/jinja2/v1/_includes/molecules/big-checkbox.html
  cfgov/legacy/static/knowledgebase/less/es-ask-base.less
  cfgov/legacy/static/knowledgebase/less/es-ask-styles.less
  cfgov/unprocessed/css/forms.less
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/molecules/big-checkbox.less
  cfgov/unprocessed/css/organisms/form-input-group.less
Due: none

Remove subtle notification
  cfgov/unprocessed/css/enhancements/notifications.less
  cfgov/unprocessed/css/main.less
  cfgov/wellbeing/jinja2/wellbeing/home.html
Due: none

Update http to https in legacy youtube script
  cfgov/legacy/static/nemo/_/js/main.js
  cfgov/legacy/static/nemo/_/js/plugins.js
Due: frontend

Apply Spanish header & footer to all pages whose language == es.
  cfgov/jinja2/v1/_layouts/base.html
Due: none

Compress logo images
  cfgov/unprocessed/img/logo_es_228x40.png
  cfgov/unprocessed/img/logo_es_228x40@2x.png
  cfgov/unprocessed/img/logo_es_228x40@3x.png
  cfgov/unprocessed/img/logo_es_228x40@4x.png
  cfgov/unprocessed/img/logo_es_286x50.png
  cfgov/unprocessed/img/logo_es_286x50@2x.png
Due: none

Import order fix.
  cfgov/cfgov/urls.py
Due: backend

get mapbox token for use on event page templates
  cfgov/cfgov/settings/base.py
  cfgov/v1/models/learn_page.py
Due: backend
