Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Add balance transfer data to card details
  cfgov/tccp/jinja2/tccp/card.html
Due: none

Add cash advance data to card details
  cfgov/tccp/jinja2/tccp/card.html
Due: none

Mark up some card details as paragraphs
  cfgov/tccp/jinja2/tccp/card.html
Due: none

Add title to card details page
  cfgov/tccp/jinja2/tccp/card.html
Due: none

Update template debug view to use layout-full template
  cfgov/v1/jinja2/v1/template_debug.html
Due: none

Update cfgov/v1/jinja2/v1/includes/molecules/hero.html
  cfgov/v1/jinja2/v1/includes/molecules/hero.html
Due: none

Update cfgov/v1/jinja2/v1/includes/organisms/featured-content.html
  cfgov/v1/jinja2/v1/includes/organisms/featured-content.html
Due: none

Add slugs to individual expandables
  cfgov/v1/jinja2/v1/includes/organisms/expandable-group.html
  cfgov/v1/jinja2/v1/includes/organisms/expandable.html
Due: none

Add data link to mortgage chart template
  cfgov/v1/jinja2/v1/includes/organisms/mortgage-chart.html
Due: none

Adding hyperlink to other template
  cfgov/v1/jinja2/v1/includes/organisms/mortgage-map.html
Due: none

Add anchors to related and how to headings
  cfgov/ask_cfpb/tests/test_blocks.py
  cfgov/v1/jinja2/v1/includes/blocks/schema/how-to.html
  cfgov/v1/jinja2/v1/includes/molecules/related-content.html
Due: backend

Update cfgov/tccp/jinja2/tccp/cards.html
  cfgov/tccp/jinja2/tccp/cards.html
Due: none

TCCP: Show institution name in list view
  cfgov/tccp/jinja2/tccp/cards.html
  cfgov/tccp/serializers.py
  cfgov/tccp/views.py
  cfgov/unprocessed/apps/tccp/css/main.less
Due: backend

Fix layout-full breadcrumbs call for mock pages
  cfgov/v1/jinja2/v1/layouts/layout-full.html
Due: none

TCCP: Add size filtering
  cfgov/tccp/filterset.py
  cfgov/tccp/jinja2/tccp/macros/filter_form.html
  cfgov/tccp/management/commands/patch_tccp.py
  cfgov/tccp/migrations/0007_cardsurveydata_top_25_institution.py
  cfgov/tccp/models.py
  cfgov/tccp/serializers.py
  cfgov/tccp/tests/test_patch.py
Due: backend

Restore a lost closing `</a>`
  cfgov/v1/jinja2/v1/includes/molecules/related-content.html
Due: none

TCCP: Add ability to filter cards by reward type
  cfgov/tccp/filters.py
  cfgov/tccp/filterset.py
  cfgov/tccp/jinja2/tccp/macros/filter_form.html
  cfgov/tccp/situations.py
  cfgov/tccp/templates/tccp/widgets/checkbox_option.html
  cfgov/tccp/tests/test_filterset.py
  cfgov/tccp/views.py
  cfgov/tccp/widgets.py
Due: backend

Remove unnecessary redirect in YFPTG
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/get-api-values.js
Due: frontend

Add nonbreaking space to expandable icon
  cfgov/v1/jinja2/v1/includes/organisms/expandable.html
Due: none

Add "first published" and "schema" info to Ask report
  cfgov/v1/templates/v1/ask_report.html
  cfgov/v1/views/reports.py
Due: backend

Use hardcoded colors for fade(…) mixin
  cfgov/unprocessed/apps/form-explainer/css/form-explainer.less
  cfgov/unprocessed/apps/retirement/css/claiming.less
Due: none

Update design-system@0.39.0, eslint-plugin-jsdoc@48.2.1
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.38.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.39.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.38.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.39.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.38.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.39.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.38.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.39.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.38.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.39.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.38.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.39.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.38.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.39.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.38.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.39.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.38.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.39.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.38.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.39.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.38.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.39.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.38.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.39.0.tgz
  npm-packages-offline-cache/eslint-plugin-jsdoc-48.2.0.tgz
  npm-packages-offline-cache/eslint-plugin-jsdoc-48.2.1.tgz
  package.json
  yarn.lock
Due: none

Cap the width of TCCP's card availability column
  cfgov/unprocessed/apps/tccp/css/main.less
Due: none

AJAX-ify TCCP card filtering page via htmx
  cfgov/tccp/jinja2/tccp/cards.html
  cfgov/tccp/jinja2/tccp/macros/filter_form.html
  cfgov/unprocessed/apps/tccp/js/index.js
  cfgov/unprocessed/apps/tccp/npm-packages-offline-cache/htmx.org-1.9.10.tgz
  cfgov/unprocessed/apps/tccp/package.json
  cfgov/unprocessed/apps/tccp/yarn.lock
  esbuild/scripts.js
Due: frontend

Clean up htmx importing and settings
  cfgov/tccp/jinja2/tccp/macros/filter_form.html
  cfgov/unprocessed/apps/tccp/js/index.js
Due: frontend

Isolate remaining raw HTML in UnescapedRichTextBlock
  cfgov/v1/atomic_elements/molecules.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/blocks.py
  cfgov/v1/tests/test_blocks.py
Due: backend

UnescapedRichTextBlock migrations
  cfgov/filing_instruction_guide/migrations/0008_rtf_to_urtf.py
  cfgov/form_explainer/migrations/0008_rtf_to_urtf.py
  cfgov/paying_for_college/migrations/0009_rtf_to_urtf.py
  cfgov/regulations3k/migrations/0009_rtf_to_urtf.py
  cfgov/teachers_digital_platform/migrations/0003_rtf_to_urtf.py
  cfgov/v1/migrations/0025_rtf_to_urtf.py
Due: backend

Replace render_stream_child with include_block
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/0-intro.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/tdp_expandable.html
  cfgov/v1/atomic_elements/tables.py
  cfgov/v1/jinja2/v1/document-detail/index.html
  cfgov/v1/jinja2/v1/enforcement-action/index.html
  cfgov/v1/jinja2/v1/includes/organisms/data_snapshot.html
  cfgov/v1/jinja2/v1/includes/organisms/expandable.html
  cfgov/v1/jinja2/v1/includes/organisms/full-width-text.html
  cfgov/v1/jinja2/v1/includes/organisms/main-contact-info.html
  cfgov/v1/jinja2/v1/includes/organisms/sidebar-contact-info.html
  cfgov/v1/jinja2/v1/includes/templates/render_block.html
  cfgov/v1/jinja2/v1/landing-page/index.html
  cfgov/v1/jinja2/v1/newsroom/index.html
  cfgov/v1/jinja2/v1/sublanding-page/index.html
  cfgov/v1/jinja2tags/__init__.py
  cfgov/v1/tests/test_render_block.py
Due: backend

Remove safes for some text fields
  cfgov/v1/jinja2/v1/includes/atoms/radio-button.html
  cfgov/v1/jinja2/v1/includes/blocks/heading.html
  cfgov/v1/jinja2/v1/includes/blocks/schema/faq-group.html
  cfgov/v1/jinja2/v1/includes/molecules/hero.html
Due: none

TCCP: Add 3-tier card rating based on purchase APR
  cfgov/tccp/enums.py
  cfgov/tccp/filter_backend.py
  cfgov/tccp/filterset.py
  cfgov/tccp/jinja2/tccp/cards.html
  cfgov/tccp/jinja2/tccp/landing_page.html
  cfgov/tccp/models.py
  cfgov/tccp/serializers.py
  cfgov/tccp/tests/test_filters.py
  cfgov/tccp/tests/test_filterset.py
  cfgov/tccp/tests/test_models.py
  cfgov/tccp/tests/test_views.py
  cfgov/tccp/views.py
  cfgov/unprocessed/apps/tccp/css/main.less
  requirements/libraries.txt
Due: backend

Add htmx loading indicators to TCCP results
  cfgov/tccp/jinja2/tccp/cards.html
  cfgov/tccp/jinja2/tccp/macros/filter_form.html
  cfgov/unprocessed/apps/tccp/css/main.less
Due: none

Speed up initial render and hydration of pfc grad path
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/expenses-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/school-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/state-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/views/school-view.js
Due: frontend

Fix radio button label rendering by making it safe
  cfgov/v1/jinja2/v1/includes/atoms/radio-button.html
Due: none

Mark homepage strong heading as safe
  cfgov/v1/jinja2/v1/home_page/_hardcoded_en.html
Due: none

Remove `content-li__main` class
  cfgov/v1/jinja2/v1/newsroom/index.html
Due: none

Move APR rating to dedicated line and give it a min width
  cfgov/unprocessed/apps/tccp/css/main.less
Due: none

Add late fee to TCCP card details
  cfgov/tccp/jinja2/tccp/card.html
Due: none

Add periodic fees to TCCP card details
  cfgov/tccp/jinja2/tccp/card.html
Due: none

Add other fees to the TCCP card details
  cfgov/tccp/jinja2/tccp/card.html
Due: none
