Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

fixing IE11 fetch not working
  cfgov/unprocessed/apps/ccdb-landing-map/js/Chart.js
  cfgov/unprocessed/apps/ccdb-landing-map/js/landing-map.js
  cfgov/unprocessed/apps/ccdb-landing-map/npm-packages-offline-cache/whatwg-fetch-3.0.0.tgz
  cfgov/unprocessed/apps/ccdb-landing-map/package.json
  cfgov/unprocessed/apps/ccdb-landing-map/webpack-config.js
  cfgov/unprocessed/apps/ccdb-landing-map/yarn.lock
Due: frontend

Breakpoint cleanup
  cfgov/unprocessed/js/modules/BreakpointHandler.js
  cfgov/unprocessed/js/modules/behavior/FlyoutMenu.js
  cfgov/unprocessed/js/modules/util/breakpoint-state.js
  cfgov/unprocessed/js/modules/util/get-viewport-dimensions.js
  cfgov/unprocessed/js/molecules/GlobalSearch.js
  cfgov/unprocessed/js/organisms/MegaMenu.js
  docs/javascript-unit-tests.md
  test/unit_tests/js/modules/util/breakpoint-state-spec.js
Due: frontend

Fix width of mega menu horizontal rule pseudo element
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

Fix recurrence dates JS error from bad args passed to dayjs
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
Due: frontend

fix desktop styles for calendar height and modal width
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/calendar.less
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/modals.less
Due: none

Remove luxon dependency from MMC app
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: none

Move arguments to own line
  gulp/tasks/scripts.js
Due: none

Add basic `watch` gulp task
  gulp/tasks/scripts.js
  gulp/tasks/styles.js
  gulpfile.js
  package.json
Due: none

Move arguments to own line
  gulp/tasks/styles.js
Due: none

Fix construct_whitelister_element_rules hook is depricated
  cfgov/v1/wagtail_hooks.py
Due: backend

Turn on new mega menu everywhere
  cfgov/jinja2/v1/_includes/organisms/header.html
  cfgov/jinja2/v1/_includes/organisms/mega-menu-var-1.html
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
  cfgov/jinja2/v1/_layouts/base.html
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/organisms/mega-menu-var-1.less
  cfgov/unprocessed/css/organisms/mega-menu.less
  cfgov/unprocessed/js/organisms/Header.js
  cfgov/unprocessed/js/organisms/MegaMenu.js
  cfgov/unprocessed/js/organisms/MegaMenuDesktop.js
  cfgov/unprocessed/js/organisms/MegaMenuDesktopVar1.js
  cfgov/unprocessed/js/organisms/MegaMenuVar1.js
Due: frontend

Remove classname='full' from Wagtail editor fields (#5551)
  cfgov/jobmanager/models/pages.py
  cfgov/regulations3k/models/django.py
  cfgov/v1/models/learn_page.py
Due: backend

Adjust tab padding (from 5542)
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

Hide featured item on mobile
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

Properly pass language to mega menu macro
  cfgov/jinja2/v1/_includes/organisms/header.html
Due: none

Fix AssertionError raised by test_whitelist_hooks
  cfgov/v1/wagtail_hooks.py
Due: backend

Remove WhitelistRule for blockquote element
  cfgov/v1/wagtail_hooks.py
Due: backend

Fix external link markup in menu
  cfgov/core/utils.py
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
Due: backend

Implement the first Ask CFPB browser test
  test/browser_tests/cucumber-new/features/suites/apps/ask_cfpb.feature
  test/browser_tests/cucumber-new/step_definitions/application.js
Due: none

Fix tests
  test/unit_tests/js/modules/BreakpointHandler-spec.js
Due: none

Update isIn to viewportIsIn method name
  cfgov/unprocessed/js/modules/behavior/FlyoutMenu.js
  cfgov/unprocessed/js/modules/util/breakpoint-state.js
  cfgov/unprocessed/js/molecules/GlobalSearch.js
  cfgov/unprocessed/js/organisms/MegaMenu.js
  test/unit_tests/js/modules/util/breakpoint-state-spec.js
Due: frontend

Add ability to add multiple docket numbers
  cfgov/jinja2/v1/_includes/molecules/enforcement-action-metadata.html
  cfgov/v1/migrations/0207_enforcement_action_docket.py
  cfgov/v1/models/learn_page.py
Due: backend

Fix JS error when deleting future event recurrences
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
Due: frontend

toggle service worker solely based on env variable set before deploy
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/index.js
Due: frontend

un-memoize several boolean variables in calendar day component
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/day.js
Due: frontend

Fix issue where dates did not show as selected when the event store was empty
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/index/day.js
Due: frontend

Prevent weekly recurrence helper from defaulting recurrence days to Friday. Make it whatever day the original event is on
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/calendar-helpers.js
Due: frontend

Adjust width
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

Add WhitelistRule for span element
  cfgov/v1/wagtail_hooks.py
Due: backend

updated dev CCDB-UI version
  requirements/libraries.txt
Due: none

Remove top margin on ul elements in menu
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

Updated language and images
  cfgov/legacy/static/complaint/img/icons_API.png
  cfgov/legacy/static/complaint/img/icons_annualReport.png
  cfgov/legacy/static/complaint/img/icons_complaintData.png
  cfgov/legacy/templates/complaint/complaint-landing.html
Due: none

Add attribute_rule to register_rich_text_features wagtail hook
  cfgov/v1/wagtail_hooks.py
Due: backend

language updates
  cfgov/legacy/templates/complaint/complaint-landing.html
  cfgov/unprocessed/apps/ccdb-landing-map/js/TileMap.js
Due: frontend

Add TestWhitelistOverride class for span element
  cfgov/v1/tests/test_wagtail_hooks.py
Due: backend

Fix WhitelistRule in register_rich_text_features wagtail hook
  cfgov/v1/wagtail_hooks.py
Due: backend

Update span attributes to test both class and id in test_whitelist_hooks
  cfgov/v1/tests/test_wagtail_hooks.py
Due: backend

construct_whitelister_element_rules Wagtail hook is deprecated (#5554)
  cfgov/v1/tests/test_wagtail_hooks.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Implement the first Ask CFPB browser test (#5559)
  test/browser_tests/cucumber-new/features/suites/apps/ask_cfpb.feature
  test/browser_tests/cucumber-new/step_definitions/application.js
Due: none

Update Wagtail to 2.3
  requirements/libraries.txt
  requirements/wagtail.txt
Due: none
