Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Deployed 9b32b55 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Properly validate translations
  tox.ini
Due: none

Add Financial inTuition podcast feed
  cfgov/unprocessed/root/financial-intuition.xml
Due: none

Give no-js experience to sites without innerText support
  cfgov/v1/jinja2/v1/modernizr.html
Due: none

Revamp global search no-js fallback state
  cfgov/jinja2/v1/_includes/molecules/global-search.html
  cfgov/unprocessed/css/molecules/global-search.less
  cfgov/unprocessed/css/organisms/header.less
Due: none

Commit uncommited translations changes
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Use simpler git diff command
  tox.ini
Due: none

Deployed a89937a with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Update cover art URL
  cfgov/unprocessed/root/financial-intuition.xml
Due: none

Fix formatting
  cfgov/unprocessed/root/financial-intuition.xml
Due: none

Simplified Akamai cache code to post a request that will invalidate or delete purge
  cfgov/v1/models/caching.py
Due: backend

Fix XML errors
  cfgov/unprocessed/root/financial-intuition.xml
Due: none

Deployed 6ea926e with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

updates to partially fix linting for now compiled files
  .eslintrc
  cfgov/templates/wagtailadmin/js/table-block.js
  cfgov/unprocessed/js/admin/ask_cfpb_tips.js
  cfgov/unprocessed/js/admin/html_editor.js
  cfgov/unprocessed/js/admin/table-block.js
Due: frontend

fix trade block linting errors
  cfgov/templates/wagtailadmin/js/table-block.js
  cfgov/unprocessed/js/admin/table-block.js
Due: frontend

Deployed 867e079 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

moved setHideFixItStrategy flag to edit save button
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/strategies.less
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/form.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/strategies/fix-it/index.js
Due: frontend

Update podcsat feed
  cfgov/unprocessed/root/financial-intuition.xml
Due: none

Update post url and post_all in caching.py
  cfgov/v1/models/caching.py
Due: backend

Support the option to perform a delete purge of Akamai cache (#5969)
  cfgov/v1/management/commands/delete_all_pages_cache.py
  cfgov/v1/management/commands/delete_page_cache.py
  cfgov/v1/management/commands/invalidate_all_pages_cache.py
  cfgov/v1/management/commands/invalidate_page_cache.py
  cfgov/v1/models/caching.py
  cfgov/v1/tests/management/commands/test_delete_all_pages.py
Due: backend

Deployed d1e471b with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 52cd308 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

fix linting errors, remove unused files
  cfgov/templates/wagtailadmin/js/ask_cfpb_tips.js
  cfgov/templates/wagtailadmin/js/html_editor.js
  cfgov/templates/wagtailadmin/js/table-block.js
  cfgov/unprocessed/js/admin/ask_cfpb_tips.js
  cfgov/unprocessed/js/admin/html_editor.js
  cfgov/unprocessed/js/admin/table-block.js
Due: frontend

ie11 bump for ccdb-ui
  requirements/libraries.txt
Due: none

ie11 bump for ccdb-ui (#5977)
  requirements/libraries.txt
Due: none

Deployed 4b8aab2 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Install wagtail-autocomplete from fork
  requirements/libraries.txt
Due: none

Add commented requirement
  requirements/libraries.txt
Due: none

Install wagtail-autocomplete from fork (#5976)
  requirements/libraries.txt
Due: none

Deployed 40d8cf7 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

work for new table
  cfgov/templates/wagtailadmin/js/table-block.js
  cfgov/unprocessed/js/admin/table-block.js
Due: frontend

revised calendar formatting
  cfgov/unprocessed/apps/mmt-my-money-calendar/css/components/calendar.less
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/strategies-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/calendar/add/form.js
Due: frontend

Update Django to 2.2.16
  requirements/django.txt
Due: none

updating table-block input to have a label for screen reading
  cfgov/templates/wagtailadmin/css/table-block.css
  cfgov/templates/wagtailadmin/js/table-block.js
  cfgov/unprocessed/js/admin/table-block.js
Due: frontend

add immutable
  npm-packages-offline-cache/immutable-3.8.2.tgz
  package.json
  yarn.lock
Due: none

bug fix, edit multiple empty cells in new table
  cfgov/templates/wagtailadmin/js/table-block.js
  cfgov/unprocessed/js/admin/table-block.js
Due: frontend

lint
  cfgov/unprocessed/js/admin/table-block.js
Due: frontend

Podcast feed (#5975)
  cfgov/unprocessed/root/financial-intuition.xml
Due: none

Deployed 300d4a5 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Use wheel for fork deployent
  requirements/libraries.txt
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
