Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

disable:
  - search

Refactor Python 2 vs. 3 workarounds
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/views.py
  cfgov/core/tests/test_views.py
  cfgov/deployable_zipfile/tests/test_create.py
  cfgov/deployable_zipfile/tests/test_extract.py
  cfgov/housing_counselor/geocoder.py
  cfgov/housing_counselor/tests/management/test_generator.py
  cfgov/paying_for_college/disclosures/scripts/load_programs.py
  cfgov/prepaid_agreements/jinja2tags.py
  cfgov/prepaid_agreements/tests/test_jinja2tags.py
  cfgov/prepaid_agreements/views.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/management/commands/_utils.py
  cfgov/v1/views/documents.py
Due: backend

Add missing import io
  cfgov/agreements/tests/test_management.py
Due: backend

Resolve sys imported but unused
  cfgov/cfgov/tests/test_test.py
Due: backend

Resolve redirect_stdout imported but unused
  cfgov/cfgov/tests/test_test.py
Due: backend

Resolve csv.DictReader as cdr imported but unused
  cfgov/paying_for_college/models/disclosures.py
Due: backend

Fix undefined name dictionary
  cfgov/paying_for_college/disclosures/scripts/load_programs.py
Due: backend

Resolve sys imported but unused
  cfgov/regulations3k/tests/test_models.py
Due: backend

Fix ModuleNotFoundError: No module named range
  cfgov/housing_counselor/geocoder.py
Due: backend

Fix ImportError: cannot import name cdr
  cfgov/paying_for_college/models/disclosures.py
Due: backend

Add aria-hidden to pull quotes
  cfgov/jinja2/v1/_includes/molecules/quote.html
Due: none

Fix HUD HTML generation in Python 3
  cfgov/housing_counselor/generator.py
Due: backend

Removed python_2_unicode_compatible import
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/models/snippets.py
  cfgov/jobmanager/models/django.py
  cfgov/jobmanager/models/panels.py
  cfgov/paying_for_college/models/disclosures.py
  cfgov/regulations3k/models/django.py
  cfgov/v1/models/menu_item.py
  cfgov/v1/models/portal_topics.py
  cfgov/v1/models/resources.py
  cfgov/v1/models/snippets.py
Due: backend

Treat `filter()` object as iterable
  cfgov/ask_cfpb/scripts/export_ask_data.py
Due: backend

updating ccdb5-ui release version
  requirements/libraries.txt
Due: none

Fix Imports are incorrectly sorted issue
  cfgov/paying_for_college/data_sources/bls_processing.py
  cfgov/paying_for_college/disclosures/scripts/load_programs.py
  cfgov/paying_for_college/disclosures/scripts/update_ipeds.py
  cfgov/paying_for_college/models/__init__.py
  cfgov/paying_for_college/models/disclosures.py
  cfgov/paying_for_college/tests/test_commands.py
  cfgov/paying_for_college/tests/test_load_programs.py
  cfgov/paying_for_college/tests/test_models.py
  cfgov/paying_for_college/tests/test_scripts.py
  cfgov/regulations3k/models/pages.py
  cfgov/scripts/export_enforcement_actions.py
  cfgov/v1/management/commands/_utils.py
  cfgov/v1/tests/util/test_ref.py
Due: backend

Update nav-link.less
  cfgov/unprocessed/css/molecules/nav-link.less
Due: none

whitespace correction
  cfgov/legacy/views/complaint.py
Due: backend

Move focus to header on return to top button
  cfgov/unprocessed/js/modules/footer-button.js
Due: frontend

Add missing HTML snippet from test
  test/unit_tests/js/modules/footer-button-spec.js
Due: none

Update to use documentElement
  cfgov/unprocessed/js/modules/footer-button.js
Due: frontend

Remove Python 2 code from six import
  cfgov/cfgov/test.py
  cfgov/data_research/mortgage_utilities/s3_utils.py
  cfgov/data_research/scripts/export_public_csvs.py
  cfgov/data_research/tests/management/commands/test_conference_delete.py
  cfgov/data_research/tests/management/commands/test_conference_notify.py
  cfgov/data_research/tests/test_s3_utils.py
  cfgov/data_research/tests/test_scripts.py
  cfgov/jobmanager/tests/models/test_pages.py
  cfgov/v1/admin_forms.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/models/home_page.py
  cfgov/v1/tests/management/commands/test_export_feedback.py
  cfgov/v1/util/datetimes.py
Due: backend

Remove Python 2 library six from requirements
  requirements/docs.txt
  requirements/libraries.txt
Due: none

Remove from django.utils.six
  cfgov/prepaid_agreements/jinja2tags.py
  cfgov/prepaid_agreements/views.py
  cfgov/v1/models/images.py
Due: backend

Change iteritems to dict.items
  cfgov/prepaid_agreements/jinja2tags.py
  cfgov/prepaid_agreements/views.py
Due: backend

loop through list of keys in query
  cfgov/prepaid_agreements/jinja2tags.py
Due: backend

Add gulp task specifically for compiling My Money Calendar app locally for quicker dev turnaround
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/counter.js
  gulp/tasks/scripts.js
Due: frontend

Bump versions of all satellite apps
  requirements/libraries.txt
Due: none

Shorten beta banner text
  cfgov/jinja2/v1/_includes/organisms/header.html
Due: none

Bump versions of all satellite apps (#5453)
  requirements/libraries.txt
Due: none

Add hardcoded external link icon
  cfgov/jinja2/v1/_includes/organisms/mega-menu-var-1.html
Due: none

Change prepaid_agreements to use request.GET.lists instead of request.GET.copy
  cfgov/prepaid_agreements/jinja2tags.py
  cfgov/prepaid_agreements/views.py
Due: backend

Remove Python 2 code from six import (#5452)
  cfgov/cfgov/test.py
  cfgov/data_research/mortgage_utilities/s3_utils.py
  cfgov/data_research/scripts/export_public_csvs.py
  cfgov/data_research/tests/management/commands/test_conference_delete.py
  cfgov/data_research/tests/management/commands/test_conference_notify.py
  cfgov/data_research/tests/test_s3_utils.py
  cfgov/data_research/tests/test_scripts.py
  cfgov/jobmanager/tests/models/test_pages.py
  cfgov/prepaid_agreements/jinja2tags.py
  cfgov/prepaid_agreements/views.py
  cfgov/v1/admin_forms.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/models/home_page.py
  cfgov/v1/models/images.py
  cfgov/v1/tests/management/commands/test_export_feedback.py
  cfgov/v1/util/datetimes.py
  requirements/docs.txt
  requirements/libraries.txt
Due: backend

Docs: Fix heading hierarchy of "Running in Docker" page (#5444)
  docs/running-docker.md
Due: none

Polish menu
  cfgov/jinja2/v1/_includes/organisms/mega-menu-var-1.html
  cfgov/unprocessed/css/organisms/mega-menu-var-1.less
  cfgov/unprocessed/css/organisms/mega-menu-var-2.less
Due: none

Fix top margin above menu groups that don't have an overview link
  cfgov/unprocessed/css/organisms/mega-menu-var-1.less
  cfgov/unprocessed/css/organisms/mega-menu-var-2.less
Due: none

Remove npm offline cache files
  npm-packages-offline-cache/7319a881e222d9f3588f6d5d8a3d9848bc38c859
Due: none

Add MobX React dependencies plus Babel plugins necessary for supporting JS decorators
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/webpack-config.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: frontend

Add skeletal structure of mobx root store and store provider component, add client side logger module
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/logger.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/root-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/jsconfig.json
Due: frontend

Add cash flow event store and UI store stubs, plus model to represent calendar events
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/cash-flow-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/root-store.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/ui-store.js
Due: frontend
