Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

More results content based on design
  cfgov/teachers_digital_platform/assessment-data/results-content.csv
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/results-9-12.html
Due: none

Wagtail: Add additional filter checks and add help text to Wagtail UI (#6508)
  cfgov/jinja2/v1/_includes/organisms/filterable-list-controls.html
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0264_add_filters_help_text.py
Due: backend

Deployed 7540b05 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Update migration
  cfgov/v1/migrations/0264_add_language_filter.py
  cfgov/v1/migrations/0265_add_language_filter.py
Due: backend

Dedicated shared view summary and URL hack
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/results-9-12.html
  cfgov/teachers_digital_platform/views.py
Due: backend

Filters: Swap authors filter with a languages filter (#6506)
  cfgov/jinja2/v1/_includes/organisms/filterable-list-controls.html
  cfgov/jinja2/v1/_includes/organisms/filterable-list.html
  cfgov/jinja2/v1/_includes/organisms/item-introduction.html
  cfgov/jinja2/v1/_includes/organisms/post-preview.html
  cfgov/unprocessed/css/print.less
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/documents.py
  cfgov/v1/forms.py
  cfgov/v1/migrations/0265_add_language_filter.py
  cfgov/v1/models/filterable_list_mixins.py
  cfgov/v1/tests/test_documents.py
  cfgov/v1/tests/test_filterable_list_form.py
  cfgov/v1/tests/test_forms.py
Due: backend

Deployed b02713f with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Fix problematic closure
  cfgov/teachers_digital_platform/urls.py
  cfgov/teachers_digital_platform/views.py
Due: backend

Assemble all 3 surveys with templates and temp scoring data
  cfgov/teachers_digital_platform/assessment-data/3-5-meta.json
  cfgov/teachers_digital_platform/assessment-data/3-5.csv
  cfgov/teachers_digital_platform/assessment-data/6-8-meta.json
  cfgov/teachers_digital_platform/assessment-data/6-8.csv
  cfgov/teachers_digital_platform/assessment-data/answer-types.csv
  cfgov/teachers_digital_platform/assessments.py
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/grade-level-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/grade-level-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/intro.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/results-6-8.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/3-5/q1.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/3-5/q16.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/3-5/q18.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/3-5/q9.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/6-8/q1.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/6-8/q15.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/6-8/q7.html
Due: backend

URLs like /surveys/3-5/p1/
  cfgov/teachers_digital_platform/assessments.py
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/grade-level-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/grade-level-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/grade-level-9-12.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/intro.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/results-9-12.html
  cfgov/teachers_digital_platform/urls.py
  cfgov/teachers_digital_platform/views.py
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-assessments.js
Due: backend, frontend

Adjust scoring for 6 car positions
  cfgov/teachers_digital_platform/assessment-data/results-content.csv
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/assess/results-9-12.html
  cfgov/teachers_digital_platform/resultsContent.py
Due: backend

assessment -> survey internal changes
  cfgov/teachers_digital_platform/forms.py
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-9-12.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/intro.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
  cfgov/teachers_digital_platform/resultsContent.py
  cfgov/teachers_digital_platform/survey-data/3-5-meta.json
  cfgov/teachers_digital_platform/survey-data/3-5.csv
  cfgov/teachers_digital_platform/survey-data/6-8-meta.json
  cfgov/teachers_digital_platform/survey-data/6-8.csv
  cfgov/teachers_digital_platform/survey-data/9-12-meta.json
  cfgov/teachers_digital_platform/survey-data/9-12.csv
  cfgov/teachers_digital_platform/survey-data/answer-types.csv
  cfgov/teachers_digital_platform/survey-data/results-content.csv
  cfgov/teachers_digital_platform/surveys.py
  cfgov/teachers_digital_platform/urlEncode.py
  cfgov/teachers_digital_platform/urls.py
  cfgov/teachers_digital_platform/views.py
  cfgov/unprocessed/apps/teachers-digital-platform/css/main.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey-page.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey-results.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/index.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/ChoiceField.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-surveys.js
Due: backend, frontend

Remove static choice_lists state
  cfgov/teachers_digital_platform/resultsContent.py
  cfgov/teachers_digital_platform/surveys.py
  cfgov/teachers_digital_platform/views.py
Due: backend

Linting
  cfgov/teachers_digital_platform/TemplateField.py
  cfgov/teachers_digital_platform/resultsContent.py
  cfgov/teachers_digital_platform/urlEncode.py
Due: backend

Fix Cypress filter tests
  test/cypress/components/filter.js
  test/cypress/components/filterable-list-control.js
  test/cypress/integration/components/filter-blog-posts.js
Due: none

Support questions with subsets of answers
  cfgov/teachers_digital_platform/ChoiceWidget.py
  cfgov/teachers_digital_platform/TemplateField.py
  cfgov/teachers_digital_platform/TemplateWidget.py
  cfgov/teachers_digital_platform/survey-data/answer-types.csv
  cfgov/teachers_digital_platform/surveys.py
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/choice.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey-page.less
Due: backend

Fix the closing local section of .env_SAMPLE
  .env_SAMPLE
Due: none

Pin Wagtail to 2.13
  requirements/wagtail.txt
Due: none

Deployed 03ce969 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix ChoiceField ES module
  cfgov/teachers_digital_platform/surveys.py
Due: backend

Expose answer type in UL classes
  cfgov/teachers_digital_platform/surveys.py
Due: backend

Revert "Pin Wagtail to 2.13"
  requirements/wagtail.txt
Due: none

Deployed a10888c with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Fix quotes to satisfy linter
  test/cypress/components/filter.js
Due: none

Fix the closing local section of .env_SAMPLE (#6513)
  .env_SAMPLE
Due: none

Deployed 1655f10 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Run our internal functional test job
  Jenkinsfile
Due: none

Fix functional test URL
  Jenkinsfile
Due: none

Deployed b60d9d9 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Catch an elasticsearch RequestError in autocomplete
  cfgov/ask_cfpb/models/search.py
  cfgov/ask_cfpb/tests/test_search.py
Due: backend

Enable line breaks in table cells
  cfgov/unprocessed/js/admin/table-block.js
Due: frontend

Support Django 3.2
  requirements/libraries.txt
  tox.ini
Due: none

Migrations for Django 3.2
  cfgov/teachers_digital_platform/migrations/0028_prep_for_django_32.py
Due: backend

fix county mortgage test
  cfgov/data_research/tests/test_models.py
Due: backend

Deployed c55c2ad with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 6cf8c16 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Remove heading requirement for InfoUnitGroup
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/tests/atomic_elements/organisms/test_organisms.py
Due: backend

Remove help text that suggestions heading is required
  cfgov/form_explainer/migrations/0006_update_help_text_on_info_unit_group_intro_text.py
  cfgov/paying_for_college/migrations/0021_update_help_text_on_info_unit_group_intro_text.py
  cfgov/regulations3k/migrations/0041_update_help_text_on_info_unit_group_intro_text.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0266_update_help_text_on_info_unit_group_intro_text.py
Due: backend

Deployed 35d7115 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Updates for 6-8,9-12 surveys
  cfgov/teachers_digital_platform/survey-data/6-8.csv
  cfgov/teachers_digital_platform/survey-data/9-12.csv
  cfgov/teachers_digital_platform/survey-data/answer-types.csv
  cfgov/teachers_digital_platform/survey-data/results-content.csv
  cfgov/teachers_digital_platform/surveys.py
Due: backend
