Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Improve Regs3K secondary nav default states
  cfgov/jinja2/v1/_includes/eregs/regulations3k-secondary-navigation.html
  cfgov/jinja2/v1/_includes/organisms/expandable.html
  cfgov/unprocessed/apps/regulations3k/css/reg-navigation.less
  cfgov/unprocessed/apps/regulations3k/js/index.js
Due: frontend

Add required organisms to RegulationPage content field
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
  cfgov/regulations3k/migrations/0012_add_regulation_page_content_organisms.py
  cfgov/regulations3k/models/pages.py
Due: backend

Update project to use expandables from Capital Framework
  cfgov/jinja2/v1/_includes/organisms/bureau-structure.html
  cfgov/jinja2/v1/_includes/organisms/expandable-group.html
  cfgov/jinja2/v1/_includes/organisms/expandable.html
  cfgov/jinja2/v1/_includes/organisms/secondary-navigation.html
  cfgov/jinja2/v1/adult-financial-education/privacy-act-statement/index.html
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
  cfgov/jinja2/v1/job-description-page/index.html
  cfgov/jinja2/v1/owning-a-home/_templates/form-explainer.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
  cfgov/unprocessed/apps/financial-well-being/js/fwb-results.js
  cfgov/unprocessed/apps/owning-a-home/css/form-explainer.less
  cfgov/unprocessed/apps/owning-a-home/js/Expandable.js
  cfgov/unprocessed/apps/owning-a-home/js/ExpandableGroup.js
  cfgov/unprocessed/apps/owning-a-home/js/form-explainer.js
  cfgov/unprocessed/apps/regulations3k/css/reg-navigation.less
  cfgov/unprocessed/apps/regulations3k/css/reg-search.less
  cfgov/unprocessed/apps/regulations3k/js/index.js
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/organisms/bureau-structure.less
  cfgov/unprocessed/css/organisms/read-more.less
  cfgov/unprocessed/css/organisms/secondary-navigation.less
  cfgov/unprocessed/css/pages/careers.less
  cfgov/unprocessed/js/organisms/BureauStructure.js
  cfgov/unprocessed/js/organisms/Expandable.js
  cfgov/unprocessed/js/organisms/ExpandableGroup.js
  cfgov/unprocessed/js/organisms/FilterableListControls.js
  cfgov/unprocessed/js/organisms/SecondaryNavigation.js
  cfgov/unprocessed/js/routes/fin-ed/privacy-act-statement/index.js
  cfgov/unprocessed/js/routes/on-demand/expandable-group.js
  cfgov/unprocessed/js/routes/on-demand/expandable.js
  cfgov/unprocessed/js/routes/on-demand/read-more.js
  cfgov/unprocessed/js/routes/on-demand/secondary-navigation.js
  cfgov/unprocessed/js/routes/on-demand/table.js
  cfgov/wellbeing/jinja2/wellbeing/results.html
  package-lock.json
  package.json
  test/unit_tests/apps/financial-well-being/js/fwb-results-spec.js
Due: frontend

Update Regs3K secondary nav expandable
  cfgov/jinja2/v1/_includes/eregs/regulations3k-secondary-navigation.html
  cfgov/jinja2/v1/_includes/eregs/regulations3k-side-nav.html
  cfgov/jinja2/v1/_includes/organisms/bureau-structure.html
  cfgov/jinja2/v1/_includes/organisms/expandable.html
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
  cfgov/unprocessed/apps/regulations3k/css/reg-navigation.less
  cfgov/unprocessed/apps/regulations3k/css/reg-search.less
  cfgov/unprocessed/apps/regulations3k/js/index.js
  cfgov/wellbeing/jinja2/wellbeing/results.html
  package-lock.json
  package.json
Due: frontend

Review fixes
  cfgov/jinja2/v1/owning-a-home/_templates/form-explainer.html
  cfgov/unprocessed/apps/owning-a-home/css/form-explainer.less
  cfgov/unprocessed/apps/regulations3k/css/reg-navigation.less
  cfgov/unprocessed/css/organisms/bureau-structure.less
  test/unit_tests/apps/financial-well-being/js/fwb-results-spec.js
Due: none

Remove unused reference
  gulp/tasks/audit.js
Due: none

Ignore `partial` param in pagination links
  cfgov/jinja2/v1/_includes/macros/util/url_parameters.html
Due: none

Support multiple caches for fragment cache extension - Add a new argument, cache_name, that is passed in from the template
  cfgov/jinja2/v1/_includes/organisms/post-preview.html
  cfgov/v1/__init__.py
  cfgov/v1/fragment_cache_extension.py
Due: backend

Remove unneeded method
  cfgov/v1/fragment_cache_extension.py
Due: backend

Fix post preview cache - Move call to cache below category logic - Simplify calls to page URL - Clean up calls to macros for readability
  cfgov/jinja2/v1/_includes/article.html
  cfgov/jinja2/v1/_includes/macros/category-slug.html
  cfgov/jinja2/v1/_includes/organisms/item-introduction.html
  cfgov/jinja2/v1/_includes/organisms/post-preview.html
  cfgov/jinja2/v1/_includes/tags.html
  cfgov/jinja2/v1/activity-log/_activity-list.html
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
  cfgov/jinja2/v1/ask-cfpb/landing-page.html
  cfgov/jinja2/v1/events/_event-detail.html
Due: none

Enforce using the default block renderer in tests
  cfgov/regulations3k/regdown.py
  cfgov/regulations3k/tests/test_regdown.py
  cfgov/regulations3k/tests/test_resolver.py
Due: backend

Fix alignment of multiple choice field labels
  cfgov/templates/wagtailadmin/css/general-enhancements.css
Due: none

Improve documentation of multple choice field styles
  cfgov/templates/wagtailadmin/css/general-enhancements.css
Due: none

Add caching for Wagtail mega menu to improve page load times.
  cfgov/cfgov/settings/local.py
  cfgov/cfgov/settings/production.py
  cfgov/jinja2/v1/_includes/organisms/header.html
  cfgov/v1/tests/test_wagtail_hooks.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Update optional local template cache variable comment.
  cfgov/cfgov/settings/local.py
Due: backend

regs3k: fix reference to more regs link
  cfgov/regulations3k/jinja2/regulations3k/regulations-listing.html
  cfgov/regulations3k/tests/test_blocks.py
Due: backend

Fix expandable cue label
  cfgov/jinja2/v1/_includes/organisms/expandable.html
Due: none

Add migrations to rename FullWidthText's image_inset field to image
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0118_add_image_to_fullwidthtext.py
  cfgov/v1/migrations/0118_rename_image_inset.py
  cfgov/v1/migrations/0119_rename_image_inset_data.py
  cfgov/v1/migrations/0120_rm_imageinset_and_media_from_fullwidthtext.py
Due: backend

Initial (broken) attempt at image_inset-to-image migration
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0118_rename_image_inset.py
  cfgov/v1/migrations/0119_rename_image_inset_data.py
Due: backend

Update migrations
  cfgov/regulations3k/migrations/0013_add_image_to_fullwidthtext.py
  cfgov/regulations3k/migrations/0014_rm_imageinset_and_media_from_fullwidthtext.py
  cfgov/v1/migrations/0119_rename_image_inset_data.py
Due: backend

Create Media to ContentImage data migration
  cfgov/v1/migrations/0117_contentimage_data.py
  cfgov/v1/tests/migrations/test_0117_contentimage_data.py
Due: backend

Remove extra line.
  cfgov/v1/tests/test_wagtail_hooks.py
Due: backend

Add request context processor to Jinja2 engine
  cfgov/cfgov/settings/base.py
Due: backend

Rename fragment cache and remove try/catch block from Menu Item post save hook.
  cfgov/cfgov/settings/local.py
  cfgov/cfgov/settings/production.py
  cfgov/jinja2/v1/_includes/organisms/header.html
  cfgov/v1/tests/test_wagtail_hooks.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Fix broken test.
  cfgov/v1/tests/test_wagtail_hooks.py
Due: backend

WIP
  cfgov/regulations3k/regdown.py
Due: backend

Update Regs3K expandable to match new format
  cfgov/regulations3k/jinja2/regulations3k/inline_interps.html
  cfgov/unprocessed/apps/regulations3k/css/reg-inline-interpretations.less
Due: none

Add richtext filter to table cells, now that we no longer call expand_db_html() on the AtomicTableBlock in parse_links()
  cfgov/jinja2/v1/_includes/organisms/table.html
Due: none

Update parse links tests
  cfgov/v1/tests/test_links.py
Due: backend

Clean up variable definitions for link classes, @scotchester says they are not environment-dependent
  cfgov/core/utils.py
Due: backend

Do not call parse_links if content type is not html, and move logic for whether parse_links should get called into a function in core/utils.
  cfgov/core/middleware.py
  cfgov/core/utils.py
Due: backend

Update jobmanager tests due to parse links changes: - Remove empty class attribute - Empty grade needs a space (&nbsp;)
  cfgov/jobmanager/tests/models/test_blocks.py
Due: backend

Remove parse_links from v1/__init__ and any calls from templates
  cfgov/jinja2/v1/_includes/article.html
  cfgov/jinja2/v1/_includes/molecules/call-to-action.html
  cfgov/jinja2/v1/_includes/molecules/content-image.html
  cfgov/jinja2/v1/_includes/molecules/form-field-with-button.html
  cfgov/jinja2/v1/_includes/molecules/hero.html
  cfgov/jinja2/v1/_includes/molecules/image-text-25-75.html
  cfgov/jinja2/v1/_includes/molecules/image-text-50-50.html
  cfgov/jinja2/v1/_includes/molecules/info-unit-2.html
  cfgov/jinja2/v1/_includes/molecules/info-unit.html
  cfgov/jinja2/v1/_includes/molecules/link-blob.html
  cfgov/jinja2/v1/_includes/molecules/related-content.html
  cfgov/jinja2/v1/_includes/molecules/related-metadata.html
  cfgov/jinja2/v1/_includes/molecules/text-introduction.html
  cfgov/jinja2/v1/_includes/organisms/expandable-group.html
  cfgov/jinja2/v1/_includes/organisms/expandable.html
  cfgov/jinja2/v1/_includes/organisms/featured-content.html
  cfgov/jinja2/v1/_includes/organisms/filterable-list-controls.html
  cfgov/jinja2/v1/_includes/organisms/full-width-text.html
  cfgov/jinja2/v1/_includes/organisms/item-introduction.html
  cfgov/jinja2/v1/_includes/organisms/main-contact-info.html
  cfgov/jinja2/v1/_includes/organisms/post-preview.html
  cfgov/jinja2/v1/_includes/organisms/sidebar-breakout.html
  cfgov/jinja2/v1/_includes/organisms/sidebar-contact-info.html
  cfgov/jinja2/v1/_includes/organisms/snippet-list.html
  cfgov/jinja2/v1/_includes/organisms/table.html
  cfgov/jinja2/v1/_includes/organisms/well.html
  cfgov/jinja2/v1/_includes/templates/content-banner.html
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
  cfgov/jinja2/v1/ask-cfpb/landing-page.html
  cfgov/jinja2/v1/events/_event-detail.html
  cfgov/jinja2/v1/job-description-page/index.html
  cfgov/v1/__init__.py
Due: backend

Call parse_links from django middleware instead of from templates
  cfgov/cfgov/settings/base.py
  cfgov/core/middleware.py
  cfgov/core/utils.py
  cfgov/v1/__init__.py
Due: backend

Add a blacklist so we don't run parse_links() on admin sites, and rename middleware class to be more accurate
  cfgov/cfgov/settings/base.py
  cfgov/core/middleware.py
Due: backend

Update docstrings
  cfgov/core/utils.py
Due: backend

Update jobmanager tests to rely less on particular html syntax
  cfgov/jobmanager/tests/models/test_blocks.py
Due: backend

Update tests now that these fields get wrapped with a rich-text div
  cfgov/v1/tests/atomic_elements/organisms/test_model_blocks.py
Due: backend

Apply icon settings to all external link conditionals
  cfgov/core/utils.py
Due: backend

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
