Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

disable:
  - search

Fix several linter error/warnings
  cfgov/unprocessed/apps/analytics-gtm/js/pfc-comparison-tool-listeners.js
  cfgov/unprocessed/apps/analytics-gtm/js/retirement-before-you-claim-listeners.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
Due: frontend

address PR feedback
  Dockerfile
Due: none

add entrypoint, and use consistent curl flags
  Dockerfile
Due: none

Restore org chart download (#5178)
  cfgov/jinja2/v1/_includes/organisms/bureau-structure.html
Due: none

Add fourth note to Bureau Structure chart legend
  cfgov/jinja2/v1/_includes/organisms/bureau-structure.html
Due: none

Improve Bureau Structure legend styling
  cfgov/unprocessed/css/organisms/bureau-structure.less
Due: none

Add fourth note to Bureau Structure chart legend (#5180)
  cfgov/jinja2/v1/_includes/organisms/bureau-structure.html
  cfgov/unprocessed/css/organisms/bureau-structure.less
Due: none

WIP
  Dockerfile
  docker-entrypoint.sh
Due: none

add a missing *
  Dockerfile
Due: none

Adds setup files for transportation tool
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/unprocessed/apps/youth-employment-success/css/main.less
  cfgov/unprocessed/apps/youth-employment-success/js/budget-form-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/input-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/money.js
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/budget-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/route-option-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/util.js
  cfgov/unprocessed/apps/youth-employment-success/js/yes-store.js
  cfgov/unprocessed/apps/youth-employment-success/package.json
  cfgov/unprocessed/apps/youth-employment-success/webpack.config.js
  cfgov/youth_employment_success/__init__.py
  cfgov/youth_employment_success/jinja2/youth_employment_success/budget-form.html
  cfgov/youth_employment_success/jinja2/youth_employment_success/index.html
  cfgov/youth_employment_success/jinja2/youth_employment_success/route-option-form.html
  cfgov/youth_employment_success/jinja2/youth_employment_success/route-option.html
  cfgov/youth_employment_success/jinja2/youth_employment_success/route-questions/average-daily-cost.html
  cfgov/youth_employment_success/jinja2/youth_employment_success/route-questions/days-per-week.html
  cfgov/youth_employment_success/jinja2/youth_employment_success/route-questions/input.html
  cfgov/youth_employment_success/jinja2/youth_employment_success/route-questions/miles.html
  npm-packages-offline-cache/keymirror-0.1.1.tgz
  test/unit_tests/apps/youth-employment-success/js/budget-form-view-spec.js
  test/unit_tests/apps/youth-employment-success/js/input-view-spec.js
  test/unit_tests/apps/youth-employment-success/js/money-spec.js
  test/unit_tests/apps/youth-employment-success/js/reducers/budget-reducer-spec.js
  test/unit_tests/apps/youth-employment-success/js/util-spec.js
  test/unit_tests/apps/youth-employment-success/js/yes-store-spec.js
  test/util/simulate-event.js
Due: backend, frontend

Add ability to create deployable zipfiles
  cfgov/deployable_zipfile/__init__.py
  cfgov/deployable_zipfile/create.py
  cfgov/deployable_zipfile/extract.py
  cfgov/deployable_zipfile/loadenv-init.pth
  cfgov/deployable_zipfile/loadenv.py
  cfgov/deployable_zipfile/project-name.pth.tmpl
  cfgov/deployable_zipfile/setup.py
  cfgov/deployable_zipfile/tests/__init__.py
  cfgov/deployable_zipfile/tests/data/deployable_with_wheels.zip
  cfgov/deployable_zipfile/tests/data/deployable_zip/foo.txt
  cfgov/deployable_zipfile/tests/data/deployable_zip/subdir/bar.txt
  cfgov/deployable_zipfile/tests/test_create.py
  cfgov/deployable_zipfile/tests/test_extract.py
  docker/deployable-zipfile/Dockerfile
  docker/deployable-zipfile/_build.sh
  docker/deployable-zipfile/build.sh
  docker/deployable-zipfile/docker-entrypoint.sh
Due: backend

Increase test coverage to 100%
  cfgov/deployable_zipfile/tests/data/extra_static/extra.css
  cfgov/deployable_zipfile/tests/test_create.py
  cfgov/deployable_zipfile/tests/test_loadenv.py
Due: backend

Add root symlink to wsgi.py, for legacy support
  cfgov/deployable_zipfile/setup.py
Due: backend

Test fixes
  cfgov/deployable_zipfile/tests/test_create.py
  cfgov/deployable_zipfile/tests/test_extract.py
Due: backend

Test fixes
  cfgov/deployable_zipfile/create.py
  cfgov/deployable_zipfile/tests/test_create.py
  cfgov/deployable_zipfile/tests/test_extract.py
Due: backend

Fix zip permissions and expand comment
  cfgov/deployable_zipfile/create.py
Due: backend

Remove all django subapp files
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/jinja2/v1/youth_employment_success/budget-form.html
  cfgov/jinja2/v1/youth_employment_success/index.html
  cfgov/jinja2/v1/youth_employment_success/route-option-form.html
  cfgov/jinja2/v1/youth_employment_success/route-option.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/average-daily-cost.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/days-per-week.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/input.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/miles.html
  cfgov/youth_employment_success/__init__.py
Due: backend

smarter copying of python libs
  Dockerfile
Due: none

Remove leading slash from YES URL
  cfgov/cfgov/urls.py
Due: backend

Put Youth Employment Success page behind flag
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
Due: backend

Add reducer and specs for route options
  cfgov/cfgov/urls.py
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/budget-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/route-option-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/util.js
  test/unit_tests/apps/youth-employment-success/js/reducers/route-option-reducer-spec.js
  test/unit_tests/apps/youth-employment-success/js/util-spec.js
Due: backend, frontend

Help symlinked wsgi.py find New Relic config file
  cfgov/cfgov/wsgi.py
Due: backend

Make Bureau Structure download field optional
  cfgov/jinja2/v1/_includes/organisms/bureau-structure.html
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0171_make_bureau_structure_download_optional.py
Due: backend

Add support for running Apache with Python 3.6
  cfgov/apache/conf.d/wsgi.conf
  cfgov/apache/conf.modules.d/00-base.conf
Due: none

Make Bureau Structure download field optional (#5186)
  cfgov/jinja2/v1/_includes/organisms/bureau-structure.html
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0171_make_bureau_structure_download_optional.py
Due: backend

Fix Python 3-incompatible code in Related Posts
  cfgov/jinja2/v1/_includes/molecules/related-posts.html
  cfgov/v1/tests/atomic_elements/organisms/test_related_posts.py
Due: backend

Update app assets dependency note
  gulp/tasks/scripts.js
Due: none

Yarn only needs the cwd set
  gulp/tasks/scripts.js
Due: none

Hooks up state management to the budget view
  cfgov/unprocessed/apps/youth-employment-success/js/budget-form-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/input-view.js
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/budget-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/store.js
  test/unit_tests/apps/youth-employment-success/js/budget-form-view-spec.js
Due: frontend

Optimize Dockerfile; Get httpd working
  .dockerignore
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
Due: none

Add prod build stage and port to compose
  docker-compose.yml
Due: none

Simplify build stage names
  Dockerfile
  docker-compose.yml
Due: none

Fix background color and positioning of video play button
  cfgov/unprocessed/css/organisms/video-player.less
Due: none

Stop using symlinked wsgi.py in deployable zips
  cfgov/apache/conf.d/wsgi.conf
  cfgov/deployable_zipfile/setup.py
Due: backend

Point CFGOV_CURRENT at the right dir.
  Dockerfile
Due: none

Update RouteOptionForm to use YesStore
  cfgov/jinja2/v1/youth_employment_success/route-option-form.html
  cfgov/unprocessed/apps/youth-employment-success/js/index.js
  cfgov/unprocessed/apps/youth-employment-success/js/reducers/route-option-reducer.js
  cfgov/unprocessed/apps/youth-employment-success/js/route-option-view.js
  test/unit_tests/apps/youth-employment-success/js/reducers/route-option-reducer-spec.js
  test/unit_tests/apps/youth-employment-success/js/route-option-view-spec.js
Due: frontend

Resize on expandable expand/collapse. Set margin nesting.
  cfgov/unprocessed/css/organisms/bureau-structure.less
  cfgov/unprocessed/js/organisms/BureauStructure.js
Due: frontend

Remove drama-free-django-based Docker build
  docker/drama-free-django/Dockerfile
  docker/drama-free-django/README.md
  docker/drama-free-django/_build.sh
  docker/drama-free-django/_test.sh
  docker/drama-free-django/build.sh
  docker/drama-free-django/docker-entrypoint.sh
  docker/drama-free-django/test.sh
Due: none

Adds all input controls to route option form
  cfgov/jinja2/v1/youth_employment_success/route-option-form.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/average-total-cost.html
  cfgov/jinja2/v1/youth_employment_success/route-questions/transit-time.html
Due: none
