Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

URLs fix
  cfgov/teachers_digital_platform/urls.py
Due: backend

Fix 9-12 survey, and score adjustment
  cfgov/teachers_digital_platform/survey-data/3-5-meta.json
  cfgov/teachers_digital_platform/survey-data/6-8-meta.json
  cfgov/teachers_digital_platform/survey-data/9-12-meta.json
  cfgov/teachers_digital_platform/surveys.py
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/9-12/q11.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/9-12/q21.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/9-12/q30.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/9-12/q31.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/9-12/q9.html
  cfgov/teachers_digital_platform/views.py
Due: backend

Re-align content with designs
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/grade-level-9-12.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-rollup.html
  cfgov/teachers_digital_platform/resultsContent.py
  cfgov/teachers_digital_platform/survey-data/results-content.csv
Due: backend

Fix Ask CFPB table block rendering
  cfgov/jinja2/v1/_includes/ask/content-block.html
Due: none

Add modals
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/modals/print.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/modals/share-url.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-9-12.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/main.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/organisms/modals.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/modals.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/initials.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-surveys.js
Due: frontend

Allow gulp watch to rebuild JS/CSS in apps
  docs/development-tips.md
  gulp/config.js
  gulp/tasks/scripts.js
  gulp/tasks/styles.js
Due: none

Add working modals, clipboard copy, and JS cleanup
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/modals/print.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/modals/share-url.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-3-5.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/results-6-8.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey-results.less
  cfgov/unprocessed/apps/teachers-digital-platform/js/CustomEvent-polyfill.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/clipboardCopy.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/modals.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/result-page.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/survey/survey-page.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-surveys.js
Due: frontend

Flake8 fix
  cfgov/teachers_digital_platform/surveys.py
Due: backend

Fix code style issues
  gulp/tasks/scripts.js
Due: none

Capture TODO in comment
  gulp/tasks/scripts.js
Due: none

Add AskContent table rendering regression test
  cfgov/ask_cfpb/tests/test_blocks.py
Due: backend

Deployed 985b7bc with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Use classmethods
  cfgov/teachers_digital_platform/resultsContent.py
  cfgov/teachers_digital_platform/surveys.py
  cfgov/teachers_digital_platform/views.py
Due: backend

Use tested library base36
  cfgov/teachers_digital_platform/base36.py
  cfgov/teachers_digital_platform/urlEncode.py
  requirements/libraries.txt
Due: backend

Use the official Elasticsearch and Kibana images
  docker-compose.yml
  docker/elasticsearch/7/Dockerfile
Due: none

Deployed 7a8c3f0 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Clean up tests
  docker/cypress/Dockerfile
  npm-packages-offline-cache/@cypress-listr-verbose-renderer-0.4.1.tgz
  npm-packages-offline-cache/cli-cursor-1.0.2.tgz
  npm-packages-offline-cache/cypress-7.5.0.tgz
  npm-packages-offline-cache/cypress-7.7.0.tgz
  npm-packages-offline-cache/date-fns-1.30.1.tgz
  npm-packages-offline-cache/exit-hook-1.1.1.tgz
  npm-packages-offline-cache/figures-1.7.0.tgz
  npm-packages-offline-cache/onetime-1.1.0.tgz
  npm-packages-offline-cache/restore-cursor-1.0.1.tgz
  package.json
  test/cypress/components/filter.js
  test/cypress/components/filterable-list-control.js
  test/cypress/components/filterable-lists.js
  test/cypress/integration/components/filter-blog-posts.js
  test/cypress/integration/components/filterable-lists.js
  yarn.lock
Due: none

Convert urlEncoder to class and add test
  cfgov/teachers_digital_platform/UrlEncoder.py
  cfgov/teachers_digital_platform/tests/test_UrlEncoder.py
  cfgov/teachers_digital_platform/urlEncode.py
  cfgov/teachers_digital_platform/urls.py
  cfgov/teachers_digital_platform/views.py
Due: backend

Deployed ff8bdaf with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Update to Cypress@8.0.0
  docker/cypress/Dockerfile
  npm-packages-offline-cache/cypress-7.7.0.tgz
  npm-packages-offline-cache/cypress-8.0.0.tgz
  package.json
  yarn.lock
Due: none

Fix issue where menu did not show on IE10 and below
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

Updated scoring data
  cfgov/teachers_digital_platform/survey-data/results-content.csv
Due: none

Update to Cypress@8.0.0 (#6524)
  docker/cypress/Dockerfile
  npm-packages-offline-cache/cypress-7.7.0.tgz
  npm-packages-offline-cache/cypress-8.0.0.tgz
  package.json
  yarn.lock
Due: none

Deployed 95b6f08 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

initial FE work
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/choice.html
  cfgov/unprocessed/apps/teachers-digital-platform/css/main.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey-page.less
  cfgov/unprocessed/apps/teachers-digital-platform/css/pages/survey.less
Due: none

Deprecated model swapout
  cfgov/core/apps.py
  cfgov/core/tests/test_utils.py
  cfgov/data_research/migrations/0002_prep_for_deprecated_model_swapout.py
  cfgov/data_research/models.py
  cfgov/housing_counselor/templates/housing_counselor/pdf_selfcontained.html
  cfgov/jobmanager/apps.py
  cfgov/jobmanager/migrations/0022_prep_for_deprecated_model_swapout.py
  cfgov/legacy/templates/front/base_update.html
  cfgov/legacy/templates/front/share_links.html
  cfgov/paying_for_college/migrations/0021_prep_for_deprecated_model_swapout.py
  cfgov/paying_for_college/models/disclosures.py
  cfgov/search/templates/search/external_links.html
  cfgov/teachers_digital_platform/migrations/0029_prep_for_deprecated_model_swapout.py
  cfgov/teachers_digital_platform/models/activity_index_page.py
  cfgov/templates/registration/logged_out.html
  cfgov/templates/wagtailadmin/access_denied.html
  cfgov/templates/wagtailadmin/account/password_reset/confirm.html
  cfgov/v1/__init__.py
  cfgov/v1/apps.py
  cfgov/v1/migrations/0266_prep_for_deprecated_model_swapout.py
  cfgov/v1/models/base.py
  cfgov/v1/models/feedback.py
  cfgov/v1/tests/management/commands/test_makemessages.py
  requirements/libraries.txt
Due: backend

Linting
  cfgov/v1/__init__.py
Due: backend

Fix migration merge conflict
  cfgov/paying_for_college/migrations/0022_prep_for_deprecated_model_swapout.py
  cfgov/v1/migrations/0267_prep_for_deprecated_model_swapout.py
Due: backend

Pinned new Django and Wagtail versions
  requirements/django.txt
  requirements/wagtail.txt
  tox.ini
Due: none

Remove non-responsive header and footer
  cfgov/legacy/templates/front/base_update.html
  cfgov/unprocessed/css/on-demand/footer.less
  cfgov/unprocessed/css/on-demand/header.less
  gulp/tasks/styles.js
Due: none

Fix issue where menu did not show on IE10 and below (#6525)
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

Deployed 61b8d38 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Remove non-responsive header and footer (#6526)
  cfgov/legacy/templates/front/base_update.html
  cfgov/unprocessed/css/on-demand/footer.less
  cfgov/unprocessed/css/on-demand/header.less
  gulp/tasks/styles.js
Due: none

Deployed 207b4be with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

move template logic
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/3-5/before-page-1.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/3-5/before-page-2.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/3-5/before-page-3.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/6-8/before-page-1.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/6-8/before-page-2.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/6-8/before-page-3.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-1.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-2.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/9-12/before-page-3.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/survey/form-page.html
  cfgov/teachers_digital_platform/survey-data/9-12-meta.json
  cfgov/teachers_digital_platform/surveys.py
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/choice.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/3-5/q1.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/3-5/q16.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/3-5/q18.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/3-5/q9.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/6-8/q1.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/6-8/q15.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/6-8/q7.html
  cfgov/teachers_digital_platform/templates/teachers_digital_platform/template-field/questions_wrapper.html
  cfgov/teachers_digital_platform/views.py
Due: backend

Add an ERAP tool static block, include on BrowsePages
  cfgov/jinja2/v1/_includes/blocks/erap_tool.html
  cfgov/v1/blocks.py
  cfgov/v1/migrations/0267_add_erap_tool_to_browse_page.py
  cfgov/v1/models/browse_page.py
  cfgov/v1/tests/test_blocks.py
Due: backend
