Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Wagtail table hax0r (#7519)
  cfgov/unprocessed/apps/admin/js/rich-text-table.js
  cfgov/wagtailadmin_overrides/static/css/table-block.css
  npm-packages-offline-cache/react-16.14.0.tgz
  npm-packages-offline-cache/react-dom-16.14.0.tgz
  npm-packages-offline-cache/scheduler-0.19.1.tgz
  package.json
  yarn.lock
Due: frontend

Update “live” link page status template override
  cfgov/wagtailadmin_overrides/templates/wagtailadmin/shared/page_status_tag.html
Due: none

Update deletion-button-hiding page action template
  cfgov/wagtailadmin_overrides/templates/wagtailadmin/pages/listing/_button_with_dropdown.html
Due: none

Re-run updatemodulepaths for Wagtail 3 upgrade (#7542)
  cfgov/ask_cfpb/migrations/0045_set_max_num_on_notifications.py
  cfgov/v1/management/commands/publish_pages.py
  cfgov/v1/tests/management/commands/test_publish_pages.py
  cfgov/v1/tests/views/test_reports_view.py
Due: backend

Use a unique ID for each rich text table editor
  cfgov/unprocessed/apps/admin/js/rich-text-table.js
Due: frontend

Bump Jinja2 version from 3.0.3 to 3.1.2 (#7472)
  cfgov/core/jinja2tags.py
  cfgov/mega_menu/jinja2tags.py
  cfgov/regulations3k/jinja2tags.py
  cfgov/regulations3k/models/pages.py
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_search_facets_and_results.html
  cfgov/v1/jinja2/v1/template_debug.html
  cfgov/v1/jinja2tags/__init__.py
  cfgov/wellbeing/jinja2/wellbeing/results.html
  requirements/libraries.txt
Due: backend

Define WAGTAILADMIN_BASE_URL setting (#7513)
  cfgov/cfgov/settings/base.py
  cfgov/login/email.py
  cfgov/login/tests/test_email.py
Due: backend

Deprecate backported page description feature (#7477)
  cfgov/cfgov/settings/base.py
  cfgov/wagtailadmin_overrides/middleware.py
  cfgov/wagtailadmin_overrides/templates/wagtailadmin/pages/add_subpage.html
  cfgov/wagtailadmin_overrides/tests/__init__.py
  cfgov/wagtailadmin_overrides/tests/test_middleware.py
  cfgov/wagtailadmin_overrides/tests/test_views.py
  cfgov/wagtailadmin_overrides/views.py
Due: backend

Correct rebase mistake
  cfgov/v1/models/snippets.py
Due: backend

Deployed 96d019e with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Update to design system 0.21.12
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.21.12.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.21.5.tgz
  package.json
  yarn.lock
Due: none

Update to design-system 0.21.12 (#7560)
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.21.12.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.21.5.tgz
  package.json
  yarn.lock
Due: none

Deployed d28b1f9 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Fix fragile table functional test
  test/cypress/integration/admin/admin-helpers.cy.js
  test/cypress/integration/admin/admin.cy.js
Due: none

Restore Wagtail fallback database search
  cfgov/cfgov/settings/base.py
  test/cypress/integration/admin/admin.cy.js
Due: backend

Deployed 88a6449 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Adjust Event styles
  cfgov/unprocessed/css/on-demand/event.less
  cfgov/v1/jinja2/v1/events/_event-detail.html
Due: none

Update to design-system 0.21.13
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.21.11.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.21.13.tgz
  package.json
  yarn.lock
Due: none

Remove indexed page revision and search_pagerevisions
  cfgov/v1/management/commands/search_pagerevisions.py
  cfgov/v1/migrations/0232_remove_indexed_page_revision.py
  cfgov/v1/models/__init__.py
  cfgov/v1/models/indexed_page_revision.py
  cfgov/v1/tests/management/commands/test_search_pagerevisions.py
Due: backend

Temporarily skip Bandit test for `requests.get()`
  pyproject.toml
Due: none

Deployed 99894f6 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed a3f0435 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Deployed 862eec9 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Switch to ruff for linting
  .pre-commit-config.yaml
  docs/installation.md
  docs/python-unit-tests.md
  pyproject.toml
  tox.ini
Due: none

Bump pre-commit version of isort
  .pre-commit-config.yaml
Due: none

Bump pre-commit version of black
  .pre-commit-config.yaml
Due: none

Update Bandit
  .pre-commit-config.yaml
Due: none

Fix linting failure
  cfgov/login/email.py
Due: backend

Update to design-system 0.21.13 (#7564)
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.21.11.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.21.13.tgz
  package.json
  yarn.lock
Due: none

Deployed cc89ec0 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 53afd0b with MkDocs version: 1.3.0
  index.html
  installation/index.html
  python-unit-tests/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Linter fixes | remove unneeded ignore comments
  cfgov/unprocessed/apps/admin/js/global.js
  cfgov/unprocessed/apps/admin/js/rich-text-table.js
  cfgov/unprocessed/apps/analytics-gtm/js/retirement-before-you-claim-listeners.js
  cfgov/unprocessed/apps/analytics-gtm/js/tab-navigation-tracking.js
  cfgov/unprocessed/apps/form-explainer/js/FormExplainer.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/template-loader.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/views/chart-view.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/Analytics.js
  cfgov/unprocessed/apps/paying-for-college/js/disclosures/utils/query-handler.js
  cfgov/unprocessed/apps/regulations3k/js/analytics.js
  cfgov/unprocessed/apps/regulations3k/worker_and_manifest.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/ExpandableFacetTransition.js
  cfgov/unprocessed/apps/teachers-digital-platform/js/tdp-analytics.js
  cfgov/unprocessed/js/modules/util/breakpoint-state.js
  cfgov/unprocessed/js/modules/util/scroll.js
  cfgov/unprocessed/js/modules/youtube-api.js
  cfgov/unprocessed/js/organisms/AudioPlayer.js
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/utils.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/chart-hooks.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/data-filters.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/utils.js
  config/environment.js
  esbuild/build.js
  scripts/preinstall.js
  scripts/yarn/apps-install/index.js
  test/cypress/support/assertions.js
  test/unit_tests/apps/find-a-housing-counselor/js/hud-util-spec.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/template-loader-spec.js
  test/unit_tests/apps/regulations3k/js/analytics-spec.js
  test/unit_tests/apps/regulations3k/js/recent-notices-spec.js
  test/unit_tests/apps/regulations3k/js/search-utils-spec.js
  test/unit_tests/apps/teachers-digital-platform/js/scroll-spec.js
  test/unit_tests/js/modules/util/breakpoint-state-spec.js
  test/unit_tests/mocks/complaints.js
Due: frontend

Remove unneeded js-loader
  cfgov/unprocessed/js/modules/util/js-loader.js
  cfgov/unprocessed/js/modules/youtube-api.js
  cfgov/unprocessed/js/organisms/VideoPlayer.js
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/jinja2/v1/layouts/base.html
  test/unit_tests/js/modules/util/js-loader-spec.js
Due: backend, frontend

Adjust Event styles (#7563)
  cfgov/unprocessed/css/on-demand/event.less
  cfgov/v1/jinja2/v1/events/_event-detail.html
Due: none

Deployed ef14755 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Update eslint, eslint-plugin-jsdoc
  npm-packages-offline-cache/@eslint-community-eslint-utils-4.2.0.tgz
  npm-packages-offline-cache/@eslint-community-regexpp-4.4.0.tgz
  npm-packages-offline-cache/@eslint-eslintrc-2.0.0.tgz
  npm-packages-offline-cache/@eslint-eslintrc-2.0.1.tgz
  npm-packages-offline-cache/@eslint-js-8.35.0.tgz
  npm-packages-offline-cache/@eslint-js-8.36.0.tgz
  npm-packages-offline-cache/eslint-8.35.0.tgz
  npm-packages-offline-cache/eslint-8.36.0.tgz
  npm-packages-offline-cache/eslint-plugin-jsdoc-40.0.1.tgz
  npm-packages-offline-cache/eslint-plugin-jsdoc-40.0.2.tgz
  npm-packages-offline-cache/eslint-utils-3.0.0.tgz
  npm-packages-offline-cache/eslint-visitor-keys-2.1.0.tgz
  npm-packages-offline-cache/espree-9.4.1.tgz
  npm-packages-offline-cache/espree-9.5.0.tgz
  npm-packages-offline-cache/regexpp-3.2.0.tgz
  package.json
  yarn.lock
Due: none

Normalize on canonical icons and same formatting (#7558)
  cfgov/housing_counselor/jinja2/housing_counselor/index.html
  cfgov/mega_menu/jinja2/mega_menu/mega-menu.html
  cfgov/paying_for_college/jinja2/paying-for-college/college-cost-blocks/01-school-search.html
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/index.html
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
  cfgov/retirement_api/jinja2/retirement_api/claiming-es.html
  cfgov/retirement_api/jinja2/retirement_api/claiming.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_index_page.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_search_facets_and_results.html
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_search_result.html
  cfgov/unprocessed/css/molecules/global-search.less
  cfgov/v1/jinja2/v1/includes/atoms/tag.html
  cfgov/v1/jinja2/v1/includes/molecules/contact-hyperlink.html
  cfgov/v1/jinja2/v1/includes/molecules/global-search.html
  cfgov/v1/jinja2/v1/includes/organisms/email-popup/base.html
  cfgov/v1/jinja2/v1/includes/organisms/video-player.html
Due: none

Deployed 866614d with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Replace old Django i18n tags with `translate`/`blocktranslate`
  cfgov/ask_cfpb/templates/admin/export.html
  cfgov/v1/management/commands/makemessages.py
  cfgov/v1/templates/cdnadmin/disabled.html
  cfgov/v1/templates/cdnadmin/index.html
  cfgov/v1/templates/v1/_list_translated_page.html
  cfgov/v1/templates/v1/export_feedback.html
  cfgov/v1/templates/v1/page_metadata_report.html
  cfgov/v1/templates/v1/report_no-xlsx_base.html
  cfgov/v1/templates/v1/translated_pages_report.html
  cfgov/v1/tests/management/commands/test_makemessages_data/templates/test.html
  cfgov/wagtailadmin_overrides/templates/wagtailadmin/login.html
  cfgov/wagtailadmin_overrides/templates/wagtailadmin/shared/page_status_tag.html
  docs/translation.md
Due: backend

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
