Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Delete resource-list.less
  cfgov/unprocessed/css/organisms/resource-list.less
Due: none

TCCP: JSON detail view + nicer enum display
  cfgov/tccp/enums.py
  cfgov/tccp/jinja2/tccp/card.html
  cfgov/tccp/jinja2/tccp/includes/card_list.html
  cfgov/tccp/jinja2/tccp/includes/data_published.html
  cfgov/tccp/migrations/0009_alter_cardsurveydata_rewards.py
  cfgov/tccp/models.py
  cfgov/tccp/serializers.py
  cfgov/tccp/tests/test_models.py
  cfgov/tccp/tests/test_views.py
  cfgov/tccp/urls.py
  cfgov/tccp/views.py
  cfgov/v1/jinja2tags/datetimes.py
  cfgov/v1/tests/jinja2tags/test_datetimes.py
Due: backend

Fix typo
  cfgov/unprocessed/apps/know-before-you-owe/css/main.less
Due: none

Nicer state formatting
  cfgov/tccp/jinja2/tccp/card.html
Due: none

Deployed 244433e with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Remove Wordpress-related redirect from Apache
  cfgov/apache/conf.d/redirects.conf
Due: none

Mark password error message as safe
  cfgov/login/forms.py
Due: backend

Deployed c0642da with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Update baseline configuration
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/production.py
Due: backend

Django 4.2 migrations
  cfgov/v1/migrations/0026_alter_cfgovauthoredpages_tag_and_more.py
Due: backend

Deployed fbb9a9d with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

TCCP: New mobile illustration
  cfgov/tccp/jinja2/tccp/landing_page.html
  cfgov/unprocessed/apps/tccp/img/explore-credit-cards-hero-sm.png
Due: none

Improved and consolidated image Jinja tag logic
  cfgov/cfgov/settings/base.py
  cfgov/tccp/jinja2/tccp/landing_page.html
  cfgov/tccp/views.py
  cfgov/v1/atomic_elements/atoms.py
  cfgov/v1/jinja2/v1/home_page/home_page.html
  cfgov/v1/jinja2/v1/home_page/home_page_legacy.html
  cfgov/v1/jinja2tags/__init__.py
  cfgov/v1/jinja2tags/images.py
  cfgov/v1/models/home_page.py
  cfgov/v1/tests/jinja2tags/test_images.py
  cfgov/v1/tests/jinja2tags/test_jinja2tags.py
Due: backend

Deployed 23d91ef with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Remove `setCTAFlag`
  cfgov/v1/jinja2/v1/includes/article.html
  cfgov/v1/jinja2/v1/includes/organisms/full-width-text.html
Due: none

Update JS / code comment color variable names
  cfgov/unprocessed/apps/form-explainer/css/form-explainer.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/common-styles.js
Due: frontend

TDP: hardcode `TdpSearchHeroImage`
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_index_page.html
  cfgov/teachers_digital_platform/migrations/0004_remove_activityindexpage_header_sidebar.py
  cfgov/teachers_digital_platform/models/activity_index_page.py
  cfgov/teachers_digital_platform/molecules.py
  cfgov/teachers_digital_platform/tests/models/test_activity_index_page.py
Due: backend

Move images to static assets
  cfgov/teachers_digital_platform/jinja2/teachers_digital_platform/activity_index_page.html
Due: none

Deployed aac379c with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 3205e90 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Remove custom email signup CSS
  cfgov/unprocessed/css/molecules/inset.less
  cfgov/v1/jinja2/v1/includes/organisms/full-width-text.html
Due: none

Create `m-full-width-media` modifier and caption element
  cfgov/unprocessed/css/molecules/full-width-media.less
  cfgov/v1/jinja2/v1/includes/molecules/content-image.html
Due: none

Move TCCP card ordering dropdown below filters' expandable
  cfgov/tccp/jinja2/tccp/cards.html
  cfgov/tccp/jinja2/tccp/includes/filter_form.html
  cfgov/tccp/tests/test_widgets.py
  cfgov/tccp/widgets.py
  cfgov/unprocessed/apps/tccp/js/index.js
  test/cypress/integration/consumer-tools/credit-cards/explore-cards.cy.js
Due: backend, frontend

Scope the "form" attribute to only the ordering select widget
  cfgov/tccp/filterset.py
  cfgov/tccp/tests/test_widgets.py
  cfgov/tccp/widgets.py
  cfgov/unprocessed/apps/tccp/js/index.js
Due: backend, frontend

Deployed c636455 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 7fb8703 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed ba90282 with MkDocs version: 1.5.3
  atomic-structure/index.html
  index.html
  javascript-unit-tests/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Only apply flush-top if email signup is first among full-width-text members
  cfgov/v1/jinja2/v1/includes/organisms/full-width-text.html
Due: none

TCCP: Exclude non-targeted cards
  cfgov/tccp/models.py
  cfgov/tccp/tests/test_filters.py
  cfgov/tccp/tests/test_filterset.py
  cfgov/tccp/tests/test_models.py
  cfgov/tccp/tests/test_views.py
Due: backend

Update full-width-text.html
  cfgov/v1/jinja2/v1/includes/organisms/full-width-text.html
Due: none

Deployed 3006e81 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

Deployed 84699c4 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none

TCCP: Display account fee as a number
  cfgov/tccp/fields.py
  cfgov/tccp/jinja2/tccp/includes/card_list.html
  cfgov/tccp/jinja2/tccp/includes/fields.html
  cfgov/tccp/migrations/0010_currencydecimalfield.py
  cfgov/tccp/models.py
  cfgov/tccp/serializers.py
  cfgov/tccp/tests/test_fields.py
  cfgov/tccp/tests/test_models.py
Due: backend

TCCP: Use $0 to indicate no account fee
  cfgov/tccp/jinja2/tccp/includes/card_list.html
Due: none

TCCP: Make account fees whole numbers if possible
  cfgov/tccp/jinja2/tccp/includes/fields.html
Due: none

Deployed b4121bb with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: none
