Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Add regenerator-runtime to tests
  test/unit_tests/apps/ccdb-landing-map/js/Chart-spec.js
  test/unit_tests/apps/ccdb-landing-map/js/TileMap-spec.js
  test/unit_tests/apps/ccdb-landing-map/js/TileMapMouseEvents-spec.js
  test/unit_tests/apps/ccdb-landing-map/js/landing-map-spec.js
Due: none

Linter fix
  config/webpack-config.js
Due: none

Update EFIP notification endpoints for test-runner
  cfgov/paying_for_college/disclosures/scripts/notification_tester.py
Due: backend

fix tests
  cfgov/paying_for_college/fixtures/test_contacts.json
  cfgov/paying_for_college/tests/test_scripts.py
Due: backend

Refresh cache
  cfgov/unprocessed/apps/ccdb-landing-map/npm-packages-offline-cache/@sinonjs-samsam-5.1.0.tgz
  cfgov/unprocessed/apps/ccdb-landing-map/npm-packages-offline-cache/just-extend-4.1.0.tgz
  cfgov/unprocessed/apps/ccdb-landing-map/npm-packages-offline-cache/just-extend-4.1.1.tgz
  cfgov/unprocessed/apps/ccdb-landing-map/npm-packages-offline-cache/supports-color-7.2.0.tgz
  cfgov/unprocessed/apps/ccdb-landing-map/yarn.lock
  npm-packages-offline-cache/supports-color-7.1.0.tgz
Due: none

delete settings.py from regulations3k tests that is not used
  cfgov/regulations3k/tests/settings.py
Due: backend

Change haystack to elasticsearch in regulations3k test_search_indexes.py
  cfgov/regulations3k/tests/test_search_indexes.py
Due: backend

Fix iRegs wayfinder in appendices (#6158)
  cfgov/regulations3k/jinja2/regulations3k/browse-regulation.html
Due: none

Deployed 16e81fc with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add missing should be.visible for answer2 and answer3
  test/cypress/integration/pages/manage-your-college-money.js
Due: none

Update EFIP notification endpoints for test-runner (#6119)
  cfgov/paying_for_college/disclosures/scripts/notification_tester.py
  cfgov/paying_for_college/fixtures/test_contacts.json
  cfgov/paying_for_college/tests/test_scripts.py
Due: backend

Deployed ae48cac with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add missing should be.visible for both answers
  test/cypress/integration/pages/choose-a-student-loan.js
Due: none

Run D3 through babel
  cfgov/unprocessed/apps/ccdb-landing-map/js/index.js
  cfgov/unprocessed/apps/ccdb-landing-map/webpack-config.js
Due: frontend

Move es6-promise to main project package.json
  cfgov/unprocessed/apps/ccdb-landing-map/npm-packages-offline-cache/es6-promise-4.2.8.tgz
  cfgov/unprocessed/apps/ccdb-landing-map/npm-packages-offline-cache/supports-color-7.1.0.tgz
  cfgov/unprocessed/apps/ccdb-landing-map/package.json
  package.json
Due: none

Refresh yarn cache
  cfgov/unprocessed/apps/ccdb-landing-map/yarn.lock
  npm-packages-offline-cache/electron-to-chromium-1.3.622.tgz
  npm-packages-offline-cache/electron-to-chromium-1.3.623.tgz
  npm-packages-offline-cache/ini-1.3.7.tgz
  npm-packages-offline-cache/ini-1.3.8.tgz
  yarn.lock
Due: none

Deployed 45e4d54 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Remove Haystack (and ES2) from regulations3k code (#6157)
  cfgov/cfgov/settings/base.py
  cfgov/regulations3k/management/commands/update_regulation_index.py
  cfgov/regulations3k/models/pages.py
  cfgov/regulations3k/search_indexes.py
  cfgov/regulations3k/tests/settings.py
  cfgov/regulations3k/tests/test_models.py
  cfgov/regulations3k/tests/test_search_indexes.py
Due: backend

Deployed 56760ce with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add o-search-bar
  test/cypress/pages/ask-cfpb/search.js
  test/cypress/pages/obtener-respuestas/buscar.js
Due: none

Add integration tests for Ask CFPB Spanish search functionality (#6152)
  test/cypress/integration/pages/ask-cfpb.js
  test/cypress/integration/pages/obtener-respuestas.js
  test/cypress/pages/obtener-respuestas/buscar.js
Due: none

Deployed 701354b with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Fix linter issues
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/views/app-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/chart-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/expenses-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/navigation-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
Due: frontend

Remove unused methods from PfC
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/dispatchers/update-state.js
  cfgov/unprocessed/apps/paying-for-college/js/models/constants-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/expenses-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/models/state-model.js
  cfgov/unprocessed/apps/paying-for-college/js/util/debt-calculator.js
  cfgov/unprocessed/apps/paying-for-college/js/util/debt-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/util/number-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/util/other-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/util/url-parameter-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/views/app-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/chart-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/expenses-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/navigation-view.js
  cfgov/unprocessed/apps/paying-for-college/js/views/school-view.js
  cfgov/unprocessed/apps/paying-for-college/npm-packages-offline-cache/student-debt-calc-2.6.5.tgz
  cfgov/unprocessed/apps/paying-for-college/package.json
  cfgov/unprocessed/apps/paying-for-college/yarn.lock
  npm-packages-offline-cache/student-debt-calc-2.6.5.tgz
  package.json
  yarn.lock
Due: frontend

Delete unused extend-3.0.2.tgz
  cfgov/unprocessed/apps/paying-for-college/npm-packages-offline-cache/extend-3.0.2.tgz
  cfgov/unprocessed/apps/paying-for-college/npm-packages-offline-cache/format-usd-1.0.1.tgz
  cfgov/unprocessed/apps/paying-for-college/yarn.lock
  yarn.lock
Due: none

Fake secret key for validate migrations
  test/cypress/pages/policy-compliance/regulations-search.js
  tox.ini
Due: none

Create format-usd-1.0.1.tgz
  cfgov/unprocessed/apps/paying-for-college/npm-packages-offline-cache/format-usd-1.0.1.tgz
Due: none

Use Python pathlib instead of third-party Unipath
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/local.py
  cfgov/cfgov/settings/test.py
  cfgov/core/testutils/runners.py
  cfgov/paying_for_college/disclosures/scripts/nat_stats.py
  cfgov/paying_for_college/disclosures/scripts/update_ipeds.py
  requirements/libraries.txt
Due: backend

Deployed 706043b with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Removed checking for text that's hard-coded in a template
  test/cypress/integration/pages/choose-a-student-loan.js
  test/cypress/integration/pages/manage-your-college-money.js
Due: none

Remove tests for API responses
  test/cypress/pages/paying-for-college/your-financial-path-to-graduation.js
Due: none

Refresh the npm cache
  npm-packages-offline-cache/@types-node-14.14.12.tgz
  npm-packages-offline-cache/@types-node-14.14.13.tgz
  npm-packages-offline-cache/browserstack-1.6.0.tgz
  npm-packages-offline-cache/browserstack-1.6.1.tgz
  npm-packages-offline-cache/caniuse-lite-1.0.30001165.tgz
  npm-packages-offline-cache/caniuse-lite-1.0.30001166.tgz
  npm-packages-offline-cache/electron-to-chromium-1.3.623.tgz
  npm-packages-offline-cache/electron-to-chromium-1.3.625.tgz
  npm-packages-offline-cache/global-dirs-2.0.1.tgz
  npm-packages-offline-cache/global-dirs-2.1.0.tgz
  npm-packages-offline-cache/html-entities-1.3.1.tgz
  npm-packages-offline-cache/html-entities-1.3.3.tgz
  npm-packages-offline-cache/ini-1.3.7.tgz
  npm-packages-offline-cache/less-3.12.2.tgz
  npm-packages-offline-cache/vscode-languageserver-types-3.15.1.tgz
  npm-packages-offline-cache/vscode-languageserver-types-3.16.0.tgz
  yarn.lock
Due: none

Deployed f346289 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
