Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

disable:
  - search

Carousel: Fix overdflowing text on no-js view on narrow screens
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

New Homepage: Fix link font weight in carousel and cards
  cfgov/jinja2/v1/_includes/molecules/card.html
  cfgov/jinja2/v1/_includes/organisms/carousel.html
  cfgov/unprocessed/css/molecules/card.less
Due: none

New Homepage: Fix link font weight in carousel and cards (#5409)
  cfgov/jinja2/v1/_includes/molecules/card.html
  cfgov/jinja2/v1/_includes/organisms/carousel.html
  cfgov/unprocessed/css/molecules/card.less
Due: none

Remove old enforcement categories after switching to new ones
  cfgov/v1/migrations/0193_auto_20191209_1559.py
  cfgov/v1/util/ref.py
Due: backend

Add a hidden H1 to home page and translation string.
  cfgov/jinja2/v1/home-page/index_new.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Add a hidden H1 to home page. (#5411)
  cfgov/jinja2/v1/home-page/index_new.html
  cfgov/locale/es/LC_MESSAGES/django.mo
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Visually hide inactive carousel slides to remove their contents from tab order.
  cfgov/unprocessed/css/organisms/carousel.less
  cfgov/unprocessed/js/organisms/Carousel.js
Due: frontend

New Homepage: Fix card layout in IE 8 & 9
  cfgov/unprocessed/css/organisms/card-group.less
Due: none

New Homepage: Fix card layout in IE 8 & 9 (#5412)
  cfgov/unprocessed/css/organisms/card-group.less
Due: none

Attempt to stop sessionStorage quota exceeded errors
  cfgov/unprocessed/apps/analytics-gtm/js/tab-navigation-tracking.js
Due: frontend

Visually hide inactive carousel slides to remove their contents from tab order. (#5413)
  cfgov/unprocessed/css/organisms/carousel.less
  cfgov/unprocessed/js/organisms/Carousel.js
Due: frontend

Attempt to stop sessionStorage quota exceeded errors (#5414)
  cfgov/unprocessed/apps/analytics-gtm/js/tab-navigation-tracking.js
Due: frontend

Unskip Python 3 test for feedback handling
  cfgov/v1/handlers/blocks/feedback.py
  cfgov/v1/tests/handlers/blocks/test_feedback.py
Due: backend

Homepage cards: Fix left margin regression on small screens
  cfgov/unprocessed/css/organisms/card-group.less
Due: none

Homepage cards: Fix left margin regression on small screens (#5416)
  cfgov/unprocessed/css/organisms/card-group.less
Due: none

Remove deprecated homepage image from README
  README.md
  homepage.png
Due: none

Remove deprecated English homepage functionality
  cfgov/cfgov/tests/test_urls.py
  cfgov/jinja2/v1/home-page/index.html
  cfgov/jinja2/v1/home-page/index_en.html
  cfgov/v1/migrations/0194_english_homepage_cleanup.py
  cfgov/v1/models/home_page.py
  cfgov/v1/tests/models/test_home_page.py
Due: backend

Use custom MEDIA_ROOT for Python tests
  cfgov/cfgov/settings/test.py
  cfgov/cfgov/test.py
Due: backend

Remove deprecated homepage migration script
  cfgov/v1/management/commands/migrate_home_page_content.py
Due: backend

Collects prod/dev webpack options into constants
  config/webpack-config.js
Due: none

Add missing webpack mode
  config/webpack-config.js
Due: none

Remove minimize setting
  config/webpack-config.js
Due: none

Update WEBPACK_MODE to WEBPACK_MODE_DEFAULT
  config/webpack-config.js
Due: none

Update config/webpack-config.js
  config/webpack-config.js
Due: none

Prevent running unit tests on things in develop-apps
  jest.config.js
Due: none

Prevent running unit tests on things in develop-apps (#5422)
  jest.config.js
Due: none

Move the GlossaryTerm model to ask_cfpb
  cfgov/ask_cfpb/migrations/0035_move_glossaryterm.py
  cfgov/ask_cfpb/models/__init__.py
  cfgov/ask_cfpb/models/snippets.py
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/ask_cfpb/tests/models/test_snippets.py
  cfgov/v1/migrations/0195_move_glossaryterm.py
  cfgov/v1/models/snippets.py
  cfgov/v1/tests/models/test_snippets.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Bump core-js and snyk
  npm-packages-offline-cache/core-js-3.4.3.tgz
  npm-packages-offline-cache/core-js-3.4.5.tgz
  npm-packages-offline-cache/snyk-1.251.1.tgz
  npm-packages-offline-cache/snyk-1.254.0.tgz
  npm-packages-offline-cache/snyk-python-plugin-1.13.4.tgz
  npm-packages-offline-cache/snyk-python-plugin-1.14.0.tgz
  package.json
  yarn.lock
Due: none

Update webpack-config.js
  config/webpack-config.js
Due: none

Reorders webpack config mode and module
  config/webpack-config.js
Due: none

Bump snyk to 1.260.0
  npm-packages-offline-cache/dotnet-deps-parser-4.7.0.tgz
  npm-packages-offline-cache/dotnet-deps-parser-4.8.0.tgz
  npm-packages-offline-cache/snyk-1.259.0.tgz
  npm-packages-offline-cache/snyk-1.260.0.tgz
  npm-packages-offline-cache/snyk-nuget-plugin-1.14.0.tgz
  npm-packages-offline-cache/snyk-nuget-plugin-1.15.0.tgz
  package.json
  yarn.lock
Due: none

reorder migration
  cfgov/v1/migrations/0195_auto_20191213_1218.py
Due: backend

Fix retirement navigation feature link
  test/browser_tests/cucumber-new/features/suites/apps/retirement_navigation.feature
Due: none

Update retirement_page.feature to get_your_estimates
  test/browser_tests/cucumber-new/features/suites/apps/retirement_page.feature
Due: none

Add mega menu variation flags
  cfgov/jinja2/v1/_includes/organisms/header.html
  cfgov/jinja2/v1/_includes/organisms/mega-menu-var-1.html
  cfgov/jinja2/v1/_includes/organisms/mega-menu-var-2.html
Due: none

The bones of this feature file were written for our previous site in WordPress and doesn't translate easily to the current site in Wagtail
  test/browser_tests/cucumber-new/features/suites/default/system-wagtail-post-type.feature
Due: none
