Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update qualtrics snippet (#7269)
  cfgov/jinja2/v1/_layouts/base.html
Due: none

Deployed e3fb083 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Add breadcrumbs to explainer template (#7262)
  cfgov/form_explainer/jinja2/form-explainer/index.html
Due: none

Deployed ade016a with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update installation.md
  docs/installation.md
Due: none

Update installation.md (#7270)
  docs/installation.md
Due: none

Deployed 5100127 with MkDocs version: 1.3.0
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Load card images lazily
  cfgov/jinja2/v1/_includes/molecules/card.html
Due: none

Work around a linting bug
  cfgov/unprocessed/css/molecules/global-search.less
Due: none

Deployed 6f92186 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Stub GovDelivery API in Cypress tests
  test/cypress/fixtures/subscription.json
  test/cypress/integration/components/email-signup/email-signup-helpers.cy.js
  test/cypress/integration/components/email-signup/email-signup.cy.js
Due: none

Don't show any cards for non-live portal pages
  cfgov/ask_cfpb/models/pages.py
Due: backend

fix comment
  cfgov/ask_cfpb/models/pages.py
Due: backend

Re-trigger actions
  test/cypress/fixtures/subscription.json
Due: none

Stub GovDelivery API in Cypress tests (#7271)
  test/cypress/fixtures/subscription.json
  test/cypress/integration/components/email-signup/email-signup-helpers.cy.js
  test/cypress/integration/components/email-signup/email-signup.cy.js
Due: none

Deployed 332e44f with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

update test
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Catch exceptions for failed requests
  cfgov/filing_instruction_guide/models.py
Due: backend

Fix linting
  cfgov/filing_instruction_guide/blocks.py
Due: backend

Automatically import FIG data points from JSON
  cfgov/filing_instruction_guide/blocks.py
  cfgov/filing_instruction_guide/data_point_models.py
  cfgov/filing_instruction_guide/import_data_points.py
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/data_points.html
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/section.html
  cfgov/filing_instruction_guide/migrations/0008_add_data_points_import.py
  cfgov/filing_instruction_guide/models.py
  cfgov/jinja2/v1/_includes/organisms/secondary-navigation-fig.html
Due: backend

Show a directory of data fields within a data point
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/data_points.html
Due: none

FIG data: fix file download bug
  cfgov/filing_instruction_guide/import_data_points.py
  cfgov/filing_instruction_guide/models.py
Due: backend

FIG: only allow data points in sections, not subsections
  cfgov/filing_instruction_guide/blocks.py
  cfgov/filing_instruction_guide/migrations/0009_remove_datapoints_from_subsections.py
Due: backend

save modified pages in test
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

FIG: data point number is an integer, not string
  cfgov/filing_instruction_guide/data_point_models.py
  cfgov/filing_instruction_guide/migrations/0010_alter_datapoint_number.py
Due: backend

formatting for block options
  cfgov/filing_instruction_guide/blocks.py
Due: backend

Show the errors on the dev server
  cfgov/filing_instruction_guide/models.py
Due: backend

Fix linter error
  cfgov/unprocessed/apps/regulations3k/css/reg-text.less
  cfgov/unprocessed/css/molecules/global-search.less
Due: none

Revert future ccdb import changes
  cfgov/unprocessed/apps/ccdb-search/css/main.less
  cfgov/unprocessed/apps/ccdb-search/js/main.js
Due: frontend

Stub retirement API in Cypress tests
  test/cypress/fixtures/retirement-api.json
  test/cypress/integration/consumer-tools/before-you-claim/before-you-claim-helpers.cy.js
  test/cypress/integration/consumer-tools/before-you-claim/before-you-claim.cy.js
Due: none

Prevent divide-by-zero error in hero
  cfgov/jinja2/v1/_includes/molecules/hero.html
Due: none

Update main.less
  cfgov/unprocessed/apps/ccdb-search/css/main.less
Due: none

Deployed c87ff11 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Automatically import FIG data points from JSON
  cfgov/filing_instruction_guide/blocks.py
  cfgov/filing_instruction_guide/data_point_models.py
  cfgov/filing_instruction_guide/import_data_points.py
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/data_points.html
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/section.html
  cfgov/filing_instruction_guide/migrations/0008_import_data_points.py
  cfgov/filing_instruction_guide/models.py
  cfgov/jinja2/v1/_includes/organisms/secondary-navigation-fig.html
Due: backend

Automatically import FIG data points from JSON (#7273)
  cfgov/filing_instruction_guide/blocks.py
  cfgov/filing_instruction_guide/data_point_models.py
  cfgov/filing_instruction_guide/import_data_points.py
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/data_points.html
  cfgov/filing_instruction_guide/jinja2/filing_instruction_guide/section.html
  cfgov/filing_instruction_guide/migrations/0008_import_data_points.py
  cfgov/filing_instruction_guide/models.py
  cfgov/jinja2/v1/_includes/organisms/secondary-navigation-fig.html
Due: backend

Deployed cca9294 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Stub Mapbox API in Cypress tests
  test/cypress/fixtures/mapbox-api.json
  test/cypress/integration/consumer-tools/find-a-housing-counselor/find-a-housing-counselor-helpers.cy.js
  test/cypress/integration/consumer-tools/find-a-housing-counselor/find-a-housing-counselor.cy.js
Due: none

Wait on API response
  test/cypress/integration/consumer-tools/before-you-claim/before-you-claim.cy.js
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
