Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Fix linter errors
  cfgov/privacy/forms.py
  cfgov/privacy/tests/test_forms.py
  cfgov/privacy/urls.py
Due: backend

Deployed 3afcc07 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix consent text bug
  cfgov/privacy/forms.py
  cfgov/privacy/jinja2/privacy/consent_disclosure.html
  cfgov/privacy/jinja2/privacy/consent_individual.html
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
  cfgov/privacy/templates/privacy/disclosure_consent_email.html
  cfgov/privacy/templates/privacy/records_access_email.html
Due: backend

New FOIA fillable forms
  cfgov/apache/conf.d/headers.conf
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/privacy/__init__.py
  cfgov/privacy/forms.py
  cfgov/privacy/jinja2/privacy/_sidebar.html
  cfgov/privacy/jinja2/privacy/consent_disclosure.html
  cfgov/privacy/jinja2/privacy/consent_individual.html
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/form-submitted.html
  cfgov/privacy/jinja2/privacy/privacy-styles.html
  cfgov/privacy/jinja2/privacy/privacy.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
  cfgov/privacy/templates/privacy/disclosure_consent_email.html
  cfgov/privacy/templates/privacy/records_access_email.html
  cfgov/privacy/tests/test_forms.py
  cfgov/privacy/urls.py
  cfgov/privacy/views.py
  cfgov/unprocessed/apps/rural-or-underserved-tool/css/main.less
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/molecules/file-input.less
  cfgov/unprocessed/js/routes/on-demand/privacy-forms.js
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.12.0.tgz
  package.json
  yarn.lock
Due: backend, frontend

fix heading precedence
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
Due: none

Privacy statement is on a wagtail page
  cfgov/privacy/jinja2/privacy/privacy.html
Due: none

keyboard nav improvements
  cfgov/privacy/jinja2/privacy/privacy-styles.html
Due: none

New forms for FOIA/privacy requests (#6759)
  cfgov/apache/conf.d/headers.conf
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/privacy/__init__.py
  cfgov/privacy/forms.py
  cfgov/privacy/jinja2/privacy/_sidebar.html
  cfgov/privacy/jinja2/privacy/consent_disclosure.html
  cfgov/privacy/jinja2/privacy/consent_individual.html
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/form-submitted.html
  cfgov/privacy/jinja2/privacy/privacy-styles.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
  cfgov/privacy/templates/privacy/disclosure_consent_email.html
  cfgov/privacy/templates/privacy/records_access_email.html
  cfgov/privacy/tests/test_forms.py
  cfgov/privacy/urls.py
  cfgov/privacy/views.py
  cfgov/unprocessed/apps/rural-or-underserved-tool/css/main.less
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/molecules/file-input.less
  cfgov/unprocessed/js/routes/on-demand/privacy-forms.js
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.12.0.tgz
  package.json
  yarn.lock
Due: backend, frontend

Deployed 2007ac8 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Reduce duplication in form definitions
  cfgov/privacy/forms.py
Due: backend

Escape data before using, for security
  cfgov/privacy/forms.py
Due: backend

Escape fields as part of form.clean()
  cfgov/privacy/forms.py
Due: backend

Fix Checkmarx errors (#6760)
  cfgov/privacy/forms.py
Due: backend

Deployed 75df61d with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Remove some trailing commas in our data.json file
  cfgov/unprocessed/root/data.json
Due: none

Deployed f2aeb1c with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Refactor privacy forms and improve tests
  cfgov/privacy/forms.py
  cfgov/privacy/tests/test_forms.py
  cfgov/privacy/tests/test_views.py
Due: backend

Improve test coverage
  cfgov/privacy/tests/test_views.py
Due: backend

Make privacy forms send email to configurable address
  cfgov/cfgov/settings/base.py
  cfgov/privacy/forms.py
  cfgov/privacy/tests/test_views.py
Due: backend

Reduce duplicated code
  cfgov/privacy/forms.py
Due: backend

Refactor privacy forms and improve tests (#6762)
  cfgov/cfgov/settings/base.py
  cfgov/privacy/forms.py
  cfgov/privacy/tests/test_forms.py
  cfgov/privacy/tests/test_views.py
Due: backend

Deployed f4ee503 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Simplify display of consent language
  cfgov/privacy/forms.py
  cfgov/privacy/jinja2/privacy/consent_disclosure.html
  cfgov/privacy/jinja2/privacy/consent_individual.html
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
  cfgov/privacy/templates/privacy/disclosure_consent_email.html
  cfgov/privacy/templates/privacy/records_access_email.html
Due: backend

Update text to match new mockups
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
Due: none

adjust spacing and layout for simple chart
  cfgov/unprocessed/css/organisms/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/datetime-styles.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-styles.js
Due: frontend

Pin Postgres image to avoid unexpected data loss
  docker-stack.yml
Due: none

Update breadcrumbs to reflect actual site urls
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
Due: none

Update privacy forms to match new mockups (#6764)
  cfgov/privacy/forms.py
  cfgov/privacy/jinja2/privacy/consent_disclosure.html
  cfgov/privacy/jinja2/privacy/consent_individual.html
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
  cfgov/privacy/templates/privacy/disclosure_consent_email.html
  cfgov/privacy/templates/privacy/records_access_email.html
Due: backend

Deployed b2fa27a with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

update simple-chart wagtail chart names & fix sizing bug
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0273_auto_20211117_1558.py
Due: backend, frontend

Changes based on new DS version
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.11.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-atomic-component-0.13.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.11.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-buttons-0.13.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.11.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-core-0.13.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.11.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-expandables-0.13.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.11.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-forms-0.13.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.11.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-grid-0.13.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.11.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.13.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.11.3.tgz
  npm-packages-offline-cache/@cfpb-cfpb-layout-0.13.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.11.2.tgz
  npm-packages-offline-cache/@cfpb-cfpb-notifications-0.13.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.11.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-pagination-0.13.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.11.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-tables-0.13.0.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.11.2.tgz
  npm-packages-offline-cache/@cfpb-cfpb-typography-0.13.0.tgz
  package.json
  yarn.lock
Due: none

Deleted file
  npm-packages-offline-cache/@cfpb-cfpb-icons-0.12.0.tgz
Due: none

rangeselector sc bugfix
  cfgov/unprocessed/js/routes/on-demand/simple-chart/datetime-styles.js
Due: frontend

Fix static files bug in privacy app
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
Due: none

Fix static files bug in privacy app (#6765)
  cfgov/privacy/jinja2/privacy/disclosure-consent-form.html
  cfgov/privacy/jinja2/privacy/records-access-form.html
Due: none

Deployed 533a43a with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Sort prepaid agreement issuer names in filter.
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_results.html
Due: none

Manage issuer ordering on backend.
  cfgov/prepaid_agreements/jinja2/prepaid_agreements/search_results.html
  cfgov/prepaid_agreements/views.py
Due: backend

Revert "Bugfix: allow running unit tests in Docker (#6755)"
  tox.ini
Due: none
