Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

added beforeEach hook to FIG tests to test page response
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide.cy.js
Due: none

Changed beforeEach to before
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide.cy.js
Due: none

added beforeEach hook to FIG tests to test page response (#7195)
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide.cy.js
Due: none

Deployed 295d7b3 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

guard bucket creation
  cfgov/agreements/metadata.py
Due: backend

test exception case
  cfgov/agreements/tests/test_metadata.py
Due: backend

Bump Wagtail to 2.16.2
  requirements/wagtail.txt
Due: none

Add ES_SCHEMA
  helm/cfgov/templates/_helpers.tpl
Due: none

Fixed ES/OS dual integration
  helm/cfgov/templates/_helpers.tpl
  helm/cfgov/templates/cronjob.yaml
  helm/cfgov/templates/deployment.yaml
  helm/cfgov/values.yaml
Due: none

Remove unnecessary oah redirect (already covered in wagtail)
  cfgov/cfgov/urls.py
Due: backend

updated docker-stack management commands
  docker-stack.yml
Due: none

added ES_SCHEMA back to base.py
  cfgov/cfgov/settings/base.py
Due: backend

disabling the ES cahrt test as it requires 2 pods.
  helm/cfgov/values.yaml
Due: none

remove Dockerfile flag
  .github/workflows/publish_cfgov.yml
Due: none

remove file and directory to dockerignore
  .dockerignore
  .github/workflows/publish_cfgov.yml
Due: none

Deployed 5a11b77 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

add README.md to dockerignore
  .dockerignore
Due: none

Remove unnecessary oah redirect (already covered in wagtail) (#7198)
  cfgov/cfgov/urls.py
Due: backend

Deployed 54ac860 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Fixed GH Alerts
  cfgov/alerts/github_alert.py
  cfgov/alerts/tests/json/github_closed_issue.json
  cfgov/alerts/tests/json/github_open_issue.json
  cfgov/alerts/tests/json/github_repository.json
  cfgov/alerts/tests/test_github_alert.py
  cfgov/alerts/tests/test_post_sqs_messages.py
  requirements/test.txt
Due: backend

Fixed GH Alerts (#7200)
  cfgov/alerts/github_alert.py
  cfgov/alerts/tests/json/github_closed_issue.json
  cfgov/alerts/tests/json/github_open_issue.json
  cfgov/alerts/tests/json/github_repository.json
  cfgov/alerts/tests/test_github_alert.py
  cfgov/alerts/tests/test_post_sqs_messages.py
  requirements/test.txt
Due: backend

Deployed adb29b1 with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Don't add bullet to 'reached maximum of five selections' note
  cfgov/unprocessed/css/molecules/multiselect.less
Due: none

Add `ingress-nginx` to local (#7171)
  helm-install.sh
  helm/README.md
  helm/cfgov/templates/ingress-secret.yaml
  helm/cfgov/values.yaml
  helm/overrides/local.yaml
Due: none

Deployed ac2f50c with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Further improvements to Elasticsearch Environment Variables template (#7172)
  helm/cfgov/templates/_helpers.tpl
  helm/cfgov/templates/cronjob.yaml
Due: none

Deployed 300b686 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Don't add bullet to 'reached maximum of five selections' note (#7205)
  cfgov/unprocessed/css/molecules/multiselect.less
Due: none

Deployed 29c99b2 with MkDocs version: 1.3.0
  index.html
  sitemap.xml.gz
Due: none

Email signups don't always have a form. The current check failed when there was a email signup with no form accompanied with one WITH a form
  cfgov/unprocessed/js/routes/on-demand/email-signup.js
Due: frontend

modified set_topics method
  cfgov/v1/forms.py
Due: backend

modified set_languages
  cfgov/v1/forms.py
Due: backend

Paying for College - JS Reorganization - Move JS files into subfolder - Add string protections
  cfgov/unprocessed/apps/paying-for-college/js/college-costs.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/get-model-values.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/update-models.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/update-state.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/update-view.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/constants-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/expenses-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/financial-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/school-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/models/state-model.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/util/analytics.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/util/debt-calculator.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/util/debt-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/util/number-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/util/other-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/util/promise-request.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/util/url-parameter-utils.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/views/app-view.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/views/chart-view.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/views/expenses-view.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/views/financial-view.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/views/navigation-view.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/views/school-view.js
Due: frontend

- Fix erroneous replace
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/get-api-values.js
Due: frontend

- Fix typo
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/get-api-values.js
  cfgov/unprocessed/apps/paying-for-college/js/college-costs/dispatchers/update-models.js
  test/cypress/integration/compliance/small-business-lending/filing-instruction-guide.cy.js
Due: frontend

added sentinel objects to check cache misses
  cfgov/v1/forms.py
Due: backend

Added more options. ES_ENABLE_CHART_TESTS, RUN_CHART_TESTS, WAIT_TIMEOUT, SKIP_WAIT, NAMESPACE, CREATE_NAMESPACE
  helm-install.sh
  helm/cfgov/values.yaml
Due: none

updated management commands in docs and replaced rebuild args
  cfgov/ask_cfpb/tests/test_search.py
  docs/page-search.md
Due: backend

Helm install improvements (#7207)
  helm-install.sh
Due: none

Deployed 24178dd with MkDocs version: 1.3.0
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none
