Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

disable:
  - search

Remove wag20 from tox.ini
  tox.ini
Due: none

Remove dj20. Add dj22 to tox.ini
  tox.ini
Due: none

Add finder methods to cash flow event model
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/database.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
Due: frontend

Alias img path '
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/home/hero.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/webpack-config.js
Due: frontend

Redirect legacy Ask URLs with uppercase categories (#5468)
  cfgov/ask_cfpb/tests/test_views.py
  cfgov/ask_cfpb/views.py
  cfgov/cfgov/urls.py
Due: backend

removing temporal value for CCDB dataset
  cfgov/unprocessed/root/data.json
Due: none

Install clsx classname library, update hero component to be an arrow func
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/home/hero.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
Due: frontend

make button component based on cfpb design system
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/button.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/home/index.js
Due: frontend

Add yarn lockfile
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: none

Fix syntax issues in hero from merge, render button and fix css class bug
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/button.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/home/hero.js
Due: frontend

Add svg inline loader
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: none

Remove unneeded parameter from Docker-based build
  docker/deployable-zipfile/_build.sh
Due: none

Move hero to shared components, allow inline import of SVGs and add icon capability to Button component
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/button.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/hero.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/home/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/webpack-config.js
Due: frontend

Add checkbox component from design system
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/components/forms.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/views/home/index.js
Due: frontend

Adds collect outage banners and generalizes banner templatetag
  cfgov/cfgov/settings/base.py
  cfgov/jinja2/v1/_includes/organisms/collect-outage-banner.html
  cfgov/jinja2/v1/_includes/organisms/header.html
  cfgov/v1/jinja2tags/__init__.py
  cfgov/v1/templatetags/banners.py
  cfgov/v1/tests/templatetags/test_banners.py
Due: backend

Add Wagtail 2.3, Wagtail 2.7, and Django 2.2 in tox.ini (#5470)
  tox.ini
Due: none

Removed more entries from redirects.conf that are now handled in Wagtail
  cfgov/apache/conf.d/redirects.conf
Due: none

Added apache redirects requested in #3484 (#5461)
  cfgov/apache/conf.d/redirects.conf
Due: none

Prune the npm offline cache
  npm-packages-offline-cache/are-we-there-yet-1.1.5.tgz
  npm-packages-offline-cache/console-control-strings-1.1.0.tgz
  npm-packages-offline-cache/delegates-1.0.0.tgz
  npm-packages-offline-cache/detect-libc-1.0.3.tgz
  npm-packages-offline-cache/fs-minipass-1.2.7.tgz
  npm-packages-offline-cache/gauge-2.7.4.tgz
  npm-packages-offline-cache/has-unicode-2.0.1.tgz
  npm-packages-offline-cache/ignore-walk-3.0.3.tgz
  npm-packages-offline-cache/minipass-2.9.0.tgz
  npm-packages-offline-cache/minizlib-1.3.3.tgz
  npm-packages-offline-cache/node-pre-gyp-0.14.0.tgz
  npm-packages-offline-cache/npm-bundled-1.1.1.tgz
  npm-packages-offline-cache/npm-normalize-package-bin-1.0.1.tgz
  npm-packages-offline-cache/npm-packlist-1.4.7.tgz
  npm-packages-offline-cache/npmlog-4.1.2.tgz
  npm-packages-offline-cache/tar-4.4.13.tgz
  npm-packages-offline-cache/wide-align-1.1.3.tgz
Due: none

Enable wagtail api with flag
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
Due: backend

Enable Wagtail API
  cfgov/api.py
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
Due: backend

add choice fields, date filed, docket number
  cfgov/v1/atomic_elements/molecules.py
Due: backend

demo of how django flags breaks on api_router
  cfgov/cfgov/urls.py
Due: backend

Add basic CRUD capabilities to CashFlowEvent model and verify that records can be saved, retrieved, and queried for by date
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/lib/object-helpers.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/webpack-config.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: frontend

Add recurrence rule parsing to cash flow event model
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/seed-data.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/webpack-config.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: frontend

add validation check methods
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/package.json
  cfgov/unprocessed/apps/mmt-my-money-calendar/yarn.lock
Due: frontend

Add a few sample events in the indexeddb data seeds file
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/index.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/seed-data.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
Due: frontend

Rehydrate values from DB into CashFlowEvent instances via query methods
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/seed-data.js
  cfgov/unprocessed/apps/mmt-my-money-calendar/js/stores/models/cash-flow-event.js
Due: frontend

Make whole carousel a link
  cfgov/jinja2/v1/_includes/organisms/carousel.html
Due: none

[TDP] Bump TDP to version 1.2.1
  requirements/libraries.txt
Due: none

Use wagtail-copyablemodeladmin
  cfgov/regulations3k/copyable_modeladmin.py
  cfgov/regulations3k/tests/test_copyable_modeladmin.py
  cfgov/regulations3k/wagtail_hooks.py
  requirements/libraries.txt
Due: backend

[TDP] Bump TDP to version 1.2.1 (#5480)
  requirements/libraries.txt
Due: none

Remove legacy pre-Wagtail mega menu assets
  cfgov/apache/conf.d/redirects.conf
  cfgov/scripts/migrate_mega_menu.py
  cfgov/unprocessed/img/fmc-about-us-540x300.jpg
  cfgov/unprocessed/img/fmc-consumer-tools-540x300.png
  cfgov/unprocessed/img/fmc-data-research-540x300.png
  cfgov/unprocessed/img/fmc-poly-com-540x300.jpg
  cfgov/unprocessed/img/fmc-resources-540x300.png
Due: backend

remove unneeded enforcementactionsdetailpage
  cfgov/v1/models/__init__.py
  cfgov/v1/models/learn_page.py
Due: backend

Clarify comment around how we match <a> tags
  cfgov/core/utils.py
Due: backend

Fix link markup for links containing SVGs
  cfgov/core/tests/test_middleware.py
  cfgov/core/utils.py
Due: backend

Add help text to ExpandableGroup headings
  cfgov/paying_for_college/migrations/0009_expandable_group_help_text.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0200_expandable_group_help_text.py
Due: backend

Add `rel="noopener noreferrer"` to target blank link
  cfgov/templates/wagtailadmin/shared/page_status_tag.html
Due: none

wip: Begin to build modules for CCDB landing page
  cfgov/unprocessed/apps/ccdb-landing-map/.yarnrc
  cfgov/unprocessed/apps/ccdb-landing-map/js/landing-map.js
  cfgov/unprocessed/apps/ccdb-landing-map/package.json
  cfgov/unprocessed/apps/ccdb-landing-map/webpack-config.js
Due: frontend
