Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

update old-enforcement-removal migration
  cfgov/v1/migrations/0198_remove_old_enforcement_categories.py
Due: backend

Youth Financial Education Activity Search feature file
  test/browser_tests/cucumber-new/features/suites/apps/youth_financial_education_activities.feature
Due: none

Review comment: As the HMDA explorer tool is due to be retired, let's not bother writing new browser tests for it. Please remove this feature file.
  test/browser_tests/cucumber-new/features/suites/apps/hmda_mortgage_data.feature
Due: none

Changed expected_result to retirement_age in browser test
  test/browser_tests/cucumber-new/features/suites/apps/retirement_page.feature
Due: none

Fix to retirement_page.feature to change class name based on review comment
  test/browser_tests/cucumber-new/features/suites/apps/retirement_page.feature
Due: none

Scenario updates to youth_financial_education_activities.feature
  test/browser_tests/cucumber-new/features/suites/apps/youth_financial_education_activities.feature
Due: none

Add missing assertion after feedback to retirement test scenario
  test/browser_tests/cucumber-new/features/suites/apps/retirement_page.feature
Due: none

Update cfgov/paying_for_college/tests/test_scripts.py
  cfgov/paying_for_college/tests/test_scripts.py
Due: backend

test and docstring fixes
  cfgov/paying_for_college/disclosures/scripts/api_utils.py
  cfgov/paying_for_college/disclosures/scripts/update_colleges.py
  cfgov/paying_for_college/tests/test_models.py
  cfgov/paying_for_college/tests/test_scripts.py
Due: backend

This commit will add API code for gathering net-price data for schools.
  cfgov/paying_for_college/disclosures/scripts/api_utils.py
  cfgov/paying_for_college/disclosures/scripts/update_colleges.py
  cfgov/paying_for_college/fixtures/sample_4yr_api_result.json
  cfgov/paying_for_college/models/disclosures.py
  cfgov/paying_for_college/tests/test_models.py
  cfgov/paying_for_college/tests/test_scripts.py
Due: backend

Update cfgov/paying_for_college/disclosures/scripts/update_colleges.py
  cfgov/paying_for_college/disclosures/scripts/update_colleges.py
Due: backend

Add linting for 3 js files
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/js/organisms/Carousel.js
  cfgov/unprocessed/js/routes/on-demand/home-page.js
Due: frontend

Add API code for gathering PFC net-price data (#5406)
  cfgov/paying_for_college/disclosures/scripts/api_utils.py
  cfgov/paying_for_college/disclosures/scripts/update_colleges.py
  cfgov/paying_for_college/fixtures/sample_4yr_api_result.json
  cfgov/paying_for_college/models/disclosures.py
  cfgov/paying_for_college/tests/test_models.py
  cfgov/paying_for_college/tests/test_scripts.py
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/js/organisms/Carousel.js
  cfgov/unprocessed/js/routes/on-demand/home-page.js
Due: backend, frontend

Add retirement_text to retirement_page.feature
  test/browser_tests/cucumber-new/features/suites/apps/retirement_page.feature
Due: none

Add identified text to be found on rural and underserved page
  test/browser_tests/cucumber-new/features/suites/apps/rural_and_underserved_tool.feature
Due: none

Fix building block test in youth_financial_education_activities feature file
  test/browser_tests/cucumber-new/features/suites/apps/youth_financial_education_activities.feature
Due: none

Add response_text to retirement feature file
  test/browser_tests/cucumber-new/features/suites/apps/retirement_page.feature
Due: none

Add credit tag to credit_card_agreement_database.feature
  test/browser_tests/cucumber-new/features/suites/apps/credit_card_agreement_database.feature
Due: none

Update Rural and underserved areas tool browser test
  test/browser_tests/cucumber-new/features/suites/apps/rural_and_underserved_tool.feature
Due: none

Update prepaid_accounts_search_agreements browser test
  test/browser_tests/cucumber-new/features/suites/apps/prepaid_accounts_search_agreements.feature
Due: none

Update paying_for_college browser test
  test/browser_tests/cucumber-new/features/suites/apps/paying_for_college.feature
Due: none

Update ask_cfpb browser test
  test/browser_tests/cucumber-new/features/suites/apps/ask_cfpb.feature
Due: none

Fix beta banner background color
  cfgov/unprocessed/css/molecules/global-banner.less
Due: none

update consumer finance browser test feature file
  test/browser_tests/cucumber-new/features/suites/apps/ask_cfpb.feature
  test/browser_tests/cucumber-new/features/suites/apps/credit_card_agreement_database.feature
  test/browser_tests/cucumber-new/features/suites/apps/retirement.feature
Due: none

Regulations search browser test
  test/browser_tests/cucumber-new/features/suites/apps/regulations_search.feature
Due: none

home page links updated to new static content zip
  cfgov/legacy/templates/complaint/complaint-landing.html
Due: none

Financial well-being survey browser test
  test/browser_tests/cucumber-new/features/suites/apps/financial-well-being-survey.feature
Due: none

Restore answer snippets to search-by-tag pages
  cfgov/jinja2/v1/ask-cfpb/answer-search-results.html
Due: none

Add menu variation 2
  cfgov/jinja2/v1/_includes/organisms/mega-menu-var-2.html
  cfgov/unprocessed/css/organisms/mega-menu-var-2.less
  cfgov/unprocessed/js/organisms/MegaMenuDesktopVar2.js
  cfgov/unprocessed/js/organisms/MegaMenuVar2.js
Due: frontend

Add menu variation 1
  cfgov/jinja2/v1/_includes/organisms/mega-menu-var-1.html
  cfgov/unprocessed/css/organisms/header.less
  cfgov/unprocessed/css/organisms/mega-menu-var-1.less
  cfgov/unprocessed/js/organisms/MegaMenuDesktopVar1.js
  cfgov/unprocessed/js/organisms/MegaMenuVar1.js
Due: frontend

Add mega menu variations styles and JavaScript
  cfgov/jinja2/v1/_includes/organisms/mega-menu-var-1.html
  cfgov/jinja2/v1/_includes/organisms/mega-menu-var-2.html
  cfgov/jinja2/v1/_layouts/base.html
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/organisms/mega-menu-var-1.less
  cfgov/unprocessed/css/organisms/mega-menu-var-2.less
  cfgov/unprocessed/js/organisms/Header.js
  cfgov/unprocessed/js/organisms/MegaMenuDesktop.js
  cfgov/unprocessed/js/organisms/MegaMenuVar1.js
  cfgov/unprocessed/js/organisms/MegaMenuVar2.js
Due: frontend

Restore answer snippets to search-by-tag pages (#5432)
  cfgov/jinja2/v1/ask-cfpb/answer-search-results.html
Due: none

Fix beta banner background color (#5430)
  cfgov/unprocessed/css/molecules/global-banner.less
Due: none

Change steps to find text Your score in financial-well-being-survey.feature
  test/browser_tests/cucumber-new/features/suites/apps/financial-well-being-survey.feature
Due: none

Carousel markup and IE11 fixes
  cfgov/jinja2/v1/_includes/organisms/carousel.html
  cfgov/unprocessed/css/organisms/carousel.less
Due: none

Add missing overview and featured links to menu variations
  cfgov/jinja2/v1/_includes/organisms/mega-menu-var-1.html
  cfgov/jinja2/v1/_includes/organisms/mega-menu-var-2.html
Due: none

Make placeholder borders transparent instead of white
  cfgov/unprocessed/css/organisms/mega-menu-var-1.less
  cfgov/unprocessed/css/organisms/mega-menu-var-2.less
Due: none

Remove list markup | fix image size and add alt text
  cfgov/jinja2/v1/_includes/organisms/carousel.html
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
