Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: false

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
        if_not_found: success  # no commit found? still set a success
      backend:
        threshold: 0.02%
        flags: backend
        if_not_found: success  # no commit found? still set a success
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

point to correct dockerfile before pushing elasticsearch to docker hub
  Jenkinsfile
Due: none

Update jenkinsfile es_image_tag to match dockerfile (#6795)
  Jenkinsfile
Due: none

Deployed 039b9c1 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add rel="nofollow" to Search.gov links
  cfgov/jinja2/v1/_includes/molecules/global-search.html
Due: none

Add documentation for Search.gov site search
  docs/page-search.md
  docs/site-search.md
  mkdocs.yml
Due: none

Add documentation for Search.gov site search (#6797)
  docs/page-search.md
  docs/site-search.md
  mkdocs.yml
Due: none

Deployed f52ca7c with MkDocs version: 1.0.4
  404.html
  ask-cfpb/index.html
  atomic-structure/index.html
  branching-merging/index.html
  caching/index.html
  consumer-complaint-database/index.html
  contributing-docs/index.html
  debugging-monitoring/index.html
  debugging-templates/index.html
  deployment/index.html
  development-tips/index.html
  editing-components/index.html
  feature-flags/index.html
  filterable-lists/index.html
  forms-in-wagtail/index.html
  functional-testing/index.html
  github-actions/index.html
  housing-counselor-tool/index.html
  index.html
  installation/index.html
  javascript-unit-tests/index.html
  migrations/index.html
  page-search/index.html
  profiling-django/index.html
  python-unit-tests/index.html
  related-projects/index.html
  running-docker/index.html
  running-virtualenv/index.html
  search.html
  search/search_index.json
  site-search/index.html
  sitemap.xml
  sitemap.xml.gz
  translation/index.html
  wagtail-pages/index.html
  website-feedback/index.html
Due: none

Add rel="nofollow" to Search.gov links (#6796)
  cfgov/jinja2/v1/_includes/molecules/global-search.html
Due: none

Deployed 248e0c2 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Add passive listener to touchstart event
  cfgov/unprocessed/js/modules/behavior/FlyoutMenu.js
Due: frontend

Add "Consumer Advisories" category to Newsroom
  cfgov/jinja2/v1/_includes/macros/category-icon.html
  cfgov/v1/migrations/0276_consumer_advisories.py
  cfgov/v1/tests/models/test_browse_filterable_page.py
  cfgov/v1/util/ref.py
Due: backend

Add "Consumer Advisories" category to Newsroom (#6799)
  cfgov/jinja2/v1/_includes/macros/category-icon.html
  cfgov/v1/migrations/0276_consumer_advisories.py
  cfgov/v1/tests/models/test_browse_filterable_page.py
  cfgov/v1/util/ref.py
Due: backend

Deployed 121e303 with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

Stop Akamai from caching the beta_external_testing endpoint
  cfgov/cfgov/tests/test_urls.py
  cfgov/cfgov/urls.py
Due: backend

switch to using our core decorator
  cfgov/cfgov/tests/test_urls.py
  cfgov/cfgov/urls.py
Due: backend

Stop Akamai from caching the beta_external_testing endpoint (#6800)
  cfgov/cfgov/tests/test_urls.py
  cfgov/cfgov/urls.py
Due: backend

Deployed e869dfc with MkDocs version: 1.0.4
  index.html
  sitemap.xml.gz
Due: none

SSO implementation
  .env_SAMPLE
  Dockerfile
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/production.py
  cfgov/cfgov/urls.py
  requirements/libraries.txt
Due: backend

Add links to the djangosaml2 and pySAML2 docs
  .env_SAMPLE
  cfgov/cfgov/settings/production.py
Due: backend

Add passive listener to touchstart event (#6798)
  cfgov/unprocessed/js/modules/behavior/FlyoutMenu.js
Due: frontend

Deployed 651cf30 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add stylesheet
  cfgov/jinja2/v1/ccdb-complaint/ccdb-search.html
  cfgov/unprocessed/apps/ccdb-search/css/main.less
Due: none

Add login app to hold login and auth-related forms views, urls, and utils
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/login/__init__.py
  cfgov/login/apps.py
  cfgov/login/email.py
  cfgov/login/forms.py
  cfgov/login/tests/__init__.py
  cfgov/login/tests/test_apps.py
  cfgov/login/tests/test_auth_forms.py
  cfgov/login/tests/test_email.py
  cfgov/login/tests/test_login_views.py
  cfgov/login/tests/test_password_policy.py
  cfgov/login/urls.py
  cfgov/login/utils.py
  cfgov/login/views.py
  cfgov/v1/admin.py
  cfgov/v1/util/__init__.py
Due: backend

Fix safari boldness and alignment bugs
  cfgov/unprocessed/css/organisms/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-styles.js
Due: frontend

Fix import order
  cfgov/cfgov/urls.py
Due: backend

Update to Cypress@9.1.1
  npm-packages-offline-cache/cypress-9.1.0.tgz
  npm-packages-offline-cache/cypress-9.1.1.tgz
  package.json
  yarn.lock
Due: none

upgrading +psycopg2 to work with python 3.9
  requirements/libraries.txt
Due: none

Fix safari boldness and alignment bugs (#6801)
  cfgov/unprocessed/css/organisms/simple-chart.less
  cfgov/unprocessed/js/routes/on-demand/simple-chart/simple-chart.js
  cfgov/unprocessed/js/routes/on-demand/simple-chart/tilemap-styles.js
Due: frontend

Deployed c2e9528 with MkDocs version: 1.0.4
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Remove ccdb5-ui wheel
  requirements/libraries.txt
Due: none

Remove satellite
  cfgov/cfgov/settings/base.py
Due: backend

Update to node16
  .nvmrc
  README.md
  cfgov/unprocessed/apps/ccdb-landing-map/package.json
  cfgov/unprocessed/apps/owning-a-home/package.json
  cfgov/unprocessed/apps/regulations3k/package.json
  cfgov/unprocessed/apps/retirement/package.json
  cfgov/unprocessed/apps/rural-or-underserved-tool/package.json
  package.json
Due: none

Add yargs to fix missing yargs dependency error
  npm-packages-offline-cache/yargs-17.3.0.tgz
  npm-packages-offline-cache/yargs-parser-21.0.0.tgz
  package.json
  yarn.lock
Due: none

Update frontend.yml
  .github/workflows/frontend.yml
Due: none

Update Dockerfile
  docker/deployable-zipfile/Dockerfile
Due: none

Update Dockerfile
  Dockerfile
Due: none

Ensure pySAML2 debug matches settings.DEBUG
  cfgov/cfgov/settings/production.py
Due: backend

Update our Elasticsearch image to 7.16.2
  Jenkinsfile
  docker/elasticsearch/Dockerfile
Due: none
